Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix(weather): address second review round on the weather provider PR
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  server/lib/weather/weather.command.js
  server/test/lib/weather/weather.command.test.js
Due: server, front

Address PR review comments on AI provider integration
  docs/specs/external-integrations.md
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  server/lib/external-integration/externalIntegration.aiChat.js
  server/lib/external-integration/externalIntegration.setAiProvider.js
  server/lib/gateway/gateway.aiChat.js
  server/test/lib/external-integration/externalIntegration.aiProvider.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/message/message.create.test.js
Due: server, front

refactor: rename injected MCP encoder from toon to encode
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/index.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

feat: replace TOON with GCF for MCP tool responses
  server/services/mcp/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Due: server

test: add GCF round-trip and handler-level integration tests
  server/test/services/mcp/lib/gcf-integration.test.js
Due: server

test(weather): derive every date of the chat command tests from one clock baseline
  server/test/lib/weather/weather.command.test.js
Due: server

Add workflow_dispatch to trigger Cursor automation webhooks
  .github/workflows/cursor-automation-webhook.yml
Due: none

Fix external integration install on kernels without CPU CFS scheduler (Synology) (#2742)
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.buildContainerDescriptor.js
  server/lib/external-integration/externalIntegration.buildSubContainerDescriptor.js
  server/lib/system/index.js
  server/lib/system/system.hasCpuCfsSupport.js
  server/test/lib/external-integration/externalIntegration.buildContainerDescriptor.test.js
  server/test/lib/external-integration/externalIntegration.buildSubContainerDescriptor.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.hasCpuCfsSupport.test.js
Due: server

Fix /data ownership of external integration containers (#2743)
  docs/specs/external-integrations.md
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.createIntegrationContainer.js
  server/lib/external-integration/externalIntegration.createSubContainer.js
  server/lib/external-integration/externalIntegration.ensureDataFolder.js
  server/lib/external-integration/externalIntegration.ensureSubContainerVolumes.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.ensureDataFolder.test.js
  server/test/lib/external-integration/externalIntegration.ensureSubContainerVolumes.test.js
Due: server

Only log Cursor webhook response body on failure
  .github/workflows/cursor-automation-webhook.yml
Due: none

Add workflow_dispatch to trigger Cursor automation webhooks (#2747)
  .github/workflows/cursor-automation-webhook.yml
Due: none

Raise external integration discovery limit to 2000 devices
  docs/specs/external-integrations.md
  server/api/middlewares/jsonBodyMiddleware.js
  server/lib/external-integration/constants.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/middlewares/jsonBodyMiddleware.test.js
Due: server

Add a search filter to the external integration Discovery screen
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/external-integration/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/external-integration/discover-page/index.js
Due: front

feat(device-feature): add a first-class DOORBELL category with a RING type
  front/src/components/boxs/device-in-room/device-features/sensor-value/DoorbellRingDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DoorbellRingDeviceState.jsx
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

fix(weather): address the soft residuals of the approving review
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/lib/weather/weather.command.js
  server/test/lib/weather/weather.command.test.js
Due: server, front

Address PR #2746 review: renumber to B.20, uninstall cleanup, test sandbox fix
  docs/specs/external-integrations.md
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  front/src/routes/integration/all/external-integration/utils.js
  front/src/routes/integration/index.js
  front/src/routes/settings/settings-system/SettingsSystemTtsProvider.jsx
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/tts/index.js
  server/lib/tts/tts.getLocalApiBaseUrl.js
  server/lib/tts/tts.getProviderConfiguration.js
  server/lib/tts/tts.getSpeechUrl.js
  server/test/controllers/tts/tts.controller.test.js
  server/test/lib/external-integration/externalIntegration.ttsProvider.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/tts/tts.getLocalApiBaseUrl.test.js
  server/test/lib/tts/tts.getProviderConfiguration.test.js
  server/test/lib/tts/tts.getSpeechUrl.test.js
  server/test/lib/tts/tts.purgeExpiredAudios.test.js
  server/test/lib/tts/tts.setActiveProvider.test.js
Due: server, front

Move the provider display-name test to the mirrored test file
  server/test/lib/tts/tts.getProviderConfiguration.test.js
  server/test/lib/tts/tts.setActiveProvider.test.js
Due: server

Trigger Cursor automation when needs:cursor-review is added
  .github/workflows/cursor-automation-webhook.yml
Due: none

Trigger Cursor automation on needs:cursor-review label (#2749)
  .github/workflows/cursor-automation-webhook.yml
Due: none

fix: upgrade handlebars to 4.7.9 (CVE-2026-33937) (#2741)
  server/package-lock.json
  server/package.json
Due: server

Guard createDevice against a discovered list refreshed mid-click
  front/src/routes/integration/all/external-integration/discover-page/index.js
Due: front

Restate AI provider trust warning at selection and hide misleading Plus upsell
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiProviderSettings.jsx
  front/src/routes/integration/all/openai/index.js
Due: front

Address second review round: LAN URL interface filtering, narrower spec banner
  docs/specs/external-integrations.md
  server/lib/tts/tts.getLocalApiBaseUrl.js
  server/test/lib/tts/tts.getLocalApiBaseUrl.test.js
Due: server

Keep AI page Plus messaging in sync with provider selection
  front/src/routes/integration/all/openai/AiProviderSettings.jsx
  front/src/routes/integration/all/openai/index.js
Due: front

Increase device discovery limit from 200 to 2000 devices (#2748)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/external-integration/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/external-integration/discover-page/index.js
  server/api/middlewares/jsonBodyMiddleware.js
  server/lib/external-integration/constants.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/middlewares/jsonBodyMiddleware.test.js
Due: server, front

Hide Plus quota and success banner when an external AI provider is active
  front/src/routes/integration/all/openai/index.js
Due: front

Move the TTS provider selector to the AI integration page
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/TtsProviderSettings.jsx
  front/src/routes/integration/all/openai/index.js
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
Due: front

Add while loop action to scenes (condition.while)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/device/device.migrate.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
  server/utils/constants.js
Due: server, front

Point the TTS install alert to the AI integration page
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix while loop: live device values in conditions, and review fixes
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/device/device.migrate.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
Due: server, front

Check the while loop iteration limit before evaluating conditions
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
Due: server, front

feat(front): bump @gladysassistant/theme-optimized to 2.0.0 (Lucide icons)
  front/package-lock.json
  front/package.json
Due: front

Add deviceFeatureValue i18n maps for the new AC feature types (fan speed, swing)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

feat(device-feature): add a DOORBELL category with a RING type (#2745)
  front/src/components/boxs/device-in-room/device-features/sensor-value/DoorbellRingDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DoorbellRingDeviceState.jsx
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Make a variable declared by a condition usable in the branches
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.conditionIfThenElse.test.js
Due: server, front

feat(front): add a searchable, shared icon selector for scenes
  front/src/components/gateway/GladysPlusUpsellCard.jsx
  front/src/components/scene/IconSelector.css
  front/src/components/scene/IconSelector.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
Due: front

Add workflow_dispatch to create patch & minor release tags
  .github/workflows/create-release-tag.yml
Due: none

feat(front): translate scene icon search keywords in en, fr and de
  front/cli/check_translations.js
  front/package.json
  front/src/components/scene/IconSelector.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/i18n/icon-keywords/de.json
  front/src/config/i18n/icon-keywords/en.json
  front/src/config/i18n/icon-keywords/fr.json
  front/src/config/i18n/icon-keywords/index.js
Due: front

Scope the manual upgrade to Gladys and surface upgrade failures
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/lib/system/index.js
  server/lib/system/system.getGladysImage.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.installUpgrade.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.getGladysImage.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/utils/constants.js
Due: server, front

feat(gateway): turn the "no instance found" page into a friendly step-by-step guide
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-setup/LinkGatewayUser.jsx
  front/src/routes/gateway-setup/index.js
Due: front
