Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

Update README
  README.md
Due: none

Fix signup for Safari
  front/src/actions/profile.js
  front/src/actions/signup/signupCreateLocalAccount.js
Due: front

Redirect / to dashboard
  front/src/components/app.jsx
Due: front

Collapse menu when following link
  front/src/actions/main.js
Due: front

Add LICENSE file
  LICENSE
Due: none

Add all demo modes
  front/src/config/demo.json
Due: front

Add circleCI filters
  .circleci/config.yml
Due: none

Build image only on tags
  .circleci/build-image.sh
  .circleci/config.yml
Due: none

Fix config.yml
  .circleci/config.yml
Due: none

Add docker-compose file
  docker/docker-compose-amd64.yml
  docker/docker-compose-arm.yml
  server/config/config.js
Due: server

Add network mode, privileged and volume
  docker/docker-compose-arm.yml
Due: none

Fix version & update
  front/src/actions/system.js
  package.json
Due: front

Fix contributing
  .github/CONTRIBUTING.md
Due: none

Add new README
  README.md
Due: none

Last fixes (#492)
  .github/CONTRIBUTING.md
  README.md
  front/src/actions/system.js
  package.json
Due: front

Add old changelog and add script to generate changelog
  CHANGELOG.md
  package.json
Due: none

Generate changelog v4.0.0-alpha
  CHANGELOG.md
Due: none

Try installing openzswave with apt
  .circleci/config.yml
Due: none

add libopenzwave1.5-dev
  .circleci/config.yml
Due: none

Fix build (#493)
  .circleci/config.yml
Due: none

Build docker image on master
  .circleci/config.yml
  front/package-lock.json
  front/package.json
Due: front

Fix README links
  README.md
Due: none

Add ffmpeg to Dockerfile
  docker/Dockerfile
Due: none

Login in Gladys Gateway mode
  front/config.js
  front/package-lock.json
  front/package.json
  front/preact.config.js
  front/src/actions/login/loginGateway.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/gateway/GatewayLoginForm.jsx
  front/src/routes/login-gateway/LoginGatewayPage.jsx
  front/src/routes/login-gateway/index.js
  front/src/routes/settings/settings-gateway/GatewayPage.jsx
  front/src/utils/GatewayHttpClient.js
  front/src/utils/GatewaySession.js
  front/src/utils/Session.js
  front/src/utils/getDefaultState.js
  front/src/utils/keyValueStore.js
Due: front

Changes API routing system
  server/api/index.js
  server/api/routes.js
  server/api/setupRoutes.js
Due: server

First poc of remote control without services routes
  front/package-lock.json
  front/package.json
  front/src/actions/dashboard/index.js
  front/src/utils/GatewayHttpClient.js
  front/src/utils/GatewaySession.js
  server/api/setupGateway.js
  server/api/setupRoutes.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/package-lock.json
  server/package.json
  server/test.js
  server/utils/constants.js
Due: server, front

Migrate service routes
  server/api/routes.js
  server/api/servicesRoutes.js
  server/api/setupGateway.js
  server/api/setupRoutes.js
  server/test.js
Due: server
