Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Write component as pure function
  front/src/routes/integration/all/ewelink/edit-page/index.js
Due: front

Write component as pure function
  front/src/routes/integration/all/bluetooth/edit-page/index.js
  front/src/routes/integration/all/bluetooth/settings-page/index.js
Due: front

Write component as pure function
  front/src/routes/integration/all/lan-manager/settings-page/index.js
Due: front

Promise onExecute
  server/services/google-actions/lib/smarthome/googleActions.onExecute.js
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.switch.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.color.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.curtain.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.shutter.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onExecute.test.js
Due: server

Optimize event emit and command management
  server/services/google-actions/lib/smarthome/googleActions.onExecute.js
  server/services/google-actions/lib/traits/googleActions.brightness.trait.js
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/services/google-actions/lib/traits/googleActions.onOff.trait.js
  server/services/google-actions/lib/traits/googleActions.openClose.trait.js
  server/test/services/google-actions/index.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.switch.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.color.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.curtain.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.shutter.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onExecute.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onQuery.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onSync.test.js
Due: server

Manages status and result states
  server/services/google-actions/lib/smarthome/googleActions.onExecute.js
  server/services/google-actions/lib/traits/googleActions.brightness.trait.js
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/services/google-actions/lib/traits/googleActions.onOff.trait.js
  server/services/google-actions/lib/traits/googleActions.openClose.trait.js
Due: server

Remove unsused files
  front/src/actions/dashboard/index.js
  front/src/components/layout/IntegrationPage.jsx
  front/src/components/layout/page.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-users/edit-user/EditPreferences.jsx
Due: front

Integration key
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/ZwaveJSUIPage.js
  front/src/routes/integration/all/zwave-js-ui/device-page/Device.jsx
  front/src/routes/integration/all/zwave-js-ui/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zwave-js-ui/device-page/EmptyState.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/EmptyState.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/AddRemoveNode.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/CheckStatus.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
Due: front

Refactor connect
  front/src/routes/integration/all/overkiz/device-page/index.js
  front/src/routes/integration/all/overkiz/discover-page/index.js
  front/src/routes/integration/all/overkiz/settings-page/index.js
Due: front

Remove non ready device
  server/services/zwave-js-ui/lib/commands/getNodes.js
Due: server

WIP : implementing VacbotModeDeviceFeature into a Vacbot global box
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/vacbot/Vacbot.jsx
Due: front

Set module name as a variable
  server/_templates/gladys_module/service/test/api/module.controller.test.js.t
Due: server

Use const serviceId everywhere
  server/_templates/gladys_module/service/test/api/module.controller.test.js.t
  server/_templates/gladys_module/service/test/index.test.js.t
  server/services/index.js
Due: server

revert to master file
  server/services/index.js
Due: server

Add Devices box
  front/src/actions/dashboard/boxes/devices.js
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/utils/constants.js
Due: server, front

Add translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add send Camera Image Action
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/utils/constants.js
Due: server, front

Add TU
  server/test/lib/scene/actions/scene.action.sendCameraMessage.test.js
Due: server

prettier
  server/test/lib/scene/actions/scene.action.sendCameraMessage.test.js
Due: server

use mock controller instead
  server/_templates/gladys_module/service/test/api/module.controller.test.js.t
Due: server

RTFM required
  server/_templates/gladys_module/README.md
Due: server

Handle Integration UI part
  server/_templates/gladys_module/box/components/add_imports.app.jsx.t
  server/_templates/gladys_module/box/components/add_pages_to_router.app.jsx.t
  server/_templates/gladys_module/box/config/i18n/en.json.t
  server/_templates/gladys_module/box/config/i18n/fr.json.t
  server/_templates/gladys_module/box/routes/integrations/all/service/actions.js.t
  server/_templates/gladys_module/box/routes/integrations/all/service/setup-page/index.js.t
Due: server

Correct var save and get
  server/_templates/gladys_module/box/routes/integrations/all/service/actions.js.t
  server/_templates/gladys_module/service/api/module.controller.js.t
  server/_templates/gladys_module/service/lib/config/module.getConfiguration.js.t
  server/_templates/gladys_module/service/lib/config/module.saveConfiguration.js.t
Due: server

Copy a logo for integration menu
  server/_templates/gladys_module/box/config/integrations/devices.json.t
Due: server

Fix padding scene card
  front/src/routes/scene/SceneCard.jsx
Due: front

Add drag and drop of groups
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
Due: front

Scene: Device get value should deep clone device feature to avoid pollution on subsequent calls
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.getValue.test.js
Due: server

Scene: Device get value should deep clone device feature to avoid pollution on subsequent calls (#1806)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.getValue.test.js
Due: server

Remove unused files (#1800)
  front/src/actions/dashboard/index.js
  front/src/components/layout/IntegrationPage.jsx
  front/src/components/layout/page.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-users/edit-user/EditPreferences.jsx
Due: front

Front: Fix eslint "components as pure function" warning (#1798)
  front/src/actions/forgotPassword.js
  front/src/routes/forgot-password/index.js
  front/src/routes/integration/all/bluetooth/edit-page/index.js
  front/src/routes/integration/all/bluetooth/settings-page/index.js
  front/src/routes/integration/all/ewelink/edit-page/index.js
  front/src/routes/integration/all/lan-manager/settings-page/index.js
  front/src/routes/integration/all/xiaomi/edit-page/index.js
Due: front

Fix return pr
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  server/lib/device/camera/camera.getLiveImage.js
  server/lib/device/camera/index.js
  server/lib/device/index.js
  server/lib/scene/scene.actions.js
  server/test/lib/device/camera/camera.getLiveImage.test.js
  server/test/lib/scene/actions/scene.action.sendCameraMessage.test.js
Due: server, front

Fix test
  server/test/lib/device/camera/camera.getLiveImage.test.js
Due: server

Remove action
  front/src/actions/dashboard/boxes/devices.js
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
Due: front

Add filter
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  server/lib/device/device.get.js
Due: server, front

Update test
  server/test/lib/device/device.get.test.js
Due: server

add fake icon
  server/_templates/gladys_module/box/config/integrations/gladys_toolbox.png
  server/_templates/gladys_module/box/routes/integrations/all/service/index.js.t
  server/_templates/gladys_module/box/utils/add_websocket_messages.constants.jsx.t
Due: server

4.24.0
  package-lock.json
  package.json
Due: none

Fix apidoc build
  .github/workflows/build-apidoc-documentation.yml
  package-lock.json
  package.json
  server/apidoc.json
  server/package-lock.json
  server/package.json
Due: server

Test build & deploy
  .github/workflows/build-apidoc-documentation.yml
Due: none

Remove pr build for tests
  .github/workflows/build-apidoc-documentation.yml
Due: none
