Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Upgrade ZWaveJS, disable error reporting
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/package.json
Due: server

Shutter/curtain device
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/UpDownDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

4.8.0
  package-lock.json
  package.json
Due: none

Upgrade CHANGELOG
  CHANGELOG.md
Due: none

Fix get gladys container id call for Debian > 10 & Ubuntu > 20.04
  server/lib/system/index.js
  server/lib/system/system.getGladysContainerId.js
  server/lib/system/system.getNetworkMode.js
  server/test/lib/system/system.getGladysContainerId.test.js
  server/test/lib/system/system.getNetworkMode.test.js
Due: server

Handle all cases, in JS so it's testable
  server/lib/system/system.getGladysContainerId.js
  server/test/lib/system/system.getGladysContainerId.test.js
Due: server

Improve comments
  server/lib/system/system.getGladysContainerId.js
Due: server

change personnal ip config for cypress
  front/cypress/cypress.json
  front/cypress/plugins/index.js
  front/package.json
Due: front

fix for review
  front/package-lock.json
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/api/controllers/oauth2.controller.js
  server/api/routes.js
  server/lib/device/device.saveHistoricalState.js
  server/lib/oauth2/index.js
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/lib/oauth2/oauth2.getAccessToken.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/test/lib/oauth2/oauth2manager.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Due: server, front

Fix get gladys container id call for Debian > 10 & Ubuntu > 20.04 (#1459)
  server/lib/system/index.js
  server/lib/system/system.getGladysContainerId.js
  server/lib/system/system.getNetworkMode.js
  server/test/lib/system/system.getGladysContainerId.test.js
  server/test/lib/system/system.getNetworkMode.test.js
Due: server

Upgrade ZWaveJS, disable error reporting
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/package-lock.json
  server/services/zwave/package.json
  server/test/services/zwave/lib/zwaveManager-features.test.js
Due: server

Fix vibration i18n #1457
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

Open/close on scenes #1423
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Due: front

Refresh dashbord name #1323
  front/src/routes/dashboard/index.js
Due: front

fix for review
  server/test/lib/device/device.saveHistoricalState.test.js
Due: server

Unregister polling on device update #1373
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Due: server

Add concurrency on Gladys Plus API call
  front/package-lock.json
  front/package.json
  front/src/utils/GatewayHttpClient.js
Due: front

Add concurrency on Gladys Plus API call (#1468)
  front/package-lock.json
  front/package.json
  front/src/utils/GatewayHttpClient.js
Due: front

Zigbee2mqtt : Fix installation on custom Docker setup
  server/services/zigbee2mqtt/lib/basePath.js
  server/test/services/zigbee2mqtt/lib/basePath.test.js
Due: server

MQTT : Fix installation on custom setup
  server/lib/system/index.js
  server/lib/system/system.getGladysBasePath.js
  server/services/mqtt/lib/installContainer.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/lib/system/system.getGladysBasePath.test.js
  server/test/services/mqtt/lib/installContainer.test.js
  server/test/services/zigbee2mqtt/lib/basePath.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
Due: server

Fix z2m tests
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Due: server

Fix #1373 : Unregister polling on device update (#1467)
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Due: server

Replace device in the right poll frequency array when updated
  server/lib/device/device.add.js
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Due: server

Add end if caldav event is full day & no end date
  server/services/caldav/lib/calendar/calendar.formaters.js
Due: server

Fetch all change events if 507 status
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/test/services/caldav/lib/calendar/requests.test.js
Due: server

Zigbee2mqtt & MQTT integration : Fix installation on custom Docker setup (#1469)
  server/lib/system/index.js
  server/lib/system/system.getGladysBasePath.js
  server/services/mqtt/lib/installContainer.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/lib/system/system.getGladysBasePath.test.js
  server/test/services/mqtt/lib/installContainer.test.js
  server/test/services/zigbee2mqtt/lib/basePath.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Due: server

Fix bug: Device should be in the right poll frequency array when updated, and not in duplicate (#1470)
  server/lib/device/device.add.js
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Due: server

Fix #1473 : Try HTTP request in scene should send headers properly
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
Due: front

Fix #1473 : Try HTTP request in scene should send headers properly (#1475)
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
Due: front

Fix #1457 : Add translation on vibration sensor (#1461)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

Add condition on response size
  server/services/caldav/lib/calendar/calendar.requests.js
Due: server

Fix #1323 : Dashboard name should be renamed in list when renamed (#1463)
  front/src/routes/dashboard/index.js
Due: front

Remove main switch #1274
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/config/demo.js
Due: front

Improve device filtering
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
Due: front

Dashboard badge value
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/LastSeenDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/RawDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Due: front

Fix open icon
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
Due: front

add edit device page
  front/src/components/app.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/UpdateDeviceForm.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/withings/device-page/Device.jsx
  front/src/routes/integration/all/withings/edit-page/index.js
  server/services/withings/lib/withings.init.js
Due: server, front

fix test
  front/src/routes/integration/all/withings/device-page/actions.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/test/services/withings/api/withings.controller.test.js
Due: server, front

fix test
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/routes/integration/all/withings/device-page/actions.js
  front/src/routes/integration/all/withings/edit-page/index.js
  server/services/withings/api/withings.controller.js
  server/test/services/withings/api/withings.controller.test.js
Due: server, front

4.8.1
  package-lock.json
  package.json
Due: none

Path conditions:
  server: any of: server
  front: any of: front
