Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

Update index.js
  server/services/index.js
Due: server

Add support for TRADFRI bulb E14 and TRADFRI bulb E27 (#658)
  server/services/philips-hue/lib/light/light.getLights.js
  server/test/services/philips-hue/lights.json
Due: server

Add light.turn-off action server-side
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeSingleAction.test.js
  server/utils/constants.js
Due: server

Add turn off the lights box
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
Due: front

Remove "new" from new action/trigger button
  front/src/config/i18n/en.json
Due: front

Create a SelectDeviceFeature components which can be re-used
  front/src/actions/scene.js
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Due: front

Add DeviceGetValue and OnlyContinueIf action in scenes
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/index.js
  server/models/scene.js
  server/utils/constants.js
Due: server, front

Fix condition variable names
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Due: front

Add milight in settings
  front/src/routes/integration/all/rflink/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/rflink/settings-page/actions.js
  front/src/routes/integration/all/rflink/settings-page/index.js
Due: front

add routes for milight
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/index.js
  server/services/rflink/lib/commands/rflink.listen.js
  server/services/rflink/lib/commands/rflink.milight.pair.js
  server/services/rflink/lib/commands/rflink.milight.unpair.js
  server/services/rflink/lib/index.js
Due: server

Some tests for rflink
  server/test/services/rflink/rflink.test.js
  server/test/services/rflink/rflinkMock.test.js
Due: server

Upgrade Preact
  front/package-lock.json
  front/package.json
Due: front

Only continue if with multiple conditions working
  front/src/actions/scene.js
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/utils/device.js
  server/models/scene.js
Due: server, front

Add condition / remove condition
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
Due: front

Fix linting
  front/src/routes/scene/edit-scene/index.js
Due: front

Add server-side code for continue only if and device.get-value
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.executeActions.js
  server/lib/scene/scene.executeSingleAction.js
  server/models/scene.js
  server/utils/coreErrors.js
Due: server, front

Add tests to new actions
  server/lib/scene/scene.executeSingleAction.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Add error message, name cannot be 'new'
  front/src/actions/createScene.js
  front/src/config/i18n/en.json
Due: front

Add translations
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.actions.js
Due: server, front

Improve scene view (#659)
  front/package-lock.json
  front/package.json
  front/src/actions/createScene.js
  front/src/actions/scene.js
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/utils/device.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.executeActions.js
  server/lib/scene/scene.executeSingleAction.js
  server/models/scene.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/lib/scene/scene.executeSingleAction.test.js
  server/utils/constants.js
  server/utils/coreErrors.js
Due: server, front

fix #540 : handle mqtt connect error
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  server/services/mqtt/lib/connect.js
Due: server, front

changes after atrovato review
  server/services/mi-light/index.js
  server/services/mi-light/lib/light/light.configureBridge.js
  server/services/mi-light/lib/light/light.setValue.js
Due: server

add switch action in scene
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeSingleAction.test.js
  server/utils/constants.js
Due: server, front

Improve MQTT service UX
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/device-page/index.js
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
Due: front

Add tests to mqtt connection error/success
  server/test/services/mqtt/lib/connect.test.js
Due: server

correct en.json text
  front/src/config/i18n/en.json
Due: front

rename switchs by switches
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
Due: front

add test
  server/test/lib/scene/scene.executeActions.test.js
  server/test/lib/scene/scene.executeSingleAction.test.js
Due: server

fix test issue
  server/test/lib/scene/scene.executeActions.test.js
Due: server

add test on executeactions
  server/test/lib/scene/scene.executeActions.test.js
Due: server

working 433mhz
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/api/rflink.parse.ObjToRF.js
  server/services/rflink/lib/commands/rflink.connect.js
  server/services/rflink/lib/commands/rflink.milight.pair.js
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/lib/events/rflink.message.js
  server/services/rflink/lib/events/rflink.newValue.js
  server/services/rflink/package.json
Due: server

Milight update
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/lib/commands/rflink.milight.pair.js
  server/services/rflink/lib/commands/rflink.milight.unpair.js
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/lib/events/rflink.message.js
Due: server

Fix #540: In MQTT service UI, display broker configuration errors (By Atrovato) (#667)
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/device-page/index.js
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
  server/services/mqtt/lib/connect.js
  server/test/services/mqtt/lib/connect.test.js
Due: server, front

Scheduled Trigger front part
  front/package-lock.json
  front/package.json
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  server/models/scene.js
  server/package-lock.json
  server/package.json
  server/utils/constants.js
Due: server, front

Add default value for interval unit + change timeIntervals in UI
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
Due: front

First version of backend working
  server/api/websockets/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.destroy.js
  server/lib/scene/scene.triggers.js
  server/package-lock.json
  server/package.json
Due: server
