Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix(external-integration): address review feedback on the image cleanup
  docs/specs/external-integrations.md
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.cleanImages.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/system/index.js
  server/lib/system/system.getImagePullTime.js
  server/lib/system/system.pull.js
  server/lib/system/system.removeImage.js
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/system.getImagePullTime.test.js
  server/test/lib/system/system.removeImage.test.js
Due: server

test: adopt the per-file sinon sandbox in the image cleanup tests
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/system/system.getImagePullTime.test.js
  server/test/lib/system/system.listImages.test.js
  server/test/lib/system/system.removeImage.test.js
Due: server

Enhance Cursor automation workflow with comment commands and auto-triggers (#2824)
  .github/CONTRIBUTING.md
  .github/workflows/cursor-automation-webhook.yml
Due: none

refactor(front): make the shared search fold cover ligatures and reuse it
  front/src/components/scene/IconSelector.jsx
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/integration/index.js
  front/src/utils/normalizeSearchText.js
Due: front

fix(front): a MQTT feature search of accents only listed the whole catalog
  front/src/routes/integration/all/mqtt/device-page/utils.js
Due: front

fix: make scene condition formulas fail closed and pin operator surface (#2823)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.formula.test.js
Due: server

fix: log MQTT/Zigbee2mqtt published payload and warn on invalid JSON (#2825)
  server/lib/scene/scene.actions.js
  server/services/mqtt/lib/publish.js
  server/services/zigbee2mqtt/lib/publish.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/test/lib/scene/actions/scene.action.sendZigbee2MqttMessage.test.js
Due: server

ci: fix the 403 when reacting to a /cursor review comment
  .github/workflows/cursor-automation-webhook.yml
Due: none

Fix the integration counter mixing scopes across catalog views
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/index.js
Due: front

fix(external-integration): re-read the pull time before each image deletion
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.cleanImages.js
  server/lib/external-integration/externalIntegration.removeImages.js
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/system/system.getImagePullTime.test.js
Due: server

feat(front): show labeled value lists in the scene editor
  front/src/components/device/SelectDeviceFeatureValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DefaultDeviceState.jsx
  front/src/utils/deviceFeatureValueOptions.js
Due: front

fix: make scene condition formulas fail closed and pin the formula operator surface (#2823) (#2831)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.formula.test.js
Due: server

fix: clarify Zigbee2mqtt scene action topic requires the zigbee2mqtt/ prefix (#2826)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/SendZigbee2MqttMessage.jsx
Due: front

fix(front): honor supported_options in the scene value lists
  front/src/utils/deviceFeatureValueOptions.js
Due: front

feat(integration): make the catalog search accent-insensitive
  front/src/components/scene/IconSelector.jsx
  front/src/routes/integration/index.js
  front/src/utils/normalizeSearchText.js
Due: front

fix(front): address review feedback on the scene value lists
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/utils/deviceFeatureValueOptions.js
Due: front

fix(ci): grant pull-requests write so Cursor review comment reactions work (#2833)
  .github/workflows/cursor-automation-webhook.yml
Due: none

feat(external-integration): clean up the Docker images left behind (#2822)
  docs/specs/external-integrations.md
  server/config/scheduler-jobs.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.cleanImages.js
  server/lib/external-integration/externalIntegration.getImagesInUse.js
  server/lib/external-integration/externalIntegration.removeImages.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/external-integration/index.js
  server/lib/system/index.js
  server/lib/system/system.getImagePullTime.js
  server/lib/system/system.listImages.js
  server/lib/system/system.pull.js
  server/lib/system/system.removeImage.js
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/external-integration/externalIntegration.uninstall.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.getImagePullTime.test.js
  server/test/lib/system/system.listImages.test.js
  server/test/lib/system/system.removeImage.test.js
  server/utils/constants.js
Due: server

ci: add a daily scheduled Claude autofix for review-bot feedback
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Due: none

ci: fire Claude Code cloud sessions instead of running on the runner
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Due: none

fix: clarify Zigbee2mqtt scene action topic requires the zigbee2mqtt/ prefix (#2826) (#2836)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/SendZigbee2MqttMessage.jsx
Due: front

ci: address review feedback on the scheduled autofix
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-scheduled-autofix.yml
Due: none

fix(front): make presence-sensor binary a first-class feature
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/utils/consts.js
Due: front

Fix the empty tag shown for a binary presence sensor (camera person detection) (#2839)
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/utils/consts.js
Due: front

ci: harden the autofix routine prompt after second review round
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
Due: none

ci: daily scheduled autofix firing Claude Code cloud sessions on review-bot feedback (#2838)
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-scheduled-autofix.yml
Due: none

ci: accept the fire URL from a secret as well as a variable
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Due: none

Document the while loop max iterations behavior in the scene editor
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
Due: front

test(scene): cover trigger variables when device or feature is missing
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
Due: server

feat(external-integration): allow installing and updating from a locally built Docker image
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/external-integration/externalIntegration.ensureImage.js
  server/lib/external-integration/externalIntegration.install.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/external-integration/index.js
  server/lib/system/index.js
  server/lib/system/system.imageExists.js
  server/test/lib/external-integration/externalIntegration.install.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/system.imageExists.test.js
Due: server, front

fix: make the air conditioning mode the only authority when both mode enums exist
  server/services/homekit/lib/buildThermostatService.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
Due: server

test(external-integration): cover a failing local presence check during install
  server/test/lib/external-integration/externalIntegration.install.test.js
Due: server

fix(homekit): warn on an ambiguous fallback and index dropped twins
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

Show "X of Y" only when the search actually narrows the view
  front/src/routes/integration/IntegrationPageHeader.jsx
Due: front

fix: log the exact published payload and cover publish logs with tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/test/lib/scene/actions/scene.action.sendZigbee2MqttMessage.test.js
  server/test/services/mqtt/lib/publish.test.js
  server/test/services/zigbee2mqtt/lib/publish.test.js
Due: server

fix(front): treat a null condition value as unset in the scene condition
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Due: front

fix(external-integration): scope the local image fallback to dev installs
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.ensureImage.js
  server/lib/external-integration/externalIntegration.install.js
  server/lib/external-integration/externalIntegration.update.js
  server/test/lib/external-integration/externalIntegration.install.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
Due: server

Add messaging channel selector to send message scene actions
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  server/api/controllers/service.controller.js
  server/api/routes.js
  server/lib/message/message.forwardToChannels.js
  server/lib/message/message.sendToUser.js
  server/lib/scene/scene.actions.js
  server/lib/service/service.getMessageServices.js
  server/lib/service/service.load.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/controllers/service/service.controller.test.js
  server/test/lib/message/message.sendToUser.test.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
  server/test/lib/service/service.test.js
Due: server, front

Rename message services route to /api/v1/service/message
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  server/api/controllers/service.controller.js
  server/api/routes.js
  server/lib/service/service.getMessageServices.js
  server/test/controllers/service/service.controller.test.js
  server/test/lib/service/service.test.js
Due: server, front
