Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Handle multi same service for one device in HomeKit
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
Due: server

Fix tests
  server/test/services/homekit/lib/buildService.test.js
Due: server

fix prettier & translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Due: server, front

Send home state to AI
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/lib/state/index.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
  server/test/lib/state/state.test.js
Due: server

fix relay feature
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Due: server, front

Upgrade DuckDB to 1.1.1
  server/package-lock.json
  server/package.json
Due: server

Backup : When restoring backup, clean DuckDB WAL file before writing new file
  server/lib/gateway/gateway.restoreBackup.js
Due: server

Upgrade DuckDB to 1.1.1 (#2144)
  server/package-lock.json
  server/package.json
Due: server

Zigbee2mqtt: Add pilot wire mode (#2140)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

Homekit: Handle devices with multiple time the same features (#2139)
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/test/services/homekit/lib/buildService.test.js
Due: server

Backup : When restoring backup, clean DuckDB WAL file before writing new file (#2145)
  server/lib/gateway/gateway.restoreBackup.js
Due: server

4.47.0
  package-lock.json
  package.json
Due: none

chore: Adjust height dynamically based on number of features in ApexChartComponent
  front/src/components/boxs/chart/ApexChartComponent.jsx
Due: front

Remove devices from OpenAI payload
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
Due: server

Init airplay scan & play
  front/src/assets/integrations/cover/airplay.jpg
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/airplay/AirplayDeviceBox.jsx
  front/src/routes/integration/all/airplay/AirplayPage.jsx
  front/src/routes/integration/all/airplay/device-page/DeviceTab.jsx
  front/src/routes/integration/all/airplay/device-page/EmptyState.jsx
  front/src/routes/integration/all/airplay/device-page/index.js
  front/src/routes/integration/all/airplay/device-page/style.css
  front/src/routes/integration/all/airplay/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/airplay/discover-page/EmptyState.jsx
  front/src/routes/integration/all/airplay/discover-page/index.js
  front/src/routes/integration/all/airplay/discover-page/style.css
  server/services/airplay/api/airplay.controller.js
  server/services/airplay/index.js
  server/services/airplay/lib/airplay.init.js
  server/services/airplay/lib/airplay.scan.js
  server/services/airplay/lib/airplay.setValue.js
  server/services/airplay/lib/index.js
  server/services/airplay/package-lock.json
  server/services/airplay/package.json
  server/services/airplay/utils/convertToGladysDevice.js
  server/services/index.js
Due: server, front

Use ffmpeg instead external lib
  server/services/airplay/index.js
  server/services/airplay/lib/airplay.setValue.js
  server/services/airplay/lib/index.js
  server/services/airplay/package-lock.json
  server/services/airplay/package.json
Due: server

add pilot wire mode device in DeviceSetValue
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
Due: front

Clean DuckDB schema on restore
  server/lib/gateway/gateway.restoreBackup.js
  server/lib/index.js
  server/models/index.js
Due: server

Clean DuckDB schema on restore (#2147)
  server/lib/gateway/gateway.restoreBackup.js
  server/lib/index.js
  server/models/index.js
Due: server

Ask AI in scene (#2129)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/lib/message/message.reply.js
  server/lib/scene/scene.actions.js
  server/lib/state/index.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
  server/test/lib/message/message.reply.test.js
  server/test/lib/scene/actions/scene.action.askAi.test.js
  server/test/lib/state/state.test.js
  server/utils/constants.js
Due: server, front

Scene: Save tag filters & search in URL
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/index.js
Due: front

Scene: Save tag filters & search in URL (#2148)
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/index.js
Due: front

add pilot wire mode device to scene triggers list
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
Due: front

Add en-de translations & tests
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  server/services/airplay/lib/airplay.setValue.js
  server/test/services/airplay/api/airplay.controller.test.js
  server/test/services/airplay/index.test.js
  server/test/services/airplay/lib/airplay.init.test.js
  server/test/services/airplay/lib/airplay.setValue.test.js
  server/test/services/airplay/lib/airplay_scan.test.js
Due: server, front

Fix tests
  server/test/services/airplay/lib/airplay.setValue.test.js
Due: server

Use npm package for airtunes2
  server/services/airplay/index.js
  server/services/airplay/package-lock.json
  server/services/airplay/package.json
Due: server

Improve tests
  server/services/airplay/lib/airplay.setValue.js
  server/test/services/airplay/lib/airplay.setValue.test.js
Due: server

Run prettier
  server/test/services/airplay/lib/airplay.setValue.test.js
Due: server

add new component to set pilot wire mode in scene
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
Due: front

Camera: Add TCP transport for RTSP stream
  server/services/rtsp-camera/lib/getImage.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Due: server

Scene: Add Pilot Wire Mode in trigger & device set value action (#2149)
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
Due: front

DuckDB: Properly close all connections & database on shutdown
  server/index.js
  server/models/index.js
Due: server

DuckDB: Properly close all connections & database on shutdown (#2151)
  server/index.js
  server/models/index.js
Due: server

Camera: Add TCP transport for RTSP stream (#2150)
  server/services/rtsp-camera/lib/getImage.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Due: server

add input exposes of device develco IOMZB-110
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

fix prettier
  front/src/utils/consts.js
Due: front

add pulling watchower image
  server/api/controllers/system.controller.js
  server/lib/system/system.updateContainers.js
  server/test/lib/system/system.updateContainers.test.js
Due: server

add update button to system
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
Due: front

add job info
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  server/lib/system/index.js
  server/lib/system/system.updateContainers.js
  server/utils/constants.js
Due: server, front

change button color for test
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
