Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Cover the malformed published params guard of the upsert
  server/test/lib/external-integration/externalIntegration.fieldFeedback.test.js
Due: server

Plan: standard per-device transport status (cloud/local badge) + local-preference toggle
  PLAN_INTEGRATIONS_EXTERNES.md
Due: none

Plan: make unicast LAN access an explicit tested guarantee
  PLAN_INTEGRATIONS_EXTERNES.md
Due: none

Enedis recalculate cost after sync
  server/services/enedis/lib/enedis.sync.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
Due: server

docs: require agent PRs to be created as ready for review
  AGENTS.md
Due: none

fix(rtsp-camera): log concise camera poll failures (#2676)
  server/services/rtsp-camera/lib/getImage.js
  server/services/rtsp-camera/lib/poll.js
  server/services/rtsp-camera/utils/formatFfmpegError.js
  server/test/services/rtsp-camera/formatFfmpegError.test.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Due: server

chore(matter): update matter.js to 0.17.6
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Due: server

docs: clarify CI runs on ready-for-review PRs
  AGENTS.md
Due: none

Add CO2 sensor support to Matter integration
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
Due: server

Harden Enedis post-sync cost recalculation
  server/services/enedis/lib/enedis.sync.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromDate.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Due: server

Fix queued cost calculation test
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Due: server

Add AI control of light brightness, color and color temperature
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatValue.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatValue.test.js
Due: server

docs: require agent PRs to be created as ready for review (#2685)
  AGENTS.md
Due: none

chore(matter): update matter.js to 0.17.6 (#2687)
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Due: server

Use chronological Enedis pagination fixtures
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
Due: server

Cover no-room fallback branches in device.set-light tests
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

feat(matter): add MediaPlayback, KeypadInput and LevelControl volume clusters support
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/PushDeviceFeature.jsx
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/matter.setValue.test.js
Due: server, front

feat(matter): add air conditioner mode management via Thermostat SystemMode
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/thermostatMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/utils/thermostatMatterMapping.test.js
Due: server, front

Generalize solar-battery into a generic battery-storage device feature category
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Add camera image support and per-device transport status for external integrations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/TransportBadge.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/device-page/DeviceBox.jsx
  front/src/routes/integration/all/external-integration/device-page/DeviceTab.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/utils.js
  server/api/controllers/integrationHost.controller.js
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.getConfigForFront.js
  server/lib/external-integration/externalIntegration.getIntegrationConfig.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.saveCameraImage.js
  server/lib/external-integration/externalIntegration.saveConfigFromFront.js
  server/lib/external-integration/externalIntegration.setDeviceTransports.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/lib/external-integration/externalIntegration.setIntegrationConfig.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.cameraTransport.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/utils/constants.js
Due: server, front

Add CO2 sensor support to Matter integration (#2686)
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
Due: server

Cover Enedis recalculation fallback paths
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Due: server

fix(mqtt): wire battery-storage into the existing sensor/unit helpers
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  server/utils/constants.js
Due: server, front

Cover camera rate-limit cleanup on uninstall
  server/test/lib/external-integration/externalIntegration.uninstall.test.js
Due: server

Recalculate energy costs after each Enedis sync (#2684)
  server/services/enedis/lib/enedis.sync.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromDate.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Due: server

Trim battery-storage to intrinsic storage metrics + add feature min/max
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Fix force update of dev installs alongside a store install
  server/lib/external-integration/externalIntegration.update.js
  server/test/lib/external-integration/externalIntegration.update.test.js
Due: server

AI chat: control light brightness, color and color temperature (#2688)
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatValue.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatValue.test.js
Due: server

feat(matter): drive air conditioner mode widget from feature supported_options
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/thermostatMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/utils/thermostatMatterMapping.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Due: server, front

Parallelize service dependency installs with concurrency of 4
  server/cli/install_service_dependencies.js
  server/test/cli/install_service_dependencies.test.js
Due: server

ci(pr): push branch Docker image to GitHub registry and comment on PR
  .github/workflows/docker-pr-build.yml
Due: none

Keep the integration title stable across tab switches
  front/src/routes/integration/all/external-integration/ExternalIntegrationPage.jsx
Due: front

ci(pr): lowercase the ghcr.io repository name
  .github/workflows/docker-pr-build.yml
Due: none

refactor(battery-storage): rename cumulative counters to charge-index/discharge-index
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Report installed external integrations in service usage
  server/lib/service/service.getUsage.js
  server/test/lib/service/service.getUsage.test.js
Due: server

feat(energy-production-sensor): add instantaneous power type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Simplify parallel service installs using Bluebird Promise.map
  server/cli/install_service_dependencies.js
  server/test/cli/install_service_dependencies.test.js
Due: server

ci(pr): pass github.head_ref via env to avoid script injection
  .github/workflows/docker-pr-build.yml
Due: none
