Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Upgrade gladys-gateway-js to 3.2.5 to fix upload of large backups to Gladys Plus (#747)
  server/package-lock.json
  server/package.json
Due: server

First commit
  front/src/assets/integrations/cover/w215.jpg
  front/src/components/app.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/integrations/device.en.json
  front/src/routes/integration/all/w215/W215DeviceBox.jsx
  front/src/routes/integration/all/w215/W215Page.jsx
  front/src/routes/integration/all/w215/actions.js
  front/src/routes/integration/all/w215/device-page/DeviceTab.jsx
  front/src/routes/integration/all/w215/device-page/EmptyState.jsx
  front/src/routes/integration/all/w215/device-page/index.js
  front/src/routes/integration/all/w215/device-page/style.css
  front/src/routes/integration/all/w215/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/w215/discover-page/EmptyState.jsx
  front/src/routes/integration/all/w215/discover-page/index.js
  front/src/routes/integration/all/w215/discover-page/style.css
  front/src/routes/integration/all/w215/edit-page/index.js
  front/src/routes/integration/all/w215/utils/consts.js
  front/src/utils/consts.js
  server/package.json
  server/services/index.js
  server/services/w215/api/w215.controller.js
  server/services/w215/index.js
  server/services/w215/lib/device/discover.js
  server/services/w215/lib/device/index.js
  server/services/w215/lib/device/poll.js
  server/services/w215/lib/device/setValue.js
  server/services/w215/lib/models/dsp_w215.js
  server/services/w215/lib/models/index.js
  server/services/w215/lib/utils/constants.js
  server/services/w215/lib/utils/parseExternalId.js
  server/services/w215/lib/utils/w215.js
  server/services/w215/package.json
  server/utils/constants.js
Due: server, front

Add zwave mapping : Volt/Watt/Ampere/Kwh
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/utils/consts.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/utils/getCategory.js
  server/services/zwave/lib/utils/getUnit.js
  server/test/services/zwave/lib/zwaveManager.test.js
  server/utils/constants.js
Due: server, front

Fix data event parsing & add host
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/actions.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/requests.test.js
Due: server, front

Zwave : New devices and multilevel scroll
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  server/services/zwave/lib/constants.js
Due: server, front

Add missing removeListener calls
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/routes/chat/index.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
  front/src/routes/integration/all/tasmota/discover-page/index.js
  front/src/routes/integration/all/xiaomi/index.js
  front/src/routes/integration/all/zwave/node-operation-page/index.js
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/settings/settings-system/index.js
Due: front

Websocket: send only of subscribed
  front/src/utils/Dispatcher.js
  front/src/utils/Session.js
  server/api/websockets/index.js
  server/test/websockets/WebSocketServerMock.test.js
  server/test/websockets/websockets.test.js
  server/utils/constants.js
Due: server, front

Improve code coverage
  server/test/services/caldav/lib/calendar/requests.test.js
Due: server

Fix Roller shutter ZMNHCDx category and Id
  server/services/zwave/lib/constants.js
Due: server

fix ZMNHCDx type and category
  server/services/zwave/lib/constants.js
Due: server

debugging
  front/src/config/i18n/en.json
  front/src/routes/integration/all/w215/W215DeviceBox.jsx
  front/src/routes/integration/all/w215/actions.js
  front/src/routes/integration/all/w215/device-page/DeviceTab.jsx
  front/src/routes/integration/all/w215/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/w215/edit-page/index.js
  server/services/w215/api/w215.controller.js
  server/services/w215/index.js
  server/services/w215/lib/device/discover.js
  server/services/w215/lib/device/index.js
  server/services/w215/lib/device/poll.js
  server/services/w215/lib/device/setValue.js
  server/services/w215/lib/device/testConnection.js
  server/services/w215/lib/models/dsp-w215.js
  server/services/w215/lib/models/index.js
  server/services/w215/lib/utils/w215.js
Due: server, front

add Lux units
  server/services/zwave/lib/utils/getUnit.js
Due: server

Display all node in Setup page
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  server/services/zwave/lib/commands/zwave.getNodes.js
Due: server, front

Revert change not for this PR
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
Due: front

Restore working !
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreInProgress.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/SetRestoreKey.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/index.js
Due: front

Little UI fixes
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreBackup.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/index.js
Due: front

Add more tests to restoreBackupEvent
  server/test/lib/gateway/gateway.test.js
Due: server

Let the user create a Gladys instance from a Gladys Plus backup (#748)
  front/src/actions/gateway.js
  front/src/actions/main.js
  front/src/config/i18n/en.json
  front/src/routes/signup/1-welcome/WelcomeTab.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/CreateAccountGladysGatewayTab.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreBackup.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreBackupRow.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreInProgress.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/SetRestoreKey.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/index.js
  server/api/controllers/gateway.controller.js
  server/lib/gateway/gateway.restoreBackupEvent.js
  server/test/lib/gateway/gateway.test.js
Due: server, front

Fix Dockerfile
  docker/Dockerfile
Due: none

Useless change
  docker/Dockerfile
Due: none

Sort nodes in setup page
  server/services/zwave/lib/commands/zwave.getNodes.js
Due: server

Run prettier
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/utils/consts.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
Due: server, front

Debug
  front/src/routes/integration/all/w215/actions.js
  front/src/routes/integration/all/w215/discover-page/DiscoverTab.jsx
  server/services/w215/package.json
Due: server, front

zigbee2mqtt: scan for devices
  server/services/mqtt/lib/handler/zigbee2mqtt/convertToDevice.js
  server/services/mqtt/lib/handler/zigbee2mqtt/featuresByModel.js
  server/services/mqtt/lib/handler/zigbee2mqtt/index.js
  server/utils/constants.js
Due: server

Zigbee2mqtt: code coverage
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
Due: server

zigbee2mqtt: front
  front/src/assets/integrations/cover/zigbee2mqtt.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/integrations/device.en.json
  front/src/routes/integration/all/zigbee2mqtt/EmptyState.jsx
  front/src/routes/integration/all/zigbee2mqtt/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/Zigbee2mqttPage.jsx
  front/src/routes/integration/all/zigbee2mqtt/actions.js
  front/src/routes/integration/all/zigbee2mqtt/index.js
  front/src/routes/integration/all/zigbee2mqtt/models.js
  front/src/routes/integration/all/zigbee2mqtt/style.css
  server/utils/constants.js
Due: server, front

Zigbee2mqtt: code coverage
  server/services/zigbee2mqtt/index.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/discoverDevices.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controler.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/discoverDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
Due: server

Zigbee2mqtt : improve code + coverage
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/model/index.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/features.js
  server/services/zigbee2mqtt/utils/loadFeatures.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/model/index.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
Due: server

Zigbee2mqtt: improve UI
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/EmptyState.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
Due: front

Zigbee2mqtt: add missing cpu / os
  server/services/zigbee2mqtt/package.json
Due: server

Modifications for Xiaomi Aqara Motion Sensor (RTCGQ11LM)
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/features.js
Due: server

CircleCI configuration for Continuous Delivery of docker image
  .circleci/build-image.sh
  .circleci/config.yml
  .circleci/load_env.sh
Due: none

Zigbee2mqtt: Already created and new devices printed distinctly after a scan
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Due: front

Modifications for IKEA E1524/E1810
  server/services/zigbee2mqtt/model/IKEA.js
  server/services/zigbee2mqtt/utils/convertCategory.js
Due: server

Zigbee2mqtt: no feedback for sensor
  server/services/zigbee2mqtt/utils/features.js
Due: server

Management of plug devices
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/setValue.js
Due: server
