Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

tests
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.executeActions.js
  server/test/lib/device/device.scenario.test.js
  server/test/lib/device/light/light.setBrightness.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/services/philips-hue/light/light.scenario.test.js
Due: server

revert old engines
  package.json
Due: none

revert: package lock json because of errors
  server/package-lock.json
Due: server

Fix weather box in edit mode
  front/src/components/boxs/weather/EditWeatherBox.jsx
Due: front

Fix weather box in edit mode (#1188)
  front/src/components/boxs/weather/EditWeatherBox.jsx
Due: front

feat(zigbee2mqtt): Fix IKEA TRADFRI motion sensor (#1187)
  server/services/zigbee2mqtt/model/IKEA.js
Due: server

feat(zigbee2mqtt): Add Lidl devices (#1186)
  server/services/zigbee2mqtt/model/Lidl.js
  server/services/zigbee2mqtt/model/index.js
Due: server

Add Cypress configuration & first tests (#1086)
  .github/workflows/docker-pr-build.yml
  front/.eslintrc.json
  front/cypress/cypress.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/peripherals.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_scanning.json
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/integration/routes/integration/bluetooth/BluetoothDisabled.js
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceEdit.js
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceList.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothDiscover.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothDiscovered.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothStateChange.js
  front/cypress/integration/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.js
  front/cypress/integration/routes/integration/bluetooth/discover/create/BluetoothNoDevice.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothScanner.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
  front/cypress/integration/routes/login/Login.js
  front/cypress/plugins/index.js
  front/cypress/support/commands.js
  front/cypress/support/index.js
  front/package-lock.json
  front/package.json
  package.json
  server/package.json
Due: server, front

Allows a scene to trigger another scene (#1124)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/models/scene.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server, front

fix: unset params for fade in after creation
  front/src/routes/scene/edit-scene/actions/LightFadeInParams.jsx
Due: front

fix: remove preact debug
  front/src/index.js
  server/services/philips-hue/lib/light/light.setValue.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server, front

Change OPEN API text and link
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Change Gladys Plus Open API description and links (#1191)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

4.3.1
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

fix: tests
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/LightFadeInParams.jsx
  front/src/utils/consts.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server, front

init withings service
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/api/routes.js
  server/package-lock.json
  server/package.json
  server/services/index.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/withings.deleteDevices.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/lib/withings.getServiceId.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/services/withings/lib/withings.saveVar.js
  server/services/withings/package-lock.json
  server/services/withings/package.json
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.destroyBySelectorPattern.test.js
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/lib/device/device.setParam.test.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.deleteDevices.test.js
  server/test/services/withings/lib/withings.deleteVar.test.js
  server/test/services/withings/lib/withings.getServiceId.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
  server/test/services/withings/lib/withings.saveVar.test.js
Due: server, front

security(server): CVE-2021-23358
  server/package-lock.json
  server/package.json
Due: server

Update jsdoc/underscore to latest version (#1195)
  server/package-lock.json
  server/package.json
Due: server

Improved test on port connect
  server/services/rflink/lib/commands/rflink.connect.js
  server/test/services/rflink/lib/connect.test.js
Due: server

Test ObjToRF
  server/test/services/rflink/controllers/rflink.parse.ObjtoRF.test.js
  server/test/services/rflink/lib/connect.test.js
Due: server

feat(zigbee2mqtt): Add color feature to devices
  server/services/zigbee2mqtt/model/Adeo.js
  server/services/zigbee2mqtt/model/AduroSmart.js
  server/services/zigbee2mqtt/model/Calex.js
  server/services/zigbee2mqtt/model/DresdenElektronik.js
  server/services/zigbee2mqtt/model/EcoSmart.js
  server/services/zigbee2mqtt/model/Gledopto.js
  server/services/zigbee2mqtt/model/IKEA.js
  server/services/zigbee2mqtt/model/Innr.js
  server/services/zigbee2mqtt/model/JIAWEN.js
  server/services/zigbee2mqtt/model/Lidl.js
  server/services/zigbee2mqtt/model/MullerLicht.js
  server/services/zigbee2mqtt/model/Nue_3A.js
  server/services/zigbee2mqtt/model/OSRAM.js
  server/services/zigbee2mqtt/model/PaulNeuhaus.js
  server/services/zigbee2mqtt/model/Paulmann.js
  server/services/zigbee2mqtt/model/Philips.js
  server/services/zigbee2mqtt/model/Sengled.js
  server/services/zigbee2mqtt/model/Sylvania.js
Due: server

feat(zigbee2mqtt): Add light color feature
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/services/zigbee2mqtt/utils/features.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Due: server

Fix log in scene continue-only-if action
  server/lib/scene/scene.actions.js
Due: server

Fix log in scene continue-only-if action (#1201)
  server/lib/scene/scene.actions.js
Due: server

feat(utils): Add XY color conversion to Int
  server/services/zigbee2mqtt/utils/features.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
  server/test/utils/colors.test.js
  server/utils/colors.js
Due: server

Add new create area page
  front/src/components/app.jsx
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/NewAreaMap.jsx
  front/src/routes/map/style.css
Due: front

improved newValue and setValue tests
  front/package-lock.json
  package-lock.json
  server/test/services/rflink/controllers/rflink.parse.ObjtoRF.test.js
  server/test/services/rflink/lib/newValue.test.js
  server/test/services/rflink/lib/setValue.test.js
Due: server, front

feat(zigbee2mqtt): Fix PR feedbacks
  server/utils/colors.js
Due: server

fix from review feedback
  front/src/components/oauth2/OAuth2Config.jsx
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/oauth2.controller.js
  server/api/routes.js
  server/config/oauth2/providers.json
  server/lib/oauth2/index.js
  server/lib/oauth2/oauth2.deleteClient.js
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/lib/oauth2/oauth2.saveVar.js
  server/seeders/20190226025931-variable.js
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/controllers/oauth2/oauth2.request.test.js
  server/test/lib/oauth2/oauth2manager.test.js
  server/utils/constants.js
Due: server, front

improved message testing
  server/test/services/rflink/lib/message.test.js
Due: server

remove console log
  server/services/rflink/lib/events/rflink.message.js
Due: server

Improved controller testing
  server/test/services/rflink/controllers/rflink.controller.test.js
Due: server

Fix a mess on the merging with package.json to clean the PR
  front/package-lock.json
  front/package.json
Due: front

Auto change from prettyfier
  server/test/services/rflink/SerialPortMock.test.js
  server/test/services/rflink/controllers/rflink.controller.test.js
  server/test/services/rflink/controllers/rflink.parse.ObjtoRF.test.js
  server/test/services/rflink/controllers/rflink.parse.RFtoObject.test.js
  server/test/services/rflink/lib/addDevice.test.js
  server/test/services/rflink/lib/addNewDevice.test.js
  server/test/services/rflink/lib/connect.test.js
  server/test/services/rflink/lib/disconnect.test.js
  server/test/services/rflink/lib/getNewDevice.test.js
  server/test/services/rflink/lib/listen.test.js
  server/test/services/rflink/lib/message.test.js
  server/test/services/rflink/lib/newValue.test.js
  server/test/services/rflink/lib/pair.milight.test.js
  server/test/services/rflink/lib/setValue.test.js
  server/test/services/rflink/lib/unpair.milight.test.js
  server/test/services/rflink/rflink.test.js
Due: server

Cleanup for PR
  insomnia.json
  package-lock.json
  package.json
Due: none

Prettier
  front/src/routes/integration/all/rflink/device-page/actions.js
Due: front

eslint correction
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/rflink/device-page/Device.jsx
  front/src/routes/integration/all/rflink/device-page/actions.js
  front/src/routes/integration/all/rflink/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/rflink/device-page/setup/index.js
  front/src/routes/integration/all/rflink/settings-page/SettingsTab.jsx
Due: front

Add new color picker, radius & lifecycle
  front/src/config/i18n/en.json
  front/src/routes/map/ColorPicker.jsx
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/NewAreaMap.jsx
Due: front

Center map on houses
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/NewAreaMap.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
