Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Fix apidoc build (#1807)
  .github/workflows/build-apidoc-documentation.yml
  package-lock.json
  package.json
  server/apidoc.json
  server/package-lock.json
  server/package.json
Due: server

Test with real devices
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/actions.js
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  front/src/routes/integration/all/tuya/setup-page/index.js
  server/services/tuya/lib/device/feature/tuya.categoryAndTypeMapping.js
  server/services/tuya/lib/device/feature/tuya.convertFeature.js
  server/services/tuya/lib/device/feature/type/index.js
  server/services/tuya/lib/device/feature/type/tuya.boolean.js
  server/services/tuya/lib/device/feature/type/tuya.enum.js
  server/services/tuya/lib/device/feature/type/tuya.integer.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.convertUnit.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.loadDevices.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.saveConfiguration.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/feature/tuya.convertUnit.test.js
  server/test/services/tuya/lib/device/feature/type/tuya.boolean.test.js
  server/test/services/tuya/lib/device/feature/type/tuya.enum.test.js
  server/test/services/tuya/lib/device/feature/type/tuya.integer.test.js
  server/utils/colors.js
Due: server, front

Fix test
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
  server/test/services/tuya/lib/tuya.saveConfiguration.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server

Fix
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
Due: front

Change translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add test
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
Due: server

prettier / eslint
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
Due: server

Fix test
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server

Scene: Add send camera image action (#1804)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  server/lib/device/camera/camera.getLiveImage.js
  server/lib/device/camera/index.js
  server/lib/device/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/device/camera/camera.getLiveImage.test.js
  server/test/lib/scene/actions/scene.action.sendCameraMessage.test.js
  server/utils/constants.js
Due: server, front

Fix bug on touch device
  front/src/routes/scene/edit-scene/index.js
Due: front

Fix description max input width
  front/src/routes/scene/edit-scene/style.css
Due: front

Google Home: Limit events (#1797)
  server/services/google-actions/lib/smarthome/googleActions.onExecute.js
  server/services/google-actions/lib/traits/googleActions.brightness.trait.js
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/services/google-actions/lib/traits/googleActions.onOff.trait.js
  server/services/google-actions/lib/traits/googleActions.openClose.trait.js
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
  server/test/services/google-actions/index.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.switch.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.color.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.curtain.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.shutter.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onExecute.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onQuery.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onSync.test.js
Due: server

Fix description width
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/style.css
Due: front

Add surface device feature
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Fix missing translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Change icon to crop
  front/src/utils/consts.js
Due: front

Add surface device feature (#1811)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Review event
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
  front/src/routes/integration/all/zwave-js-ui/discover-page/style.css
  server/services/zwave-js-ui/lib/commands/addNode.js
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/commands/removeNode.js
  server/services/zwave-js-ui/lib/commands/scanNetwork.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/events/nodeReady.js
  server/services/zwave-js-ui/lib/events/scanComplete.js
  server/services/zwave-js-ui/lib/utils/transformClasses.js
  server/test/services/zwave-js-ui/lib/nodesExpectedResult.json
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server, front

Review event
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
  server/services/zwave-js-ui/lib/events/nodeReady.js
Due: server, front

Upgrade hap-nodejs dep & add bridge reset
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/homekit/actions.js
  front/src/routes/integration/all/homekit/index.js
  front/src/routes/integration/all/homekit/style.css
  server/services/homekit/api/homekit.controller.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/index.js
  server/services/homekit/lib/resetBridge.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
Due: server, front

Add tests
  server/services/homekit/lib/resetBridge.js
  server/test/services/homekit/controllers/homekit.controller.test.js
  server/test/services/homekit/lib/resetBridge.test.js
Due: server

Fix display refresh bug on textWithVariablesInjected component
  front/src/components/scene/TextWithVariablesInjected.jsx
Due: front

Google Home: Should normalize brightness scale when controlling device with custom scale
  server/services/google-actions/lib/traits/googleActions.brightness.trait.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/sendState.js
  server/services/homekit/lib/utils.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
  server/test/services/homekit/lib/utils.test.js
  server/test/utils/device.test.js
  server/utils/device.js
Due: server

Fix tests
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.switch.test.js
Due: server

Add test on onQuery
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
Due: server

Fix after review
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/test/lib/device/device.get.test.js
Due: server, front

Fix label
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Change description
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
Due: front

Fix typo
  front/src/config/i18n/fr.json
Due: front

Fixing test and migration file - Add energy yesterday
  server/migrations/20230102171731-update-tasmota-energy-features.js
  server/services/tasmota/lib/features/energy.yesterday.js
  server/services/tasmota/lib/features/index.js
  server/test/services/tasmota/lib/device-creation/energy.json
  server/test/services/tasmota/lib/device-setValue/mqtt/tasmota.mqtt.setValue-energy.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/new-state/tasmota.mqtt.handleMessage.newState-energy.test.js
Due: server

Google Home: Should normalize brightness scale when controlling device with custom scale (#1813)
  server/services/google-actions/lib/traits/googleActions.brightness.trait.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/sendState.js
  server/services/homekit/lib/utils.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.switch.test.js
  server/test/services/homekit/lib/utils.test.js
  server/test/utils/device.test.js
  server/utils/device.js
Due: server

Dashboard: Add devices widget (#1803)
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/lib/device/device.get.js
  server/test/lib/device/device.get.test.js
  server/utils/constants.js
Due: server, front

Improve scene UI/UX with drag & drop / responsive improvements (#1802)
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/components/drag-and-drop/AutoScrollMobile.jsx
  front/src/components/drag-and-drop/style.css
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneCards.jsx
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/EmptyDropZone.jsx
  front/src/routes/scene/edit-scene/SceneActionsDropdown.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/style.css
  server/lib/scene/scene.duplicate.js
  server/lib/scene/scene.get.js
  server/migrations/20230511161620-description-scene.js
  server/models/scene.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.get.test.js
Due: server, front

Add HomeKit bridge reset button (#1812)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/homekit/actions.js
  front/src/routes/integration/all/homekit/index.js
  front/src/routes/integration/all/homekit/style.css
  server/services/homekit/api/homekit.controller.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/index.js
  server/services/homekit/lib/resetBridge.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/test/services/homekit/controllers/homekit.controller.test.js
  server/test/services/homekit/lib/resetBridge.test.js
Due: server, front

4.25.0
  package-lock.json
  package.json
Due: none

Fix square meter symbol in translations
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix m³
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix square meter symbol in translations (#1814)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Tests
  server/test/services/sunspec/lib/sunspec.connect.test.js
Due: server

Tests
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/sunspec/settings-page/SunSpecIPLine.jsx
  front/src/routes/integration/all/sunspec/settings-page/SunSpecIPRange.jsx
  front/src/routes/integration/all/sunspec/settings-page/SunSpecSettingsTab.jsx
  server/services/sunspec/lib/sunspec.connect.js
  server/services/sunspec/lib/sunspec.disconnect.js
  server/services/sunspec/lib/sunspec.getDevices.js
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/services/sunspec/lib/sunspec.scanNetwork.js
  server/services/sunspec/lib/utils/sunspec.ModbusClient.js
  server/test/services/sunspec/index.test.js
  server/test/services/sunspec/lib/sunspec.connect.test.js
  server/test/services/sunspec/lib/sunspec.disconnect.test.js
Due: server, front

Path conditions:
  server: any of: server
  front: any of: front
