Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Fix icon weather and debug mode
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/demo.json
Due: front

Add service management page Fixes #910
  front/src/actions/integration.js
  front/src/components/app.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-service/ServiceItem.jsx
  front/src/routes/settings/settings-service/ServicesPage.jsx
  front/src/routes/settings/settings-service/index.js
  server/api/controllers/service.controller.js
  server/api/routes.js
  server/lib/scene/scene.actions.js
  server/lib/service/index.js
  server/lib/service/service.getAll.js
  server/lib/service/service.start.js
  server/lib/service/service.startAll.js
  server/lib/service/service.stop.js
  server/test/controllers/service/service.controller.test.js
  server/test/controllers/service/service.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/lib/service/service.load.test.js
  server/test/lib/service/service.startAll.test.js
  server/test/lib/service/service.stop.test.js
  server/utils/constants.js
Due: server, front

fix(philips-hue): Use case where exception is thrown and no lights
  server/lib/device/light/light.command.js
  server/test/lib/device/light/light.command.test.js
Due: server

Add internal "created device" events Fixes #911
  server/lib/device/device.notify.js
  server/test/lib/device/device.notify.test.js
Due: server

Add internal "created device" events Fixes #911
  server/lib/device/device.create.js
  server/lib/device/device.destroy.js
  server/lib/device/device.notify.js
  server/lib/device/index.js
  server/lib/service/index.js
  server/lib/service/service.getServiceById.js
  server/lib/service/service.load.js
  server/lib/state/index.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.destroy.test.js
  server/test/lib/device/device.notify.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/utils/constants.js
Due: server

create edit box
  front/src/actions/dashboard/boxActions.js
  front/src/actions/dashboard/edit-boxes/editChartMultiFeatures.js
  front/src/actions/dashboard/edit-boxes/editDevicesInRoomChart.js
  front/src/components/boxs/chart-featue/ChartMultiFeaturesBox.jsx
  front/src/components/boxs/chart-featue/ChartPeriodSelector.jsx
  front/src/components/boxs/chart-featue/ChartSelector.jsx
  front/src/components/boxs/chart-featue/ChartTypeSelector.jsx
  front/src/components/boxs/chart-featue/EditChartMultiFeatures.jsx
  front/src/components/boxs/chart-featue/EditChartOneFeatures.jsx
  front/src/components/boxs/chart-featue/chart-box-config/chartConfig.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  server/models/dashboard.js
  server/utils/constants.js
Due: server, front

Update questions.fr.json
  server/config/brain/chat/questions.fr.json
Due: server

Chat: Custom response when turning on/off the lights and no lights has been found (#965)
  server/config/brain/light/answers.en.json
  server/config/brain/light/answers.fr.json
  server/lib/device/light/light.command.js
  server/test/lib/device/light/light.command.test.js
Due: server

Philips Hue: auto detect light type (#970)
  server/services/philips-hue/lib/light/light.getLights.js
Due: server

Fix translations
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix after atrovato review
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/openweather/lib/formatResults.js
Due: server, front

Add settings page to manage services (#973)
  front/src/actions/integration.js
  front/src/components/app.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-service/ServiceItem.jsx
  front/src/routes/settings/settings-service/ServicesPage.jsx
  front/src/routes/settings/settings-service/index.js
  server/api/controllers/service.controller.js
  server/api/routes.js
  server/lib/scene/scene.actions.js
  server/lib/service/index.js
  server/lib/service/service.getAll.js
  server/lib/service/service.start.js
  server/lib/service/service.startAll.js
  server/lib/service/service.stop.js
  server/test/controllers/service/service.controller.test.js
  server/test/controllers/service/service.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/lib/service/service.load.test.js
  server/test/lib/service/service.startAll.test.js
  server/test/lib/service/service.stop.test.js
  server/utils/constants.js
Due: server, front

Add Promise.map + try catch around single insert of event
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Due: server

4.0.1
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

poc v2
  front/src/actions/dashboard/boxes/chart-box-config/chartConfig.js
  front/src/actions/dashboard/boxes/chart-box-config/chartStyle.js
  front/src/actions/dashboard/boxes/chart.js
  front/src/actions/dashboard/edit-boxes/editChartMultiFeatures.js
  front/src/components/boxs/chart-featue/ChartMultiFeaturesBox.jsx
  front/src/components/boxs/chart-featue/ChartOneFeaturesBox.jsx
  front/src/components/boxs/chart-featue/ChartPeriodSelector.jsx
  front/src/components/boxs/chart-featue/ChartTypeSelector.jsx
  front/src/components/boxs/chart-featue/EditChartMultiFeatures.jsx
  front/src/components/boxs/chart-featue/EditChartOneFeatures.jsx
  front/src/components/boxs/chart-featue/chart-box-config/chartConfig.js
  front/src/components/boxs/chart-featue/chart-style/areaConfig.js
  front/src/components/boxs/chart-featue/chart-style/barConfig.js
  front/src/components/boxs/chart-featue/chart-style/lineConfig.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
Due: front

Add bluez sys deps
  docker/Dockerfile.buildx
Due: none

add demo
  front/src/config/demo.json
Due: front

chore: Add node/npm engines in package.json
  front/package.json
  package.json
  server/package.json
Due: server, front

Add node/npm engines in package.json (#978)
  front/package.json
  package.json
  server/package.json
Due: server, front

Add bluez dependency to GitHub Actions Dockerfile (#977)
  docker/Dockerfile.buildx
Due: none

change all Promise.all in Promise.map
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Due: server

event selector should be unique
  server/services/caldav/lib/calendar/calendar.formaters.js
Due: server

Fix eslint
  server/services/caldav/lib/calendar/calendar.formaters.js
Due: server

Fix tests
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Notify services on device creation, update and deletion (#913)
  server/lib/device/device.create.js
  server/lib/device/device.destroy.js
  server/lib/device/device.notify.js
  server/lib/device/index.js
  server/lib/service/index.js
  server/lib/service/service.getServiceById.js
  server/lib/service/service.load.js
  server/lib/state/index.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.destroy.test.js
  server/test/lib/device/device.notify.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/utils/constants.js
Due: server

Add test on updateEvent
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Improve reliability of caldav service (#975)
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Add forecast, humidity, wind-speed to weather dashboard box (#961)
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/models/dashboard.js
  server/services/openweather/index.js
  server/services/openweather/lib/formatResults.js
  server/test/services/openweather/openweather.test.js
  server/test/services/openweather/weather-clear.json
  server/test/services/openweather/weather-clouds.json
  server/test/services/openweather/weather-drizzle.json
  server/test/services/openweather/weather-fog.json
  server/test/services/openweather/weather-other.json
  server/test/services/openweather/weather-rain.json
  server/test/services/openweather/weather-snow.json
  server/test/services/openweather/weather-thunderstorm.json
Due: server, front
