Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Run prettier front
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Fix linting server
  server/services/energy-monitoring/lib/energy-monitoring.getContracts.js
  server/services/energy-monitoring/package-lock.json
  server/services/energy-monitoring/package.json
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Due: server

Add unit tests energy monitoring
  server/services/energy-monitoring/lib/energy-monitoring.getContracts.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.getContracts.test.js
Due: server

Fix eslint errors front
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Due: front

Add function to calculate consumption 30 minutes from index
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
Due: server

Schedule the function to run every 30 minutes
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/utils/constants.js
Due: server, front

Add level matter index color
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add function to calculate all index from the beginning
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/utils/constants.js
Due: server, front

Fix prettier & eslint
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/index.js
Due: server

Add new route to get energy consumption
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/lib/device/energy-sensor/index.js
Due: server

4.63.1
  package-lock.json
  package.json
Due: none

Make the route multi device features
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
Due: server, front

Matter: Add Formaldehyde sensors
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
Due: server

add level sensor device state for scene
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelMatterSensorDeviceState.jsx
  front/src/utils/consts.js
  server/services/matter/utils/convertToGladysDevice.js
  server/utils/constants.js
Due: server, front

Matter: Add VOC sensor (#2358)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelMatterSensorDeviceState.jsx
  front/src/utils/consts.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/utils/constants.js
Due: server, front

Fix Gladys Gateway decrypt message error on expired messages
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Fix Gladys Gateway decrypt message error on expired messages (#2363)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Matter: Add Formaldehyde sensors (#2362)
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
Due: server

Fix liquid level display
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Due: front

Add resource with home structure
  server/services/mcp/lib/createServer.js
  server/services/mcp/lib/getAllTools.js
  server/services/mcp/lib/index.js
Due: server

Fix Liquid level status on dashboard (#2364)
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Due: front

4.64.0
  package-lock.json
  package.json
Due: none

Restore old behavior on device getFeaturesAggregates
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/lib/device/device.getDeviceFeaturesAggregatesMulti.js
Due: server

Add missing translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix eslint errors
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
Due: server

Fix energy price tests
  server/test/lib/energy-price/energy-price.test.js
Due: server

Add tests on getConsumptionByDates
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Due: server

Improve device.updateFeature + add unit tests
  server/lib/device/device.updateFeature.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.updateFeature.test.js
  server/test/services/energy-monitoring/contracts/contracts.calculateCost.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

Add tests on MQTT historical
  server/test/services/mqtt/lib/handleNewMessage.test.js
Due: server

Add test on energy-monitoring start/stop
  server/test/services/energy-monitoring/index.test.js
Due: server

Add tests to getEdfTempoHistorical
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getEdfTempoHistorical.test.js
Due: server

Add tests to saveMultipleHistoricalStates
  server/test/lib/device/device.saveMultipleHistoricalStates.test.js
Due: server

Add more tests to energy monitoring and getDeviceFeatureStates
  server/test/lib/device/device.getDeviceFeatureStates.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
Due: server

Add test to getRootElectricMeterDevice
  server/test/lib/device/energy-sensor/energy-sensor.getRootElectricMeterDevice.test.js
Due: server

calculateConsumptionFromIndex should use energy_parent_id to link index & consumption
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

Update calculateCostFrom to use energy_parent_id
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Due: server

Fix prettier
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
Due: server

Add new button to re-calculate consumption from index
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/device/device.getOldestStateFromDeviceFeatures.js
  server/lib/device/index.js
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
Due: server, front

Fix eslint
  server/lib/device/device.getOldestStateFromDeviceFeatures.js
Due: server

Add energy_parent_id to enedis features
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Due: front
