Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Raise ServiceNotConfigured if service is not configured
  server/services/nuki/lib/commands/nuki.start.js
  server/test/services/nuki/lib/commands/nuki.start.test.js
  server/test/services/nuki/mocks/nuki.mock.test.js
Due: server

Minor change
  front/src/routes/integration/all/nuki/discover-http/DiscoverTab.jsx
Due: front

Test if mqtt or http are configured, raise an error if not
  server/services/nuki/api/nuki.controller.js
  server/services/nuki/lib/http/nuki.http.connect.js
  server/services/nuki/lib/http/nuki.http.scan.js
  server/services/nuki/lib/mqtt/nuki.mqtt.scan.js
  server/test/services/nuki/api/nuki.controller.test.js
  server/test/services/nuki/lib/http/nuki.http.connect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
  server/test/services/nuki/mocks/nuki.mock.test.js
Due: server

prettier
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
Due: server

Changelog Nuki 1.01
  server/services/nuki/README.md
  server/services/nuki/package.json
Due: server

Code refactoring
  server/services/nuki/lib/mqtt/index.js
  server/services/nuki/lib/mqtt/nuki.mqtt.connect.js
  server/test/services/nuki/lib/commands/nuki.getStatus.test.js
  server/test/services/nuki/lib/commands/nuki.start.test.js
  server/test/services/nuki/lib/config/nuki.getConfiguration.test.js
  server/test/services/nuki/lib/config/nuki.saveConfiguration.test.js
  server/test/services/nuki/lib/device/nuki.postDelete.test.js
  server/test/services/nuki/lib/device/nuki.setValue.test.js
  server/test/services/nuki/lib/http/nuki.http.convertToDevice.test.js
  server/test/services/nuki/lib/http/nuki.http.getDiscoveredDevices.test.js
  server/test/services/nuki/lib/http/nuki.http.setValue.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-battery.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-state.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.connect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.disconnect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.deviceCreation.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.setValue.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.subscribeDeviceTopic.test.js
  server/test/services/nuki/lib/nuki.getDiscoveredDevices.test.js
  server/test/services/nuki/mocks/mqtt.mock.test.js
Due: server

prettier
  server/test/services/nuki/lib/config/nuki.saveConfiguration.test.js
  server/test/services/nuki/lib/http/nuki.http.convertToDevice.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.connect.test.js
  server/test/services/nuki/mocks/mqtt.mock.test.js
Due: server

typo
  server/services/nuki/README.md
Due: server

IMPROVEMENT : control API token in setup tab, if an error occured display an error message, then clear the api token
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
  server/services/nuki/README.md
  server/services/nuki/lib/http/nuki.http.connect.js
  server/test/services/nuki/lib/http/nuki.http.connect.test.js
Due: server, front

A way to pass Gladys overall tests (When gladys is not fully mocked)
  server/services/nuki/lib/mqtt/index.js
Due: server

Improve test coverage
  server/test/services/nuki/api/nuki.controller.test.js
  server/test/services/nuki/lib/http/nuki.http.scan.test.js
Due: server

Upgrade Matter.js to 0.16.8
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Due: server

Add de.json translations
  front/src/config/i18n/de.json
Due: front

Fix tests
  server/services/matterbridge/package.json
Due: server

add cloud discovery metadata
  front/src/config.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.connect.js
  server/services/tuya/lib/tuya.getConfiguration.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.loadDevices.js
  server/services/tuya/lib/tuya.saveConfiguration.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/lib/tuya.connect.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.getConfiguration.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
  server/test/services/tuya/lib/tuya.saveConfiguration.test.js
  server/utils/constants.js
Due: server, front

add local discovery metadata
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.discoverDevices.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/services/tuya/package-lock.json
  server/services/tuya/package.json
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Due: server, front

Corrige les URL de l'API locale et du WebSocket pour utiliser localhost
  front/src/config.js
Due: front

Fix temperature conversion for max value in Fahrenheit
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Due: front

add-bounds-for-average-room-temperature
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
Due: server

Add bounds for room temperature calculation
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
Due: server

typo again
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
Due: server

changes according to eslint comments
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
Due: server

prettier check
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
Due: server

feat: enhance Tuya device support with air conditioning and power meter models
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/discover-page/DiscoverTab.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/dps/air_conditioner.mapping.js
  server/services/tuya/lib/dps/air_conditioner.standard.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/models/air_conditioner.js
  server/services/tuya/lib/models/airton_air_conditioner.js
  server/services/tuya/lib/models/index.js
  server/services/tuya/lib/models/power_meter.js
  server/services/tuya/lib/models/switch.js
  server/services/tuya/lib/models/thermostat.js
  server/services/tuya/lib/tuya.discoverDevices.js
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
Due: server, front

refactor: remove air conditioning model and related mappings; simplify device conversion logic
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/dps/air_conditioner.mapping.js
  server/services/tuya/lib/dps/air_conditioner.standard.js
  server/services/tuya/lib/models/air_conditioner.js
  server/services/tuya/lib/models/airton_air_conditioner.js
  server/services/tuya/lib/models/index.js
  server/services/tuya/lib/models/power_meter.js
  server/services/tuya/lib/models/switch.js
  server/services/tuya/lib/models/thermostat.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
Due: server, front

feat: add local polling and scanning tests for TuyaHandler
  server/test/services/tuya/lib/controllers/tuya.controller.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server

refactor: simplifier la logique de poll local et améliorer la lisibilité du code
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/tuya.discoverDevices.js
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server, front

refactor: améliorer la logique de chargement des appareils Tuya et mettre à jour les tests associés
  server/services/tuya/lib/tuya.loadDevices.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.init.test.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server

fix: corriger la logique de pagination dans loadDevices et ajouter un champ d'erreur dans le payload de l'événement WebSocket
  server/services/tuya/lib/tuya.loadDevices.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/lib/tuya.init.test.js
Due: server

add favorites function
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
  front/src/style/index.css
Due: front

refactor: améliorer la logique de mise à jour des appareils découverts et ajouter des tests pour la gestion des appareils locaux
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/controllers/tuya.controller.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server

modify star width/height, adjust height of card with
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/style/index.css
Due: front

feat: ajouter des descriptions et des limitations pour la configuration Tuya dans les fichiers de langue
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
Due: front

feat: ajouter les champs Product ID et Product Key dans la configuration Tuya et mettre à jour les traductions
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/utils/tuya.constants.js
Due: server, front

Refactor UpdateDevice and UpdateDeviceFeature components: remove energy monitoring logic and related features for simplification
  front/src/components/device/UpdateDevice.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/index.js
  server/utils/constants.js
Due: server, front

Refactor gestion des fonctionnalités de suivi énergétique : mise à jour des traductions et ajustement des composants pour une meilleure intégration
  front/src/components/device/index.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Due: front

refactor: améliorer la journalisation dans le processus de scan local des appareils Tuya
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/tuya.localScan.js
  server/test/services/tuya/lib/tuya.localScan.test.js
Due: server

logger
  server/services/tuya/lib/tuya.localScan.js
Due: server

refactor: améliorer la gestion des erreurs du socket UDP dans le scan local
  server/services/tuya/lib/tuya.localScan.js
Due: server

refactor: mettre à jour la méthode de liaison des sockets pour permettre l'utilisation d'adresses spécifiques
  server/services/tuya/lib/tuya.localScan.js
  server/test/services/tuya/lib/tuya.localScan.test.js
Due: server
