Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

remove eudev from build deps
  docker/Dockerfile
Due: none

Update Dockerfile.buildx
  docker/Dockerfile.buildx
Due: none

typo + correct controller test
  front/src/routes/integration/all/stock-exchange/index.js
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/test/services/stock-exchange/controllers/stockexchange.controller.test.js
Due: server, front

Fix #821 - Switch to eudev instead of udev to fix usb service (#822)
  docker/Dockerfile
  docker/Dockerfile.buildx
Due: none

Fix sw.js headers cache control
  front/netlify.toml
Due: front

Fix sw.js headers cache control (#827)
  front/netlify.toml
Due: front

Mainly refactoring and error handling
  front/src/actions/dashboard/boxes/stockExchange.js
  front/src/components/boxs/stockexchange/StockExchangeBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/index.js
  front/src/routes/integration/all/stock-exchange/StockExchange.jsx
  front/src/routes/integration/all/stock-exchange/actions.js
  front/src/routes/integration/all/stock-exchange/index.js
  server/services/stock-exchange/README.md
  server/services/stock-exchange/index.js
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/services/stock-exchange/package.json
  server/test/services/stock-exchange/controllers/stockexchange.controller.test.js
Due: server, front

minor changes : typo + using a variable for feature
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/lib/events/rflink.message.js
Due: server

update serial version from 8.0.6 to 9.0.0
  server/services/rflink/package-lock.json
  server/services/rflink/package.json
Due: server

Minor change : Correct api annotation
  server/services/rflink/api/rflink.controller.js
Due: server

Correction on Milight : command has to be ON or OFF, Message requires to have a carriage return like in ObjToRF function
  server/services/rflink/api/rflink.parse.ObjToRF.js
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/lib/events/rflink.message.js
Due: server

Launch test : correct, and adapt
  server/services/index.js
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/lib/commands/rflink.connect.js
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/lib/index.js
  server/test/services/rflink/controllers/rflink.controller.test.js
Due: server

Add FUNDING.yml
  .github/FUNDING.yml
Due: none

Remove old URL to Gladys website
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-forgot-password/ForgotPassword.js
Due: front

Update README.md
  README.md
Due: none

Only build docker images on tags
  .circleci/config.yml
Due: none

Fix README images
  README.md
Due: none

Fix a typo in README (#830)
  README.md
Due: none

Remove old URL to Gladys website (#829)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-forgot-password/ForgotPassword.js
Due: front

Fix links to old documentation
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  front/src/components/documentation/DeviceConfigurationLink.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tasmota/TasmotaPage.js
Due: front

Remove URL to old documentation (#833)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  front/src/components/documentation/DeviceConfigurationLink.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tasmota/TasmotaPage.js
Due: front

Fix translations
  front/src/config/i18n/fr.json
Due: front

Fix logout
  front/src/components/app.jsx
Due: front

Fix typos
  front/src/config/i18n/fr.json
Due: front

Fix #810 : Add a link to Github when philips hue light is not integrated
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
  front/src/routes/integration/all/philips-hue/device-page/actions.js
Due: front

Remove test data
  front/src/routes/integration/all/philips-hue/device-page/actions.js
Due: front

Fix logout + fix multiple typos + Add link to Github issues when philips hue light is not integrated (#835)
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
Due: front

v4.0.0-beta-2
  package.json
Due: none

Fix circleCI config
  .circleci/config.yml
Due: none
