Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

remove job name and rule mapper
  server/lib/gateway/gateway.init.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.dailyUpdate.js
  server/lib/scene/scene.init.js
  server/lib/scheduler/scheduler.init.js
  server/lib/scheduler/scheduler.scheduleJob.js
  server/test/lib/gateway/gateway.backup.test.js
  server/test/lib/gateway/gateway.checkIfBackupNeeded.test.js
  server/test/lib/gateway/gateway.disconnect.test.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/lib/gateway/gateway.forwardDeviceStateToGoogleHome.test.js
  server/test/lib/gateway/gateway.forwardWebsockets.test.js
  server/test/lib/gateway/gateway.getBackups.test.js
  server/test/lib/gateway/gateway.getLatestGladysVersion.test.js
  server/test/lib/gateway/gateway.getUsersKeys.test.js
  server/test/lib/gateway/gateway.handleNewMessage.test.js
  server/test/lib/gateway/gateway.init.test.js
  server/test/lib/gateway/gateway.login.test.js
  server/test/lib/gateway/gateway.restoreBackup.test.js
  server/test/lib/gateway/gateway.restoreBackupEvent.test.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/scene.dailyUpdate.test.js
  server/test/lib/scene/scene.duplicate.test.js
  server/test/lib/scene/scene.init.test.js
  server/test/lib/scheduler/scheduler.init.test.js
  server/test/lib/scheduler/scheduler.scheduleJob.test.js
Due: server

Reduce scroll speed on mobile
  front/src/routes/dashboard/edit-dashboard/AutoScrollMobile.jsx
Due: front

Update wording
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Due: front

Update all tests with new brain
  server/lib/scene/scene.create.js
  server/lib/scene/scene.update.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/scene.create.test.js
  server/test/lib/scene/scene.dailyUpdate.test.js
  server/test/lib/scene/scene.destroy.test.js
  server/test/lib/scene/scene.duplicate.test.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.getBySelector.test.js
  server/test/lib/scene/scene.init.test.js
  server/test/lib/scene/scene.update.test.js
Due: server

Add toggle button in OpenAI integration + upgrade deps + new sentences + new i18n
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/index.js
  server/config/brain/camera/answers.en.json
  server/config/brain/camera/answers.fr.json
  server/lib/brain/index.js
  server/lib/message/message.create.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
  server/test/lib/gateway/gateway.init.test.js
  server/utils/constants.js
Due: server, front

Add explanation on chat page
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/ChatPage.js
Due: front

Fix brain end to end test
  server/test/lib/brain/brain.e2e.test.js
Due: server

Load gateway open ai status on page load
  front/src/routes/integration/all/openai/index.js
Due: front

Fix tests
  server/lib/scene/scene.update.js
  server/test/lib/scene/scene.update.test.js
Due: server

Add tests to scene.command
  server/lib/scene/scene.command.js
  server/test/lib/scene/scene.command.test.js
Due: server

Testing all cases for gateway & brain
  server/lib/brain/brain.getEntityIdByName.js
  server/test/lib/brain/brain.test.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
Due: server

Reply with custom message when OpenAI request fail
  server/config/brain/openai/answers.en.json
  server/config/brain/openai/answers.fr.json
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
Due: server

Add button click dropdown as scene trigger
  front/src/config/demo.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/BinaryDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
Due: front

Set loaded value
  front/src/config/demo.js
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
Due: front

Button click more friendly
  front/src/components/boxs/device-in-room/device-features/sensor-value/ButtonClickDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Split scene device triggers
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/BinaryDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DefaultDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PresenceSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ThresholdDeviceState.jsx
Due: front

Reduce scroll speed to 10
  front/src/routes/dashboard/edit-dashboard/AutoScrollMobile.jsx
Due: front

Improve dashboard re-order UX on mobile (#1707)
  front/src/components/boxs/baseEditBox.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/AutoScrollMobile.jsx
  front/src/routes/dashboard/edit-dashboard/BottomDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

Camera streaming first poc
  front/package-lock.json
  front/package.json
  front/src/actions/dashboard/boxes/camera.js
  front/src/components/boxs/camera/Camera.jsx
  server/config/config.js
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/index.js
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/stopStreaming.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Due: server, front

WIP: listen to all registered vacbot
  front/src/config/i18n/en.json
  server/services/ecovacs/lib/commands/ecovacs.listen.js
  server/services/ecovacs/lib/device/vacbot.poll.js
Due: server, front

4.17.0
  package-lock.json
  package.json
Due: none

Handle errors, fast connect/disconnect
  front/src/components/boxs/camera/Camera.jsx
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/startStreamingIfNotStarted.js
  server/services/rtsp-camera/lib/stopStreaming.js
Due: server, front

Destroy hls
  front/src/components/boxs/camera/Camera.jsx
Due: front

Fix bug on OpenAI screen when chat was never enabled
  front/src/routes/integration/all/openai/index.js
Due: front

Fix bug on OpenAI screen when chat was never enabled (#1709)
  front/src/routes/integration/all/openai/index.js
Due: front

4.17.1
  package-lock.json
  package.json
Due: none

Upgrade CHANGELOG
  CHANGELOG.md
Due: none

Tests
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/commands/getConfiguration.test.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Due: server

Prettier
  server/test/services/zwave-js-ui/lib/commands/getConfiguration.test.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

ESLint
  server/test/services/zwave-js-ui/lib/commands/getConfiguration.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
  server/test/services/zwave-js-ui/lib/commands/disconnect.test.js
  server/test/services/zwave-js-ui/zwave.test.js
Due: server

ESLInt
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/utils/splitNode.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server
