Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Update mcp lib
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Due: server

Improve code coverage
  server/test/services/mcp/lib/createServer.test.js
Due: server

FIx responsive on hiearchical list
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Make call on calculate from beginning async
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
Due: server

Only be able to select one cost device for now on dashboard
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
Due: front

Fix translation for one device
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Remove console.log
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
Due: server

Add function to get default meter device feature id
  server/lib/energy-price/index.js
  server/lib/energy-price/price.getDefaultElectricMeterFeatureId.js
  server/lib/index.js
  server/test/lib/energy-price/price.getDefaultElectricMeterFeatureId.test.js
Due: server

Display correct device features in UI
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Zigbee2mqtt integration should add energy features
  server/services/energy-monitoring/package-lock.json
  server/services/energy-monitoring/package.json
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/utils/device.js
Due: server

Fix tests
  server/test/utils/device.test.js
  server/utils/device.js
Due: server

Add typo tolerence for better selection if enum does not work
  server/services/mcp/index.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/findBySimilarity.js
  server/services/mcp/lib/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Added a few devices and a local endpoint. The local endpoint is, as of now, without much use - but soon will be.
  front/package-lock.json
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/utils/tuya.constants.js
Due: server, front

Added a switchable switch to a smart switch. Makes sense i guess...
  server/services/tuya/lib/device/tuya.deviceMapping.js
Due: server

Prettier and ESLint passed.
  server/services/tuya/lib/device/tuya.deviceMapping.js
Due: server

Yeah... i now know.. prettier can be run on both server and front.
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
Due: front

Improve mcp front
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mcp/actions.js
  front/src/routes/integration/all/mcp/index.js
  front/src/routes/integration/all/mcp/mcp.jsx
  server/services/mcp/lib/index.js
Due: server, front

Added constants for polling intervals
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/utils/constants.js
Due: server

Verify api key scope
  front/src/routes/integration/all/mcp/index.js
  server/api/setupRoutes.js
  server/lib/session/session.validateApiKey.js
  server/services/mcp/api/mcp.controller.js
  server/test/lib/session/session.test.js
Due: server, front

Improve code coverage
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/findBySimilarity.js
  server/test/lib/session/session.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Use array for scope verification in api key
  server/lib/session/session.validateApiKey.js
Due: server

Fix cost icon
  front/src/utils/consts.js
Due: front

Add MIT License file
  LICENSE
Due: none

Set DuckDB timezone to instance timezone
  server/lib/system/index.js
  server/lib/system/system.init.js
  server/lib/system/system.setDuckDbTimezone.js
  server/models/index.js
  server/test/lib/system/system.init.test.js
  server/test/lib/system/system.setDuckDbTimezone.test.js
Due: server

Fix timezone issue on grouped query for consumption
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
Due: server

Upgrade DuckDB to 1.4.1 to fix timezone bug
  server/package-lock.json
  server/package.json
Due: server

Fix linting
  server/lib/system/system.init.js
Due: server

Fix state context
  front/src/routes/integration/all/mcp/index.js
Due: front

Use session_id if no id
  front/src/routes/integration/all/mcp/MCPApiKeys.js
Due: front

Add new filter on device.get
  server/lib/device/device.get.js
  server/test/lib/device/device.get.test.js
Due: server

Get both ENERGY & SWITCH devices
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
Due: server

Fix Gladys Gateway tempo retrieval
  server/lib/gateway/gateway.getEdfTempoHistorical.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Due: server

Remove console.log
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
Due: server

Fix tests
  server/test/lib/gateway/gateway.getEdfTempoHistorical.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Due: server

New MCP server integration (#2348)
  front/src/assets/integrations/cover/mcp.jpg
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/mcp/MCPApiKeys.js
  front/src/routes/integration/all/mcp/index.js
  front/src/routes/integration/all/mcp/mcp.jsx
  server/api/controllers/session.controller.js
  server/api/setupRoutes.js
  server/lib/gateway/gateway.handleMCPMessage.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/index.js
  server/lib/session/session.createApiKey.js
  server/lib/session/session.get.js
  server/lib/session/session.validateApiKey.js
  server/services/index.js
  server/services/mcp/api/mcp.controller.js
  server/services/mcp/index.js
  server/services/mcp/lib/ServerResponseMock.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/createServer.js
  server/services/mcp/lib/findBySimilarity.js
  server/services/mcp/lib/formatValue.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/mcp.proxy.js
  server/services/mcp/lib/selectFeature.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
  server/test/lib/gateway/gateway.handleNewMessage.test.js
  server/test/lib/session/session.test.js
  server/test/services/checks.test.js
  server/test/services/mcp/controllers/mcp.controller.test.js
  server/test/services/mcp/index.test.js
  server/test/services/mcp/lib/ServerResponseMock.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/createServer.test.js
  server/test/services/mcp/lib/formatValue.test.js
  server/test/services/mcp/lib/mcp.proxy.test.js
Due: server, front

Matter: Add electricity consumption features (#2365)
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
Due: server

4.65.0
  package-lock.json
  package.json
Due: none

MCP: Fix schema build for device with no room
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

MCP: Fix schema build for device with no room (#2370)
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

4.65.1
  package-lock.json
  package.json
Due: none

Path conditions:
  server: any of: server
  front: any of: front
