Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Update test et fonctionnement
  server/index.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
Due: server

Update
  server/index.js
Due: server

Typo + Merge v4.0.4
  front/src/config/i18n/fr.json
Due: front

Remove secrets from PR workflow
  .github/workflows/docker-pr-build.yml
Due: none

npm ci
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Add ability to choise tag and platforms to build
  .github/workflows/docker-dev-build.yml
Due: none

fix merge
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Changement perf + foreach plante
  server/services/netatmo/lib/commands/netatmo.connect.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
Due: server

Change update ; Change get ; Front command
  server/services/netatmo/lib/commands/netatmo.connect.js
  server/services/netatmo/lib/commands/netatmo.getHealthyHomeCoachData.js
  server/services/netatmo/lib/commands/netatmo.getHomeData.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
  server/services/netatmo/lib/commands/netatmo.getStationsData.js
  server/services/netatmo/lib/commands/netatmo.getThermostatsData.js
  server/services/netatmo/lib/commands/update/netatmo.updateCamera.js
  server/services/netatmo/lib/commands/update/netatmo.updateNHC.js
  server/services/netatmo/lib/commands/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/commands/update/netatmo.updateWeatherStation.js
  server/services/netatmo/lib/constants.js
  server/services/netatmo/lib/event/netatmo.newValueCamera.js
  server/services/netatmo/lib/event/netatmo.newValueHomeCoach.js
  server/services/netatmo/lib/event/netatmo.newValueStation.js
  server/services/netatmo/lib/event/netatmo.newValueThermostat.js
  server/services/netatmo/lib/event/netatmo.newValueValve.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateNetatmo.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
Due: server

Box Humidity in Room
  front/src/actions/dashboard/boxes/humidityInRoom.js
  front/src/actions/dashboard/edit-boxes/editHumidityInRoom.js
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
Due: front

fix naming error
  server/utils/constants.js
Due: server

Eslint ; Prettier ; Front command modify
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/CommandDeviceFeature.jsx
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
  server/services/netatmo/lib/constants.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateNetatmo.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
Due: server, front

Test a jour
  server/services/netatmo/lib/event/netatmo.newValueSmokeDetector.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/test/services/netatmo/data/homeData.json
  server/test/services/netatmo/lib/commands/netatmo.getHomeStatusData.test.js
  server/test/services/netatmo/lib/commands/netatmo.pollManual.test.js
Due: server

Oubli du fichier netatmoUpdateThersotat test
  server/test/services/netatmo/lib/update/netatmo.updateThermsotat.test.js
Due: server

Use variable only when ready
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Due: front

Use tagify directly instead of the react version
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Due: front

Add test to message sending with variables
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Fix tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Optimize code & fix replaceAll bug
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Due: front

Add test on camera
  server/test/services/netatmo/lib/commands/netatmo.pollManual.test.js
  server/test/services/netatmo/lib/update/netatmo.updateCamera.test.js
Due: server

Update test prettier eslint
  server/test/services/netatmo/lib/commands/netatmo.pollManual.test.js
  server/test/services/netatmo/lib/update/netatmo.updateCamera.test.js
Due: server

Try with a js script to create area. Correct the after creation update.
  front/src/routes/map/Area.jsx
  front/src/routes/map/Map.jsx
  front/src/routes/map/index.jsx
Due: front

Eslint ; Prettier ; Tests
  server/package-lock.json
  server/package.json
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
  server/test/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNHC.test.js
  server/test/services/netatmo/lib/update/netatmo.updateWeatherStation.test.js
  server/test/utils/device.test.js
  server/utils/device.js
Due: server

re Eslint ; Prettier ; Tests
  package-lock.json
  package.json
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/test/services/netatmo/lib/update/netatmo.updateCamera.test.js
  server/test/services/netatmo/lib/update/netatmo.updateWeatherStation.test.js
  server/test/utils/device.test.js
Due: server

fix review changes asked
  front/src/actions/dashboard/boxes/health.js
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/routes/integration/all/withings/WithingsPage.jsx
  front/src/routes/integration/all/withings/device-page/Device.jsx
  server/api/controllers/oauth2.controller.js
  server/lib/device/device.create.js
  server/lib/device/device.saveHistoricalState.js
  server/lib/oauth2/oauth2.executeQuery.js
  server/services/withings/lib/index.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/test/services/withings/lib/withings.handler.test.js
Due: server, front

Eslint ; Prettier ; Tests
  server/package.json
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/test/utils/device.test.js
Due: server

Eslint ; Prettier
  server/test/utils/device.test.js
Due: server

i18n
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Update test
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/test/services/netatmo/lib/commands/netatmo.pollManual.test.js
Due: server

Update
  server/services/netatmo/lib/index.js
  server/test/services/netatmo/lib/commands/netatmo.pollManual.test.js
Due: server

Fix a lot of eslint warning
  front/src/actions/gatewayLinkUser.js
  front/src/actions/integration.js
  front/src/actions/login/loginGateway.js
  front/src/actions/main.js
  front/src/actions/profile.js
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/routes/gateway-forgot-password/index.js
  front/src/routes/gateway-setup/index.js
  front/src/routes/integration/all/tasmota/TasmotaDeviceBox.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/settings/settings-system/index.js
  front/src/routes/signup-gateway/index.js
  front/src/utils/DemoHttpClient.js
Due: front

Create new page discovery devices netatmo + Dashboard date/hour last image cam + Modify save state in db if new value equal last value ; Eslint + Prettier + Test
  front/src/actions/dashboard/boxes/camera.js
  front/src/components/app.jsx
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoPage.js
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-device/FoundDevices.jsx
  front/src/routes/integration/all/netatmo/discover-device/actions.js
  front/src/routes/integration/all/netatmo/discover-device/index.js
  front/src/routes/integration/all/netatmo/discover-device/style.css
  front/src/routes/integration/all/netatmo/setting/SettingTab.jsx
  front/src/utils/consts.js
  server/lib/device/camera/camera.get.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveLastStateChanged.js
  server/lib/device/device.saveState.js
  server/lib/device/index.js
  server/services/netatmo/lib/event/netatmo.newValueThermostat.js
  server/services/netatmo/lib/event/netatmo.newValueValve.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateNetatmo.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/device/device.saveLastStateChanged.test.js
  server/test/lib/device/device.saveState.test.js
  server/test/services/netatmo/lib/commands/netatmo.pollManual.test.js
  server/utils/constants.js
Due: server, front

Forget delete .only on test
  server/test/lib/device/device.saveLastStateChanged.test.js
  server/test/lib/device/device.saveState.test.js
  server/test/services/netatmo/lib/commands/netatmo.pollManual.test.js
Due: server

fix review comment in test
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/test/services/withings/lib/withings.handler.test.js
Due: server

update
  server/services/netatmo/lib/commands/netatmo.connect.js
Due: server

Prettier eslint
  server/services/netatmo/lib/commands/netatmo.connect.js
Due: server

Fix tagify behavior
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Due: front

Modify tests
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/routes/integration/all/netatmo/device-page/FoundDevices.jsx
  front/src/routes/integration/all/netatmo/discover-device/DiscoverTab.jsx
  front/src/routes/integration/all/netatmo/discover-device/style.css
  front/src/routes/integration/all/netatmo/setting/EmptyState.jsx
  server/lib/device/device.saveState.js
  server/services/netatmo/lib/event/netatmo.newValueThermostat.js
  server/services/netatmo/lib/event/netatmo.newValueValve.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
  server/services/netatmo/lib/utils/device.js
  server/test/controllers/system/system.controller.test.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/device/device.saveState.test.js
  server/test/lib/system/system.shutdown.test.js
  server/test/services/netatmo/lib/update/netatmo.updateCamera.test.js
  server/test/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNHC.test.js
  server/test/services/netatmo/lib/update/netatmo.updateThermsotat.test.js
  server/test/services/netatmo/lib/update/netatmo.updateWeatherStation.test.js
Due: server, front

Modify tests
  server/test/lib/system/system.shutdown.test.js
Due: server

Modify tests
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/routes/integration/all/netatmo/device-page/FoundDevices.jsx
  front/src/routes/integration/all/netatmo/discover-device/style.css
Due: front
