Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Translations
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Prettier
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix typo in Gladys Plus in FR (#1510)
  front/src/config/i18n/fr.json
Due: front

Avoid re-login on cypress
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/plugins/index.js
  front/cypress/support/commands.js
Due: front

Upgrade cypress
  front/package-lock.json
  front/package.json
Due: front

Upgrade Cypress to 9.5 (#1488)
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/plugins/index.js
  front/cypress/support/commands.js
  front/package-lock.json
  front/package.json
Due: front

Fix based on review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Fix Zigbee2mqtt click button mapping (#1506)
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
Due: server

Add more categories/types of devices + new units (#1479)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Map features on properties
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server

Revert "Map features on properties"
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server

4.8.4
  package-lock.json
  package.json
Due: none

Upgrade CHANGELOG
  CHANGELOG.md
Due: none

Clean NaN values in device feature states aggregate table
  server/migrations/20220503155531-clean-nan-device-states-aggregate.js
Due: server

Clean NaN values in device feature states aggregate table (#1513)
  server/migrations/20220503155531-clean-nan-device-states-aggregate.js
Due: server

Add kVA and mapping
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Due: server, front

remove deprecated demo.json
  front/src/config/demo.json
Due: front

Reorder forgot password
  front/src/routes/login/LoginPage.jsx
Due: front

Add articles to README
  README.md
Due: none

Gladys Plus should upload backups in several chunks
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.downloadBackup.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.test.js
  server/utils/readChunk.js
Due: server

Display Gladys Plus backups in background jobs
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/gateway.controller.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/utils/constants.js
Due: server, front

Fix tests
  server/test/lib/gateway/gateway.test.js
Due: server

z2m reversed binary
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/test/services/zigbee2mqtt/exposes/binaryType.test.js
Due: server

fix merge error
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

fix cypress
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Due: front

fix cypress
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListNoDevice.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Due: front

Zigbee2mqtt fix reversed binary (#1517)
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/test/services/zigbee2mqtt/exposes/binaryType.test.js
Due: server

Redirect to background jobs after backup
  front/src/actions/gateway.js
Due: front

4.8.5
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix max body size chunk
  server/package-lock.json
  server/package.json
Due: server

Should upload backup only at night from 0 to 2 AM
  server/config/scheduler-jobs.js
  server/lib/gateway/gateway.checkIfBackupNeeded.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/test/lib/gateway/gateway.test.js
Due: server

Remove backup at startup
  server/lib/gateway/gateway.init.js
Due: server

Fix linting
  server/lib/gateway/gateway.init.js
Due: server

Gladys Plus should upload backups in several chunks (#1519)
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/gateway.controller.js
  server/config/scheduler-jobs.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.checkIfBackupNeeded.js
  server/lib/gateway/gateway.downloadBackup.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.test.js
  server/utils/constants.js
  server/utils/readChunk.js
Due: server, front

Display 2FA secret in Gladys Plus configure 2FA screen
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-configure-two-factor/ConfigureTwoFactorForm.js
  front/src/routes/gateway-configure-two-factor/index.js
Due: front

Upgrade front Eslint configuration
  front/.eslintrc.json
  front/package-lock.json
  front/package.json
Due: front

Remove IE11 and old safari
  front/.eslintrc.json
  front/package.json
Due: front

Path conditions:
  server: any of: server
  front: any of: front
