Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Fix ESLint
  server/services/zwave/lib/comClass/switchMultilevelCommandClass.js
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/services/zwave/lib/utils/getMode.js
  server/test/services/zwave/lib/comClass/switchMultilevelCommandClass.test.js
  server/test/services/zwave/lib/utils/getMode.test.js
Due: server

Just implofy a log
  server/services/zwave/lib/commands/zwave.setValue.js
Due: server

First step to manage zWave Dimmers
  front/src/components/app.jsx
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/services/zwave/lib/utils/getMode.js
  server/services/zwave/package-lock.json
Due: server, front

Use command class objects for getNodes
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
Due: server

getMode tests
  server/test/services/zwave/lib/utils/getMode.test.js
Due: server

Prettier
  server/services/zwave/lib/comClass/defaultCommandClass.js
  server/services/zwave/lib/comClass/factory.js
  server/services/zwave/lib/comClass/switchMultilevelCommandClass.js
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/services/zwave/lib/utils/getMode.js
  server/test/services/zwave/lib/comClass/defaultCommandClass.test.js
  server/test/services/zwave/lib/comClass/factory.test.js
  server/test/services/zwave/lib/comClass/switchMultilevelCommandClass.test.js
  server/test/services/zwave/lib/events/zwave.valueChanged.test.js
  server/test/services/zwave/lib/utils/getMode.test.js
Due: server

MultilevelDevice feature
  front/src/actions/device.js
  front/src/components/app.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueChanged.js
Due: server, front

Refactoring transformations/normalizations and using inheritance for CommandClass objects
  server/services/zwave/lib/comClass/defaultCommandClass.js
  server/services/zwave/lib/comClass/factory.js
  server/services/zwave/lib/comClass/switchMultilevelCommandClass.js
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/utils/bindValue.js
  server/services/zwave/lib/utils/valueBinders.js
  server/test/services/zwave/lib/comClass/defaultCommandClass.test.js
  server/test/services/zwave/lib/comClass/switchMultilevelCommandClass.test.js
  server/test/services/zwave/lib/utils/valueBinders.test.js
Due: server

Intermediate useless commit
  server/services/zwave/lib/comClass/switchMultilevelCommandClass.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/test/services/zwave/lib/comClass/switchMultilevelCommandClass.test.js
  server/test/services/zwave/lib/utils/getMode.test.js
Due: server

Remove unused index for feature
  server/services/zwave/lib/constants.js
Due: server

zWave - Refactoring value changed handler. Introducing command class objects (to spread in other functions)
  server/services/zwave/lib/comClass/defaultCommandClass.js
  server/services/zwave/lib/comClass/factory.js
  server/services/zwave/lib/comClass/switchMultilevelCommandClass.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/test/services/zwave/lib/comClass/defaultCommandClass.test.js
  server/test/services/zwave/lib/comClass/factory.test.js
  server/test/services/zwave/lib/comClass/switchMultilevelCommandClass.test.js
  server/test/services/zwave/lib/events/zwave.valueChanged.test.js
  server/test/services/zwave/lib/zwaveManager.test.js
Due: server

MinMax dynamic for dimmers
  front/src/actions/device.js
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  server/services/zwave/lib/comClass/defaultCommandClass.js
  server/services/zwave/lib/comClass/switchMultilevelCommandClass.js
  server/services/zwave/lib/commands/zwave.getNodes.js
Due: server, front

Increase before/beforeEach timeout
  server/test/bootstrap.test.js
Due: server

Fix tests: stop using global sinon in caldav tests
  server/test/services/caldav/index.test.js
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
  server/test/services/caldav/lib/config/index.test.js
Due: server

Fix race condition
  server/lib/system/system.exec.js
  server/services/mqtt/lib/saveConfiguration.js
Due: server

Improve MQTT error handling in UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
Due: front

Add more timeout to mqtt.saveConfiguration tests
  server/test/services/mqtt/lib/saveConfiguration.test.js
Due: server

Fix system.exec test
  server/test/lib/system/DockerodeMock.test.js
Due: server

Add more timout to tests
  server/test/services/mqtt/lib/installContainer.test.js
Due: server

v4.0.0-beta-9
  package.json
Due: none

Fix #666 : Be able to select device features in the device in room box
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/actions/dashboard/edit-boxes/editDevicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/EditAddBoxButton.jsx
  server/models/dashboard.js
Due: server, front

Fix #666 : Be able to select device features in the device in room box (#848)
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/actions/dashboard/edit-boxes/editDevicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/EditAddBoxButton.jsx
  server/models/dashboard.js
Due: server, front

Fix #758 : Improve device feature picker in MQTT UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/utils/constants.js
Due: server, front

Fix linting
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Due: front

Fix #758 : Improve device feature picker in MQTT UI (#849)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/utils/constants.js
Due: server, front

v4.0.0-beta-10
  package.json
Due: none

Fix DeviceInRoom bug
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
Due: front

v4.0.0-beta-11
  package.json
Due: none

Replace react-select
  front/package-lock.json
  front/package.json
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/form/Select.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/style/index.css
Due: front

Disable html select usage
  front/.eslintrc.json
Due: front

Add required capability
  front/src/components/form/Select.jsx
Due: front

Custom select fr
  front/src/config/i18n/fr.json
Due: front

Path conditions:
  server: any of: server
  front: any of: front
