Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Remove .only
  server/test/lib/scene/scene.executeSingleAction.test.js
Due: server

Add more tests to executeSingleAction
  server/test/lib/scene/scene.executeSingleAction.test.js
Due: server

Scenes: Add turnOn/Off the Switches function (#862)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/lib/scene/scene.executeSingleAction.test.js
  server/utils/constants.js
Due: server, front

v4.0.0-beta-13
  package.json
Due: none

Revert package-lock.json
  server/package-lock.json
Due: server

Listen to MQTT to change user position
  server/services/index.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
Due: server

Build Docker image on tag latest & v4 (#643)
  .circleci/build-image.sh
  .circleci/config.yml
  .circleci/load_env.sh
Due: none

v4.0.0-beta-14
  package.json
Due: none

v4.0.0-beta.15
  package.json
Due: none

Fix DeviceInRoom same feature bug
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
Due: front

Fix #875 : Add CLA60 TW OSRAM model
  server/services/philips-hue/lib/light/light.getLights.js
  server/test/services/philips-hue/lights.json
Due: server

Fix #865 and #877 : Add LLC020 and LWG001 models
  server/services/philips-hue/lib/light/light.getLights.js
  server/test/services/philips-hue/lights.json
Due: server

Create Slack Service
  .gitignore
  front/src/assets/integrations/cover/slack.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/slack/Slack.jsx
  front/src/routes/integration/all/slack/actions.js
  front/src/routes/integration/all/slack/index.js
  server/lib/user/index.js
  server/lib/user/user.getBySlackUserId.js
  server/migrations/TEMP-update-user.js
  server/models/user.js
  server/services/index.js
  server/services/slack/api/slack.controller.js
  server/services/slack/index.js
  server/services/slack/lib/index.js
  server/services/slack/lib/message.connect.js
  server/services/slack/lib/message.disconnect.js
  server/services/slack/lib/message.getCustomLink.js
  server/services/slack/lib/message.linkUser.js
  server/services/slack/lib/message.new.js
  server/services/slack/lib/message.send.js
  server/services/slack/package.json
  server/test/services/slack/SlackApiMock.test.js
  server/test/services/slack/lib/messageHandler.test.js
Due: server, front

Fix DeviceInRoom same feature bug (#876)
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
Due: front

Add Philips Hue CLA60 TW OSRAM, LLC020 and LWG001 models (#878)
  server/services/philips-hue/lib/light/light.getLights.js
  server/test/services/philips-hue/lights.json
Due: server

Create a Owntrack service, handle mqtt message specific to owntracks + tests (to be continued)
  server/services/index.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/services/owntracks/index.js
  server/services/owntracks/lib/connect.js
  server/services/owntracks/lib/disconnect.js
  server/services/owntracks/lib/handleMqttMessage.js
  server/services/owntracks/lib/index.js
  server/services/owntracks/package.json
  server/test/services/owntracks/index.test.js
  server/test/services/owntracks/lib/connect.test.js
  server/test/services/owntracks/lib/disconnect.test.js
  server/test/services/owntracks/lib/handleMqttMessage.test.js
  server/test/services/owntracks/owntracks.mock.test.js
Due: server

improve test and find a finest way to update location
  server/services/owntracks/index.js
  server/services/owntracks/lib/handleMqttMessage.js
  server/test/services/owntracks/lib/handleMqttMessage.test.js
Due: server

Improve open in new tab
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Bluetooth: fix random test conflicted with caldav
  server/test/services/bluetooth/lib/commands/bluetooth.connectDevices.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.getDiscoveredDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.getDiscoveredDevices.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.getStatus.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.poll.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.readDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.start.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.writeDevice.test.js
  server/test/services/bluetooth/lib/events/bluetooth.discover.test.js
  server/test/services/bluetooth/lib/events/bluetooth.scanStart.test.js
  server/test/services/bluetooth/lib/events/bluetooth.scanStop.test.js
  server/test/services/bluetooth/lib/events/bluetooth.stateChange.test.js
  server/test/services/bluetooth/lib/utils/bluetooth.connect.test.js
  server/test/services/caldav/lib/calendar/formaters.test.js
Due: server

Bluetooth: improve front
  docker/Dockerfile
  front/src/components/app.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/BluetoothPage.js
  front/src/routes/integration/all/bluetooth/EmptyState.jsx
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDevice.jsx
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDeviceTab.jsx
  front/src/routes/integration/all/bluetooth/device-page/actions.js
  front/src/routes/integration/all/bluetooth/device-page/index.js
  front/src/routes/integration/all/bluetooth/device-page/style.css
  front/src/routes/integration/all/bluetooth/edit-page/index.js
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheral.jsx
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheralFeatures.jsx
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheralTab.jsx
  front/src/routes/integration/all/bluetooth/setup-page/Peripheral.jsx
  front/src/routes/integration/all/bluetooth/setup-page/PeripheralTab.jsx
  front/src/routes/integration/all/bluetooth/setup-page/actions.js
  front/src/routes/integration/all/bluetooth/setup-page/index.js
  front/src/routes/integration/all/bluetooth/setup-page/setup-peripheral/ConfigurePeripheral.jsx
  front/src/routes/integration/all/bluetooth/setup-page/setup-peripheral/ConfigurePeripheralForm.jsx
  front/src/routes/integration/all/bluetooth/setup-page/setup-peripheral/ConfigurePeripheralInput.jsx
  front/src/routes/integration/all/bluetooth/setup-page/setup-peripheral/index.js
  front/src/routes/integration/all/bluetooth/style.css
Due: front

Bluetooth: fix docker script
  .circleci/config.yml
  .circleci/load_env.sh
Due: none

Rollback circle changes
  .circleci/config.yml
  .circleci/load_env.sh
Due: none

Open link to external URL should not leak Gladys local URL (#890)
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix bug in zwave Device page when house list is not fully loaded
  front/src/routes/integration/all/zwave/node-page/Device.jsx
Due: front

Add missing translations
  front/src/config/i18n/fr.json
Due: front

Add more tests to z-wave
  server/test/services/zwave/lib/nodesData.json
  server/test/services/zwave/lib/nodesExpectedResult.json
  server/test/services/zwave/lib/zwaveManager.test.js
Due: server

Add test to zwave.getUnit
  server/test/services/zwave/lib/utils/getUnit.test.js
Due: server

Z-Wave: Add multi-instance devices support, comClass and units mapping, modify device view (#893)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/utils/getCategory.js
  server/services/zwave/lib/utils/getUnit.js
  server/test/services/zwave/lib/nodesData.json
  server/test/services/zwave/lib/nodesExpectedResult.json
  server/test/services/zwave/lib/utils/getUnit.test.js
  server/test/services/zwave/lib/zwaveManager.test.js
  server/utils/constants.js
Due: server, front
