Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

feat(dashboard): Horizon pass on the editor chrome and widget edit forms
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/clock/style.css
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/gauge/EditGaugeBox.jsx
  front/src/components/boxs/music/EditMusicBox.jsx
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/components/boxs/user-presence/EditUserPresenceBox.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/config/demo.js
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditPanel.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/style/index.css
Due: front

fix(dashboard): center the in-between '+' slot in the gap between widgets
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

feat(dashboard): editor dashboard list becomes a pill bar above the canvas
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/ReorderDashbordList.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/edit-dashboard/widgetDropPlacement.js
Due: front

fix(dashboard): repair the Cypress dashboard specs and bound the GetStarted probes
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/routes/dashboard/GetStarted.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

feat(history): dress the Activity page in the Horizon glass theme (#2958)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/style.css
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/style.css
Due: front

fix(homekit): two Gladys categories can share one HomeKit service (#2950)
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildAlarmAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/sanitizeName.js
  server/test/services/homekit/index.test.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildAlarmAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/createBridge.test.js
  server/test/services/homekit/lib/sanitizeName.test.js
Due: server

Message channel selector: only list configured messaging services (#2956)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  server/api/controllers/service.controller.js
  server/lib/service/service.getMessageServices.js
  server/services/telegram/index.js
  server/test/lib/service/service.test.js
  server/test/services/telegram/index.test.js
Due: server, front

feat(map): adapt the Plans page to the Horizon glass theme (#2961)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/auth/style.css
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/NewAreaMap.jsx
  front/src/routes/map/index.jsx
  front/src/routes/map/style.css
  front/src/routes/settings/style.css
Due: front

feat(calendar): adopt the Horizon glass theme on the calendar page (#2962)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/calendar/index.js
  front/src/routes/calendar/style.css
Due: front

refactor(devices): space the page wrapper with padding, like the other wallpaper pages
  front/src/routes/devices/DevicesPage.jsx
Due: front

refactor(devices): drop the page-scoped error alert rule, the theme covers it
  front/src/routes/devices/style.css
Due: front

feat(devices): bring the devices page onto the Horizon glass theme (#2959)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/style.css
Due: front

feat(integrations): dress the catalog and every integration sub-page in the Horizon glass theme (#2960)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/app.jsx
  front/src/components/layout/horizonIntegrations.css
  front/src/components/layout/index.jsx
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/all/external-integration/components/modal.css
  front/src/routes/integration/style.css
  front/src/style/index.css
Due: front

fix(mdns): apply the review fixes of the local network advertisement
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemMdns.jsx
  server/index.js
  server/lib/index.js
  server/lib/mdns/index.js
  server/lib/mdns/mdns.constants.js
  server/lib/mdns/mdns.handleQuery.js
  server/lib/mdns/mdns.restart.js
  server/lib/mdns/mdns.start.js
  server/lib/system/index.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.isOnHostNetwork.js
  server/lib/variable/variable.setValue.js
  server/test/lib/mdns/mdns.test.js
  server/test/lib/system/system.getInfos.test.js
  server/test/lib/system/system.isOnHostNetwork.test.js
  server/test/lib/variable/variable.setValue.test.js
  server/utils/constants.js
  server/utils/getServerPort.js
Due: server, front

fix(chat): keep the send button round on coarse pointers
  front/src/routes/chat/style.css
Due: front

feat(chat): dress the Discussion page in the Horizon glass theme (#2965)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/chat/ChatItems.js
  front/src/routes/chat/ChatPage.js
  front/src/routes/chat/style.css
Due: front

Follow the shared Horizon page convention on the scene pages
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/style.css
Due: front

feat(dashboard): sections with weighted column widths (normal / wide)
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/utils/dashboardSections.test.js
  server/utils/dashboardSections.js
Due: server, front

Rebuild the demo dashboards on the Horizon layout
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/home.js
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
Due: front

fix(mdns): dedupe addresses and declared services
  server/lib/external-integration/networkDiscovery/networkDiscovery.runScan.js
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanMdns.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Due: server

Sort a house's rooms alphabetically when expanding them
  server/lib/house/house.get.js
  server/test/lib/house/house.test.js
Due: server

fix(network_discovery): authorize the union of the declared UDP ports (#2970)
  docs/specs/external-integrations.md
  server/lib/external-integration/networkDiscovery/networkDiscovery.runScan.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Due: server

fix(demo): drop the no-op charging pill from the Energy quick actions
  front/src/config/demo/dashboards.js
Due: front

docs(network_discovery): clarify the per-entry port cap and the mdns/ssdp first-entry behavior
  docs/specs/external-integrations.md
Due: none

fix(mdns): apply the second round of review comments
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemMdns.jsx
  server/index.js
  server/lib/system/system.getInfos.js
  server/test/lib/mdns/mdns.test.js
  server/test/lib/system/system.getInfos.test.js
Due: server, front

fix(dashboard): review feedback on weighted column widths
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/utils/dashboardSections.js
  server/test/utils/dashboardSections.test.js
  server/utils/dashboardSections.js
Due: server, front

Refresh the demo instance and make it a showcase (#2931)
  front/src/config/demo.js
  front/src/config/demo/README.md
  front/src/config/demo/assets.js
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/history.js
  front/src/config/demo/home.js
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
  front/src/config/demo/scenes.js
  front/src/config/demo/system.js
  front/src/config/demo/weather.js
  front/src/routes/integration/all/xiaomi/edit-page/index.js
  front/src/utils/DemoHttpClient.js
Due: front

Address the Horizon review on the scene pages
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
Due: front

feat(dashboard): sections with weighted column widths (normal / wide) (#2969)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/utils/dashboardSections.test.js
  server/utils/dashboardSections.js
Due: server, front

feat(chat): sell Gladys Plus in the chat empty state
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/EmptyChat.jsx
  front/src/routes/chat/style.css
Due: front

fix: authorize the union of the declared UDP ports in network_discovery (#2970) (#2972)
  docs/specs/external-integrations.md
  server/lib/external-integration/networkDiscovery/networkDiscovery.runScan.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Due: server

System: advertise Gladys on the local network with mDNS (review fixes of #2953) (#2968)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemMdns.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/vite.config.mjs
  server/index.js
  server/lib/index.js
  server/lib/mdns/index.js
  server/lib/mdns/mdns.constants.js
  server/lib/mdns/mdns.getRecords.js
  server/lib/mdns/mdns.handleQuery.js
  server/lib/mdns/mdns.restart.js
  server/lib/mdns/mdns.start.js
  server/lib/mdns/mdns.stop.js
  server/lib/system/index.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.isOnHostNetwork.js
  server/lib/variable/variable.setValue.js
  server/test/lib/mdns/mdns.test.js
  server/test/lib/system/system.getInfos.test.js
  server/test/lib/system/system.isOnHostNetwork.test.js
  server/test/lib/variable/variable.setValue.test.js
  server/utils/constants.js
  server/utils/getServerPort.js
Due: server, front

docs: add vincentBesseau as contributor (#2966)
  .all-contributorsrc
  README.md
Due: none

fix(chat): dress the Gladys Plus upsell in the Horizon glass theme
  front/src/components/gateway/GladysPlusUpsellCard.jsx
  front/src/components/gateway/style.css
Due: front

Rebuild scene drag & drop on the pointer engine, gamify the empty state
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/assets/images/undraw_personalization.svg
  front/src/components/drag-and-drop/AutoScrollMobile.jsx
  front/src/components/drag-and-drop/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/EmptyState.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/EmptyDropZone.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/dragAndDropTypes.js
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/stepDrag.js
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/style.css
Due: front

feat(chat): refine the chat upsell feature copy
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add two-factor recovery codes support for Gladys Plus
  front/src/actions/gateway.js
  front/src/actions/login/loginGateway.js
  front/src/components/gateway/GatewayLoginForm.jsx
  front/src/components/gateway/GatewayRecoveryCodes.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-reset-password/ResetPassword.js
  front/src/routes/gateway-reset-password/ResetPasswordForm.js
  front/src/routes/gateway-reset-password/index.js
  front/src/routes/login-gateway/LoginGatewayPage.jsx
  front/src/routes/login-gateway/index.js
  front/src/routes/settings/settings-gateway/GatewayPage.jsx
  front/src/routes/settings/settings-gateway/index.js
  front/src/utils/consts.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.generateTwoFactorRecoveryCodes.js
  server/lib/gateway/gateway.loginTwoFactor.js
  server/lib/gateway/index.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.generateTwoFactorRecoveryCodes.test.js
  server/test/lib/gateway/gateway.login.test.js
Due: server, front

Enedis: support the new DataConnect 2026 consent callback (autorisation_id) (#2957)
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Due: front

Add "Last 3 days" interval to dashboard chart durations (#2933)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/mcp/lib/buildSchemas.js
Due: server, front

Path conditions:
  server: any of: server
  front: any of: front
