Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Docs: Add external integrations living spec and spec-first process (#2659)
  AGENTS.md
  docs/specs/external-integrations.md
Due: none

Dashboard: clarify that tablet mode applies to the current browser only (#2711)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/SetTabletMode.jsx
  front/src/routes/dashboard/style.css
Due: front

Front: fix CSS hot reload for preact-cli style CSS modules
  front/vite-plugins/preact-cli-css-modules.js
Due: front

Fix CSS modules HMR in dev mode (#2713)
  front/vite-plugins/preact-cli-css-modules.js
Due: front

Store: lower the index cache TTL from 12h to 30 minutes
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.init.js
  server/lib/external-integration/store/store.constants.js
  server/lib/external-integration/store/store.getIndex.js
Due: server

Telegram: add a button to disable the deprecated built-in integration
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/telegram/Telegram.jsx
  front/src/routes/integration/all/telegram/actions.js
  front/src/routes/integration/all/telegram/index.js
  server/services/telegram/api/telegram.controller.js
  server/services/telegram/lib/index.js
  server/services/telegram/lib/message.disable.js
  server/test/services/telegram/TelegramApiMock.test.js
  server/test/services/telegram/lib/messageHandler.test.js
Due: server, front

Integration store: add a refresh button to the catalog
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/all/external-integration/store-refresh/StoreRefreshButton.jsx
  front/src/routes/integration/index.js
Due: front

Chart: fix missing unit in the legend when the feature unit changed
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Due: server, front

Telegram: add tests for the disable route and the disable handler
  server/test/services/telegram/api/telegram.controller.test.js
  server/test/services/telegram/lib/messageDisable.test.js
Due: server

Integration store: move the refresh control to the end of the list
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/all/external-integration/store-refresh/StoreRefreshButton.jsx
  front/src/routes/integration/all/external-integration/store-refresh/StoreRefreshFooter.jsx
Due: front

Telegram: assert the bot polling is actually stopped on disable
  server/test/services/telegram/lib/messageDisable.test.js
Due: server

Keep the integration catalog page and its filters when going back
  front/src/routes/integration/all/external-integration/install-page/index.js
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
Due: front

Add ability to disable Telegram integration (#2715)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/telegram/Telegram.jsx
  front/src/routes/integration/all/telegram/actions.js
  front/src/routes/integration/all/telegram/index.js
  server/services/telegram/api/telegram.controller.js
  server/services/telegram/lib/index.js
  server/services/telegram/lib/message.disable.js
  server/test/services/telegram/TelegramApiMock.test.js
  server/test/services/telegram/api/telegram.controller.test.js
  server/test/services/telegram/lib/messageDisable.test.js
  server/test/services/telegram/lib/messageHandler.test.js
Due: server, front

Store refresh: report the outcome from the server, fix i18n escapes
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/store-refresh/StoreRefreshFooter.jsx
  front/src/routes/integration/index.js
  server/api/controllers/externalIntegration.controller.js
  server/lib/external-integration/index.js
  server/lib/external-integration/store/store.refreshCatalog.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/store/store.test.js
Due: server, front

Validate the order direction read from the URL
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
Due: front

Use live device feature units in chart boxes (#2716)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Due: server, front

External integration store: add a catalog refresh control and lower the cache TTL to 30 minutes (#2714)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/all/external-integration/store-refresh/StoreRefreshFooter.jsx
  front/src/routes/integration/index.js
  server/api/controllers/externalIntegration.controller.js
  server/lib/external-integration/externalIntegration.init.js
  server/lib/external-integration/index.js
  server/lib/external-integration/store/store.constants.js
  server/lib/external-integration/store/store.getIndex.js
  server/lib/external-integration/store/store.refreshCatalog.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/store/store.test.js
Due: server, front

Preserve integration catalog filters in URL for back navigation (#2717)
  front/src/routes/integration/all/external-integration/install-page/index.js
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
Due: front

Render the Markdown of the AI answers in the chat and on Telegram
  front/src/routes/chat/ChatItems.js
  front/src/routes/chat/ChatMessageText.jsx
  front/src/routes/chat/style.css
  front/src/utils/linkifyMessageText.js
  front/src/utils/markdownRenderer.js
  server/services/telegram/lib/markdownToTelegramHtml.js
  server/services/telegram/lib/message.send.js
  server/test/services/telegram/lib/markdownToTelegramHtml.test.js
  server/test/services/telegram/lib/messageSend.test.js
Due: server, front

Document that the message text relayed to external integrations is Markdown
  docs/specs/external-integrations.md
  front/src/utils/markdownRenderer.js
Due: front

Use Private Use Area characters for the code placeholders
  server/services/telegram/lib/markdownToTelegramHtml.js
  server/test/services/telegram/lib/markdownToTelegramHtml.test.js
Due: server

Drop the Markdown conversion from the deprecated in-core Telegram service
  server/services/telegram/lib/markdownToTelegramHtml.js
  server/services/telegram/lib/message.send.js
  server/test/services/telegram/lib/markdownToTelegramHtml.test.js
  server/test/services/telegram/lib/messageSend.test.js
Due: server

Render the Markdown of the AI answers in the chat (#2718)
  docs/specs/external-integrations.md
  front/src/routes/chat/ChatItems.js
  front/src/routes/chat/ChatMessageText.jsx
  front/src/routes/chat/style.css
  front/src/utils/linkifyMessageText.js
  front/src/utils/markdownRenderer.js
Due: front

fix(scene): address CodeRabbit review feedback
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/index.js
  front/src/routes/scene/runningInfo.js
  front/src/routes/scene/style.css
  server/test/lib/scene/scene.stop.test.js
Due: server, front

feat(scene): stop a running scene from the UI
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/RunningStatus.jsx
  front/src/routes/scene/RunningStopButton.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/style.css
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.executeActions.js
  server/lib/scene/scene.stop.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.stop.test.js
Due: server, front

feat(scene): show running scene executions in real time
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/RunningStatus.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/index.js
  front/src/routes/scene/runningInfo.js
  front/src/routes/scene/style.css
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.getRunning.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.execute.test.js
  server/utils/constants.js
Due: server, front

test(scene): cover stop paths and simplify execute
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/test/lib/scene/scene.stop.test.js
Due: server

feat(external-integration): disconnect an oauth2 account and polish the UI
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ActionsCard.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/device-page/DeviceTab.jsx
  server/api/controllers/externalIntegration.controller.js
  server/api/routes.js
  server/lib/external-integration/externalIntegration.disconnectOAuth.js
  server/lib/external-integration/index.js
Due: server, front

test(external-integration): cover the oauth2 disconnect
  server/test/lib/external-integration/externalIntegration.disconnectOAuth.test.js
Due: server

Translate external integrations spec to English
  docs/specs/external-integrations.md
Due: none

Add Zigbee2MQTT support for Tuya/Moes TS0601 garage door opener
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/test/services/zigbee2mqtt/utils/payloads/TS0601_garage_door_opener.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
Due: server

Zigbee2MQTT: add support for Tuya/Moes TS0601 garage door opener (#2721)
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/test/services/zigbee2mqtt/utils/payloads/TS0601_garage_door_opener.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
Due: server

Translate the external integrations spec to English (#2720)
  docs/specs/external-integrations.md
Due: none

Update AI chat models: remove outdated Scaleway models, add glm-5.2
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/controllers/message/message.test.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/utils/aiChatModels.test.js
  server/utils/aiChatModels.js
Due: server

Update AI chat models: remove outdated models, add glm-5.2 (#2723)
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/controllers/message/message.test.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/utils/aiChatModels.test.js
  server/utils/aiChatModels.js
Due: server

Force tool calls for device query and control AI intents
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Due: server

Force tool calls for scenes and web/time intents too
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
