Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Zigbee2mqtt: map probe_temperature with a dedicated temperature type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/utils/constants.js
Due: server, front

fix(i18n): Improved consistency between brain and UI by using Usted instead of tu
  server/config/brain/backup/answers.es.json
  server/config/brain/gateway/answers.es.json
Due: server

feat(device): add the grid-carbon-sensor device feature category
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/test/utils/constants.test.js
  server/utils/constants.js
Due: server, front

docs(alarm): specify per-user alarm codes
  AGENTS.md
  docs/specs/house-alarm-codes.md
  docs/specs/house-alarm-modes.md
Due: none

feat(alarm): manage alarm codes from the profile and the house settings
  front/src/actions/house.js
  front/src/components/house/AlarmCodes.jsx
  front/src/components/house/EditHouse.jsx
  front/src/components/house/EditHouseComponent.jsx
  front/src/config/demo/index.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/profile/AlarmCode.jsx
  front/src/routes/profile/DashboardProfilePage.jsx
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-house/HouseCard.jsx
  front/src/routes/settings/settings-house/index.js
Due: front

fix(device): answer the review on the grid-carbon-sensor category
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/fr.json
  server/utils/constants.js
Due: server, front

feat(alarm): let people check the code they are typing
  front/src/components/house/AlarmCodes.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/profile/AlarmCode.jsx
Due: front

fix(alarm): address the review of the per-user codes
  docs/specs/house-alarm-codes.md
  front/src/components/house/AlarmCodes.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/profile/AlarmCode.jsx
  server/lib/alarm-code/alarmCode.createGuest.js
  server/lib/alarm-code/alarmCode.destroy.js
  server/lib/alarm-code/alarmCode.serializeWrite.js
  server/lib/alarm-code/alarmCode.setForUser.js
  server/lib/alarm-code/index.js
  server/migrations/20260912090000-per-user-alarm-codes.js
  server/test/controllers/alarm-code/alarmCode.controller.test.js
  server/test/lib/alarm-code/alarmCode.createGuest.test.js
  server/test/lib/alarm-code/alarmCode.destroy.test.js
  server/test/migrations/20260912090000-per-user-alarm-codes.test.js
Due: server, front

fix(alarm): make guest-code revocation reachable from the keyboard
  front/src/components/house/AlarmCodes.jsx
  front/src/routes/profile/AlarmCode.jsx
Due: front

docs(alarm): record what the code layer deliberately leaves open
  docs/specs/house-alarm-codes.md
Due: none

feat(zigbee2mqtt): map the diagnostic features of smoke detectors
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SmokeSensorDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/SmokeSensorDeviceState.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/index.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/exposes/textType.js
  server/test/services/zigbee2mqtt/exposes/smokeSensorEnumType.test.js
  server/test/services/zigbee2mqtt/exposes/textType.test.js
  server/test/services/zigbee2mqtt/utils/payloads/HS1SA-E-PLUS.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/utils/constants.js
Due: server, front

feat(zigbee2mqtt): make the fault and mute states of smoke detectors binary features
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SmokeSensorMutedDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/BinaryDeviceState.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/textType.js
  server/test/services/zigbee2mqtt/exposes/smokeSensorEnumType.test.js
  server/test/services/zigbee2mqtt/exposes/textType.test.js
  server/test/services/zigbee2mqtt/utils/payloads/HS1SA-E-PLUS.json
  server/utils/constants.js
Due: server, front

feat(zigbee2mqtt): keep the detailed fault state of smoke detectors as text
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/textType.js
  server/test/services/zigbee2mqtt/exposes/textType.test.js
  server/test/services/zigbee2mqtt/utils/payloads/HS1SA-E-PLUS.json
  server/utils/constants.js
Due: server, front

fix(scenes): stop the binary condition from swallowing the category labels
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SmokeSensorContaminationDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SmokeSensorDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/BinaryDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/SmokeSensorContaminationDeviceState.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/textType.js
  server/test/services/zigbee2mqtt/exposes/smokeSensorEnumType.test.js
  server/test/services/zigbee2mqtt/utils/payloads/HS1SA-E-PLUS.json
  server/utils/constants.js
Due: server, front

feat(zigbee2mqtt): let Gladys hush a smoke detector's false alarm
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/test/services/zigbee2mqtt/utils/payloads/HS1SA-E-PLUS.json
Due: server

fix(smoke-sensor): give the alarm hush its own type instead of a switch
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/test/services/zigbee2mqtt/exposes/smokeSensorBinaryType.test.js
  server/test/services/zigbee2mqtt/utils/payloads/HS1SA-E-PLUS.json
  server/utils/constants.js
Due: server, front

fix(calendar): stop the dayjs timezone plugin from breaking the calendar
  front/.eslintrc.json
  front/src/components/boxs/edf-tempo/EdfTempo.jsx
  front/src/routes/calendar/index.js
Due: front

Draw the decimal/probe boundary in the spec, and map Tuya's alias
  docs/specs/water-heater.md
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
Due: server

docs(specs): split the external integrations spec into one file per section
  AGENTS.md
  docs/specs/camera-ptz-control.md
  docs/specs/device-migration.md
  docs/specs/external-integrations.md
  docs/specs/external-integrations/README.md
  docs/specs/external-integrations/a-architecture.md
  docs/specs/external-integrations/b01-data-model.md
  docs/specs/external-integrations/b02-supervisor.md
  docs/specs/external-integrations/b03-integration-auth.md
  docs/specs/external-integrations/b04-host-api.md
  docs/specs/external-integrations/b05-integration-websocket.md
  docs/specs/external-integrations/b06-command-routing.md
  docs/specs/external-integrations/b07-management-api.md
  docs/specs/external-integrations/b08-frontend.md
  docs/specs/external-integrations/b09-store.md
  docs/specs/external-integrations/b10-js-sdk.md
  docs/specs/external-integrations/b11-integration-template.md
  docs/specs/external-integrations/b12-documentation.md
  docs/specs/external-integrations/b13-tests.md
  docs/specs/external-integrations/b14-accepted-risks.md
  docs/specs/external-integrations/b15-communication-type.md
  docs/specs/external-integrations/b16-network-discovery.md
  docs/specs/external-integrations/b17-webhooks.md
  docs/specs/external-integrations/b18-weather-type.md
  docs/specs/external-integrations/b20-image-cleanup.md
  docs/specs/external-integrations/c00-conventions.md
  docs/specs/external-integrations/c01-manifest.md
  docs/specs/external-integrations/c02-host-api-conventions.md
  docs/specs/external-integrations/c03-host-api-endpoints.md
  docs/specs/external-integrations/c04-websocket-protocol.md
  docs/specs/external-integrations/c05-management-api.md
  docs/specs/external-integrations/c06-indexer-formats.md
  docs/specs/external-integrations/c07-container-descriptor.md
  docs/specs/external-integrations/c08-js-sdk-api.md
  docs/specs/external-integrations/verification.md
  docs/specs/integration-catalog-categories.md
  docs/specs/water-heater.md
Due: none

docs(specs): name the external-integration spec files by topic, not by number
  AGENTS.md
  docs/specs/camera-ptz-control.md
  docs/specs/external-integrations/README.md
  docs/specs/external-integrations/architecture.md
  docs/specs/external-integrations/capabilities/communication-type.md
  docs/specs/external-integrations/capabilities/network-discovery.md
  docs/specs/external-integrations/capabilities/weather-type.md
  docs/specs/external-integrations/capabilities/webhooks.md
  docs/specs/external-integrations/contracts/container-descriptor.md
  docs/specs/external-integrations/contracts/conventions.md
  docs/specs/external-integrations/contracts/host-api-conventions.md
  docs/specs/external-integrations/contracts/host-api-endpoints.md
  docs/specs/external-integrations/contracts/indexer-formats.md
  docs/specs/external-integrations/contracts/js-sdk-api.md
  docs/specs/external-integrations/contracts/management-api.md
  docs/specs/external-integrations/contracts/manifest.md
  docs/specs/external-integrations/contracts/websocket-protocol.md
  docs/specs/external-integrations/core/accepted-risks.md
  docs/specs/external-integrations/core/command-routing.md
  docs/specs/external-integrations/core/data-model.md
  docs/specs/external-integrations/core/documentation.md
  docs/specs/external-integrations/core/frontend.md
  docs/specs/external-integrations/core/host-api.md
  docs/specs/external-integrations/core/image-cleanup.md
  docs/specs/external-integrations/core/integration-auth.md
  docs/specs/external-integrations/core/integration-template.md
  docs/specs/external-integrations/core/integration-websocket.md
  docs/specs/external-integrations/core/js-sdk.md
  docs/specs/external-integrations/core/management-api.md
  docs/specs/external-integrations/core/store.md
  docs/specs/external-integrations/core/supervisor.md
  docs/specs/external-integrations/core/tests.md
  docs/specs/external-integrations/verification.md
  docs/specs/integration-catalog-categories.md
  docs/specs/water-heater.md
Due: none

docs(specs): split the external integrations spec into one file per topic (#3108)
  AGENTS.md
  docs/specs/camera-ptz-control.md
  docs/specs/device-migration.md
  docs/specs/external-integrations.md
  docs/specs/external-integrations/README.md
  docs/specs/external-integrations/architecture.md
  docs/specs/external-integrations/capabilities/communication-type.md
  docs/specs/external-integrations/capabilities/network-discovery.md
  docs/specs/external-integrations/capabilities/weather-type.md
  docs/specs/external-integrations/capabilities/webhooks.md
  docs/specs/external-integrations/contracts/container-descriptor.md
  docs/specs/external-integrations/contracts/conventions.md
  docs/specs/external-integrations/contracts/host-api-conventions.md
  docs/specs/external-integrations/contracts/host-api-endpoints.md
  docs/specs/external-integrations/contracts/indexer-formats.md
  docs/specs/external-integrations/contracts/js-sdk-api.md
  docs/specs/external-integrations/contracts/management-api.md
  docs/specs/external-integrations/contracts/manifest.md
  docs/specs/external-integrations/contracts/websocket-protocol.md
  docs/specs/external-integrations/core/accepted-risks.md
  docs/specs/external-integrations/core/command-routing.md
  docs/specs/external-integrations/core/data-model.md
  docs/specs/external-integrations/core/documentation.md
  docs/specs/external-integrations/core/frontend.md
  docs/specs/external-integrations/core/host-api.md
  docs/specs/external-integrations/core/image-cleanup.md
  docs/specs/external-integrations/core/integration-auth.md
  docs/specs/external-integrations/core/integration-template.md
  docs/specs/external-integrations/core/integration-websocket.md
  docs/specs/external-integrations/core/js-sdk.md
  docs/specs/external-integrations/core/management-api.md
  docs/specs/external-integrations/core/store.md
  docs/specs/external-integrations/core/supervisor.md
  docs/specs/external-integrations/core/tests.md
  docs/specs/external-integrations/verification.md
  docs/specs/integration-catalog-categories.md
  docs/specs/water-heater.md
Due: none

docs(spec): dashboard widgets declared by external integrations
  docs/specs/dashboard-flexible-layout-and-widgets.md
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
Due: none

docs(specs): specify scene triggers and actions declared by external integrations
  docs/specs/external-integrations/capabilities/scene-triggers-and-actions.md
Due: none

docs(spec): fold actions and live bindings into the widget design, add the content budget
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
Due: none

docs(spec): close the widget contracts raised in review
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
Due: none

docs(specs): tighten the scene triggers/actions contract after review
  docs/specs/external-integrations/capabilities/scene-triggers-and-actions.md
Due: none

docs(spec): write down the content response format and unify device references
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
Due: none

docs(spec): add the `provider` type for capability-only integrations
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  docs/specs/external-integrations/contracts/manifest.md
  docs/specs/integration-catalog-categories.md
Due: none

docs(specs): close the scene scope and the action pipeline gaps in the scene triggers/actions spec
  docs/specs/external-integrations/capabilities/scene-triggers-and-actions.md
Due: none

docs(specs): use the scalar clip_id output in the scene-action WebSocket example
  docs/specs/external-integrations/capabilities/scene-triggers-and-actions.md
Due: none

fix(calendar): stop the dayjs timezone plugin from breaking the calendar (#3107)
  front/.eslintrc.json
  front/src/components/boxs/edf-tempo/EdfTempo.jsx
  front/src/routes/calendar/index.js
Due: front

Zigbee2mqtt: map the ZLinky_TIC three-phase labels (SINSTS1, SMAXSN*, IINST1, IMAX1) (#3097)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/migrations/20260907000000-rename-zlinky-phase-1-features.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/migrations/20260907000000-rename-zlinky-phase-1-features.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/utils/constants.js
Due: server, front

fix(external-integration): widget review round — image bounds, provider type file, Cypress
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  docs/specs/external-integrations/capabilities/provider-type.md
  docs/specs/external-integrations/contracts/manifest.md
  docs/specs/integration-catalog-categories.md
  front/cypress/e2e/routes/dashboard/DashboardExternalWidgetBox.cy.js
  front/src/components/boxs/external-widget/ExternalWidgetBox.jsx
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.normalizeWidgetImage.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/test/controllers/externalIntegration/externalIntegration.widget.controller.test.js
  server/test/helpers/widgetImages.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.widgets.test.js
  server/test/lib/external-integration/externalIntegration.widgetImage.test.js
Due: server, front

fix(external-widget): show declared setting defaults in the box editor
  front/src/components/boxs/external-widget/EditExternalWidgetBox.jsx
Due: front

feat(external-widget): picker sections, normalized links, lifecycle cache rule
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  front/cypress/e2e/routes/dashboard/DashboardExternalWidgetBox.cy.js
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/external-widget/EditExternalWidgetBox.jsx
  front/src/components/boxs/selectBoxType.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/external-integration/externalIntegration.normalizeWidgetContent.js
  server/lib/external-integration/externalIntegration.widgetCache.js
  server/test/lib/external-integration/externalIntegration.normalizeWidgetContent.test.js
  server/test/lib/external-integration/externalIntegration.widgetContent.test.js
Due: server, front

fix(external-integrations): close the review gaps of the scene triggers/actions
  docs/specs/external-integrations/capabilities/scene-triggers-and-actions.md
  front/cypress/e2e/routes/scene/SceneExternalIntegration.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ExternalIntegrationAction.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/sceneIntegrations.js
  front/src/routes/scene/edit-scene/triggers/ExternalIntegrationTrigger.jsx
  server/lib/external-integration/externalIntegration.runSceneAction.js
  server/lib/external-integration/manifest.schema.json
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/external-integration/externalIntegration.sceneAction.test.js
  server/test/lib/scene/actions/scene.action.externalIntegrationSceneAction.test.js
  server/test/models/scene.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
Due: server, front

feat(external-integrations): name the scene variables by label, never by path
  docs/specs/external-integrations/capabilities/scene-triggers-and-actions.md
  front/cypress/e2e/routes/scene/SceneExternalIntegration.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/ExternalIntegrationAction.jsx
  front/src/routes/scene/edit-scene/triggers/ExternalIntegrationTrigger.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
