Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Backup screen: Add message when Gladys Plus is not connected (#1955)
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayNotConfigured.jsx
  front/src/routes/settings/settings-backup/index.js
Due: front

Scene: Add action "Send MQTT message" (#1945)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMqttMessage.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/utils/constants.js
Due: server, front

Philips Hue: Add documentation link (#1960)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/PhilipsHuePage.jsx
  front/src/routes/integration/all/philips-hue/device-page/index.js
Due: front

Scene: remove z-index style in SelectDeviceFeature (#1942)
  front/src/components/device/SelectDeviceFeature.css
  front/src/components/device/SelectDeviceFeature.jsx
Due: front

Fix test missing line
  server/test/lib/device/device.checkBatteries.test.js
Due: server

Add enabled
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/lib/device/device.checkBatteries.js
  server/migrations/20231115163530-default-system-variable-device-battery.js
  server/utils/constants.js
Due: server, front

Fix unit test
  server/seeders/20190227081700-device-feature.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/user/user.getByRole.test.js
Due: server

Use brain for message
  server/config/brain/battery-threshold/answers.en.json
  server/config/brain/battery-threshold/answers.fr.json
  server/config/scheduler-jobs.js
  server/lib/device/device.checkBatteries.js
Due: server

Fix null value input
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
Due: front

Change config system to box mode and change cron check device
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/routes/settings/settings-system/SettingsSystemContainers.jsx
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepAggregatedStates.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepDeviceHistory.jsx
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimeExpiryState.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimezone.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/scheduler-jobs.js
Due: server, front

Add warning system for battery level
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/scheduler-jobs.js
  server/lib/device/device.checkBatteries.js
  server/lib/device/index.js
  server/lib/index.js
  server/lib/user/index.js
  server/lib/user/user.getByRole.js
  server/utils/constants.js
Due: server, front

Remove disabled on input
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimeExpiryState.jsx
Due: front

Fix translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix review
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
Due: front

Eslint
  server/lib/device/device.checkBatteries.js
Due: server

Fix test
  server/test/lib/device/device.checkBatteries.test.js
Due: server

Fix fr.json
  front/src/config/i18n/fr.json
Due: front

Add system warning for battery level (#1953)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/routes/settings/settings-system/SettingsSystemContainers.jsx
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepAggregatedStates.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepDeviceHistory.jsx
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimeExpiryState.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimezone.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/brain/battery-threshold/answers.en.json
  server/config/brain/battery-threshold/answers.fr.json
  server/config/scheduler-jobs.js
  server/lib/device/device.checkBatteries.js
  server/lib/device/index.js
  server/lib/index.js
  server/lib/user/index.js
  server/lib/user/user.getByRole.js
  server/migrations/20231115163530-default-system-variable-device-battery.js
  server/seeders/20190227081700-device-feature.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/user/user.getByRole.test.js
  server/utils/constants.js
Due: server, front

Sonos Integration (#1949)
  front/src/assets/integrations/cover/sonos.jpg
  front/src/components/app.jsx
  front/src/components/boxs/music/EditMusicBox.jsx
  front/src/components/boxs/music/MusicBox.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/integration/all/sonos/SonosDeviceBox.jsx
  front/src/routes/integration/all/sonos/SonosPage.jsx
  front/src/routes/integration/all/sonos/device-page/DeviceTab.jsx
  front/src/routes/integration/all/sonos/device-page/EmptyState.jsx
  front/src/routes/integration/all/sonos/device-page/index.js
  front/src/routes/integration/all/sonos/device-page/style.css
  front/src/routes/integration/all/sonos/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/sonos/discover-page/EmptyState.jsx
  front/src/routes/integration/all/sonos/discover-page/index.js
  front/src/routes/integration/all/sonos/discover-page/style.css
  server/models/dashboard.js
  server/services/index.js
  server/services/sonos/api/sonos.controller.js
  server/services/sonos/index.js
  server/services/sonos/lib/index.js
  server/services/sonos/lib/sonos.init.js
  server/services/sonos/lib/sonos.onAvTransportEvent.js
  server/services/sonos/lib/sonos.onVolumeEvent.js
  server/services/sonos/lib/sonos.scan.js
  server/services/sonos/lib/sonos.setValue.js
  server/services/sonos/package-lock.json
  server/services/sonos/package.json
  server/services/sonos/utils/convertToGladysDevice.js
  server/test/services/sonos/api/sonos.controller.test.js
  server/test/services/sonos/index.test.js
  server/test/services/sonos/lib/sonos.init.test.js
  server/test/services/sonos/lib/sonos.onAvTransportEvent.test.js
  server/test/services/sonos/lib/sonos.onVolumeEvent.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
  server/utils/constants.js
Due: server, front

Fix threshold checkbox not clickable on scene trigger on device change (#1941)
  front/src/routes/scene/edit-scene/triggers/device-states/ThresholdDeviceState.jsx
Due: front

4.31.1
  package-lock.json
  package.json
Due: none

Fix z-index issue in only-continue-if selector in scene action (#1947)
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.css
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Due: front

Fix typo in french translations (#1950)
  front/src/config/i18n/fr.json
Due: front

Improve warning messages Gladys Plus (#1952)
  front/src/components/boxs/camera/Camera.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/UpgradePlan.jsx
  front/src/routes/settings/settings-backup/index.js
  front/src/routes/settings/settings-billing/GatewayBilling.jsx
  front/src/routes/settings/settings-billing/index.js
Due: front

Scene : Fix feedbacks on tag filtering (#1946)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
  server/lib/scene/scene.get.js
  server/lib/scene/scene.getTag.js
  server/package-lock.json
  server/package.json
  server/test/controllers/scene/scene.test.js
Due: server, front

add battery_low & tamper exposes
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

zigbee2mqtt: add voc_index expose
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Due: server, front

fix(docker): Node as first process
  docker/Dockerfile
  docker/Dockerfile.buildx
Due: none

eventLogPage file
  front/src/routes/event-log/EventLogPage.jsx
Due: front

test eventlogpage
  front/src/routes/event-log/EventLogPage.jsx
Due: front

test page
  front/src/routes/event-log/index.js
Due: front

add children
  front/src/routes/event-log/EventLogPage.jsx
Due: front

page avec coucou ok
  front/src/routes/event-log/index.js
Due: front

add style.css file
  front/src/routes/event-log/EventLogPage.jsx
  front/src/routes/event-log/style.css
Due: front

Event log table creation Added new model and migration
  server/lib/eventlog/index.js
  server/lib/index.js
  server/migrations/20231206091712-create-event-log.js
  server/migrations/20231206092537-create-event-log.js
Due: server

fixed double migration file
  server/migrations/20231206091712-create-event-log.js
Due: server
