Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Prettier
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
Due: server

Add Todoist APIs
  server/models/dashboard.js
  server/services/index.js
  server/services/todoist/api/todoist.controller.js
  server/services/todoist/index.js
  server/services/todoist/lib/index.js
  server/services/todoist/package-lock.json
  server/services/todoist/package.json
  server/utils/constants.js
Due: server

Add Todoist front-end components
  front/src/actions/dashboard/boxes/todoist.js
  front/src/actions/dashboard/edit-boxes/editTodoist.js
  front/src/assets/integrations/cover/todoist.jpg
  front/src/components/app.jsx
  front/src/components/boxs/todoist/EditTodoistBox.jsx
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/components/boxs/todoist/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/index.js
  front/src/config/integrations/tasks.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  front/src/routes/integration/all/todoist/Todoist.jsx
  front/src/routes/integration/all/todoist/actions.js
  front/src/routes/integration/all/todoist/index.js
Due: front

Handle Todoist task completion
  front/src/actions/dashboard/boxes/todoist.js
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/components/boxs/todoist/style.css
  front/src/config/i18n/fr.json
  server/services/todoist/api/todoist.controller.js
  server/services/todoist/index.js
Due: server, front

Fix Eslint and prettier issues
  front/src/actions/dashboard/boxes/todoist.js
  front/src/components/boxs/todoist/EditTodoistBox.jsx
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/todoist/index.js
  server/services/todoist/api/todoist.controller.js
  server/services/todoist/index.js
  server/services/todoist/lib/index.js
Due: server, front

Fix icon and finalise style
  front/src/assets/integrations/cover/todoist.jpg
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/components/boxs/todoist/style.css
  front/src/config/i18n/en.json
Due: front

Add tests
  front/src/components/boxs/todoist/EditTodoistBox.jsx
  server/services/todoist/index.js
  server/services/todoist/lib/index.js
  server/test/services/todoist/controllers/todoist.controller.test.js
  server/test/services/todoist/todoist.test.js
Due: server, front

Docker issue
  server/services/zwave-js-ui/lib/commands/getConfiguration.js
  server/services/zwave-js-ui/lib/commands/installMqttContainer.js
  server/services/zwave-js-ui/lib/commands/updateConfiguration.js
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
Due: server

Wont name
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
Due: front

Docker issue
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/installMqttContainer.js
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
  server/services/zwave-js-ui/lib/commands/updateConfiguration.js
  server/services/zwave-js-ui/lib/index.js
Due: server

Docker issue
  server/services/zwave-js-ui/docker/gladys-zwavejsui-zwavejsui-env.sh
Due: server

Prettier
  server/services/zwave-js-ui/lib/commands/connect.js
Due: server

Docker issue
  package-lock.json
  package.json
  server/services/zwave-js-ui/docker/gladys-zwavejsui-zwavejsui-env.sh
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
Due: server

Service status
  front/src/assets/integrations/logos/logo_zwave-js-ui.png
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
Due: front

Service status
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
Due: front

Service status
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/index.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
  server/services/zwave-js-ui/api/zwavejsui.controller.js
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/getStatus.js
  server/services/zwave-js-ui/lib/commands/scanNetwork.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/index.js
  server/test/services/zwave-js-ui/api/zwavejs2mqtt.controller.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server, front

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Service logo
  front/src/assets/integrations/logos/logo_zwave-js-ui.png
Due: front

Search on discover page
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/actions.js
  server/services/zwave-js-ui/api/zwavejsui.controller.js
  server/services/zwave-js-ui/lib/commands/getNodes.js
Due: server, front

UV sensor bug fix, Sensor motion review
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
  server/services/zwave-js-ui/lib/utils/bindValue.js
  server/services/zwave-js-ui/lib/utils/getCategory.js
  server/services/zwave-js-ui/lib/utils/transformClasses.js
Due: server

Device page notification
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/node-page/Device.jsx
Due: front

Notification value
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/utils/bindValue.js
Due: server

Remove README
  server/services/zwave-js-ui/README.md
Due: server

Notification only if value
  server/services/zwave-js-ui/lib/events/valueUpdated.js
Due: server

Add Clock box for dashboard (#1509)
  .gitignore
  front/package-lock.json
  front/package.json
  front/src/components/boxs/clock/Clock.jsx
  front/src/components/boxs/clock/ClockTypes.js
  front/src/components/boxs/clock/EditClock.jsx
  front/src/components/boxs/clock/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  front/src/style/index.css
  server/models/dashboard.js
  server/utils/constants.js
Due: server, front

Fix #1679 : Weather box should refresh data every 30 minutes
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

Fix #1679 : Weather box should refresh data every 30 minutes (#1680)
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

add migration file
  server/migrations/20230102171731-update-tasmota-energy-features.js
Due: server

New line at end of file ( Prettier )
  server/migrations/20230102171731-update-tasmota-energy-features.js
Due: server

Fix #1677: When ecowatt request fail, it should stop scene
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.ecowattCondition.test.js
Due: server

Change faketimers time
  server/test/lib/scene/actions/scene.action.ecowattCondition.test.js
Due: server

Add console.log for ci test
  server/lib/scene/scene.actions.js
Due: server

Fix tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.ecowattCondition.test.js
Due: server

rewrite todoist access
  .gitignore
  front/src/actions/dashboard/boxes/todolist.js
  front/src/actions/dashboard/edit-boxes/editTodoist.js
  front/src/components/boxs/todoist/EditTodoistBox.jsx
  front/src/components/boxs/todolist/EditTodolistBox.jsx
  front/src/components/boxs/todolist/TodolistBox.jsx
  front/src/components/boxs/todolist/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  front/src/utils/consts.js
  server/api/controllers/todolist.controller.js
  server/api/routes.js
  server/lib/index.js
  server/lib/todolist/index.js
  server/lib/todolist/todolist.closeTask.js
  server/lib/todolist/todolist.get.js
  server/lib/todolist/todolist.getTasks.js
  server/models/dashboard.js
  server/services/todoist/api/todoist.controller.js
  server/services/todoist/index.js
  server/services/todoist/package-lock.json
  server/services/todoist/package.json
  server/test/bootstrap.test.js
  server/test/controllers/todolist/todoist.controller.test.js
  server/test/lib/todolist/todolist.closeTask.test.js
  server/test/lib/todolist/todolist.get.test.js
  server/test/lib/todolist/todolist.getTasks.test.js
  server/test/services/todoist/TodoistApi.mock.js
  server/test/services/todoist/TodoistApiBroken.mock.js
  server/test/services/todoist/controllers/todoist.controller.test.js
  server/test/services/todoist/fakeTodoistService.js
  server/test/services/todoist/todoist.test.js
  server/utils/constants.js
Due: server, front

Fix #1677: When ecowatt request fail, it should stop scene (#1681)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.ecowattCondition.test.js
Due: server

Fix migration file
  server/migrations/20230102171731-update-tasmota-energy-features.js
Due: server

Missing 's' in label
  front/src/config/i18n/fr.json
Due: front

Documenation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front
