Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

Fix #567 : Device in room general light status is refreshed when device state changes
  front/src/actions/dashboard/boxes/devicesInRoom.js
Due: front

Fix #558 : Language is set by default to EN
  front/src/actions/signup/signupCreateLocalAccount.js
Due: front

Fix #556 : Delete + recreate a device feature in the same request with the same external_id should update existing device feature
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Due: server

MQTT: sonoff (front/back) + owntracks
  front/src/assets/integrations/cover/sonoff.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/integrations/device.en.json
  front/src/routes/integration/all/sonoff/EmptyState.jsx
  front/src/routes/integration/all/sonoff/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/SonoffPage.jsx
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/index.js
  front/src/routes/integration/all/sonoff/models.js
  front/src/routes/integration/all/sonoff/style.css
  server/services/mqtt/lib/constants.js
  server/services/mqtt/lib/publishMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/test/services/mqtt/mocks.test.js
  server/test/services/mqtt/mqttHandler.test.js
Due: server, front

MQTT: device creation by subService
  front/src/routes/integration/all/mqtt/device-page/actions.js
  front/src/routes/integration/all/sonoff/actions.js
Due: front

sonoff : scan for devices
  front/src/routes/integration/all/sonoff/models.js
  server/services/mqtt/lib/handler/sonoff/featureConverter.js
Due: server, front

Sonoff: try to fix import
  front/src/routes/integration/all/sonoff/device-page/models.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/utils/featureConverter.js
  server/test/services/sonoff/utils/featureConverter.test.js
Due: server, front

Sonoff: complete demo mode
  front/src/config/demo.json
Due: front

Sonoff: improve model name
  front/src/config/i18n/en.json
Due: front

Sonoff service: refactor models
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/models/index.js
  server/services/sonoff/models/plug_s26.js
  server/services/sonoff/models/switch_basic.js
  server/services/sonoff/models/switch_pow.js
  server/services/sonoff/utils/featureConverter.js
  server/services/sonoff/utils/paramsConverter.js
  server/test/services/sonoff/lib/handleMqttMessage.test.js
  server/test/services/sonoff/models/plug_s26.test.js
  server/test/services/sonoff/models/switch_basic.test.js
  server/test/services/sonoff/models/unknown.test.js
  server/test/services/sonoff/utils/featureConverter.test.js
  server/test/services/sonoff/utils/paramsConverter.test.js
  server/utils/constants.js
Due: server

Run prettier :/
  server/test/services/sonoff/lib/handleMqttMessage.test.js
Due: server

Sonoff service: Fix typo
  server/services/sonoff/lib/getDiscoveredDevices.js
Due: server

Sonoff service: fix front impacts
  front/src/routes/integration/all/sonoff/device-page/models.js
  server/services/sonoff/models/index.js
  server/services/sonoff/models/switch_pow.js
  server/test/services/sonoff/models/switch_pow.test.js
  server/utils/constants.js
Due: server, front

Sonoff: improve discover UX messages
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/sonoff/discover-page/EmptyState.jsx
  front/src/routes/integration/all/sonoff/discover-page/style.css
Due: front

Sonoff: limit integration description
  front/src/config/integrations/device.en.json
Due: front

Sonoff service: fix model name
  server/services/sonoff/models/switch_pow.js
Due: server

MQTT service status
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/commons/CheckMqttPanel.js
  front/src/routes/integration/all/mqtt/commons/actions.js
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/lib/connect.js
  server/services/mqtt/lib/disconnect.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/status.js
  server/test/services/mqtt/api/mqtt.controler.test.js
  server/test/services/mqtt/mqttHandler.test.js
Due: server, front

Sonoff: improve devices UX
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/device-page/DeviceTab.jsx
  front/src/routes/integration/all/sonoff/device-page/EmptyState.jsx
  front/src/routes/integration/all/sonoff/device-page/style.css
Due: front

Sonoff: use device.model iso params
  front/src/routes/integration/all/mqtt/commons/CheckMqttPanel.js
  front/src/routes/integration/all/mqtt/commons/actions.js
  front/src/routes/integration/all/sonoff/device-page/DeviceTab.jsx
  front/src/routes/integration/all/sonoff/discover-page/DiscoverTab.jsx
Due: front

Sonoff: use device.model iso params
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/device-page/actions.js
  front/src/routes/integration/all/sonoff/device-page/models.js
  front/src/routes/integration/all/sonoff/discover-page/actions.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/models/index.js
  server/services/sonoff/models/plug_s2x.js
  server/services/sonoff/models/switch_basic.js
  server/services/sonoff/models/switch_pow.js
  server/test/services/sonoff/models/plug_s26.test.js
  server/test/services/sonoff/models/switch_basic.test.js
  server/test/services/sonoff/models/switch_pow.test.js
Due: server, front

MQTT: fix status UX behavior
  front/src/routes/integration/all/mqtt/commons/CheckMqttPanel.js
  front/src/routes/integration/all/mqtt/commons/actions.js
Due: front

Sonoff: topic help
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/device-page/actions.js
Due: front

Sonoff: pushing to re-run circleCI
  front/src/config/i18n/en.json
Due: front

Sonoff: improve error message
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/device-page/actions.js
  front/src/routes/integration/all/sonoff/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/sonoff/discover-page/actions.js
Due: front

Sonoff: update demo.json according to changes
  front/src/config/demo.json
Due: front

Mqtt/Sonoff: changing service client for device
  server/services/mqtt/index.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/services/sonoff/index.js
  server/services/sonoff/lib/connect.js
  server/services/sonoff/lib/disconnect.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/test/services/mqtt/index.test.js
  server/test/services/sonoff/index.test.js
  server/test/services/sonoff/lib/connect.test.js
  server/test/services/sonoff/lib/disconnect.test.js
  server/test/services/sonoff/lib/handleMqttMessage.test.js
Due: server

Sonoff: add ability to change value
  server/services/mqtt/lib/publish.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/lib/index.js
  server/services/sonoff/lib/setValue.js
  server/test/services/sonoff/lib/setValue.test.js
Due: server

Sonoff: force 'sonoff:' topic prefix
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
Due: front

Sonoff: improve manual/auto device creation
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/device-page/EmptyState.jsx
  front/src/routes/integration/all/sonoff/device-page/style.css
Due: front

Sonoff: documentation link
  front/src/components/documentation/DeviceConfigurationLink.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/SonoffPage.js
  front/src/routes/integration/all/sonoff/device-page/index.js
  front/src/routes/integration/all/sonoff/discover-page/index.js
  front/src/routes/integration/all/sonoff/discover-page/style.css
Due: front

Sonoff: fix selector + clean
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/device-page/index.js
  front/src/routes/integration/all/sonoff/device-page/models.js
  front/src/routes/integration/all/sonoff/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/sonoff/discover-page/actions.js
  front/src/routes/integration/all/sonoff/discover-page/index.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/models/plug_s2x.js
  server/services/sonoff/models/switch_basic.js
  server/services/sonoff/models/switch_pow.js
Due: server, front

Sonoff: test coverage
  server/test/services/sonoff/lib/handleMqttMessage.test.js
  server/test/services/sonoff/lib/setValue.test.js
  server/test/services/sonoff/models/plug_s26.test.js
  server/test/services/sonoff/models/switch_basic.test.js
  server/test/services/sonoff/models/switch_pow.test.js
Due: server

Sonoff: forgot to adapt tests
  server/test/services/sonoff/models/plug_s26.test.js
  server/test/services/sonoff/models/switch_basic.test.js
  server/test/services/sonoff/models/switch_pow.test.js
Due: server

Sonoff: documentation link
  front/src/components/documentation/DeviceConfigurationLink.jsx
  front/src/routes/integration/all/sonoff/SonoffPage.js
Due: front

Handle owntracks open api message server side
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/index.js
  server/lib/location/index.js
  server/lib/location/location.handleNewGatewayOwntracksLocation.js
  server/utils/constants.js
Due: server

Add open API key to UI
  front/src/actions/gatewayLinkUser.js
  front/src/actions/login/loginGateway.js
  front/src/components/app.jsx
  front/src/components/gateway/GatewayLoginForm.jsx
  front/src/config/i18n/en.json
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-gateway-open-api/OpenApi.js
  front/src/routes/settings/settings-gateway-open-api/OpenApiKey.js
  front/src/routes/settings/settings-gateway-open-api/index.js
Due: front

Fix tests
  server/lib/location/location.handleNewGatewayOwntracksLocation.js
  server/test/lib/location/location.test.js
Due: server

Fix gateway tests
  server/test/lib/gateway/gateway.test.js
Due: server

Add Gateway Owntracks messages (#574)
  front/src/actions/gatewayLinkUser.js
  front/src/actions/login/loginGateway.js
  front/src/components/app.jsx
  front/src/components/gateway/GatewayLoginForm.jsx
  front/src/config/i18n/en.json
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-gateway-open-api/OpenApi.js
  front/src/routes/settings/settings-gateway-open-api/OpenApiKey.js
  front/src/routes/settings/settings-gateway-open-api/index.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/index.js
  server/lib/location/index.js
  server/lib/location/location.handleNewGatewayOwntracksLocation.js
  server/test/lib/gateway/gateway.test.js
  server/test/lib/location/location.test.js
  server/utils/constants.js
Due: server, front
