Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Add more logs
  server/lib/device/device.getDuckDbMigrationState.js
Due: server

Should not fail if sending a message to the user is failing
  server/lib/system/system.checkIfGladysUpgraded.js
  server/test/lib/system/system.checkIfGladysUpgraded.test.js
Due: server

Improve Gladys start : Fix performance bug on large DuckDB database + fix gladys check upgrade failing if one message not sent (#2401)
  server/lib/device/device.getDuckDbMigrationState.js
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/system/system.checkIfGladysUpgraded.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDuckDbMigrationState.test.js
  server/test/lib/system/system.checkIfGladysUpgraded.test.js
Due: server

4.66.5
  package-lock.json
  package.json
Due: none

Energy Monitoring: Be able to modify parent of 30 minutes consumption & 30 minutes cost
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Fix lint
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Energy Monitoring: Be able to modify parent of 30 minutes consumption & 30 minutes cost (#2402)
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

4.66.6
  package-lock.json
  package.json
Due: none

Add special color for subscription on frontend + fix backend tests
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Due: server, front

Fix coverage
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Due: server

In the price list, monthly subscription should be displayed per month
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Display only subscription when there is consumption
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Due: server

Improve coverage
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Due: server

Fix colors on widget
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Due: front

Energy monitoring : Add subscription (#2399)
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Due: server, front

4.66.7
  package-lock.json
  package.json
Due: none

Energy Monitoring: Only show subscription price if selected
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/models/dashboard.js
Due: server, front

Energy Monitoring: Only show subscription price if selected (#2403)
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/models/dashboard.js
Due: server, front

4.66.8
  package-lock.json
  package.json
Due: none

Ajout de la gestion des fonctionnalités de consommation d'énergie dans UpdateDeviceFeature et EditDevicePage
  front/src/components/device/UpdateDevice.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/index.js
Due: front

Ajout des indices de fonctionnalité pour le suivi énergétique dans UpdateDeviceFeature et les fichiers de traduction
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

refactor: Update energy monitoring feature texts for consistency
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Due: front

feat: Add functionality to calculate consumption and cost from selected features
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  server/lib/job/job.wrapper.js
  server/models/job.js
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.jobData.js
  server/services/energy-monitoring/lib/index.js
Due: server, front

Refactor energy monitoring services and improve job handling
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  server/lib/device/device.destroyStatesBetween.js
  server/lib/device/index.js
  server/lib/job/index.js
  server/lib/job/job.wrapper.js
  server/models/job.js
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.jobData.js
  server/services/energy-monitoring/lib/index.js
  server/test/lib/device/device.destroyStatesBetween.test.js
  server/test/lib/job/job.test.js
  server/test/services/checks.test.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostEveryThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Due: server, front

feat: Ajouter des tests pour la gestion des travaux et le calcul de la consommation d'énergie
  server/test/lib/job/job.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.jobData.test.js
Due: server

refactor: Simplifier la fonction wrapper en supprimant les options de construction des données de travail
  server/lib/job/job.wrapper.js
  server/test/lib/job/job.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.jobData.test.js
Due: server

feat: Mettre à jour les tests pour le calcul de la consommation et l'ordre des caractéristiques
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.jobData.test.js
Due: server

test: Activer les tests pour le calcul de la consommation et ajouter des temporisateurs factices
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

fix: Remove .only from describe block to ensure all tests run
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

test: Activer les tests pour le calcul de la consommation avec des sélecteurs multiples et gérer les cas limites
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

refactor: Modifier la syntaxe des tests pour utiliser des fonctions fléchées et améliorer la lisibilité
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

fix: Éviter les mises à jour de progression en double lors du calcul de la consommation et du coût
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromBeginning.js
Due: server

test: Add tests to handle finish errors and normalize arguments in consumption and cost calculation functions
  server/test/lib/job/job.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.jobData.test.js
Due: server

fix: Corriger les arguments passés à calculateCostFrom dans les tests de calculateCostFromBeginning
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromBeginning.test.js
Due: server

test: Ajouter des tests pour gérer les dates de début et les sélecteurs manquants dans le calcul de la consommation
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.jobData.test.js
Due: server

fix: Mettre à jour la méthode de suppression des fonctionnalités de périphérique et corriger le contexte dans les tests de construction des données de travail
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.jobData.test.js
Due: server

fix: Ajouter des propriétés manquantes aux sélecteurs et corriger les assertions dans les tests de consommation et de coût
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/lib/energy-monitoring.jobData.test.js
Due: server

fix: Mettre à jour les identifiants des sélecteurs manquants dans les tests de consommation et de coût
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

fix: Corriger les tests pour gérer les sélecteurs manquants dans le calcul de la consommation et le coût
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

fix: Ajouter des tests pour le calcul des coûts à partir d'une date spécifique
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
