Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Switch from mdns to bonjour for network scan
  server/services/google-cast/index.js
  server/services/google-cast/lib/google_cast.scan.js
  server/services/google-cast/lib/index.js
  server/services/google-cast/package-lock.json
  server/services/google-cast/package.json
  server/test/services/google-cast/lib/google_cast_scan.test.js
Due: server

Fix tests
  server/test/services/google-cast/lib/google_cast.init.test.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
Due: server

Remove system deps in Github action build
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Remove avahi-dev from Docker build
  docker/Dockerfile
  docker/Dockerfile.buildx
Due: none

Add new dashboard for charts history and update related components
  front/src/components/app.jsx
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/EditChartHistoric.jsx
  front/src/components/boxs/chart/style.css
  front/src/components/header/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/charts-history/BoxColumns.jsx
  front/src/routes/charts-history/ChartsHistoryPage.jsx
  front/src/routes/charts-history/EmptyState.jsx
  front/src/routes/charts-history/edit-dashboard/BottomDropZone.jsx
  front/src/routes/charts-history/edit-dashboard/EditActions.jsx
  front/src/routes/charts-history/edit-dashboard/EditBox.jsx
  front/src/routes/charts-history/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/charts-history/edit-dashboard/EditChartsHistory.jsx
  front/src/routes/charts-history/edit-dashboard/EmptyColumnDropZone.jsx
  front/src/routes/charts-history/edit-dashboard/ReorderDashbordList.jsx
  front/src/routes/charts-history/edit-dashboard/index.js
  front/src/routes/charts-history/edit-dashboard/style.css
  front/src/routes/charts-history/index.js
  front/src/routes/charts-history/new-dashboard/index.js
  front/src/routes/charts-history/new-dashboard/style.css
  front/src/routes/charts-history/style.css
  front/src/routes/dashboard/index.js
  front/src/utils/ExportUtils.js
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStatesMulti.js
  server/lib/device/index.js
  server/utils/constants.js
Due: server, front

Fix eventZoomed function in chart options
  front/src/actions/index.js
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
Due: front

corrections
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/EditChartHistoric.jsx
  front/src/components/boxs/chart/style.css
Due: front

add binary charts
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix Docker builds by adding py3-setuptools to Dockerfile
  docker/Dockerfile
  docker/Dockerfile.buildx
Due: none

Fix Docker builds by adding py3-setuptools to Dockerfile (#2095)
  docker/Dockerfile
  docker/Dockerfile.buildx
Due: none

Fix tests
  server/test/lib/gateway/gateway.init.test.js
Due: server

Gladys Plus : Change backup to 2-4 AM (#2090)
  server/lib/gateway/gateway.init.js
  server/test/lib/gateway/gateway.init.test.js
Due: server

Sonos.playNotification : Increase timout + add delayMs + more logs to getTTSApiUrl (#2089)
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/services/sonos/lib/sonos.setValue.js
  server/test/services/sonos/lib/sonos.setValue.test.js
Due: server

4.42.1
  package-lock.json
  package.json
Due: none

feat: Add expand functionality to chart component
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix: eslint and prettier
  front/src/components/boxs/chart/Chart.jsx
Due: front

feat: Add column functionality to EditDashboard component
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Due: front

fix: i18n, prettier and eslint
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Due: front

chore: Update EditDashboard component state handling and fix boxNotEmptyError
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: prettier
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: Fix bug in EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Due: front

fix: Remove delete column button from translation files
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: Update German translation file
  front/src/config/i18n/de.json
Due: front

chore: Update y-axis label formatting in ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
Due: front

fix: eslint
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
Due: front

fix: Improve German translation for "Add a column on dashboard"
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: Improve accessibility and styling of EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: Improve column layout in EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: Update y-axis label formatting and x-axis min/max in ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Due: front

fix: Improve column layout and accessibility in EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: prettier+eslint
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
Due: front

fix: prettier
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
Due: front

refactor: reordered styles
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: review non-useful code
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: Update condition for checking values length in Chart.jsx
  front/src/components/boxs/chart/Chart.jsx
Due: front

fix: review me
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
Due: front

Google Cast integration (#2088)
  front/src/assets/integrations/cover/google-cast.jpg
  front/src/components/app.jsx
  front/src/components/boxs/music/EditMusicBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/google-cast/GoogleCastDeviceBox.jsx
  front/src/routes/integration/all/google-cast/GoogleCastPage.jsx
  front/src/routes/integration/all/google-cast/device-page/DeviceTab.jsx
  front/src/routes/integration/all/google-cast/device-page/EmptyState.jsx
  front/src/routes/integration/all/google-cast/device-page/index.js
  front/src/routes/integration/all/google-cast/device-page/style.css
  front/src/routes/integration/all/google-cast/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/google-cast/discover-page/EmptyState.jsx
  front/src/routes/integration/all/google-cast/discover-page/index.js
  front/src/routes/integration/all/google-cast/discover-page/style.css
  server/services/google-cast/api/google_cast.controller.js
  server/services/google-cast/index.js
  server/services/google-cast/lib/google_cast.init.js
  server/services/google-cast/lib/google_cast.scan.js
  server/services/google-cast/lib/google_cast.setValue.js
  server/services/google-cast/lib/index.js
  server/services/google-cast/package-lock.json
  server/services/google-cast/package.json
  server/services/google-cast/utils/convertToGladysDevice.js
  server/services/index.js
  server/test/services/google-cast/api/google_cast.controller.test.js
  server/test/services/google-cast/index.test.js
  server/test/services/google-cast/lib/google_cast.init.test.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
  server/test/services/google-cast/lib/google_cast_scan.test.js
Due: server, front

4.43.0
  package-lock.json
  package.json
Due: none

fix: Update height calculation in ApexChartComponent
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Due: front

Gladys Plus : Send Telegram message when backup failed
  server/config/brain/backup/answers.en.json
  server/config/brain/backup/answers.fr.json
  server/lib/gateway/gateway.backup.js
  server/test/lib/gateway/gateway.backup.test.js
Due: server
