Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

fix(front): route air-conditioning mode to its own component
  front/src/components/boxs/device-in-room/DeviceRow.jsx
Due: front

feat(tuya): add Wifi video doorbell support (settings, cloud + local)
  server/services/tuya/lib/mappings/cloud/video-doorbell.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/video-doorbell.js
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/cloud-status.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-cloud-events.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-device.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-local-events.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-local-mapping.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/input-device.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/local-dps.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/manifest.js
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/poll-device.json
Due: server

feat(tuya): add persistent local connection for real-time push updates
  server/services/tuya/index.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.init.js
  server/services/tuya/lib/tuya.persistentConnection.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.init.test.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Due: server

refactor(tuya): single DPS->state pipeline for poll and persistent push + tests
  server/services/tuya/lib/tuya.persistentConnection.js
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Due: server

fix(tuya): guard persistent teardown so it can't block the cloud disconnect
  server/services/tuya/index.js
Due: server

test(tuya): cover persistent setValue routing + drop unreachable guards
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server

refactor(tuya): drop unreachable recyclePersistentConnection type guard in poll
  server/services/tuya/lib/tuya.poll.js
Due: server

fix(tuya): back off on repeated invalid local payloads + drop dead code
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/utils/tuya.degraded.js
  server/test/services/tuya/lib/utils/tuya.degraded.test.js
Due: server

fix(tuya): align degraded-status button reference in i18n
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix(tuya): cap recursive cloud pagination to avoid runaway recursion
  server/services/tuya/lib/tuya.loadDevices.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
Due: server

feat(tuya): curated display names for colliding pilot-thermostat features
  server/services/tuya/lib/mappings/cloud/pilot-thermostat.js
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/expected-device.json
Due: server

docs: add AGENTS.md with Cursor Cloud dev environment instructions
  AGENTS.md
Due: none

chore(matter): bump matter.js from 0.17.3 to 0.17.4
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Due: server

feat(tuya): per-product mapping variants + Konyks eCosy pilot-wire support
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/device/tuya.localMapping.js
  server/services/tuya/lib/mappings/cloud/pilot-thermostat-ecosy.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/pilot-thermostat-ecosy.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Due: server

fix(tuya): recycle persistent connections on device create/update/delete
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Due: server

fix(tuya): throttle continuous-sensor states pushed by persistent connections
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Due: server

fix(tuya): keep the remembered temperature unit on partial local pushes
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/tuya.poll.test.js
Due: server

fix(tuya): truncate oversized local socket error messages in logs
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Due: server

fix(tuya): truncate oversized persistent socket error messages in logs
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Due: server

Matter: bump matter.js from 0.17.3 to 0.17.4 (#2598)
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Due: server

Add AGENTS.md for Cursor Cloud Agents (#2597)
  AGENTS.md
Due: none

Fix: air-conditioning mode feature rendered as fan mode (routing collision since #2541) (#2592)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
Due: front

Improve UI on mobile devices (#2590)
  front/src/components/house/EditHouse.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothPresenceScanner.jsx
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothSettingsTab.jsx
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerPresenceScanner.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
  front/src/routes/settings/settings-backup/GatewayBackupList.jsx
  front/src/routes/settings/settings-gateway/GatewayPricing.jsx
  front/src/routes/settings/settings-gateway/style.css
  front/src/routes/settings/settings-house/HousePage.jsx
  front/src/routes/settings/settings-users/UserPage.jsx
Due: front

Add noescape for all Handlebars compile() (#2588)
  server/lib/brain/brain.getReply.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
Due: server

Add DeviceFeature supported options (#2567)
  server/lib/device/camera/camera.get.js
  server/lib/device/device.create.js
  server/lib/device/device.destroyParam.js
  server/lib/device/device.get.js
  server/lib/device/device.init.js
  server/lib/device/device.syncFeatureSupportedOptions.js
  server/lib/device/device.updateFeature.js
  server/lib/device/light/light.getLightsInRoom.js
  server/lib/device/light/light.init.js
  server/lib/room/room.get.js
  server/lib/room/room.getBySelector.js
  server/migrations/20260619120000-create-device-feature-supported-option.js
  server/models/device_feature.js
  server/models/device_feature_supported_option.js
  server/models/index.js
  server/test/lib/device/device.create.test.js
  server/test/utils/deviceQueryIncludes.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/deviceQueryIncludes.js
  server/utils/normalizeSupportedOptions.js
Due: server

feat: add Activity Log page for smart home event history
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/activity/ActivityLogEntry.jsx
  front/src/routes/activity/ActivityLogFilters.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getActivityLog.js
  server/lib/device/index.js
  server/test/lib/device/device.getActivityLog.test.js
Due: server, front

fix: remove optional chaining for babel compatibility in ActivityLogEntry
  front/src/routes/activity/ActivityLogEntry.jsx
Due: front

feat(energy): add Enercoop contract support with French calendar APIs
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/french-calendar/french-calendar.buildPublicHolidaysSet.js
  server/lib/french-calendar/french-calendar.buildSchoolVacationsSet.js
  server/lib/french-calendar/french-calendar.getEnercoopSeason.js
  server/lib/french-calendar/index.js
  server/migrations/20260703120000-add-energy-price-rate-type.js
  server/models/energy_price.js
  server/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.js
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/contracts/contracts.enercoopUtils.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/french-calendar/french-calendar.getEnercoopSeason.test.js
  server/test/services/energy-monitoring/contracts/contracts.calculateCost.test.js
  server/test/services/energy-monitoring/contracts/contracts.enercoopUtils.test.js
  server/utils/constants.js
Due: server, front

feat(scenes): add While (Tant Que) action with loop safety
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
  server/utils/constants.js
Due: server, front

feat(dashboard): add Photo widget for displaying external images
  front/src/components/boxs/photo/EditPhotoBox.jsx
  front/src/components/boxs/photo/PhotoBox.jsx
  front/src/components/boxs/photo/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  server/models/dashboard.js
  server/utils/constants.js
Due: server, front

style: run Prettier on Enercoop energy contract files
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/french-calendar/french-calendar.buildSchoolVacationsSet.js
  server/lib/french-calendar/french-calendar.getEnercoopSeason.js
  server/lib/french-calendar/index.js
  server/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.js
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/contracts/contracts.enercoopUtils.test.js
Due: server, front

style: fix prettier formatting for photo widget files
  front/src/components/boxs/photo/EditPhotoBox.jsx
  front/src/components/boxs/photo/PhotoBox.jsx
  server/models/dashboard.js
Due: server, front

fix(ci): resolve eslint no-await-in-loop and prettier formatting
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/scene/scene.actions.js
Due: server, front

refactor(activity): cleaner Activity Log UI design
  front/src/routes/activity/ActivityLogEntry.jsx
  front/src/routes/activity/ActivityLogFilters.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
Due: front

fix(server): satisfy eslint for Enercoop energy contract files
  server/lib/french-calendar/french-calendar.buildPublicHolidaysSet.js
  server/lib/french-calendar/french-calendar.buildSchoolVacationsSet.js
  server/lib/french-calendar/french-calendar.getEnercoopSeason.js
  server/migrations/20260703120000-add-energy-price-rate-type.js
  server/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.js
  server/services/energy-monitoring/contracts/contracts.enercoopUtils.js
Due: server

fix(photo): replace nullish coalescing for legacy Babel compatibility
  front/src/components/boxs/photo/EditPhotoBox.jsx
Due: front

fix(ci): resolve ESLint, Prettier and Cypress failures
  front/src/components/header/index.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/utils.js
  server/lib/device/device.getActivityLog.js
Due: server, front

test(server): add coverage for French calendar and public holidays map
  server/test/lib/french-calendar/french-calendar.buildPublicHolidaysSet.test.js
  server/test/lib/french-calendar/french-calendar.buildSchoolVacationsSet.test.js
  server/test/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.test.js
Due: server

fix(photo): proxy image loading through Gladys server
  front/src/components/boxs/photo/PhotoBox.jsx
  front/src/components/boxs/photo/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/dashboard.controller.js
  server/api/routes.js
  server/lib/dashboard/dashboard.getPhoto.js
  server/lib/dashboard/index.js
  server/test/lib/dashboard/dashboard.getPhoto.test.js
Due: server, front

fix(activity): widen layout, support all device values, 100% test coverage
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
  server/lib/device/device.getActivityLog.js
  server/test/lib/device/device.getActivityLog.test.js
Due: server, front

Path conditions:
  server: any of: server
  front: any of: front
