Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Camera: Streaming tests should remove check interval after each test (#1776)
  server/services/rtsp-camera/lib/index.js
  server/test/services/rtsp-camera/rstpCamera.onNewCameraFile.test.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Due: server

z2m available adapters
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/getManagedAdapters.js
  server/services/zigbee2mqtt/lib/index.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/test/services/zigbee2mqtt/lib/getManagedAdapters.test.js
Due: server

Fix refresh usb ports button
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
Due: front

Remove sh script
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-env.sh
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Due: server

Align select field
  front/src/config/demo.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
Due: front

Add placeholders
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
Due: front

Fix wording
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Stored usb configuration
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/lib/setup.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/setup.test.js
Due: server

Improve responsive view
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
Due: front

Write adapter to z2m config file
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
Due: server

Use init method instead of installZ2MContainer
  server/services/zigbee2mqtt/lib/setup.js
  server/test/services/zigbee2mqtt/lib/setup.test.js
Due: server

Select zigbee dongle UI
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
Due: front

Remove action / global store
  front/src/config/demo.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
Due: front

Fix typo and input
  front/src/config/demo.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
Due: front

Disconnect MQTT client before re-connect it
  server/services/zigbee2mqtt/lib/connect.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
Due: server

Add z2m config changes to write log
  server/services/zigbee2mqtt/lib/configureContainer.js
Due: server

Froce restart z2m container
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Due: server

Add yeelight service
  server/services/index.js
  server/services/yeelight/api/yeelight.controller.js
  server/services/yeelight/index.js
  server/services/yeelight/lib/device/index.js
  server/services/yeelight/lib/device/poll.js
  server/services/yeelight/lib/device/scan.js
  server/services/yeelight/lib/device/setValue.js
  server/services/yeelight/lib/models/color.js
  server/services/yeelight/lib/models/unhandled.js
  server/services/yeelight/lib/models/white.js
  server/services/yeelight/lib/utils/constants.js
  server/services/yeelight/lib/utils/emitNewState.js
  server/services/yeelight/package-lock.json
  server/services/yeelight/package.json
  server/test/services/yeelight/Gladys-color.json
  server/test/services/yeelight/Gladys-unhandled.json
  server/test/services/yeelight/Gladys-white.json
  server/test/services/yeelight/api/yeelight.controller.test.js
  server/test/services/yeelight/index.test.js
  server/test/services/yeelight/lib/device/poll.test.js
  server/test/services/yeelight/lib/device/scan.test.js
  server/test/services/yeelight/lib/device/setValue.test.js
  server/test/services/yeelight/lib/models/color.test.js
  server/test/services/yeelight/lib/models/unhandled.test.js
  server/test/services/yeelight/lib/models/white.test.js
  server/test/services/yeelight/lib/utils/emitNewState.test.js
  server/test/services/yeelight/yeelight-color.json
  server/test/services/yeelight/yeelight-empty.mock.test.js
  server/test/services/yeelight/yeelight-unhandled.json
  server/test/services/yeelight/yeelight-white.json
  server/test/services/yeelight/yeelight.mock.test.js
Due: server

Refactor poll and setValue
  server/services/yeelight/lib/device/index.js
  server/services/yeelight/lib/device/poll.js
  server/services/yeelight/lib/device/setValue.js
  server/test/services/yeelight/lib/device/discover.test.js
  server/test/services/yeelight/lib/device/poll.test.js
  server/test/services/yeelight/lib/device/setValue.test.js
  server/test/services/yeelight/mocks/yeelight-empty.mock.test.js
  server/test/services/yeelight/mocks/yeelight-timeout.mock.test.js
  server/test/services/yeelight/mocks/yeelight.mock.test.js
Due: server

Refactor server tests
  server/package-lock.json
  server/package.json
  server/test/services/yeelight/lib/device/discover.test.js
  server/test/services/yeelight/lib/device/poll.test.js
  server/test/services/yeelight/lib/device/setValue.test.js
  server/test/services/yeelight/lib/features/features.test.js
  server/test/services/yeelight/lib/utils/emitNewState.test.js
  server/test/services/yeelight/mocks/gladys/color.json
  server/test/services/yeelight/mocks/gladys/unhandled.json
  server/test/services/yeelight/mocks/gladys/white.json
  server/test/services/yeelight/mocks/yeelight-empty.mock.test.js
  server/test/services/yeelight/mocks/yeelight-timeout.mock.test.js
  server/test/services/yeelight/mocks/yeelight.mock.test.js
  server/test/services/yeelight/mocks/yeelight/color.json
  server/test/services/yeelight/mocks/yeelight/unhandled.json
  server/test/services/yeelight/mocks/yeelight/white.json
Due: server

Change device creation
  front/src/routes/integration/all/yeelight/actions.js
  server/services/yeelight/lib/device/discover.js
  server/services/yeelight/lib/features/binary.js
  server/services/yeelight/lib/features/brightness.js
  server/services/yeelight/lib/features/color.js
  server/services/yeelight/lib/features/index.js
  server/services/yeelight/lib/models/color.js
  server/services/yeelight/lib/models/index.js
  server/services/yeelight/lib/models/unhandled.js
  server/services/yeelight/lib/models/white.js
  server/services/yeelight/lib/utils/constants.js
  server/services/yeelight/lib/utils/emitNewState.js
  server/services/yeelight/package.json
  server/test/services/yeelight/lib/features/features.test.js
  server/test/services/yeelight/lib/models/models.test.js
  server/test/services/yeelight/mocks/Gladys-color.json
  server/test/services/yeelight/mocks/Gladys-unhandled.json
  server/test/services/yeelight/mocks/Gladys-white.json
Due: server, front

Fix ui
  front/src/routes/integration/all/yeelight/YeelightDeviceBox.jsx
  front/src/routes/integration/all/yeelight/device-page/DeviceForm.jsx
  front/src/routes/integration/all/yeelight/device-page/DeviceTab.jsx
  front/src/routes/integration/all/yeelight/device-page/FoundDevices.jsx
  front/src/routes/integration/all/yeelight/discover-page/DiscoverTab.jsx
Due: front

Fix demo.js
  front/src/config/demo.js
Due: front

Replace scan by discover
  front/src/config/demo.js
  front/src/routes/integration/all/yeelight/actions.js
  front/src/routes/integration/all/yeelight/device-page/actions.js
  front/src/routes/integration/all/yeelight/discover-page/index.js
  server/services/yeelight/api/yeelight.controller.js
  server/services/yeelight/lib/device/discover.js
  server/services/yeelight/lib/device/index.js
  server/services/yeelight/lib/device/poll.js
  server/services/yeelight/lib/device/scan.js
  server/services/yeelight/lib/device/setValue.js
  server/services/yeelight/lib/models/color.js
  server/services/yeelight/lib/models/index.js
  server/services/yeelight/lib/models/unhandled.js
  server/services/yeelight/lib/models/white.js
  server/services/yeelight/lib/utils/constants.js
  server/services/yeelight/package-lock.json
  server/services/yeelight/package.json
  server/test/services/yeelight/api/yeelight.controller.test.js
  server/test/services/yeelight/index.test.js
  server/test/services/yeelight/lib/device/discover.test.js
  server/test/services/yeelight/lib/device/poll.test.js
  server/test/services/yeelight/lib/device/scan.test.js
  server/test/services/yeelight/lib/device/setValue.test.js
  server/test/services/yeelight/lib/models/color.test.js
  server/test/services/yeelight/lib/models/models.test.js
  server/test/services/yeelight/lib/models/unhandled.test.js
  server/test/services/yeelight/lib/models/white.test.js
  server/test/services/yeelight/lib/utils/emitNewState.test.js
  server/test/services/yeelight/mocks/Gladys-color.json
  server/test/services/yeelight/mocks/Gladys-unhandled.json
  server/test/services/yeelight/mocks/Gladys-white.json
  server/test/services/yeelight/mocks/yeelight-color.json
  server/test/services/yeelight/mocks/yeelight-empty.mock.test.js
  server/test/services/yeelight/mocks/yeelight-timeout.mock.test.js
  server/test/services/yeelight/mocks/yeelight-unhandled.json
  server/test/services/yeelight/mocks/yeelight-white.json
  server/test/services/yeelight/mocks/yeelight.mock.test.js
Due: server, front

Add bottleneck
  server/services/yeelight/lib/device/discover.js
  server/services/yeelight/lib/device/index.js
  server/services/yeelight/package-lock.json
  server/services/yeelight/package.json
Due: server

Fix documentation links
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add yeelight ui
  front/src/assets/integrations/cover/yeelight.jpg
  front/src/components/app.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/yeelight/YeelightDeviceBox.jsx
  front/src/routes/integration/all/yeelight/YeelightPage.jsx
  front/src/routes/integration/all/yeelight/actions.js
  front/src/routes/integration/all/yeelight/device-page/Device.jsx
  front/src/routes/integration/all/yeelight/device-page/DeviceForm.jsx
  front/src/routes/integration/all/yeelight/device-page/DevicePage.jsx
  front/src/routes/integration/all/yeelight/device-page/DeviceTab.jsx
  front/src/routes/integration/all/yeelight/device-page/EmptyState.jsx
  front/src/routes/integration/all/yeelight/device-page/FoundDevices.jsx
  front/src/routes/integration/all/yeelight/device-page/actions.js
  front/src/routes/integration/all/yeelight/device-page/index.js
  front/src/routes/integration/all/yeelight/device-page/style.css
  front/src/routes/integration/all/yeelight/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/yeelight/discover-page/EmptyState.jsx
  front/src/routes/integration/all/yeelight/discover-page/index.js
  front/src/routes/integration/all/yeelight/discover-page/style.css
  front/src/routes/integration/all/yeelight/edit-page/index.js
  server/utils/constants.js
Due: server, front

Fix from review
  front/src/routes/integration/all/yeelight/device-page/index.js
  front/src/routes/integration/all/yeelight/discover-page/index.js
  front/src/routes/integration/all/yeelight/edit-page/index.js
  server/services/yeelight/index.js
  server/services/yeelight/lib/device/discover.js
  server/services/yeelight/lib/device/index.js
  server/services/yeelight/lib/device/poll.js
  server/services/yeelight/lib/device/setValue.js
  server/services/yeelight/lib/features/index.js
  server/services/yeelight/lib/utils/emitNewState.js
  server/services/yeelight/package-lock.json
  server/services/yeelight/package.json
  server/test/services/yeelight/lib/device/discover.test.js
  server/test/services/yeelight/lib/device/poll.test.js
  server/test/services/yeelight/lib/device/setValue.test.js
  server/test/services/yeelight/lib/features/features.test.js
  server/test/services/yeelight/lib/utils/emitNewState.test.js
  server/test/services/yeelight/mocks/gladys/color.json
  server/test/services/yeelight/mocks/gladys/unhandled.json
  server/test/services/yeelight/mocks/gladys/white.json
  server/test/services/yeelight/mocks/yeelight.mock.test.js
  server/utils/constants.js
Due: server, front

Change scan method for discovering
  server/services/yeelight/lib/device/discover.js
Due: server

Add Temperature and Color features
  server/package-lock.json
  server/package.json
  server/services/yeelight/lib/device/poll.js
  server/services/yeelight/lib/device/setValue.js
  server/services/yeelight/lib/features/index.js
  server/services/yeelight/lib/features/temperature.js
  server/services/yeelight/lib/utils/emitNewState.js
  server/test/services/yeelight/lib/device/poll.test.js
  server/test/services/yeelight/lib/device/setValue.test.js
  server/test/services/yeelight/lib/features/features.test.js
  server/test/services/yeelight/lib/utils/emitNewState.test.js
  server/test/services/yeelight/mocks/Gladys-color.json
  server/test/services/yeelight/mocks/Gladys-white.json
  server/test/services/yeelight/mocks/yeelight-empty.mock.test.js
  server/test/services/yeelight/mocks/yeelight-timeout.mock.test.js
  server/test/services/yeelight/mocks/yeelight.mock.test.js
Due: server

Add ct_bulb model
  server/services/yeelight/lib/utils/constants.js
Due: server

chore: add debug logs
  server/services/yeelight/lib/device/discover.js
  server/services/yeelight/lib/device/poll.js
  server/services/yeelight/lib/device/setValue.js
Due: server

Upgrade react-big-calendar & fix caldav styles
  front/package-lock.json
  front/package.json
  front/src/routes/calendar/index.js
  front/src/routes/integration/all/caldav/account-page/AccountTab.css
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/share-page/ShareTab.css
  front/src/routes/integration/all/caldav/share-page/ShareTab.jsx
  front/src/routes/integration/all/caldav/sync-page/SyncTab.css
  front/src/routes/integration/all/caldav/sync-page/SyncTab.jsx
Due: front

Add scene description
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.duplicate.js
  server/lib/scene/scene.get.js
  server/migrations/20230511161620-description-scene.js
  server/models/scene.js
  server/package-lock.json
Due: server, front

remove console.log
  server/lib/scene/scene.get.js
Due: server

remove console and pretty
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
Due: front

Remove useless logs in camera integration
  server/services/rtsp-camera/lib/sendCameraFileToGateway.js
  server/services/rtsp-camera/lib/startStreaming.js
Due: server

Camera: Add warning message when bandwidth limitation is reached (#1775)
  front/src/components/boxs/camera/Camera.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/rtsp-camera/lib/sendCameraFileToGateway.js
  server/services/rtsp-camera/lib/startStreaming.js
Due: server, front

Zigbee2mqtt: Be able to select dongle model in UI to simplify configuration (#1769)
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-env.sh
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/getManagedAdapters.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/lib/setup.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getManagedAdapters.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/setup.test.js
Due: server, front

New onboarding: Fix user creation birthdate warning
  front/src/routes/signup/2-create-account-local/index.js
Due: front

Path conditions:
  server: any of: server
  front: any of: front
