Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Remove unused components
  front/src/components/app.jsx
  front/src/routes/trigger/TriggerCards.jsx
  front/src/routes/trigger/TriggerPage.jsx
  front/src/routes/trigger/edit-trigger/EditTriggerPage.jsx
  front/src/routes/trigger/edit-trigger/index.js
  front/src/routes/trigger/index.js
  front/src/routes/trigger/style.css
Due: front

Upgrade downshift lib
  front/package-lock.json
  front/package.json
  front/src/components/form/Select.jsx
Due: front

Fix new select inputs
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/form/Select.jsx
  front/src/config/demo.json
  front/src/routes/dashboard/EditAddBoxButton.jsx
  front/src/routes/integration/all/caldav/actions.js
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
Due: front

Fix setValue/changedValue
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/events/zwave.valueChanged.js
Due: server

Prettier
  server/services/zwave/lib/commands/zwave.setValue.js
Due: server

Fix multiple select
  front/src/components/form/Select.jsx
Due: front

Outdated dependency 'vis' Fixes #807
  front/package-lock.json
  front/package.json
  front/src/routes/integration/all/zwave/network-page/NetworkTab.jsx
  front/src/routes/integration/all/zwave/network-page/actions.js
Due: front

Upgrade vis version
  front/package-lock.json
  front/package.json
Due: front

Script to test single service
  server/package.json
Due: server

MQTT service: In the "devices in rooms" dashboard box, display the feature name of a binary device, not the device name Fixes #787
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/utils.js
  front/src/config/demo.json
  server/lib/room/room.getBySelector.js
  server/test/controllers/room/room.test.js
Due: server, front

Upgrade front dependency 'vis', fixing warning message at build time (#808)
  front/package-lock.json
  front/package.json
  front/src/routes/integration/all/zwave/network-page/NetworkTab.jsx
  front/src/routes/integration/all/zwave/network-page/actions.js
Due: front

Add NPM script to test just one service alone (#622)
  server/package.json
Due: server

MQTT service: In the "devices in rooms" dashboard box, display the feature name of a binary device, not the device name (#852)
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/utils.js
  front/src/config/demo.json
  server/lib/room/room.getBySelector.js
  server/test/controllers/room/room.test.js
Due: server, front

✨ add device Philips Hue LWA001
  server/services/philips-hue/lib/light/light.getLights.js
Due: server

✅ add LWA001 test data
  server/test/services/philips-hue/lights.json
Due: server

Add timezone configuration in parameters in UI
  front/src/config/timezones.js
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Due: front

When the timezone is modified, the server reloads all scenes
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.init.js
  server/lib/variable/index.js
  server/lib/variable/variable.setValue.js
  server/utils/constants.js
Due: server

Translate configuration in UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
Due: front

Fix tests
  server/lib/variable/variable.setValue.js
Due: server

Add more tests to the scene.init function
  server/test/lib/scene/scene.init.test.js
Due: server

Fix #727 : The user should be able to set the timezone used in scenes in the UI (#856)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/timezones.js
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.init.js
  server/lib/variable/index.js
  server/lib/variable/variable.setValue.js
  server/test/lib/scene/scene.init.test.js
  server/utils/constants.js
Due: server, front

v4.0.0-beta-12
  .github/CONTRIBUTING.md
  CHANGELOG.md
  README.md
  package.json
  server/package.json
Due: server

No loader if image already there on camera box
  front/src/components/boxs/camera/Camera.jsx
Due: front

Revert Dockerfile frome master after merging
  docker/Dockerfile
Due: none

Update QEMU
  .circleci/load_env.sh
Due: none

Docker manifest + arm32v7 arch
  .circleci/config.yml
Due: none

Fix #858: No loader if image already there on camera box (#860)
  front/src/components/boxs/camera/Camera.jsx
Due: front

Add FR translations
  front/src/config/i18n/fr.json
Due: front

Remove read-only switch from list
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
Due: front

Revert changes to executeSingleAction
  server/lib/scene/scene.executeSingleAction.js
Due: server

Fix tests
  server/test/lib/scene/scene.executeSingleAction.test.js
Due: server
