Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Remove portrait in manifest.json + fix auto-translation bug by google translate (#818)
  front/src/manifest.json
  front/src/template.html
Due: front

Fix #780: Handle Philips Hue model LOM002 (#781)
  server/services/philips-hue/lib/light/light.getLights.js
  server/test/services/philips-hue/lights.json
Due: server

Docs: Add @Pierre-Gilles as a contributor
  .all-contributorsrc
  README.md
Due: none

Docs: Add @VonOx as a contributor
  .all-contributorsrc
  README.md
Due: none

Docs: Add @atrovato as a contributor
  .all-contributorsrc
  README.md
Due: none

Docs: Add @bertrandda as a contributor
  .all-contributorsrc
  README.md
Due: none

Docs: Add @Terdious as a contributor
  .all-contributorsrc
  README.md
Due: none

Docs: Add @sescandell as a contributor
  .all-contributorsrc
  README.md
Due: none

Add all-contributors-cli to package.json
  package-lock.json
  package.json
Due: none

Add all-contributors to README (#819)
  .all-contributorsrc
  README.md
  package-lock.json
  package.json
Due: none

Forgot this file
  front/src/config/integrations/services.json
Due: front

Improve code coverage
  server/test/services/caldav/lib/calendar/requests.test.js
Due: server

Switch to correct package eudev to fix usb service
  docker/Dockerfile
Due: none

Embedded mqtt broker
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/lib/getConfiguration.js
  server/test/services/mqtt/api/mqtt.controler.test.js
Due: server

MQTT: use configuration method
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/index.js
  server/services/mqtt/lib/connect.js
  server/services/mqtt/lib/constants.js
  server/services/mqtt/lib/getConfiguration.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/init.js
  server/services/mqtt/lib/saveConfiguration.js
  server/test/services/mqtt/api/mqtt.controler.test.js
  server/test/services/mqtt/index.test.js
  server/test/services/mqtt/lib/connect.test.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/test/services/mqtt/lib/init.test.js
  server/test/services/mqtt/lib/publish.test.js
  server/test/services/mqtt/lib/setValue.test.js
  server/test/services/mqtt/lib/unsubscribe.test.js
  server/test/services/mqtt/mqttHandler.test.js
Due: server, front

Docker pull + system tests
  server/lib/system/index.js
  server/lib/system/system.downloadUpgrade.js
  server/lib/system/system.getContainers.js
  server/lib/system/system.installUpgrade.js
  server/lib/system/system.pull.js
  server/test/lib/system/DockerApiMock.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.downloadUpgrade.test.js
  server/test/lib/system/system.getContainers.test.js
  server/test/lib/system/system.getDiskSpace.test.js
  server/test/lib/system/system.getInfos.test.js
  server/test/lib/system/system.init.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.isDocker.test.js
  server/test/lib/system/system.pull.test.js
  server/test/lib/system/system.test.js
Due: server

Clean up caldav tests
  server/test/services/caldav/index.test.js
  server/test/services/caldav/lib/calendar/cleanUp.test.js
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
  server/test/services/caldav/lib/config/index.test.js
Due: server

Embedded broker configuration
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/setup-page/SetupBrokerContainer.jsx
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
  server/lib/system/index.js
  server/lib/system/system.createContainer.js
  server/lib/system/system.exec.js
  server/lib/system/system.getImages.js
  server/lib/system/system.pull.js
  server/lib/system/system.restartContainer.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/docker/eclipse-mosquitto-env.sh
  server/services/mqtt/lib/connect.js
  server/services/mqtt/lib/constants.js
  server/services/mqtt/lib/disconnect.js
  server/services/mqtt/lib/getConfiguration.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/installContainer.js
  server/services/mqtt/lib/saveConfiguration.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
  server/test/lib/system/DockerApiMock.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.createContainer.test.js
  server/test/lib/system/system.exec.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.restartContainer.test.js
  server/test/services/mqtt/api/mqtt.controler.test.js
  server/test/services/mqtt/index.test.js
  server/test/services/mqtt/lib/getConfiguration.test.js
  server/test/services/mqtt/lib/init.test.js
  server/test/services/mqtt/lib/installContainer.test.js
  server/test/services/mqtt/lib/saveConfiguration.test.js
  server/test/services/mqtt/lib/status.test.js
  server/test/services/mqtt/mqttHandler.test.js
  server/utils/constants.js
Due: server, front

Embeeded broker password display
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  front/src/style/index.css
Due: front

Remove unsued
  server/lib/system/system.getImages.js
Due: server

Auto-config embedded broker on install
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  server/services/mqtt/lib/installContainer.js
  server/services/mqtt/lib/saveConfiguration.js
  server/test/services/mqtt/lib/installContainer.test.js
  server/test/services/mqtt/lib/saveConfiguration.test.js
  server/test/utils/password.test.js
  server/utils/password.js
Due: server, front

Embedded docker magic url + restart policy
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/lib/connect.js
  server/services/mqtt/lib/installContainer.js
Due: server

Fix merge issues
  front/src/config/i18n/fr.json
  server/test/lib/system/system.createContainer.test.js
  server/test/lib/system/system.exec.test.js
  server/test/lib/system/system.restartContainer.test.js
Due: server, front

Rollback to localhost url + connect container to network
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  server/lib/system/index.js
  server/lib/system/system.createContainer.js
  server/lib/system/system.getContainers.js
  server/lib/system/system.getNetworkMode.js
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/lib/checkDockerNetwork.js
  server/services/mqtt/lib/getConfiguration.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/installContainer.js
  server/services/mqtt/lib/saveConfiguration.js
  server/test/lib/system/DockerApiMock.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.getNetworkMode.test.js
  server/test/services/mqtt/lib/getConfiguration.test.js
  server/test/services/mqtt/lib/installContainer.test.js
Due: server, front

Embedded broker network mode info
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
Due: front

Fix read network mode
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/system/system.getNetworkMode.js
Due: server, front

Improves English translation (#814)
  front/src/config/i18n/en.json
Due: front

feat(openweather): implementation to API openweather
  front/src/assets/integrations/cover/openweather.jpg
  front/src/components/app.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/weather.en.json
  front/src/routes/integration/all/openweather/OpenWeather.jsx
  front/src/routes/integration/all/openweather/actions.js
  front/src/routes/integration/all/openweather/index.js
  server/lib/weather/weather.command.js
  server/lib/weather/weather.get.js
  server/services/index.js
  server/services/openweather/index.js
  server/services/openweather/lib/formatResults.js
  server/services/openweather/package-lock.json
  server/services/openweather/package.json
  server/test/bootstrap.test.js
  server/test/controllers/weather/weather.test.js
  server/test/lib/weather/weather.get.test.js
  server/test/services/openweather/fakeOpenWeatherService.js
  server/test/services/openweather/openweather.test.js
  server/test/services/openweather/weather-clear.json
  server/test/services/openweather/weather-clouds.json
  server/test/services/openweather/weather-rain.json
  server/test/services/openweather/weather-snow.json
Due: server, front

fix: review comment
  server/services/openweather/index.js
Due: server

feat(openweather): solve merge conflicts
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/weather.fr.json
  front/src/routes/integration/all/darksky/DarkSky.jsx
  front/src/routes/integration/all/openweather/OpenWeather.jsx
Due: front

feat(openweather): remove darksky integration
  front/src/components/app.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/darksky/DarkSky.jsx
  front/src/routes/integration/all/darksky/actions.js
  front/src/routes/integration/all/darksky/index.js
  server/config/brain/weather/answers.en.json
  server/lib/weather/weather.get.js
  server/services/darksky/index.js
  server/services/darksky/lib/formatResults.js
  server/services/darksky/package-lock.json
  server/services/darksky/package.json
  server/services/index.js
  server/services/openweather/package-lock.json
  server/test/services/darksky/darsky.test.js
  server/test/services/darksky/fakeDarkSkyService.js
  server/test/services/darksky/weather.json
Due: server, front

Improve integrations tab UI (#805) -> merge report
  front/src/config/integrations/weather.en.json
  front/src/config/integrations/weather.fr.json
  front/src/config/integrations/weathers.json
Due: front

feat(openweather): add unit test
  server/test/services/openweather/openweather.test.js
  server/test/services/openweather/weather-drizzle.json
  server/test/services/openweather/weather-fog.json
  server/test/services/openweather/weather-other.json
  server/test/services/openweather/weather-thunderstorm.json
Due: server

fix: review comments
  server/api/controllers/weather.controller.js
  server/lib/weather/weather.get.js
  server/services/openweather/index.js
Due: server

Adding eudev as sys deps
  docker/Dockerfile
Due: none

Handle the FMP Api key + correct tickers configuration in service integration
  front/src/actions/dashboard/boxes/stockExchange.js
  front/src/config/i18n/en.json
  front/src/routes/integration/all/stock-exchange/StockExchange.jsx
  front/src/routes/integration/all/stock-exchange/actions.js
  front/src/routes/integration/all/stock-exchange/index.js
  server/services/index.js
  server/services/stock-exchange/api/stockexchange.controller.js
  server/services/stock-exchange/index.js
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/services/stock-exchange/lib/index.js
  server/services/stock-exchange/package-lock.json
  server/services/stock-exchange/package.json
Due: server, front
