Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix oauth2 expire token error
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
Due: server

fix error oauth2 refresh token
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
Due: server

remove console
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
Due: server

Use handleGladysMessage
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.handleMessage.js
  server/lib/scene/scene.init.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Due: server

Add MQTT topic to start scene (#1911)
  server/lib/scene/index.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Due: server

fix add_ele unit
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Due: server

Add energy value from tuya devices
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Due: server

fix test
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Due: server

Tuya: Add energy values (#1898)
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Due: server

Improve translations in UI (#1908)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add API routes to arm/disram
  server/api/controllers/house.controller.js
  server/api/middlewares/errorMiddleware.js
  server/api/routes.js
  server/lib/house/house.arm.js
  server/utils/constants.js
Due: server

Add front widget to arm/disarm alarm
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/components/boxs/alarm/EditAlarm.jsx
  front/src/components/boxs/alarm/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
Due: front

z2m front filter existing devices
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
Due: front

z2m do not filter updatable devices
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
Due: server, front

Fixes after testing phase
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Due: front

snake_case for REST API
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
Due: server, front

z2m server filter existing devices
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
Due: server

Refactor
  server/services/sunspec/lib/index.js
  server/services/sunspec/lib/sunspec.connect.js
  server/services/sunspec/lib/sunspec.disconnect.js
  server/services/sunspec/lib/sunspec.scan.js
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/services/sunspec/lib/sunspec.scanNetwork.js
Due: server

Refactor
  server/test/services/sunspec/lib/sunspec.connect.test.js
  server/test/services/sunspec/lib/sunspec.disconnect.test.js
  server/test/services/sunspec/lib/sunspec.scan.test.js
  server/test/services/sunspec/lib/sunspec.scanNetwork.test.js
Due: server

feat(zigbee2mqtt): Add z2m ui link in Setup page
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
Due: front

Add a route to get house by selector
  server/api/controllers/house.controller.js
  server/api/routes.js
  server/test/controllers/house/house.test.js
Due: server

Add arming status widget
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/config/i18n/fr.json
Due: front

Add alarm in scenes
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/AlarmModeTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  server/models/scene.js
  server/utils/constants.js
Due: server, front

Add scene actions/trigger
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.triggers.js
  server/test/lib/scene/actions/scene.action.checkAlarmMode.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/triggers/scene.trigger.alarmMode.test.js
Due: server

Fix tests
  server/models/house.js
  server/test/controllers/house/house.test.js
  server/test/controllers/user/user.get.test.js
  server/test/controllers/weather/weather.test.js
  server/test/lib/house/house.arm.test.js
  server/test/lib/house/house.test.js
Due: server

feat(system): Add docker inspect container
  server/lib/system/index.js
  server/lib/system/system.inspectContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/lib/system/DockerodeMock.test.js
Due: server

feat(zigbee2mqtt): Some fixes after testing
  .gitignore
  server/lib/system/system.inspectContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-shm
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-wal
  server/test/lib/system/DockerApiMock.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.inspectContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Due: server

fix(zigbee2mqtt): Redeploy zigbee2mqtt container in case of USB dongle path changed
  server/lib/system/system.getContainers.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-shm
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-wal
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.getContainers.test.js
Due: server

Fix test
  server/test/lib/user/user.get.test.js
Due: server

Fix eslint front
  front/src/routes/scene/edit-scene/triggers/AlarmModeTrigger.jsx
Due: front

Zigbee2mqtt: Re-create container on USB path change (#1905)
  .gitignore
  server/lib/system/index.js
  server/lib/system/system.getContainers.js
  server/lib/system/system.inspectContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/lib/system/DockerApiMock.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.inspectContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Due: server

Add all tablet logic
  server/api/controllers/house.controller.js
  server/api/routes.js
  server/api/setupRoutes.js
  server/lib/house/house.arm.js
  server/lib/house/house.disarm.js
  server/lib/house/house.disarmWithCode.js
  server/lib/house/index.js
  server/lib/index.js
  server/lib/session/index.js
  server/lib/session/session.getAccessToken.js
  server/lib/session/session.setTabletModeLocked.js
  server/lib/session/session.unlockTabletMode.js
  server/lib/session/session.validateAccessToken.js
  server/migrations/20230929085337-alarm-mode.js
  server/models/session.js
  server/test/controllers/house/house.alarm.test.js
  server/test/controllers/request.test.js
  server/test/lib/house/house.disarmWithCode.test.js
  server/test/lib/session/session.test.js
Due: server

Fix tests
  server/test/lib/house/house.disarm.test.js
  server/test/lib/house/house.disarmWithCode.test.js
Due: server

Add route to update session to tablet mode
  server/api/controllers/session.controller.js
  server/api/routes.js
  server/lib/session/index.js
  server/lib/session/session.setTabletMode.js
  server/test/controllers/session/session.test.js
  server/test/lib/session/session.test.js
Due: server

Add route to get tablet mode
  server/api/controllers/session.controller.js
  server/api/routes.js
  server/lib/session/index.js
  server/lib/session/session.getTabletMode.js
  server/test/controllers/session/session.test.js
  server/test/lib/session/session.test.js
Due: server

Add tablet mode
  front/src/actions/main.js
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/SetTabletMode.jsx
  front/src/routes/dashboard/index.js
  front/src/routes/dashboard/style.css
Due: front

Add 'gladys start' scene trigger
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/GladysStartTrigger.jsx
  server/lib/index.js
  server/lib/scene/scene.triggers.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/utils/constants.js
Due: server, front

Fix typo
  front/src/config/i18n/fr.json
Due: front

Fix return review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/GladysStartTrigger.jsx
  server/test/lib/scene/scene.checkTrigger.test.js
Due: server, front

Scenes: Add "Gladys starts" scene trigger (#1912)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/GladysStartTrigger.jsx
  server/lib/index.js
  server/lib/scene/scene.triggers.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/utils/constants.js
Due: server, front
