Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Chart: Add more units to the list of "when down is positive" (#2221)
  front/src/components/boxs/chart/Chart.jsx
Due: front

Chart: Increase max value before scientific display to 10e9
  front/src/components/boxs/chart/yAxisFormatter.js
Due: front

Chart: Increase max value before scientific display to 10e9 (#2222)
  front/src/components/boxs/chart/yAxisFormatter.js
Due: front

ZWaveJS: Add support for Battery, Illuminance, Binary Sensor, Alarm Sensor (#2198)
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.refineCategory.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.refineCategory.test.js
Due: server

Chart: Close interval dropdown when clicking outside
  front/src/components/boxs/chart/Chart.jsx
Due: front

use mousedown event instead of click on header dropdown too
  front/src/components/header/index.jsx
Due: front

Scene: Search should check without accents
  server/lib/scene/scene.get.js
  server/test/lib/scene/scene.get.test.js
  server/utils/accents.js
Due: server

Scene: When duplicating a scene, prefill the title with "Copy of {{previous name}}"
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/index.js
Due: front

Fix cypress tests
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

Integration List: Fix scroll to top bug
  front/src/components/router/ScrollToTopLink.jsx
  front/src/routes/integration/IntegrationCategory.jsx
Due: front

Dashboard: When websocket connection is restored, refresh widgets
  front/package-lock.json
  front/package.json
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/utils/GatewayHttpClient.js
  front/src/utils/GatewaySession.js
  front/src/utils/Session.js
Due: front

All widgets should refresh
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/music/MusicBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
Due: front

Fix linting
  front/src/routes/integration/IntegrationCategory.jsx
Due: front

Chart: Close interval dropdown when clicking outside (#2224)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/header/index.jsx
Due: front

Scene: Search should check without accents (#2225)
  server/lib/scene/scene.get.js
  server/test/lib/scene/scene.get.test.js
  server/utils/accents.js
Due: server

Scene: When duplicating a scene, prefill the title with "Copy of {{previous name}}" (#2226)
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/index.js
Due: front

Camera: Sort rooms by name in select
  front/src/routes/integration/all/rtsp-camera/actions.js
Due: front

Integration List: Fix scroll to top bug (#2227)
  front/src/components/router/ScrollToTopLink.jsx
  front/src/routes/integration/IntegrationCategory.jsx
Due: front

Camera: Sort rooms by name in select (#2229)
  front/src/routes/integration/all/rtsp-camera/actions.js
Due: front

System: When vacuum is finished, it should display a message in the UI
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  server/lib/system/system.vacuum.js
  server/utils/constants.js
Due: server, front

Add vacuum duration
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  server/lib/system/system.vacuum.js
Due: server, front

Upgrade translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Chart: Add last twelve hours interval
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix FR translation
  front/src/config/i18n/fr.json
Due: front

Nuki service 1.0 (with test coverage)
  server/services/nuki/README.md
  server/services/nuki/lib/device/nuki.setValue.js
  server/services/nuki/lib/mqtt/nuki.mqtt.setValue.js
  server/test/services/nuki/lib/device/nuki.poll.test.js
  server/test/services/nuki/lib/device/nuki.postCreate.test.js
  server/test/services/nuki/lib/device/nuki.postDelete.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.setValue.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.subscribeDeviceTopic.test.js
  server/test/services/nuki/mocks/nuki.protocol.mock.test.js
Due: server

eslint & prettier jobs
  front/src/components/app.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/routes/integration/all/nuki/NukiDeviceBox.jsx
  front/src/routes/integration/all/nuki/NukiPage.js
  front/src/routes/integration/all/nuki/actions.js
  front/src/routes/integration/all/nuki/index.js
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
  front/src/routes/integration/all/nuki/setup-page/index.js
  front/src/utils/consts.js
Due: front

Chart: Add last twelve hours interval (#2231)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

System: When vacuum is finished, it should display a message in the UI (#2230)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  server/lib/system/system.vacuum.js
  server/utils/constants.js
Due: server, front

Dashboard: When websocket connection is restored, refresh widgets (#2228)
  front/package-lock.json
  front/package.json
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/components/boxs/music/MusicBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/utils/GatewayHttpClient.js
  front/src/utils/GatewaySession.js
  front/src/utils/Session.js
Due: front

4.53.0
  package-lock.json
  package.json
Due: none

Upgrade to Node 22
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/services/free-mobile/package-lock.json
Due: server, front

Update hap-nodejs to 0.12.3 for node 22 compatibility
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
Due: server

Upgrade serialport package version
  server/services/usb/index.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/services/usb/SerialPortMock.test.js
Due: server

Fix ESLint errors on Cypress tests
  front/cypress/e2e/routes/0-signup/SignUp.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/cypress/e2e/routes/maps/Maps.cy.js
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/dashboard/index.js
Due: front

Upgrade to Node 22 (#2234)
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/cypress/e2e/routes/0-signup/SignUp.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/cypress/e2e/routes/maps/Maps.cy.js
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/package-lock.json
  front/package.json
  front/src/routes/dashboard/index.js
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/services/free-mobile/package-lock.json
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/services/usb/index.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/services/usb/SerialPortMock.test.js
Due: server, front

ZwaveJS / MQTT : Better handle MQTT reconnection when broker is unavailable
  server/services/mqtt/lib/connect.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
  server/services/zwavejs-ui/lib/zwaveJSUI.connect.js
  server/services/zwavejs-ui/package-lock.json
  server/services/zwavejs-ui/package.json
Due: server

Add tests to reconnect
  server/test/services/mqtt/lib/connect.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.connect.test.js
Due: server

Clean old open-zwave integration
  front/src/assets/integrations/cover/zwave.jpg
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zwave/ZwavePage.js
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/node-page/index.js
  front/src/routes/integration/all/zwave/node-page/style.css
Due: front

Clean old open-zwave integration (#2237)
  front/src/assets/integrations/cover/zwave.jpg
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zwave/ZwavePage.js
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/node-page/index.js
  front/src/routes/integration/all/zwave/node-page/style.css
Due: front

Send reset password link to Telegram or NextCloud talk if configured
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/user.controller.js
  server/api/middlewares/errorMiddleware.js
  server/config/brain/user/answers.en.json
  server/config/brain/user/answers.fr.json
  server/lib/index.js
  server/lib/user/user.forgotPassword.js
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
  server/test/bootstrap.test.js
  server/test/lib/user/user.forgotPassword.test.js
Due: server, front
