Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Fix update
  front/src/components/boxs/device-in-room/EditDevices.jsx
Due: front

prettier
  front/src/components/boxs/device-in-room/EditDevices.jsx
Due: front

Be able to re-order & rename devices in widget
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/fr.json
  server/models/dashboard.js
Due: server, front

Update EditDevices.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
Due: front

Fix bugs & handle device in rooms widget
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
Due: front

add en translation
  front/src/config/i18n/en.json
Due: front

Driver status
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
Due: server, front

create music controller
  server/api/controllers/music.controller.js
  server/api/routes.js
  server/seeders/20190226025931-variable.js
  server/test/controllers/music/music.controller.test.js
  server/utils/constants.js
Due: server

create speaker feature
  server/api/controllers/speaker.controller.js
  server/api/routes.js
  server/lib/index.js
  server/lib/speaker/index.js
  server/lib/speaker/speaker.mute.js
  server/lib/speaker/speaker.pause.js
  server/lib/speaker/speaker.play.js
  server/lib/speaker/speaker.stop.js
  server/lib/speaker/speaker.volume.js
  server/lib/speaker/utils/speaker.buildSpeakerStream.js
  server/lib/speaker/utils/speaker.buildStreamControl.js
  server/lib/speaker/utils/speaker.checkStreamControl.js
  server/lib/speaker/utils/speaker.removeStreamControl.js
  server/package-lock.json
  server/package.json
  server/test/bootstrap.test.js
  server/test/controllers/speaker/speaker.test.js
  server/test/lib/speaker/speaker.test.js
  server/test/lib/speaker/utils/speaker.buildSpeakerStream.test.js
  server/test/lib/speaker/utils/speaker.buildStreamControl.test.js
  server/test/lib/speaker/utils/speaker.checkStreamControl.test.js
  server/test/lib/speaker/utils/speaker.removeStreamControl.test.js
  server/utils/constants.js
Due: server

Create music-player dashboard box
  front/src/components/boxs/music-player/EditMusicPlayer.jsx
  front/src/components/boxs/music-player/MusicPlayer.jsx
  front/src/components/boxs/music-player/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/models/dashboard.js
  server/utils/constants.js
Due: server, front

Fix bug on first open
  front/src/components/boxs/device-in-room/EditDevices.jsx
Due: front

Bug: initial value
  server/services/zwave-js-ui/lib/events/valueAdded.js
Due: server

Fix feedbacks on CSS, old code + rename functions
  front/src/components/boxs/device-in-room/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/style.css
Due: front

rename function
  front/src/components/boxs/device-in-room/DevicesBox.jsx
Due: front

Merge
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueNotification.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
Due: server, front

Merge
  server/services/overkiz/lib/client/overkiz.api.js
  server/services/overkiz/lib/client/overkiz.cozytouch.js
Due: server

fix spelling mistakes
  front/src/config/i18n/fr.json
Due: front

docker change
  docker/Dockerfile
  docker/Dockerfile.buildx
  docker/asoundrc
  server/lib/speaker/config/.asoundrc
  server/lib/speaker/utils/speaker.buildSpeakerStream.js
  server/package-lock.json
  server/package.json
  server/services/music-file/lib/musicFile.getReadStream.js
  server/services/music-file/package-lock.json
  server/services/music-file/package.json
  server/services/radio/lib/radio.getReadStream.js
  server/services/radio/package-lock.json
  server/services/radio/package.json
  server/test/lib/speaker/utils/speaker.buildSpeakerStream.test.js
Due: server

create radio service
  front/src/assets/integrations/cover/radio.jpg
  front/src/assets/integrations/icons/radio.jpg
  front/src/components/app.jsx
  front/src/components/boxs/music-player/MusicPlayer.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/musics.json
  front/src/routes/integration/all/radio/RadioPage.jsx
  front/src/routes/integration/all/radio/actions.js
  front/src/routes/integration/all/radio/index.js
  server/services/index.js
  server/services/radio/api/radio.controller.js
  server/services/radio/index.js
  server/services/radio/lib/index.js
  server/services/radio/lib/radio.getCapabilities.js
  server/services/radio/lib/radio.getReadStream.js
  server/services/radio/lib/radio.getStationByStationUUID.js
  server/services/radio/lib/radio.getStationsByCountry.js
  server/services/radio/lib/radio.play.js
  server/services/radio/lib/utils/radio.constants.js
  server/services/radio/lib/utils/radio.getAvailableCountry.js
  server/services/radio/package-lock.json
  server/services/radio/package.json
  server/test/services/radio/index.test.js
Due: server, front

Update DB migration scriptdate
  server/migrations/20230816115900-update-scene-actions-device-features.js
Due: server

Migration test
  server/test/lib/device/device.update_scene_actions_device_features.test.js
Due: server

Add Sunspec isUsed
  server/services/sunspec/index.js
Due: server

Lan-manager fix spelling mistakes (#1841)
  front/src/config/i18n/fr.json
Due: front

Fix refresh of device feature list in edit mode
  front/src/components/boxs/device-in-room/EditDevices.jsx
Due: front

Fix tests mired conversion
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
Due: server

Add tests on min/max values
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
Due: server

Google Home: Convert Mired temperature color to Kelvin (#1837)
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
  server/utils/colors.js
Due: server

Upgrade ApexCharts to 3.41.1
  front/package-lock.json
  front/package.json
Due: front

Fix Mosquitto container version to 2.0.15
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/lib/constants.js
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

Fix Mosquitto container version to 2.0.15 (#1844)
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/lib/constants.js
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

Upgrade ApexCharts to v3.41.1 (#1843)
  front/package-lock.json
  front/package.json
Due: front

4.26.1
  package-lock.json
  package.json
Due: none

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Fix Mosquitto container version to 2.0.15 #1844
  server/services/zwave-js-ui/docker/gladys-zwavejsui-mqtt-container.json
Due: server

fix spelling mistake on nextcloudTalk integration
  front/src/config/i18n/fr.json
Due: front

fix other spelling mistake on nextcloudTalk integration
  front/src/config/i18n/fr.json
Due: front

fix spelling mistake on Tuya integration
  front/src/config/i18n/fr.json
Due: front
