Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Plan: section intro blocks in config forms and permanent docs link
  PLAN_INTEGRATIONS_EXTERNES.md
Due: none

fix(mqtt): ignore empty custom topic to avoid matching all MQTT messages (#2703)
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.js
  server/test/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.test.js
Due: server, front

test(mqtt): cover failed-connection path in saveConfiguration
  server/test/services/mqtt/lib/saveConfiguration.test.js
Due: server

fix(ai-chat): reject calendar-invalid dates in energy consumption tool
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Add section intro blocks to config forms and a permanent docs link
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/utils.js
  server/api/controllers/externalIntegration.controller.js
  server/lib/external-integration/externalIntegration.getConfigForFront.js
  server/lib/external-integration/externalIntegration.getDocsUrls.js
  server/lib/external-integration/externalIntegration.validateConfigValue.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/lib/external-integration/store/store.getCatalog.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/externalIntegration.config.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/store/store.test.js
Due: server, front

fix(mqtt): clear manually-stopped status when saving MQTT configuration (#2702)
  server/services/mqtt/lib/saveConfiguration.js
  server/test/services/mqtt/lib/installContainer.test.js
  server/test/services/mqtt/lib/saveConfiguration.test.js
Due: server

feat(ai-chat): answer energy consumption (kWh) and cost questions over date ranges (#2701)
  server/config/prompts/aiChat.prompt.txt
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Plan: inbound webhooks via Gladys Plus for external integrations (B.17)
  PLAN_INTEGRATIONS_EXTERNES.md
Due: none

Plan: split communication type into chat and notification channels
  PLAN_INTEGRATIONS_EXTERNES.md
Due: none

Matter: Fix BigInt crash on int64 electrical attributes (#2656)
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
Due: server

Matter: Fix "Cannot mix BigInt and other types" crash on electrical attributes (#2704)
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
Due: server

Add inbound webhooks via Gladys Plus for external integrations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/WebhooksSummary.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/WebhooksCard.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/api/controllers/externalIntegration.controller.js
  server/api/controllers/integrationHost.controller.js
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.getConfigForFront.js
  server/lib/external-integration/externalIntegration.getWebhooks.js
  server/lib/external-integration/externalIntegration.handleGatewayWebhook.js
  server/lib/external-integration/externalIntegration.notifyWebhookAvailability.js
  server/lib/external-integration/externalIntegration.saveConfigFromFront.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/lib/gateway/gateway.disconnect.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/gateway.loginTwoFactor.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/externalIntegration.webhooks.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/gateway/gateway.disconnect.test.js
  server/test/lib/gateway/gateway.handleNewMessage.test.js
  server/test/lib/gateway/gateway.login.test.js
  server/utils/constants.js
Due: server, front

Split the communication type into chat and notification channels
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/ContactProfileCard.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/api/controllers/externalIntegration.controller.js
  server/api/controllers/integrationHost.controller.js
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.createLinkCode.js
  server/lib/external-integration/externalIntegration.deleteContactProfile.js
  server/lib/external-integration/externalIntegration.getContactProfile.js
  server/lib/external-integration/externalIntegration.getContactProfileForFront.js
  server/lib/external-integration/externalIntegration.handleIncomingMessage.js
  server/lib/external-integration/externalIntegration.linkContact.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.saveContactProfile.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.communication.test.js
  server/test/lib/external-integration/externalIntegration.notificationChannel.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/testUtils.test.js
Due: server, front

Use MELCloud Home logo cover and expose device model
  front/src/assets/integrations/cover/melcloud-home.jpg
  server/services/melcloud-home/lib/device/melcloud-home.convertDevice.js
  server/test/services/melcloud-home/lib/device/melcloud-home.convertDevice.test.js
Due: server, front

Use the official MELCloud Home logo as the integration cover
  front/src/assets/integrations/cover/melcloud-home.jpg
Due: front

Address field feedback: catalog banner, deprecation notices, stable integration JWTs
  front/src/components/integration/DeprecationWarning.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/routes/integration/all/melcloud/MELCloudPage.jsx
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
  front/src/routes/integration/all/telegram/Telegram.jsx
  front/src/routes/integration/all/tuya/TuyaPage.jsx
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.init.js
  server/lib/external-integration/externalIntegration.start.js
  server/lib/external-integration/externalIntegration.verifyContainerToken.js
  server/lib/external-integration/index.js
  server/seeders/20190226025931-variable.js
  server/test/lib/external-integration/externalIntegration.init.test.js
  server/test/lib/external-integration/externalIntegration.start.test.js
  server/test/lib/external-integration/testUtils.test.js
Due: server, front

Guide first-time users to the Configuration tab of external integrations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/device-page/DeviceTab.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/external-integration/discover-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
Due: front

Matter: Add air conditioner mode management (Thermostat SystemMode) (#2690)
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/thermostatMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/utils/thermostatMatterMapping.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Due: server, front

fix(front): don't crash chart tooltip when a series is hidden via legend
  front/src/components/boxs/chart/yAxisFormatter.js
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Due: front

Fix chart formatters to handle undefined values from ApexCharts (#2706)
  front/src/components/boxs/chart/yAxisFormatter.js
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Due: front

Render the store documentation inside Gladys instead of linking a raw .md
  front/package-lock.json
  front/package.json
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/DocsLink.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/api/controllers/externalIntegration.controller.js
  server/api/routes.js
  server/lib/external-integration/index.js
  server/lib/external-integration/store/store.constants.js
  server/lib/external-integration/store/store.getDocsMarkdown.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/store/store.test.js
Due: server, front

feat(matter): add MediaPlayback, KeypadInput and LevelControl volume clusters support
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.setValue.test.js
Due: server

fix(matter): fix eslint errors - add eslint-disable and JSDoc example
  server/services/matter/utils/convertToGladysDevice.js
Due: server

fix(matter): move eslint-disable comment inside require block
  server/services/matter/lib/matter.setValue.js
Due: server

test(matter): add convertToGladysDevice tests for TV clusters
  server/test/services/matter/lib/convertToGladysDevice.test.js
Due: server

feat(front): add television dashboard widget for Matter media devices
  front/src/components/boxs/television/EditTelevisionBox.jsx
  front/src/components/boxs/television/TelevisionBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/utils/constants.js
Due: server, front

Scene: propose instantaneous device values in "Only continue if" conditions
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
Due: server, front

Scenes: expose trigger device info as variables in actions
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/lib/scene/scene.checkTrigger.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
Due: server, front

Dashboard: clarify that tablet mode applies to the current browser only
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/SetTabletMode.jsx
Due: front

Hide the config save button when the schema has nothing to save
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
Due: front

CalDAV: Fix calendar changes never synchronized in Gladys
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/index.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Improve CalDAV sync: handle deleted events and defer ctag updates (#2712)
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/index.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

fix(zigbee2mqtt): keep IEEE address and Z2M link after saving a device (#2681)
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
Due: front

Move external integrations plan to docs/specs as a living spec
  AGENTS.md
  docs/specs/external-integrations.md
Due: none

Spec: state at-most-once command delivery explicitly
  docs/specs/external-integrations.md
Due: none

AGENTS.md: scope spec-first process to large projects and data model
  AGENTS.md
Due: none

Dashboard: size the tablet mode panel from its content instead of a fixed max-height
  front/src/routes/dashboard/SetTabletMode.jsx
  front/src/routes/dashboard/style.css
Due: front

Dashboard: keep the tablet mode panel visible while it collapses
  front/src/routes/dashboard/style.css
Due: front

Path conditions:
  server: any of: server
  front: any of: front
