Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Move button
  front/src/routes/integration/all/node-red/setup-page/CheckStatus.js
  front/src/routes/integration/all/node-red/setup-page/SetupTab.jsx
Due: front

fix eslint and prettier
  front/src/components/app.jsx
  server/services/node-red/lib/init.js
Due: server, front

Fix after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/node-red/NodeRedPage.js
  front/src/routes/integration/all/node-red/setup-page/SetupTab.jsx
  server/lib/system/system.getGladysBasePath.js
  server/services/node-red/api/node-red.controller.js
  server/services/node-red/docker/gladys-node-red-container.json
  server/services/node-red/index.js
  server/services/node-red/lib/checkForContainerUpdates.js
  server/services/node-red/lib/configureContainer.js
  server/services/node-red/lib/disconnect.js
  server/services/node-red/lib/getConfiguration.js
  server/services/node-red/lib/index.js
  server/services/node-red/lib/init.js
  server/services/node-red/lib/installContainer.js
  server/services/node-red/lib/isEnabled.js
  server/services/node-red/lib/saveConfiguration.js
  server/services/node-red/lib/status.js
  server/test/services/node-red/lib/disconnect.test.js
Due: server, front

Fix test
  server/services/node-red/lib/disconnect.js
  server/test/services/node-red/lib/disconnect.test.js
  server/test/services/node-red/lib/installContainer.test.js
Due: server

Fix test
  server/services/node-red/docker/gladys-node-red-container.json
  server/services/node-red/lib/configureContainer.js
  server/services/node-red/lib/constants.js
  server/services/node-red/lib/disconnect.js
  server/test/lib/system/system.getGladysBasePath.test.js
  server/test/services/node-red/lib/disconnect.test.js
  server/test/services/node-red/lib/installContainer.test.js
  server/utils/password.js
Due: server

Add Password "eye" and hide config when service is not started
  front/src/routes/integration/all/node-red/setup-page/CheckStatus.js
  front/src/routes/integration/all/node-red/setup-page/SetupTab.jsx
Due: front

Fix button display
  front/src/routes/integration/all/node-red/setup-page/SetupTab.jsx
Due: front

Fix review
  front/src/routes/integration/all/node-red/setup-page/CheckStatus.js
  server/services/node-red/lib/disconnect.js
  server/test/services/node-red/lib/disconnect.test.js
Due: server, front

Remove logs
  server/services/node-red/lib/configureContainer.js
  server/services/node-red/lib/disconnect.js
  server/services/node-red/lib/installContainer.js
Due: server

Fix test
  server/services/node-red/lib/init.js
  server/services/node-red/lib/installContainer.js
  server/test/services/node-red/lib/init.test.js
  server/test/services/node-red/lib/installContainer.test.js
  server/test/services/node-red/lib/isEnabled.test.js
  server/test/services/node-red/lib/status.test.js
Due: server

Fix save config before start
  server/services/node-red/lib/init.js
Due: server

prettier
  front/src/components/boxs/vacbot/Vacbot.jsx
Due: front

First dummy button implementation (front)
  front/src/components/navigation/NavigationButton.jsx
  front/src/components/navigation/style.css
  front/src/routes/dashboard/DashboardPage.jsx
Due: front

remove console.log
  front/src/actions/house.js
Due: front

Add missing tests to errorMiddleware
  server/test/middlewares/errorMiddleware.test.js
Due: server

Add tests to websocket connection
  server/test/websockets/index.test.js
Due: server

Add card around tablet mode
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/SetTabletMode.jsx
Due: front

Add 0 to keypad
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/locked/index.js
Due: front

Fix eslint front
  front/src/routes/locked/index.js
Due: front

Fix typo FR
  front/src/config/i18n/fr.json
Due: front

Add alarm set mode action
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SetAlarmMode.jsx
  server/lib/house/house.arm.js
  server/lib/scene/scene.actions.js
  server/test/lib/house/house.arm.test.js
  server/test/lib/scene/actions/scene.action.setAlarmMode.test.js
  server/utils/constants.js
Due: server, front

feat(homekit): Add motion sensors
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

PR Feedbacks
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
Due: server

Add more validation on house alarm code
  front/src/components/house/EditHouse.jsx
  front/src/components/house/EditHouseComponent.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add autocomplete=off and fake password to prevent brower from autocompleting
  front/src/routes/locked/index.js
Due: front

Improve design of locked page + improve robustness
  front/src/routes/dashboard/index.js
  front/src/routes/locked/index.js
  front/src/routes/locked/style.css
Due: front

Add error message + specific trigger on code failure
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/locked/index.js
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  server/api/middlewares/errorMiddleware.js
  server/lib/house/house.disarm.js
  server/lib/house/house.disarmWithCode.js
  server/lib/house/index.js
  server/lib/scene/scene.triggers.js
  server/package-lock.json
  server/package.json
  server/test/controllers/house/house.alarm.test.js
  server/test/lib/house/house.disarmWithCode.test.js
  server/utils/constants.js
  server/utils/coreErrors.js
Due: server, front

Change active buttons behavior
  front/src/components/boxs/alarm/Alarm.jsx
Due: front

Zigbee2mqtt: Hide already added devices (#1907)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
Due: server, front

Zigbee2mqtt: Add Z2M link in configuration page (#1903)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
Due: front

Code should be cleared + keep error message to prevent UI shift
  front/src/routes/locked/index.js
Due: front

ES Lint
  server/services/zwave-js-ui/lib/commands/getNodes.js
Due: server

Lint
  front/src/routes/integration/all/zwave-js-ui/device-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/discover-page/actions.js
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/test/services/zwave-js-ui/lib/commands/getNodes.test.js
Due: server, front

Tests
  server/services/zwave-js-ui/lib/utils/getCategory.js
  server/utils/constants.js
Due: server

feat(philips-hue): N-UPnP Search + manual configuration from IP
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/setup-page/SetupTab.jsx
  front/src/routes/integration/all/philips-hue/setup-page/actions.js
  server/services/philips-hue/api/hue.controller.js
  server/services/philips-hue/lib/light/index.js
  server/services/philips-hue/lib/light/light.configureBridge.js
  server/services/philips-hue/lib/light/light.getBridges.js
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
  server/test/services/philips-hue/controllers/configureBridge.controller.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/test/services/philips-hue/light/light.getBridges.test.js
  server/test/services/philips-hue/mocks.test.js
Due: server, front

Update HLS chunk regex
  server/services/rtsp-camera/utils/validateStreamParams.js
  server/test/services/rtsp-camera/controllers/rtspCamera.controller.test.js
Due: server

Update HLS chunk regex (#1918)
  server/services/rtsp-camera/utils/validateStreamParams.js
  server/test/services/rtsp-camera/controllers/rtspCamera.controller.test.js
Due: server

4.30.0
  package-lock.json
  package.json
Due: none
