Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Add bit length for switches
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Add Arduino properties in Settings view
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
Due: front

Update device DB params
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  server/services/arduino/lib/device.setValue.js
Due: server, front

Correction
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Correction Features
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Correction
  server/services/arduino/lib/recv.js
Due: server

Update recv
  server/services/arduino/lib/arduino-code.ino.standard.hex
  server/services/arduino/lib/index.js
  server/services/arduino/lib/recv.js
Due: server

recv : Check if data is a json
  server/services/arduino/lib/recv.js
Due: server

Add feature value
  server/services/arduino/lib/recv.js
Due: server

Correction
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/recv.js
Due: server

Debug
  server/services/arduino/lib/device.setValue.js
Due: server

Correction sensor
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  server/services/arduino/lib/device.setValue.js
Due: server, front

Reception : Test of poll method
  front/src/routes/integration/all/arduino/device-page/actions.js
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/index.js
  server/services/arduino/lib/poll.js
  server/utils/constants.js
Due: server, front

Update poll function
  server/services/arduino/lib/poll.js
Due: server

New test
  server/services/arduino/lib/poll.js
Due: server

New test
  front/src/routes/integration/all/arduino/device-page/actions.js
  server/lib/device/device.setupPoll.js
  server/services/arduino/lib/poll.js
  server/utils/constants.js
Due: server, front

Update
  server/services/arduino/lib/index.js
  server/services/arduino/lib/poll.js
Due: server

Change poll frequency
  server/lib/device/device.setupPoll.js
  server/utils/constants.js
Due: server

Correction
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Test
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Update read only for sensor
  front/src/routes/integration/all/arduino/device-page/actions.js
  server/services/arduino/lib/poll.js
Due: server, front

Debug
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Update arduino code
  server/services/arduino/arduino-code/arduino-code-backup.ino
  server/services/arduino/arduino-code/arduino-code.ino
Due: server

Update code : add servo
  server/services/arduino/arduino-code/arduino-code-backup.ino
  server/services/arduino/arduino-code/arduino-code.ino
Due: server

Update UI for recv
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Add DHT in UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  server/utils/constants.js
Due: server, front

Poll : condition on function_name
  server/services/arduino/lib/poll.js
Due: server

Add poll : update code
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/arduino/device-page/actions.js
  server/services/arduino/arduino-code/arduino-code.ino
  server/services/arduino/lib/poll.js
Due: server, front

Correction poll
  server/services/arduino/lib/poll.js
Due: server

Debug
  server/services/arduino/lib/poll.js
Due: server

Correction humidity
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Add arduino libraries in Git
  server/services/arduino/arduino-code/libraries/Arduino-IRremote-master.zip
  server/services/arduino/arduino-code/libraries/DHTLib.zip
Due: server

Update arduino code + poll
  server/services/arduino/arduino-code/arduino-code.ino
  server/services/arduino/lib/poll.js
Due: server

Update Arduino code + HEX files
  server/services/arduino/arduino-code/arduino-code.ino
  server/services/arduino/arduino-code/mega/arduino-code.ino.hex
  server/services/arduino/arduino-code/mega/arduino-code.ino.with_bootloader.hex
  server/services/arduino/arduino-code/nano/arduino-code.ino.hex
  server/services/arduino/arduino-code/nano/arduino-code.ino.with_bootloader.hex
  server/services/arduino/arduino-code/uno/arduino-code.ino.hex
  server/services/arduino/arduino-code/uno/arduino-code.ino.with_bootloader.hex
  server/services/arduino/arduino-code/yun/arduino-code.ino.hex
  server/services/arduino/arduino-code/yun/arduino-code.ino.with_bootloader.hex
Due: server

Add unit for temperature + humidity
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Update arduino poll
  front/src/routes/integration/all/arduino/device-page/actions.js
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/arduino-code/arduino-code.ino
  server/services/arduino/lib/poll_arduino.js
  server/services/arduino/lib/poll_backup.js
Due: server, front

Debug poll
  server/services/arduino/lib/poll.js
Due: server
