Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

feat(chat): sell Gladys Plus in the chat empty state (#2973)
  front/src/components/gateway/GladysPlusUpsellCard.jsx
  front/src/components/gateway/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/EmptyChat.jsx
  front/src/routes/chat/style.css
Due: front

External integration: link the version number to its changelog (#2927)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/VersionLink.jsx
  front/src/routes/integration/all/external-integration/supervision-page/SupervisionCard.jsx
  front/src/routes/integration/all/external-integration/utils.js
Due: front

Stop keying action lists by object identity, Horizon back button on the scene forms
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/stepDrag.js
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
Due: front

docs(contributors): add William-De71 as a contributor for code
  .all-contributorsrc
  README.md
Due: none

Scene editor modernization: vertical step flow, categorized picker, collapsible steps (#2936)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/assets/images/undraw_personalization.svg
  front/src/components/drag-and-drop/AutoScrollMobile.jsx
  front/src/components/drag-and-drop/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/EmptyState.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneCards.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/EmptyDropZone.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/TypePicker.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.css
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/stepDrag.js
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/summary.js
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/typesCatalog.js
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
  front/src/routes/scene/style.css
Due: front

Dashboard: HomeKit-like light controls in the devices widget
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightControlPanel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightSlider.jsx
  front/src/components/boxs/device-in-room/device-features/light/lightFeatures.js
  front/src/components/boxs/device-in-room/device-features/light/style.css
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/demo/dashboards.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/style.css
Due: front

Bump @gladysassistant/gladys-gateway-js to 4.22.0
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

docs(contributors): add William-De71 as a contributor for code (#2976)
  .all-contributorsrc
  README.md
Due: none

Light panel: review fixes
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightControlPanel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightSlider.jsx
  front/src/components/boxs/device-in-room/device-features/light/lightFeatures.js
  front/src/components/boxs/device-in-room/device-features/light/style.css
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/routes/dashboard/style.css
Due: front

Fix recovery codes generation principal and keep the support fallback
  front/src/actions/gateway.js
  front/src/actions/login/loginGateway.js
  front/src/components/gateway/GatewayLoginForm.jsx
  front/src/components/gateway/GatewayRecoveryCodes.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-reset-password/ResetPasswordForm.js
  front/src/routes/login-gateway/LoginGatewayPage.jsx
  front/src/routes/login-gateway/index.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.generateTwoFactorRecoveryCodes.js
  server/lib/gateway/gateway.loginTwoFactor.js
  server/lib/gateway/index.js
  server/test/controllers/gateway/gateway.controller.loginTwoFactor.test.js
  server/test/lib/gateway/gateway.generateTwoFactorRecoveryCodes.test.js
  server/test/lib/gateway/gateway.login.test.js
Due: server, front

Add a Gladys Plus security page to generate recovery codes
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-security/SecurityPage.jsx
  front/src/routes/settings/settings-security/index.js
Due: front

Distinguish an invalid recovery code from an expired reset link
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-reset-password/ResetPassword.js
  front/src/routes/gateway-reset-password/ResetPasswordForm.js
  front/src/routes/gateway-reset-password/index.js
Due: front

Zigbee2mqtt: map the Heiman HS2WD-E siren exposes to Gladys features (#2954)
  server/services/zigbee2mqtt/exposes/compositeType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/features/mapExpose.js
  server/test/services/zigbee2mqtt/exposes/compositeType.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/exposes/sirenWarningCompositeType.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/utils/payloads/HS2WD-E.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
Due: server

Show the remaining SQLite aggregates in the DuckDB migration card (#2952)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDuckDbMigration.jsx
  server/lib/device/device.getDuckDbMigrationState.js
  server/test/lib/device/device.getDuckDbMigrationState.test.js
Due: server, front

Light panel: second round of review fixes
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightSlider.jsx
  front/src/components/boxs/device-in-room/device-features/light/lightFeatures.js
Due: front

Light panel: drop the wheel's width floor
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
Due: front

Dashboard: HomeKit-like light controls in the devices widget (#2975)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightControlPanel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightSlider.jsx
  front/src/components/boxs/device-in-room/device-features/light/lightFeatures.js
  front/src/components/boxs/device-in-room/device-features/light/style.css
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/demo/dashboards.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Camera private mode: gate image ingest on the generic state path too
  docs/specs/camera-enable-disable.md
  server/lib/device/device.newStateEvent.js
  server/test/lib/device/device.newStateEvent.test.js
Due: server

Camera private mode: reload the device on websocket reconnect
  docs/specs/camera-enable-disable.md
  front/src/components/boxs/camera/Camera.jsx
Due: front

Dashboard: same width in view and edit modes, cap value tile stretch height
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
Due: front

fix: do not overwrite feature last_value when a device is saved (#2930) (#2939)
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Due: server

Camera private mode: still refresh the image when the reconnect device reload does not resolve
  docs/specs/camera-enable-disable.md
  front/src/components/boxs/camera/Camera.jsx
Due: front

Camera private mode: pass the resolved state to the reconnect image refresh
  docs/specs/camera-enable-disable.md
  front/src/components/boxs/camera/Camera.jsx
Due: front

Address review: document per-type caps and shared width in the spec, chain the tile cap selector
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/style.css
Due: front

Camera private mode: tear the view down when a reconnect finds the camera disabled
  docs/specs/camera-enable-disable.md
  front/src/components/boxs/camera/Camera.jsx
Due: front

Allow disabling a camera without deleting it ("private mode") (#2948)
  AGENTS.md
  docs/specs/camera-enable-disable.md
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/style.css
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/integration/all/rtsp-camera/actions.js
  front/src/utils/consts.js
  server/lib/device/camera/camera.getImage.js
  server/lib/device/camera/camera.getImagesInRoom.js
  server/lib/device/camera/camera.getLiveImage.js
  server/lib/device/camera/camera.setImage.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.poll.js
  server/migrations/20260818090000-add-camera-enabled-feature.js
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/lib/setValue.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/stopStreaming.js
  server/test/lib/device/camera/camera.getImage.test.js
  server/test/lib/device/camera/camera.getImageInRoom.test.js
  server/test/lib/device/camera/camera.getLiveImage.test.js
  server/test/lib/device/camera/camera.setImage.test.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/device/device.poll.test.js
  server/test/migrations/20260818090000-add-camera-enabled-feature.test.js
  server/test/services/rtsp-camera/rtspCamera.setValue.test.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
  server/test/utils/device.test.js
  server/utils/constants.js
  server/utils/device.js
Due: server, front

Dashboard: same width in view and edit modes, cap value tile stretch height (#2977)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
Due: front

Add two-factor recovery codes support for Gladys Plus (#2974)
  front/package-lock.json
  front/package.json
  front/src/actions/gateway.js
  front/src/actions/login/loginGateway.js
  front/src/components/app.jsx
  front/src/components/gateway/GatewayLoginForm.jsx
  front/src/components/gateway/GatewayRecoveryCodes.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-reset-password/ResetPassword.js
  front/src/routes/gateway-reset-password/ResetPasswordForm.js
  front/src/routes/gateway-reset-password/index.js
  front/src/routes/login-gateway/LoginGatewayPage.jsx
  front/src/routes/login-gateway/index.js
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-gateway/GatewayPage.jsx
  front/src/routes/settings/settings-gateway/index.js
  front/src/routes/settings/settings-security/SecurityPage.jsx
  front/src/routes/settings/settings-security/index.js
  front/src/utils/consts.js
  server/api/controllers/gateway.controller.js
  server/lib/gateway/gateway.loginTwoFactor.js
  server/package-lock.json
  server/package.json
  server/test/controllers/gateway/gateway.controller.loginTwoFactor.test.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.login.test.js
Due: server, front

Light panel: survive a cancelled touch on the color wheel
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightControlPanel.jsx
Due: front

Dashboard: wrap columns that no longer fit instead of crushing widgets
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(front): restyle the CSV export dialog for the Horizon design
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceExportCsvModal.jsx
  front/src/routes/devices/style.css
Due: front

docs(spec): document dashboard column wrapping tradeoffs
  docs/specs/dashboard-flexible-layout-and-widgets.md
Due: none

Settings: turn the houses tab into a readable list of houses
  front/src/actions/house.js
  front/src/components/house/EditHouse.jsx
  front/src/components/house/EditHouseComponent.jsx
  front/src/components/house/EditRoom.jsx
  front/src/components/house/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-house/EmptySearch.jsx
  front/src/routes/settings/settings-house/EmptyState.jsx
  front/src/routes/settings/settings-house/House.jsx
  front/src/routes/settings/settings-house/HouseCard.jsx
  front/src/routes/settings/settings-house/HousePage.jsx
  front/src/routes/settings/settings-house/index.js
  front/src/routes/settings/settings-house/style.css
Due: front

Dashboard: wrap columns that no longer fit instead of crushing widgets (#2979)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/style.css
Due: front

Gladys Plus: show trial countdown in sidebar with add-payment-method link
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/GatewayTrialIndicator.jsx
  front/src/components/header/index.jsx
  front/src/components/header/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Houses settings: review fixes (locale, a11y, failed requests)
  front/src/actions/house.js
  front/src/components/house/EditHouse.jsx
  front/src/components/house/EditRoom.jsx
  front/src/components/house/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-house/HousePage.jsx
  front/src/routes/settings/settings-house/index.js
Due: front

Gladys Plus trial: restrict the card to account admins, fix the day count and the portal link
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/GatewayTrialIndicator.jsx
  front/src/components/header/index.jsx
Due: front

Light panel: actually detach iro's listeners on a cancelled touch
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
Due: front

feat(front): keep the CSV export on the devices list only
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/downloadDeviceFeaturesCsv.js
Due: front

Light panel: survive a cancelled touch on the color wheel (#2978)
  front/src/components/boxs/device-in-room/device-features/light/LightColorWheel.jsx
  front/src/components/boxs/device-in-room/device-features/light/LightControlPanel.jsx
Due: front
