Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Device without feature
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  server/services/zwave-js-ui/lib/commands/addNode.js
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/commands/getStatus.js
  server/services/zwave-js-ui/lib/commands/removeNode.js
  server/services/zwave-js-ui/lib/commands/scanNetwork.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server, front

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/zwave.test.js
Due: server

Enedis daily consumption device is in Watt-Hour
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
  server/migrations/20230414020652-enedis-unit-is-watt-hour.js
Due: server, front

Improve Enedis page responsive
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
Due: front

Add link to Gladys Plus in Enedis page
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Due: front

Enedis daily consumption device is in Watt-Hour (#1735)
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
  server/migrations/20230414020652-enedis-unit-is-watt-hour.js
Due: server, front

Fix Enedis responsive + add link to Gladys Plus in UI (#1736)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Due: front

Handle streaming on Gladys Plus
  front/src/components/boxs/camera/Camera.jsx
  server/package-lock.json
  server/package.json
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/startStreamingIfNotStarted.js
  server/services/rtsp-camera/lib/stopStreaming.js
Due: server, front

Bug fix configuration
  front/src/routes/integration/all/zwave-js-ui/settings-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/getConfiguration.js
Due: server, front

Improve vacbox integration template
  server/_templates/gladys_module/box/components/add_imports.app.jsx.t
  server/_templates/gladys_module/box/components/add_pages_to_router.app.jsx.t
  server/_templates/gladys_module/box/config/i18n/en.json.t
  server/_templates/gladys_module/box/config/i18n/fr.json.t
  server/_templates/gladys_module/box/config/integrations/devices.json
  server/_templates/gladys_module/box/config/integrations/devices.json.t
  server/_templates/gladys_module/box/prompt.js
  server/_templates/gladys_module/box/routes/integrations/all/app.jsx
  server/_templates/gladys_module/box/routes/integrations/all/service/ServicePage.jsx.t
  server/_templates/gladys_module/box/routes/integrations/all/service/actions.js.t
  server/_templates/gladys_module/box/routes/integrations/all/service/setup-page/SetupTab.jsx.t
  server/_templates/gladys_module/box/routes/integrations/all/service/setup-page/index.js.t
Due: server

Disconnect MQTT if connexion error
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/disconnect.js
Due: server

correct merge typo
  front/src/config/integrations/devices.json
Due: front

Correct merge typo
  front/src/components/boxs/device-in-room/DeviceRow.jsx
Due: front

Use variable & math in scene
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/package-lock.json
  server/package.json
Due: server, front

4.21.0
  package-lock.json
  package.json
Due: none

Fix eslint server
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/startStreamingIfNotStarted.js
  server/services/rtsp-camera/package-lock.json
  server/services/rtsp-camera/package.json
Due: server

Fix eslint front
  front/src/components/boxs/camera/Camera.jsx
Due: front

Add latency option
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/config/i18n/fr.json
  server/models/dashboard.js
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/startStreamingIfNotStarted.js
  server/services/rtsp-camera/lib/stopStreaming.js
Due: server, front

Send a ping every 3 seconds to confirm that the stream is being watched
  front/src/components/boxs/camera/Camera.jsx
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/lib/checkIfLiveActive.js
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/lib/liveActivePing.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/stopStreaming.js
Due: server, front

Add more tests to camera streaming
  server/services/rtsp-camera/lib/checkIfLiveActive.js
  server/services/rtsp-camera/lib/startStreamingIfNotStarted.js
  server/test/services/rtsp-camera/controllers/rtspCamera.controller.test.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Due: server

Add en translations
  front/src/config/i18n/en.json
Due: front

Add mocked test to createReadStream
  server/test/services/rtsp-camera/controllers/rtspCamera.controller.test.js
Due: server

Add more tests to stopStreaming
  server/services/rtsp-camera/lib/stopStreaming.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Due: server

Upgrade mathjs
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
Due: server

Add Readme
  server/_templates/Readme.rst
Due: server

Vacbot menu & background image
  front/src/components/boxs/vacbot/Vacbot.jsx
Due: front

template clean up
  front/src/components/boxs/vacbot/Vacbot.jsx
Due: front

Add some math functions
  server/lib/scene/scene.actions.js
  server/models/scene.js
Due: server

Fix prettier
  server/lib/scene/scene.actions.js
Due: server

Clear live active ping on stop streaming
  front/src/components/boxs/camera/Camera.jsx
Due: front

Clean camera session on stream stop
  server/package-lock.json
  server/package.json
  server/services/rtsp-camera/lib/liveActivePing.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/stopStreaming.js
  server/services/rtsp-camera/package-lock.json
  server/services/rtsp-camera/package.json
Due: server

When stopping streaming, we only stop internal ping
  front/src/components/boxs/camera/Camera.jsx
Due: front

Clean functions + handle case when a live is started from local and continued on Gateway
  server/services/rtsp-camera/lib/convertLocalStreamToGateway.js
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/lib/onNewCameraFile.js
  server/services/rtsp-camera/lib/sendCameraFileToGateway.js
  server/services/rtsp-camera/lib/startStreaming.js
Due: server

Correct frontend bug
  front/src/components/boxs/camera/Camera.jsx
Due: front

Convert local stream to Gateway stream during first load
  server/services/rtsp-camera/lib/convertLocalStreamToGateway.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/startStreamingIfNotStarted.js
Due: server

Add case Gateway -> Local switch
  front/src/components/boxs/camera/Camera.jsx
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/lib/convertLocalStreamToGateway.js
  server/services/rtsp-camera/lib/onNewCameraFile.js
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/startStreamingIfNotStarted.js
  server/test/services/rtsp-camera/rstpCamera.onNewCameraFile.test.js
Due: server, front

Fix eslint
  server/services/rtsp-camera/lib/onNewCameraFile.js
  server/test/services/rtsp-camera/rstpCamera.onNewCameraFile.test.js
Due: server

Add tests
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Add tests to onNewCameraFile
  server/test/services/rtsp-camera/rstpCamera.onNewCameraFile.test.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
