Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Add filter by tags into scene page
  front/package-lock.json
  front/package.json
  front/src/components/layout/CardFilter.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/index.js
  front/src/routes/scene/style.css
  server/lib/scene/scene.get.js
Due: server, front

Add icon modif
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/new-scene/NewScenePage.jsx
Due: front

Add tag on scene
  front/package-lock.json
  front/package.json
  front/src/actions/createScene.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/style/index.css
  server/lib/scene/scene.get.js
  server/migrations/20230627154012-add-tag-scene.js
  server/models/scene.js
Due: server, front

Fix backend test
  server/lib/scene/scene.get.js
  server/seeders/20190227043234-scene.js
  server/seeders/20231002113233-tag-scene.js
  server/test/lib/scene/scene.get.test.js
Due: server

Fix cypress test
  front/cypress/e2e/routes/scene/Scene.cy.js
  server/lib/scene/scene.getBySelector.js
  server/lib/scene/scene.update.js
Due: server, front

Fix eslint and test
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  server/lib/scene/scene.duplicate.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
  server/test/lib/scene/scene.create.test.js
  server/test/lib/scene/scene.get.test.js
Due: server, front

test
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

Test
  front/cypress/cypress.config.js
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

Fix query
  server/lib/scene/scene.get.js
  server/package-lock.json
  server/package.json
Due: server

Test
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

finalize tags
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.getTag.js
Due: server, front

Fix coverage
  server/seeders/20190227043234-scene.js
  server/test/lib/scene/scene.get.test.js
Due: server

Add TagScene
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
  server/lib/scene/scene.create.js
  server/lib/scene/scene.destroy.js
  server/lib/scene/scene.duplicate.js
  server/lib/scene/scene.get.js
  server/lib/scene/scene.getBySelector.js
  server/lib/scene/scene.update.js
  server/migrations/20230627154012-add-tag-scene.js
  server/migrations/20230928144012-add-tag-scene.js
  server/models/index.js
  server/models/scene.js
  server/models/tag_scene.js
Due: server, front

Fix tests
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.get.test.js
  server/test/lib/scene/scene.getTag.test.js
  server/test/lib/scene/scene.update.test.js
Due: server

Fix test
  server/test/lib/scene/scene.get.test.js
Due: server

Fix review return
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
  server/package-lock.json
  server/package.json
Due: server, front

Fix after review
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/new-scene/NewScenePage.jsx
Due: front

fix eslint
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  server/lib/scene/scene.get.js
Due: server, front

test
  front/cypress/cypress.config.js
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

Fix translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneTagFilter.jsx
Due: front

fix
  server/seeders/20231002113233-tag-scene.js
Due: server

Fix eslint
  front/src/components/layout/CardFilter.jsx
Due: front

fix
  front/src/routes/scene/edit-scene/Settings.jsx
Due: front

Add errors and todos ...
  server/services/ecovacs/README.md
Due: server

Bug fix: 2 scan after configuration update
  server/services/zwave-js-ui/api/zwavejsui.controller.js
Due: server

Bug fix: min/max is mandatory
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/api/zwavejs2mqtt.controller.test.js
Due: server

Review docker installation logging
  server/services/zwave-js-ui/lib/commands/installMqttContainer.js
  server/services/zwave-js-ui/lib/commands/installZwaveJSUIContainer.js
Due: server

ESLInt
  server/services/zwave-js-ui/lib/commands/installMqttContainer.js
Due: server

Remove tests
  server/test/services/overkiz/lib/client/overkiz.default.test.js
  server/test/services/overkiz/lib/commands/overkiz.connect.test.js
Due: server

4.31.0
  package-lock.json
  package.json
Due: none

Tests
  server/test/services/sunspec/api/sunspec.controller.test.js
  server/test/services/sunspec/lib/bdpv/sunspec.bdpv.test.js
  server/test/services/sunspec/lib/sunspec.connect.test.js
  server/test/services/sunspec/lib/sunspec.disconnect.test.js
  server/test/services/sunspec/lib/sunspec.poll.test.js
  server/test/services/sunspec/lib/sunspec.scan.test.js
  server/test/services/sunspec/lib/sunspec.scanDevices.test.js
  server/test/services/sunspec/lib/sunspec.scanNetwork.test.js
Due: server

Message per Node
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
Due: front

switch on errorCodes
  server/services/ecovacs/lib/device/vacbot.poll.js
Due: server

Better logs when event is not handled
  server/services/ecovacs/lib/event/ecovacs.onMessage.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
