Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Fix after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/MQTTReceivedTrigger.jsx
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/triggers/scene.trigger.mqttReceived.test.js
Due: server, front

Fix test
  server/test/lib/scene/scene.checkTrigger.test.js
Due: server

Fix coverage
  server/lib/scene/scene.addScene.js
  server/test/lib/scene/scene.addScene.test.js
Due: server

fix eslint
  server/lib/scene/scene.cancelTriggers.js
Due: server

Change message queue to MQTT
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.triggers.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/utils/constants.js
Due: server, front

Fix bad import
  front/src/routes/scene/edit-scene/triggers/MQTTReceivedTrigger.jsx
Due: front

Fis eslint
  server/test/services/philips-hue/light/light.configureBridge.test.js
Due: server

fix prettier
  server/config/brain/camera/questions.fr.json
Due: server

display camera by name
  server/config/brain/camera/answers.en.json
  server/config/brain/camera/answers.fr.json
  server/config/brain/camera/questions.en.json
  server/config/brain/camera/questions.fr.json
  server/lib/brain/index.js
  server/lib/device/camera/camera.command.js
  server/lib/device/camera/camera.getImagesInRoom.js
  server/lib/device/camera/index.js
  server/lib/device/device.create.js
  server/lib/device/device.init.js
  server/lib/device/index.js
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/lib/index.js
  server/test/lib/device/camera/camera.command.test.js
  server/test/lib/device/camera/camera.getImageInRoom.test.js
  server/utils/constants.js
Due: server

Fix some test
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.init.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
Due: server

remove console.log
  server/lib/device/camera/camera.command.js
  server/lib/device/device.create.js
Due: server

Fix uncovered code
  server/test/lib/device/camera/camera.command.test.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
Due: server

Added scroll top feature Button added in header for all pages
  front/src/components/header/index.jsx
  front/src/components/navigation/NavigationButton.jsx
  front/src/routes/dashboard/DashboardPage.jsx
Due: front

2 buttons
  front/src/components/navigation/NavigationButton.jsx
  front/src/components/navigation/style.css
Due: front

Added to bottom button
  front/src/components/navigation/NavigationButton.jsx
Due: front

button beautiful
  front/src/components/navigation/NavigationButton.jsx
Due: front

Changed button hiding to disabled
  front/src/components/navigation/NavigationButton.jsx
Due: front

amazing buttons
  front/src/components/navigation/NavigationButton.jsx
  front/src/components/navigation/style.css
Due: front

Unsed event
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
Due: server

fix(philips-hue): Fix test coverage
  server/test/services/philips-hue/light/light.getBridges.test.js
  server/test/services/philips-hue/mocks.test.js
Due: server

Bug fix check.test
  server/services/sunspec/lib/index.js
  server/services/sunspec/lib/sunspec.connect.js
  server/services/sunspec/lib/sunspec.disconnect.js
  server/services/sunspec/lib/sunspec.scan.js
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/services/sunspec/lib/sunspec.scanNetwork.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
Due: server

Philips Hue: Do n-Upnp scan + Upnp scan + manual add of bridge (#1920)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/setup-page/SetupTab.jsx
  front/src/routes/integration/all/philips-hue/setup-page/actions.js
  server/services/philips-hue/api/hue.controller.js
  server/services/philips-hue/lib/light/index.js
  server/services/philips-hue/lib/light/light.configureBridge.js
  server/services/philips-hue/lib/light/light.getBridges.js
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
  server/test/services/philips-hue/controllers/configureBridge.controller.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/test/services/philips-hue/light/light.getBridges.test.js
  server/test/services/philips-hue/mocks.test.js
Due: server, front

Reverse door opening sensor translations (#1930)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Display camera by name (#1928)
  server/config/brain/camera/answers.en.json
  server/config/brain/camera/answers.fr.json
  server/config/brain/camera/questions.en.json
  server/config/brain/camera/questions.fr.json
  server/lib/brain/index.js
  server/lib/device/camera/camera.command.js
  server/lib/device/camera/camera.getImagesInRoom.js
  server/lib/device/camera/index.js
  server/lib/device/device.create.js
  server/lib/device/device.init.js
  server/lib/device/index.js
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/lib/index.js
  server/test/lib/device/camera/camera.command.test.js
  server/test/lib/device/camera/camera.getImageInRoom.test.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.init.test.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/utils/constants.js
Due: server

Add scene trigger : New MQTT message (#1913)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/MQTTReceivedTrigger.jsx
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/triggers/scene.trigger.mqttReceived.test.js
  server/utils/constants.js
Due: server, front

Tests
  server/services/overkiz/lib/client/overkiz.default.js
  server/services/overkiz/lib/commands/overkiz.connect.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
  server/services/overkiz/lib/overkiz.constants.js
  server/test/services/overkiz/lib/commands/overkiz.connect.test.js
  server/test/services/overkiz/lib/commands/overkiz.getOverkizDevices.test.js
Due: server

Tests
  server/services/overkiz/lib/commands/overkiz.connect.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
Due: server

fix : navbutton z-index
  front/src/components/navigation/style.css
Due: front

opacity button enabled
  front/src/components/navigation/style.css
Due: front

Adding hue icon
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/new-scene/NewScenePage.jsx
  server/config/icons.json
  server/migrations/20231115155618-update-icon-scene.js
Due: server, front

Add warning on new Gladys Plus plans
  front/src/components/boxs/camera/Camera.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/UpgradePlan.jsx
  front/src/routes/settings/settings-backup/index.js
  front/src/routes/settings/settings-billing/GatewayBilling.jsx
  front/src/routes/settings/settings-billing/index.js
Due: front

test
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

Fix again
  server/lib/scene/scene.update.js
  server/test/lib/scene/scene.init.test.js
Due: server

temp
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

Remove menu and add dropdown menu
  front/src/components/layout/CardFilter.jsx
  front/src/routes/scene/SceneMenu.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
Due: front

fix cypress test
  front/cypress/e2e/routes/scene/Scene.cy.js
Due: front

Fix review
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/constant.js
  front/src/routes/scene/index.js
  server/api/controllers/scene.controller.js
  server/lib/scene/scene.get.js
  server/lib/scene/scene.update.js
Due: server, front

Last change
  front/src/components/layout/CardFilter.jsx
  front/src/config/i18n/en.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneMenu.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/index.js
  front/src/routes/scene/style.css
Due: front

Fix review
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
Due: front
