Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Scene: Fix search on small screens
  front/src/routes/scene/SceneTagFilter.jsx
Due: front

Scene: Fix search on small screens (#2372)
  front/src/routes/scene/SceneTagFilter.jsx
Due: front

Add button to update enedis usage point
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
Due: front

Increase enedis batch size, add conversion to kWh
  server/services/enedis/lib/enedis.sync.js
  server/services/enedis/lib/index.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
Due: server

Set consumption 30 minutes to kWh
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Due: front

Fix tests
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
Due: server

saveHistoricalState: Should update state if already present at same date
  server/lib/device/device.saveHistoricalState.js
  server/models/index.js
  server/test/lib/device/device.saveHistoricalState.test.js
Due: server

Fix lint
  server/lib/device/device.saveHistoricalState.js
Due: server

Make external_id visible on Zigbee2mqtt integration
  front/src/components/device/UpdateDeviceFeature.jsx
Due: front

Add euro & dollar unit to energy feature
  server/utils/constants.js
Due: server

Zigbee2mqtt : Add names for all Lixee TIC features + add missing BBRHCJB
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server

Zigbee2mqtt should use custom name if present
  server/services/zigbee2mqtt/utils/features/completeFeature.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/feature/completeFeature.test.js
Due: server

Fix linting
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server

Fix broadlink cypress test
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditDevice.cy.js
Due: front

Display multiple device features on energy consumption widget
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Due: front

Add custom colors
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Due: front

Fix tooltip
  front/src/components/boxs/chart/ApexChartComponent.jsx
Due: front

Button redirects to tasks page + better translations & description
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Add word about electric meter in import price
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Due: front

Add word about electric meter in wizard
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Add auto create of electric meter
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Due: front

Translate contract name
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Due: front

Disable zoom on energy monitoring chart
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Due: front

Add more logs to buildEdfTempoDayMap
  server/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.js
  server/test/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.test.js
Due: server

Fix sinon stub
  server/test/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.test.js
Due: server

Fix cost calculation tempo at night
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
Due: server

Update caniuse-lite browser target
  front/cli/inject-index-tail.js
  front/package-lock.json
  front/package.json
Due: front

Update caniuse-lite browser target (#2374)
  front/cli/inject-index-tail.js
  front/package-lock.json
  front/package.json
Due: front

Fix update of enedis device
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
  front/src/routes/integration/all/enedis-gateway/usagePointDeviceBuilder.js
Due: front

Handle device without room in MCP
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Handle device without room in MCP (#2375)
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Replace en-community links to community
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  SECURITY.md
  front/src/components/header/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Due: front

Remove double links
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  SECURITY.md
Due: none

Replace en-community links to community (#2376)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  SECURITY.md
  front/src/components/header/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Due: front

Add get-history as MCP tool
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Due: server

Gladys Plus: Redirect user to dashboard instead of link-gateway-user if account is already linked
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-setup/LinkGatewayUser.jsx
  front/src/routes/gateway-setup/index.js
Due: front

Handle provider like "gaz-de-bordeaux"
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Due: front

Gladys Plus: Redirect user to dashboard instead of link-gateway-user if account is already linked (#2378)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-setup/LinkGatewayUser.jsx
  front/src/routes/gateway-setup/index.js
Due: front

Cache API call to get Tempo day
  server/package-lock.json
  server/package.json
  server/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.js
  server/services/energy-monitoring/package-lock.json
  server/services/energy-monitoring/package.json
  server/test/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.test.js
Due: server

Use toon for get-states
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatValue.js
Due: server
