Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Correction poll frequency
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

Update poll frequency
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

Arduino API : Add configuration of device
  front/src/routes/integration/all/arduino/device-page/actions.js
  server/services/arduino/api/arduino.controller.js
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/index.js
Due: server, front

Update setValue : add switch for IR
  server/services/arduino/lib/device.setValue.js
Due: server

setValue : add switch for emit_433
  server/services/arduino/lib/device.setValue.js
Due: server

Update button device in dashboard
  front/src/components/boxs/device-in-room/device-features/ButtonDeviceFeature.jsx
Due: front

Update dashboard
  front/src/components/boxs/device-in-room/device-features/ButtonDeviceFeature.jsx
Due: front

Remove option poll : 100 ms
  server/lib/device/device.setupPoll.js
  server/utils/constants.js
Due: server

Prettier
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  front/src/routes/integration/all/arduino/device-page/DeviceTab.jsx
  front/src/routes/integration/all/arduino/device-page/actions.js
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/parseData.js
  server/services/arduino/lib/poll.js
  server/services/arduino/lib/poll_arduino.js
  server/services/arduino/lib/poll_backup.js
  server/services/arduino/lib/recv.js
  server/services/arduino/lib/send.js
  server/services/arduino/lib/setup.js
  server/services/usb/api/usb.controller.js
  server/utils/constants.js
Due: server, front

Add init function
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/index.js
  server/services/arduino/lib/index.js
  server/services/arduino/lib/init.js
  server/services/arduino/lib/poll.js
  server/services/arduino/lib/poll_arduino.js
  server/services/arduino/lib/poll_backup.js
Due: server, front

API : add init + init on arduino save
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/api/arduino.controller.js
Due: server, front

Test : init on delete (update reception)
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

Correction
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

Add motion and opening sensor
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Correction opening sensor
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Correction affichage UI
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

First tests
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/index.test.js
Due: server

eslint + listen/init functions
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/api/arduino.controller.js
  server/services/arduino/lib/index.js
  server/services/arduino/lib/init.js
  server/services/arduino/lib/listen.js
  server/services/arduino/lib/send.js
  server/services/arduino/lib/setup.js
Due: server, front

Check if port opened
  server/services/arduino/lib/listen.js
Due: server

eslint on init.js
  server/services/arduino/lib/init.js
Due: server

Debug listen
  server/services/arduino/lib/listen.js
Due: server

Cleaning init.js
  server/services/arduino/lib/init.js
Due: server

Debug
  server/services/arduino/lib/init.js
  server/services/arduino/lib/initBackup.js
  server/services/arduino/lib/listen.js
Due: server

Test init without listen
  server/services/arduino/lib/init.js
  server/services/arduino/lib/initBackup.js
Due: server

Debug
  server/services/arduino/lib/init.js
Due: server

Correction
  server/services/arduino/lib/init.js
  server/services/arduino/lib/initBackup.js
  server/services/arduino/lib/listen.js
Due: server

Debug
  server/services/arduino/lib/init.js
  server/services/arduino/lib/initBackup.js
Due: server

Front : Add listen for device linked
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Correction
  server/services/arduino/lib/device.configure.js
Due: server

Correction device.configure.js
  server/services/arduino/lib/device.configure.js
Due: server

Correction
  server/services/arduino/lib/device.setValue.js
Due: server

Update scripts in back
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/device.setValue.js
Due: server

Correction
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Clear useless scripts
  server/services/arduino/api/arduino.controller.js
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/index.js
  server/services/arduino/lib/initBackup.js
  server/services/arduino/lib/parseData.js
  server/services/arduino/lib/poll.js
  server/services/arduino/lib/poll_arduino.js
  server/services/arduino/lib/poll_backup.js
  server/services/arduino/lib/recv.js
Due: server

prettier
  front/src/routes/integration/all/arduino/device-page/actions.js
  server/services/arduino/api/arduino.controller.js
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/index.js
  server/services/arduino/lib/init.js
  server/services/arduino/lib/listen.js
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/index.test.js
Due: server, front

eslint
  front/src/routes/integration/all/arduino/ArduinoPage.js
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  front/src/routes/integration/all/arduino/device-page/DeviceTab.jsx
  front/src/routes/integration/all/arduino/device-page/actions.js
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/init.js
  server/services/arduino/lib/listen.js
  server/services/arduino/lib/send.js
Due: server, front
