Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

name for enventLog in fr and en
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

title/subtitle Page
  front/src/routes/event-log/EventLogPage.jsx
Due: front

Added first log
  server/lib/event/event.log.js
  server/lib/event/index.js
  server/lib/eventlog/index.js
  server/lib/house/house.update.js
  server/migrations/20231206092537-create-event-log.js
  server/utils/constants.js
Due: server

add filter boxes
  front/src/routes/event-log/EventLogPage.jsx
Due: front

shortcuts command
  server/package.json
Due: server

If params are given in CLI, do not ask for them in prompt. Thanks to this thread : https://github.com/jondot/hygen/issues/35
  server/_templates/gladys_module/box/prompt.js
  server/_templates/gladys_module/dashboard_box/prompt.js
  server/_templates/gladys_module/service/prompt.js
  server/_templates/promptArgsUtil.js
Due: server

feat : disappearing button, right-side, bigger
  front/src/components/navigation/NavigationButton.jsx
  front/src/components/navigation/style.css
Due: front

fixed issue relating to tests
  front/src/components/navigation/NavigationButton.jsx
Due: front

Use node as first process in Docker container (#1965)
  docker/Dockerfile
  docker/Dockerfile.buildx
Due: none

create new category VOC_INDEX_SENSOR
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Due: server, front

create new category BATTERY_LOW
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

feat(dashboard edit): Add button -add- per column
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Due: front

Add scene action to play sonos tts
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/lib/device/device.setValue.js
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/lib/gateway/index.js
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
  server/services/sonos/lib/sonos.setValue.js
  server/services/sonos/utils/convertToGladysDevice.js
  server/utils/constants.js
Due: server, front

Zigbee2mqtt: Add voc_index expose (#1963)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Due: server, front

Zigbee2mqtt: Add low_battery and tamper expose on Owon pir313 e (#1962)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

Dashboard: Add one button add per column (#1970)
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Due: front

fix: Update camera card size
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Due: front

fix commit #1969
  front/cypress/cypress.config.js
  front/cypress/support/component-index.html
  front/cypress/support/component.js
  front/package-lock.json
  front/package.json
Due: front

Remove console.log
  server/services/sonos/lib/sonos.setValue.js
Due: server

Update fr.json
  front/src/config/i18n/fr.json
Due: front

ewelink: remove deprecation message
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
Due: front

ewelink: upgrade service functions
  server/services/ewelink/index.js
  server/services/ewelink/lib/ewelink.init.js
  server/services/ewelink/lib/index.js
  server/services/ewelink/lib/utils/constants.js
  server/services/ewelink/lib/versions/ewelink.upgrade.js
  server/services/ewelink/lib/versions/ewelink.v2.js
  server/services/ewelink/package-lock.json
  server/services/ewelink/package.json
  server/test/services/ewelink/index.test.js
  server/test/services/ewelink/lib/ewelink.init.test.js
  server/test/services/ewelink/lib/version/ewelink.upgrade.test.js
Due: server

ewelink: setup and login pages
  front/src/assets/integrations/cover/ewelink_logo.png
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/actions.js
  front/src/routes/integration/all/ewelink/setup-page/ApplicationSetup.jsx
  front/src/routes/integration/all/ewelink/setup-page/SetupSummary.jsx
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
  front/src/routes/integration/all/ewelink/setup-page/constants.js
  front/src/routes/integration/all/ewelink/setup-page/index.js
  front/src/routes/integration/all/ewelink/setup-page/login/ErrorPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/login/ExchangeTokenPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/login/index.js
  server/utils/constants.js
Due: server, front

ewelink: add documentation link
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/EweLinkPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/index.js
Due: front

ewelink: add stop service method
  server/services/ewelink/index.js
  server/services/ewelink/lib/ewelink.stop.js
  server/services/ewelink/lib/index.js
  server/test/services/ewelink/index.test.js
  server/test/services/ewelink/lib/ewelink.stop.test.js
  server/utils/constants.js
Due: server

ewelink: rename Client to WebAPIClient
  server/services/ewelink/lib/config/ewelink.createClients.js
  server/services/ewelink/lib/config/ewelink.loadConfiguration.js
  server/services/ewelink/lib/config/ewelink.saveConfiguration.js
  server/services/ewelink/lib/device/discover.js
  server/services/ewelink/lib/device/poll.js
  server/services/ewelink/lib/device/setValue.js
  server/services/ewelink/lib/handlers/ewelink.handleRequest.js
  server/services/ewelink/lib/index.js
  server/services/ewelink/lib/user/ewelink.buildLoginUrl.js
  server/services/ewelink/lib/user/ewelink.deleteTokens.js
  server/services/ewelink/lib/user/ewelink.exchangeToken.js
  server/test/services/ewelink/lib/config/ewelink.loadConfiguration.test.js
  server/test/services/ewelink/lib/config/ewelink.saveConfiguration.test.js
  server/test/services/ewelink/lib/device/discover.test.js
  server/test/services/ewelink/lib/device/poll.test.js
  server/test/services/ewelink/lib/device/setValue.test.js
  server/test/services/ewelink/lib/handlers/ewelink.handleRequest.test.js
  server/test/services/ewelink/lib/user/ewelink.buildLoginUrl.test.js
  server/test/services/ewelink/lib/user/ewelink.deleteTokens.test.js
  server/test/services/ewelink/lib/user/ewelink.exchangeToken.test.js
Due: server

ewelink: create client is not a promise
  server/services/ewelink/lib/config/ewelink.createClients.js
Due: server

Change after eslint run
  server/_templates/promptArgsUtil.js
Due: server

Add template for device and discover tabs
  server/_templates/gladys_module/devices_box/components/add_imports.app.jsx.t
  server/_templates/gladys_module/devices_box/components/add_pages_to_router.app.jsx.t
  server/_templates/gladys_module/devices_box/prompt.js
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/ServiceDeviceBox.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/ServicePage.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/actions.js.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/DeviceTab.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/EmptyState.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/index.js.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/style.css.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/index.js.t
  server/_templates/gladys_module/discover_box/components/add_imports.app.jsx.t
  server/_templates/gladys_module/discover_box/components/add_pages_to_router.app.jsx.t
  server/_templates/gladys_module/discover_box/config/demo.js.t
  server/_templates/gladys_module/discover_box/config/i18n/en.edit_txt.json.t
  server/_templates/gladys_module/discover_box/config/i18n/en.json.t
  server/_templates/gladys_module/discover_box/config/i18n/fr.edit_txt.json.t
  server/_templates/gladys_module/discover_box/config/i18n/fr.json.t
  server/_templates/gladys_module/discover_box/prompt.js
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/ServiceDeviceBox.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/ServicePage.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/actions.js.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/DiscoverTab.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/EmptyState.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/index.js.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/style.css.t
Due: server

feat: Close user-dropdown with click outside
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/index.jsx
Due: front

eslint + prettier
  front/src/actions/main.js
  front/src/components/header/index.jsx
Due: front

4.32.0
  package-lock.json
  package.json
Due: none

Update volume
  server/services/sonos/lib/sonos.setValue.js
Due: server

Remove log
  server/lib/scene/scene.actions.js
Due: server

Add tests to getTTSApiUrl
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getTTSApiUrl.test.js
Due: server

Add test on play-notification
  server/test/lib/scene/actions/scene.action.playNotification.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
