Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Fix codecov.yml (#712)
  codecov.yml
Due: none

Run tests in a RAM db
  server/config/config.js
  server/package.json
Due: server

Fix codecov.yml
  codecov.yml
Due: none

Fix Maps: markerArray should not be a global variable
  front/src/routes/map/Map.jsx
Due: front

Eslint should check .jsx files
  front/package.json
  front/src/components/documentation/DeviceConfigurationLink.jsx
Due: front

Update README
  README.md
Due: none

Change Maps markerArray lifecycle
  front/src/routes/map/Map.jsx
Due: front

Multiple UI fixes + implement umzug so that DB is migrated in Gladys directly (#711)
  README.md
  codecov.yml
  front/package.json
  front/src/actions/dashboard/edit-boxes/editDevicesInRoom.js
  front/src/actions/dashboard/edit-boxes/editTemperatureInRoom.js
  front/src/actions/house.js
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/room-temperature/EditRoomTemperatureBox.jsx
  front/src/components/documentation/DeviceConfigurationLink.jsx
  front/src/components/house/EditHouse.jsx
  front/src/components/house/EditHouseComponent.jsx
  front/src/components/house/EditRoom.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/device-page/actions.js
  front/src/routes/integration/all/mqtt/device-page/index.js
  front/src/routes/integration/all/philips-hue/device-page/actions.js
  front/src/routes/integration/all/rtsp-camera/actions.js
  front/src/routes/integration/all/rtsp-camera/index.js
  front/src/routes/integration/all/xiaomi/actions.js
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/node-page/index.js
  front/src/routes/map/Map.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/utils/consts.js
  server/config/config.js
  server/lib/index.js
  server/models/house.js
  server/models/index.js
  server/models/room.js
  server/package.json
  server/test/bootstrap.test.js
  server/test/lib/house/house.test.js
  server/test/lib/room/room.test.js
Due: server, front

Sonoff: manage Dual R2
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/device-page/models.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/models/index.js
  server/services/sonoff/models/switch_dual_r2.js
  server/test/services/sonoff/lib/handleMqttMessage.test.js
  server/test/services/sonoff/models/plug_s26.test.js
  server/test/services/sonoff/models/switch_basic.test.js
  server/test/services/sonoff/models/switch_dual_r2.test.js
  server/test/services/sonoff/models/switch_pow.test.js
Due: server, front

Sonoff: dual R2 setValue Power1/2
  server/services/sonoff/lib/setValue.js
  server/test/services/sonoff/lib/setValue.test.js
Due: server

Sonoff: add arilux-lc01 device
  front/src/config/i18n/en.json
  server/package.json
  server/services/sonoff/models/index.js
  server/services/sonoff/models/light_al_lc01.js
  server/test/services/sonoff/models/light_al_lc01.test.js
Due: server, front

Sonoff: improve pow device and mqtt topics
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  server/package.json
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/models/switch_pow.js
  server/test/services/sonoff/lib/handleMqttMessage.test.js
  server/test/services/sonoff/models/switch_pow.test.js
  server/utils/constants.js
Due: server, front

Sonoff: split methods
  server/services/sonoff/lib/cmdValue/index.js
  server/services/sonoff/lib/cmdValue/light.setValue.js
  server/services/sonoff/lib/cmdValue/switch.setValue.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/sonoff/lib/mqttStat/index.js
  server/services/sonoff/lib/mqttStat/power.js
  server/services/sonoff/lib/mqttStat/sensor.js
  server/services/sonoff/lib/mqttStat/state.js
  server/services/sonoff/lib/mqttStat/status.js
  server/services/sonoff/lib/setValue.js
  server/test/services/sonoff/lib/setValue.test.js
Due: server

Sonoff: improve test coverage
  server/test/services/sonoff/lib/setValue.test.js
Due: server

Sonoff: refactor device list
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/sonoff/models.js
  server/services/sonoff/models/light_al_lc01.js
  server/services/sonoff/models/plug_s2x.js
  server/services/sonoff/models/switch_basic.js
  server/services/sonoff/models/switch_dual_r2.js
  server/services/sonoff/models/switch_pow.js
  server/test/services/sonoff/models/light_al_lc01.test.js
  server/test/services/sonoff/models/plug_s26.test.js
  server/test/services/sonoff/models/switch_basic.test.js
  server/test/services/sonoff/models/switch_dual_r2.test.js
  server/test/services/sonoff/models/switch_pow.test.js
Due: server, front

Sonoff: manage Sonoff SV device
  server/services/sonoff/models/index.js
  server/services/sonoff/models/switch_sv.js
  server/test/services/sonoff/models/switch_sv.test.js
Due: server

Sonoff: rename device files
  server/services/sonoff/models/index.js
  server/services/sonoff/models/light_arilux_lc01.js
  server/services/sonoff/models/plug_sonoff_s2x.js
  server/services/sonoff/models/switch_sonoff_4ch.js
  server/services/sonoff/models/switch_sonoff_basic.js
  server/services/sonoff/models/switch_sonoff_dual.js
  server/services/sonoff/models/switch_sonoff_dual_r2.js
  server/services/sonoff/models/switch_sonoff_pow.js
  server/services/sonoff/models/switch_sonoff_sv.js
  server/test/services/sonoff/models/light_arilux_lc01.test.js
  server/test/services/sonoff/models/plug_sonoff_s26.test.js
  server/test/services/sonoff/models/switch_sonoff_4ch.test.js
  server/test/services/sonoff/models/switch_sonoff_basic.test.js
  server/test/services/sonoff/models/switch_sonoff_dual.test.js
  server/test/services/sonoff/models/switch_sonoff_dual_r2.test.js
  server/test/services/sonoff/models/switch_sonoff_pow.test.js
  server/test/services/sonoff/models/switch_sonoff_sv.test.js
Due: server

Sonoff: manage Sonoff Touch device
  server/services/sonoff/models/index.js
  server/services/sonoff/models/switch_sonoff_touch.js
  server/test/services/sonoff/models/switch_sonoff_touch.test.js
Due: server

Sonoff: manage Slampher device
  server/services/sonoff/models/index.js
  server/services/sonoff/models/light_slampher.js
  server/test/services/sonoff/models/switch_slampher.test.js
Due: server

Sonoff: manage Sonoff Dual device
  server/services/sonoff/models/index.js
  server/services/sonoff/models/switch_dual.js
  server/test/services/sonoff/models/switch_dual.test.js
Due: server

Sonoff: manage 4CH device
  server/services/sonoff/models/index.js
  server/services/sonoff/models/switch_4ch.js
  server/test/services/sonoff/models/switch_4ch.test.js
Due: server

Sonoff: manage Sonoff LED device
  server/services/sonoff/models/index.js
  server/services/sonoff/models/light_sonoff_led.js
  server/test/services/sonoff/models/light_sonoff_led.test.js
Due: server

Sonoff: fix device discover
  server/services/sonoff/lib/mqttStat/status.js
Due: server

Sonoff: manage 1/4 Channel devices
  server/services/sonoff/models/index.js
  server/services/sonoff/models/switch_sonoff_1_channel.js
  server/services/sonoff/models/switch_sonoff_4_channel.js
  server/test/services/sonoff/models/switch_sonoff_1_channel.test.js
  server/test/services/sonoff/models/switch_sonoff_4_channel.test.js
Due: server

Sonoff: refactor device box
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/SonoffDeviceBox.jsx
  front/src/routes/integration/all/sonoff/device-page/DeviceTab.jsx
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/discover-page/DiscoverTab.jsx
Due: front

Sonoff: edit device features
  front/src/components/app.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
  front/src/routes/integration/all/sonoff/edit-page/index.js
Due: front

Sonoff: delete manual creation
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/device-page/DeviceTab.jsx
  front/src/routes/integration/all/sonoff/device-page/EmptyState.jsx
Due: front

Sonoff: refactor device and handle updates
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/SonoffDeviceBox.jsx
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/sonoff/models.js
  server/services/sonoff/lib/getDiscoveredDevices.js
  server/services/sonoff/lib/mqttStat/status.js
  server/services/sonoff/models/features/index.js
  server/services/sonoff/models/light_arilux_lc01.js
  server/services/sonoff/models/light_slampher.js
  server/services/sonoff/models/light_sonoff_led.js
  server/services/sonoff/models/plug_sonoff_s2x.js
  server/services/sonoff/models/switch_sonoff_1_channel.js
  server/services/sonoff/models/switch_sonoff_4_channel.js
  server/services/sonoff/models/switch_sonoff_4ch.js
  server/services/sonoff/models/switch_sonoff_basic.js
  server/services/sonoff/models/switch_sonoff_dual.js
  server/services/sonoff/models/switch_sonoff_dual_r2.js
  server/services/sonoff/models/switch_sonoff_pow.js
  server/services/sonoff/models/switch_sonoff_sv.js
  server/services/sonoff/models/switch_sonoff_touch.js
  server/test/services/sonoff/lib/getDiscoveredDevices.test.js
  server/test/services/sonoff/models/light_arilux_lc01.test.js
  server/test/services/sonoff/models/light_sonoff_led.test.js
  server/test/services/sonoff/models/plug_sonoff_s26.test.js
  server/test/services/sonoff/models/switch_slampher.test.js
  server/test/services/sonoff/models/switch_sonoff_1_channel.test.js
  server/test/services/sonoff/models/switch_sonoff_4_channel.test.js
  server/test/services/sonoff/models/switch_sonoff_4ch.test.js
  server/test/services/sonoff/models/switch_sonoff_basic.test.js
  server/test/services/sonoff/models/switch_sonoff_dual.test.js
  server/test/services/sonoff/models/switch_sonoff_dual_r2.test.js
  server/test/services/sonoff/models/switch_sonoff_pow.test.js
  server/test/services/sonoff/models/switch_sonoff_sv.test.js
  server/test/services/sonoff/models/switch_sonoff_touch.test.js
Due: server, front

Sonoff: fix typo
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/discover-page/DiscoverTab.jsx
Due: front

Sonoff: oops - fix tests
  server/test/services/sonoff/lib/handleMqttMessage.test.js
Due: server

Sonoff: manage not managed device
  front/src/config/i18n/en.json
  front/src/routes/integration/all/sonoff/SonoffDeviceBox.jsx
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/models.js
  server/services/sonoff/lib/mqttStat/status.js
Due: server, front

Sonoff: fix refactor impacts
  front/src/routes/integration/all/sonoff/SonoffDeviceBox.jsx
  front/src/routes/integration/all/sonoff/actions.js
  front/src/routes/integration/all/sonoff/device-page/DeviceTab.jsx
  front/src/routes/integration/all/sonoff/discover-page/DiscoverTab.jsx
  server/services/sonoff/lib/mqttStat/status.js
Due: server, front

Tasmota: display featuren name
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
Due: front

Tasmota: dynamic discover
  front/src/config/i18n/en.json
  front/src/routes/integration/all/tasmota/TasmotaDeviceBox.jsx
  front/src/routes/integration/all/tasmota/actions.js
  front/src/routes/integration/all/tasmota/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/tasmota/discover-page/index.js
  server/services/tasmota/api/tasmota.controller.js
  server/services/tasmota/lib/forceScan.js
  server/services/tasmota/lib/getDiscoveredDevices.js
  server/services/tasmota/lib/handleMqttMessage.js
  server/services/tasmota/lib/index.js
  server/services/tasmota/lib/mergeWithExistingDevice.js
  server/services/tasmota/lib/notifyNewDevice.js
  server/test/services/tasmota/lib/device-creation/colorChannel-1.test.js
  server/test/services/tasmota/lib/device-creation/colorChannel-2.test.js
  server/test/services/tasmota/lib/device-creation/colorChannel-3.test.js
  server/test/services/tasmota/lib/device-creation/colorChannel-4.test.js
  server/test/services/tasmota/lib/device-creation/colorChannel-5.test.js
  server/test/services/tasmota/lib/device-creation/colorScheme.test.js
  server/test/services/tasmota/lib/device-creation/colorSpeed.test.js
  server/test/services/tasmota/lib/device-creation/colorTemperature.test.js
  server/test/services/tasmota/lib/device-creation/dimmer_light.test.js
  server/test/services/tasmota/lib/device-creation/dimmer_switch.test.js
  server/test/services/tasmota/lib/device-creation/energy-feature.test.js
  server/test/services/tasmota/lib/device-creation/power_light_off.test.js
  server/test/services/tasmota/lib/device-creation/power_light_on.test.js
  server/test/services/tasmota/lib/device-creation/power_switch_off.test.js
  server/test/services/tasmota/lib/device-creation/power_switch_on.test.js
  server/test/services/tasmota/lib/getDiscoveredDevices.test.js
  server/utils/constants.js
Due: server, front

Tasmota: add components
  server/services/tasmota/lib/features/counter.js
  server/services/tasmota/lib/features/humidity.js
  server/services/tasmota/lib/features/index.js
  server/services/tasmota/lib/features/temperature.js
  server/services/tasmota/lib/mqtt/featureStatus.js
  server/services/tasmota/lib/mqtt/subStatus.js
  server/test/services/tasmota/lib/device-creation/AM2301.json
  server/test/services/tasmota/lib/device-creation/DHT11.json
  server/test/services/tasmota/lib/device-creation/counter-feature.test.js
  server/test/services/tasmota/lib/device-creation/counter.json
  server/test/services/tasmota/lib/device-creation/temperture_humdity_AM2301.test.js
  server/test/services/tasmota/lib/device-creation/temperture_humdity_DHT11.test.js
  server/utils/constants.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
