Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Rename housesWithRooms cache
  front/src/actions/house.js
  front/src/components/device/UpdateDeviceForm.jsx
  front/src/components/device/form/DeviceRoomSelector.jsx
  front/src/components/device/index.js
  front/src/routes/settings/settings-house/HousePage.jsx
  front/src/routes/settings/settings-house/index.js
  front/src/routes/settings/settings-users/index.js
Due: front

async + test
  server/lib/system/system.getNetworkMode.js
  server/test/lib/system/system.getNetworkMode.test.js
Due: server

Updating async test
  server/package.json
  server/test/lib/system/system.getNetworkMode.test.js
Due: server

Bug: blueetoth startup missing awit
  server/services/bluetooth/index.js
Due: server

Add explanation text about shared calendars
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Remove console.log
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Due: front

Init trigger with default values + remove empty values
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
Due: front

fix for review
  front/src/components/oauth2/actions.js
  front/src/routes/integration/all/withings/device-page/actions.js
  server/api/controllers/oauth2.controller.js
  server/lib/device/device.create.js
  server/lib/device/device.saveHistoricalState.js
  server/package-lock.json
  server/package.json
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/services/withings/api/withings.controller.test.js
Due: server, front

Add message when the user has no calendars
  front/src/actions/calendar.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/calendar/index.js
Due: front

Private calendars should not be checked in scenes
  server/lib/scene/scene.checkCalendarTriggers.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
Due: server

Fix calendar triggers feedbacks (#1445)
  front/src/actions/calendar.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/calendar/index.js
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  server/lib/scene/scene.checkCalendarTriggers.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
Due: server, front

Fix first day of week calendar component
  front/src/routes/calendar/index.js
Due: front

Fix first day of week calendar component (#1446)
  front/src/routes/calendar/index.js
Due: front

Add calendar.findCurrentlyRunningEvent function
  server/lib/calendar/calendar.findCurrentlyRunningEvent.js
  server/lib/calendar/index.js
  server/test/lib/calendar/calendar.event.test.js
Due: server

Add new scene action "calendar.is-event-running"
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/utils/constants.js
Due: server

Add more tests to calendar find currently running event
  server/test/lib/calendar/calendar.event.test.js
Due: server

Add new condition in scene on calendar event
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.css
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/models/scene.js
Due: server, front

Add EN translation
  front/src/config/i18n/en.json
Due: front

Add new calendar condition: is event running ? (#1447)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.css
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/models/scene.js
  server/test/lib/calendar/calendar.event.test.js
Due: server, front

fix for review
  server/api/controllers/oauth2.controller.js
  server/seeders/20190226025931-variable.js
  server/services/withings/index.js
  server/services/withings/lib/withings.init.js
  server/test/lib/device/device.destroyByServiceId.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/utils/constants.js
Due: server

Do not add a new discovered device if already in the added devices list
  front/cypress/cypress.json
  front/cypress/plugins/index.js
  front/package.json
  insomnia.json
  server/services/rflink/lib/commands/rflink.addNewDevice.js
  server/services/rflink/lib/events/rflink.message.js
  server/test/services/rflink/lib/addNewDevice.test.js
Due: server, front

fix test error
  server/seeders/20190226025931-variable.js
Due: server

fix for review
  front/src/components/oauth2/actions.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/api/controllers/oauth2.controller.js
  server/lib/device/device.destroyByServiceId.js
  server/lib/oauth2/oauth2.deleteClient.js
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/services/withings/index.js
  server/services/withings/lib/withings.poll.js
  server/services/withings/package.json
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/lib/oauth2/oauth2manager.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Due: server, front

remove only from test
  server/test/services/rflink/lib/addNewDevice.test.js
Due: server

Improve MQTT integration UX by adding listen & publish topics to non read-only devices
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Due: front

Fix #1401 : Improve MQTT integration UX by adding listen & publish topics to non read-only devices (#1449)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Due: front

Add variables in calendar.eventIsRunning condition in scene
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.checkCalendarTriggers.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
Due: server, front

Fix tests
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
Due: server

Remove console.log in front
  front/src/routes/calendar/index.js
Due: front

Add variables in calendar.eventIsRunning condition in scene (#1450)
  front/src/routes/calendar/index.js
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.checkCalendarTriggers.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
Due: server, front

fix for review
  front/src/components/oauth2/actions.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/api/controllers/oauth2.controller.js
  server/api/routes.js
  server/lib/device/device.destroyByServiceId.js
  server/lib/device/device.saveHistoricalState.js
  server/lib/index.js
  server/lib/oauth2/index.js
  server/lib/oauth2/oauth2.buildAuthorizationUri.js
  server/lib/oauth2/oauth2.deleteClient.js
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/lib/oauth2/oauth2.getAccesToken.js
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/test/controllers/oauth2/oauth2.controller.test.js
Due: server, front

fix fo review
  front/src/routes/integration/all/withings/device-page/Device.jsx
  front/src/routes/integration/all/withings/device-page/WithingsDevices.jsx
  front/src/routes/integration/all/withings/device-page/actions.js
  front/src/routes/integration/all/withings/device-page/index.js
  front/src/routes/integration/all/withings/device-page/withingsConsts.js
  front/src/routes/integration/all/withings/settings-page/index.js
Due: front

Add security policy
  SECURITY.md
Due: none

Remove feature requests from Github, add links to forum
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Change text for feature requests
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Fix issue template + add security policy (#1452)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  SECURITY.md
Due: none

Fix #1397 : Add pagination on background task list
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/SettingsBackgroundJobs.jsx
  front/src/routes/settings/settings-background-jobs/index.js
Due: front

Fix #1397 : Add pagination on background task list (#1453)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/SettingsBackgroundJobs.jsx
  front/src/routes/settings/settings-background-jobs/index.js
Due: front

fix tests
  server/lib/device/device.saveHistoricalState.js
  server/lib/oauth2/oauth2.deleteClient.js
  server/services/withings/lib/withings.poll.js
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/lib/oauth2/oauth2manager.test.js
  server/test/services/withings/lib/withings.deleteVar.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
