Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Correct tickers parameter saving
  front/src/routes/integration/all/stock-exchange/actions.js
Due: front

Prettier
  front/src/routes/integration/all/stock-exchange/actions.js
Due: front

fix
  server/package.json
Due: server

Update following call and review with @Pierre-Gilles + @VonOx - Add Netatmo API disconnection - Separation of Netatmo dedicated box views - Minor front-end fixes
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/CommandDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/Dashboard-box-page/CameraNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/CommandDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/SensorDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/style.css
  front/src/routes/integration/all/netatmo/NetatmoPage.js
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-device/FoundDevices.jsx
  front/src/routes/integration/all/netatmo/discover-device/actions.js
  front/src/routes/integration/all/netatmo/discover-device/index.js
  front/src/routes/integration/all/netatmo/setting/SettingTab.jsx
  front/src/routes/integration/all/netatmo/setting/actions.js
  front/src/routes/integration/all/netatmo/setting/index.js
  front/src/utils/consts.js
  server/lib/device/device.saveLastStateChanged.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/commands/netatmo.connect.js
  server/services/netatmo/lib/commands/netatmo.disconnect.js
  server/services/netatmo/lib/constants.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/utils/format.js
  server/test/services/netatmo/lib/update/netatmo.updateCamera.test.js
  server/test/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNHC.test.js
  server/test/services/netatmo/lib/update/netatmo.updateThermsotat.test.js
  server/test/services/netatmo/lib/update/netatmo.updateWeatherStation.test.js
  server/test/utils/format.test.js
Due: server, front

Update Tests
  server/services/netatmo/lib/commands/netatmo.connect.js
  server/services/netatmo/lib/commands/netatmo.disconnect.js
  server/services/netatmo/lib/index.js
  server/test/services/netatmo/api/netatmo.controller.test.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/commands/netatmo.connect.test.js
  server/test/services/netatmo/lib/commands/netatmo.disconnect.test.js
  server/test/services/netatmo/netatmo.mock.test.js
  server/utils/constants.js
Due: server

Add hanlder test
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/test/services/stock-exchange/lib/getStockExchangeQuote.test.js
Due: server

run all test (remove only)
  server/test/services/stock-exchange/lib/getStockExchangeQuote.test.js
Due: server

Add search and order to user list
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/index.js
Due: front

Add FR translations
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-users/edit-user/ResetPassword.jsx
Due: front

Fix eslint front
  front/src/routes/settings/settings-users/create-user/CreateUserPage.js
  front/src/routes/settings/settings-users/create-user/index.js
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
Due: front

fix ui bugs
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/edit-user/index.js
Due: front

filter integrations for user with non admin role + hide scene
  front/src/actions/integration.js
  front/src/components/header/index.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Due: front

fix integration list bug
  front/src/routes/integration/index.js
Due: front

Hide weather + improve telegram integration
  front/src/actions/integration.js
  front/src/routes/integration/all/telegram/Telegram.jsx
Due: front

non admin user cannot create, update and delete scene
  server/api/routes.js
Due: server

Fix demo mode
  front/src/config/demo.json
Due: front

Set log level to info on start/stop function of all services (#1064)
  server/services/bluetooth/index.js
  server/services/caldav/index.js
  server/services/ewelink/index.js
  server/services/example/index.js
  server/services/mqtt/index.js
  server/services/openweather/index.js
  server/services/philips-hue/index.js
  server/services/rtsp-camera/index.js
  server/services/tasmota/index.js
  server/services/telegram/index.js
  server/services/tp-link/index.js
  server/services/usb/index.js
  server/services/xiaomi/index.js
  server/services/zwave/index.js
  server/test/services/rtsp-camera/rtspCamera.test.js
  server/test/services/telegram/index.test.js
  server/test/services/usb/index.test.js
Due: server

Remove useless manual upgrade from UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Due: front

Remove useless manual upgrade from UI (#1076)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Due: front

Update translations + add presence sensor on device state change in scene
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Due: front

fix(conversation): Spread chat messages to same user open tabs
  front/src/actions/message.js
  front/src/routes/chat/index.js
  server/api/controllers/message.controller.js
  server/lib/message/message.create.js
  server/lib/message/message.handleEvent.js
  server/services/telegram/lib/message.new.js
  server/test/lib/message/message.create.test.js
  server/test/lib/message/message.handleMessage.test.js
  server/utils/constants.js
Due: server, front

merge gladys 4.0.7
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/actions/profile.js
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/routes/gateway-forgot-password/index.js
  front/src/routes/gateway-setup/index.js
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/signup-gateway/index.js
Due: front

Forget EN language
  front/src/config/i18n/en.json
Due: front

modify healthHomeCoach airQualityHealthIndex
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/Dashboard-box-page/SensorDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/consts.js
Due: front

downsample in db
  server/api/controllers/device.controller.js
  server/config/scheduler-jobs.js
  server/lib/device/device.downsamplingStates.js
  server/lib/device/device.getFeatureStates.js
  server/lib/device/index.js
  server/migrations/20210206000000-create-device-feature-state-light.js
  server/migrations/20210207000000-create-device-feature.js
  server/models/device_feature.js
  server/models/device_feature_state_light.js
  server/models/index.js
  server/test/controllers/device/device.controller.state.test.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.donwsamplingStates.test.js
  server/test/lib/device/device.getFeatureStates.test.js
  server/utils/constants.js
Due: server

fix describe only
  server/test/controllers/device/device.controller.state.test.js
  server/test/lib/device/device.donwsamplingStates.test.js
  server/test/lib/device/device.getFeatureStates.test.js
Due: server

fix test error
  server/test/lib/device/device.create.test.js
Due: server

Improve tests : fix newDevices
  server/services/rflink/api/rflink.controller.js
  server/test/services/rflink/controllers/rflink.controller.test.js
Due: server

Add new checkuserpresence action in scene
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/models/scene.js
  server/utils/constants.js
Due: server, front

Add user check presence action server side with tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Add en translations
  front/src/config/i18n/en.json
Due: front

Fix checkUserpresence front build
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
Due: front

Save preferences in same form as user
  front/src/actions/profile.js
  front/src/components/user/profile.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/profile/index.js
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
  front/src/routes/settings/settings-users/edit-user/index.js
  front/src/routes/signup/2-create-account-local/CreateAccountLocalTab.jsx
Due: front

Update dashboard selector in dashboard migration
  server/migrations/20210129155044-multi-user.js
Due: server

UI improvements
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-users/UserCard.jsx
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/index.js
Due: front

Explain better what are roles
  front/src/components/user/profile.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Set temperature/distance unit in create user too
  front/src/routes/settings/settings-users/create-user/index.js
Due: front

Renforce admin securities on services
  server/services/ewelink/api/ewelink.controller.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/philips-hue/api/hue.controller.js
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/tasmota/api/tasmota.controller.js
  server/services/zwave/api/zwave.controller.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
