Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix for review
  front/src/routes/integration/all/withings/settings-page/index.js
Due: front

Initial comit
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  server/lib/scene/scene.actions.js
  server/utils/constants.js
Due: server, front

Update en.json
  front/src/config/i18n/en.json
Due: front

Update fr.json
  front/src/config/i18n/fr.json
Due: front

Update scene.actions.js
  server/lib/scene/scene.actions.js
Due: server

Implement RelativeCI new github action
  .github/workflows/docker-pr-build.yml
  .github/workflows/relative-ci.yaml
Due: none

New line
  .github/workflows/relative-ci.yaml
Due: none

Alexa: Fix brightness control for device with custom brightness range
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Due: server

Fix onReportState
  server/services/alexa/lib/alexa.onReportState.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Due: server

Alexa: Fix brightness control for device with custom brightness range (#1561)
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/deviceMappings.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Due: server

Fix cypress issues
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
Due: front

make change after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
Due: front

Update zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Due: none

Delete zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Due: none

Upgrade ZWaveJS, disable error reporting
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/package-lock.json
  server/services/zwave/package.json
  server/test/services/zwave/lib/zwaveManager-features.test.js
Due: server

Create zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Due: none

Remove secrets keys
  server/services/zwave/docker/gladys-zwave-zwave2mqtt-env.sh
Due: server

Prettier
  front/src/routes/integration/all/zwave/settings-page/actions.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/events/zwave.handleMqttMessage.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/services/zwave/lib/utils/splitNode.js
  server/test/services/zwave/zwave.test.js
  server/utils/constants.js
Due: server, front

Fix google url
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Run prettier
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Due: server

ESLInt
  front/package-lock.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/discover-page/Node.jsx
  front/src/routes/integration/all/zwave/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave/settings-page/actions.js
  front/src/routes/integration/all/zwave/settings-page/index.js
  server/package-lock.json
  server/services/zwave/api/zwave.controller.js
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getConfiguration.js
  server/services/zwave/lib/commands/zwave.getStatus.js
  server/services/zwave/lib/commands/zwave.installMqttContainer.js
  server/services/zwave/lib/commands/zwave.installZ2mContainer.js
  server/services/zwave/lib/commands/zwave.updateConfiguration.js
  server/services/zwave/lib/connect.js
  server/services/zwave/lib/events/zwave.handleMqttMessage.js
Due: server, front

4.9.0
  package-lock.json
  package.json
Due: none

Upgrade CHANGELOG
  CHANGELOG.md
Due: none

InfuxDB Implementation
  front/src/assets/integrations/logos/logo_influxdata.svg
  front/src/config/i18n/en.json
  front/src/config/integrations/storages.json
  front/src/routes/integration/all/influxdb/InfluxDB.jsx
  front/src/routes/integration/all/influxdb/InfluxDBPage.jsx
  front/src/routes/integration/all/influxdb/actions.js
  front/src/routes/integration/all/influxdb/index.js
  server/services/influxdb/api/influxdb.controller.js
  server/services/influxdb/index.js
  server/services/influxdb/lib/constants.js
  server/services/influxdb/lib/index.js
  server/services/influxdb/lib/influxdb.getConfiguration.js
  server/services/influxdb/lib/influxdb.init.js
  server/services/influxdb/lib/influxdb.listen.js
  server/services/influxdb/lib/influxdb.saveConfiguration.js
  server/services/influxdb/lib/influxdb.write.js
  server/services/influxdb/lib/influxdb.writeBinary.js
Due: server, front

Fix hours getDeviceFeaturesAggregates
  server/lib/device/device.getDeviceFeaturesAggregates.js
Due: server

Fix non admin total size
  front/src/actions/integration.js
Due: front

Clean code
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
  front/src/routes/settings/settings-service/ServiceItem.jsx
Due: front

Fix integration search/sort form (#1395)
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Due: front

Fix missing async
  front/src/actions/integration.js
Due: front

Add service.getUsage function
  server/lib/service/index.js
  server/lib/service/service.getUsage.js
  server/services/zwave/index.js
  server/services/zwave/lib/index.js
  server/test/lib/service/service.getUsage.test.js
Due: server

Report integrations usage on zwave + zigbee2mqtt
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/gateway/gateway.init.js
  server/package-lock.json
  server/package.json
  server/services/zigbee2mqtt/index.js
  server/test/lib/gateway/gateway.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zwave/zwave.test.js
Due: server

Update tests
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/test/lib/gateway/gateway.test.js
Due: server

Fix #1554: Device states should be displayed in the correct timezone in charts (#1566)
  server/lib/device/device.getDeviceFeaturesAggregates.js
Due: server

Add integrations usage (#1568)
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/service/index.js
  server/lib/service/service.getUsage.js
  server/package-lock.json
  server/package.json
  server/services/zigbee2mqtt/index.js
  server/services/zwave/index.js
  server/services/zwave/lib/index.js
  server/test/lib/gateway/gateway.test.js
  server/test/lib/service/service.getUsage.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zwave/zwave.test.js
Due: server

Fix bluetooth & signup Cypress issues (#1562)
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
Due: front

Implement RelativeCI new github action (#1560)
  .github/workflows/docker-pr-build.yml
  .github/workflows/relative-ci.yaml
Due: none
