Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix: keep the widget primary button double-inverted in Horizon dark mode
  front/src/components/boxs/external-widget/style.css
Due: front

fix(external-integration): hide action forms while another integration loads
  docs/specs/external-integrations/contracts/manifest.md
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
Due: front

fix: keep primary, active and danger widget button styles in dark mode (#3153) (#3162)
  front/src/components/boxs/external-widget/style.css
Due: front

fix: apply the default of external integration action fields (#3155) (#3164)
  docs/specs/external-integrations/contracts/management-api.md
  docs/specs/external-integrations/contracts/manifest.md
  front/src/routes/integration/all/external-integration/config-page/index.js
  server/lib/external-integration/externalIntegration.runAction.js
  server/test/lib/external-integration/externalIntegration.fieldFeedback.test.js
Due: server, front

Gladys Plus pricing page: showcase the offline email alert (#3165)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway/GatewayPricing.jsx
  front/src/routes/settings/settings-gateway/style.css
Due: front

feat(message): let admins choose the channel of system messages (#3157)
  docs/specs/external-integrations/capabilities/communication-type.md
  front/src/config/demo/index.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/settings/settings-system/SettingsSystemMessageService.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  server/lib/device/device.checkBatteries.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.sendWeeklyDigest.js
  server/lib/gateway/gateway.setSubscriptionActive.js
  server/lib/message/index.js
  server/lib/message/message.sendSystemMessage.js
  server/lib/system/system.checkIfGladysUpgraded.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/gateway/gateway.backup.test.js
  server/test/lib/gateway/gateway.sendWeeklyDigest.test.js
  server/test/lib/gateway/gateway.subscription.test.js
  server/test/lib/message/message.sendSystemMessage.test.js
  server/test/lib/system/system.checkIfGladysUpgraded.test.js
  server/utils/constants.js
Due: server, front

fix: let external integration action secret fields be typed in (#3154) (#3163)
  docs/specs/external-integrations/contracts/manifest.md
  front/src/routes/integration/all/external-integration/config-page/ActionsCard.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
Due: front

feat(external-integrations): let a widget action button open a form
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  front/cypress/e2e/routes/dashboard/DashboardExternalWidgetBox.cy.js
  front/src/components/boxs/external-widget/ExternalWidgetBox.jsx
  front/src/components/boxs/external-widget/WidgetComponents.jsx
  front/src/components/boxs/external-widget/style.css
  front/src/components/boxs/external-widget/widgetContentUtils.js
  front/src/components/integration/ConfigSchemaForm.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  server/api/controllers/externalIntegration.controller.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.normalizeWidgetContent.js
  server/lib/external-integration/externalIntegration.runWidgetAction.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/test/controllers/externalIntegration/externalIntegration.widget.controller.test.js
  server/test/lib/external-integration/externalIntegration.normalizeWidgetContent.test.js
  server/test/lib/external-integration/externalIntegration.widgetAction.test.js
Due: server, front

fix(external-integrations): read widget action values from the parsed body
  server/api/controllers/externalIntegration.controller.js
Due: server

feat(external-integration): add the "houses" dynamic source for select fields
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  docs/specs/external-integrations/capabilities/scene-triggers-and-actions.md
  docs/specs/external-integrations/contracts/host-api-endpoints.md
  docs/specs/external-integrations/contracts/manifest.md
  docs/specs/external-integrations/core/tests.md
  front/cypress/e2e/routes/scene/SceneExternalIntegration.cy.js
  front/src/components/boxs/external-widget/EditExternalWidgetBox.jsx
  front/src/components/integration/ConfigSchemaForm.jsx
  front/src/components/integration/dynamicOptions.js
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/scene/edit-scene/actions/ExternalIntegrationAction.jsx
  front/src/routes/scene/edit-scene/triggers/ExternalIntegrationTrigger.jsx
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.getDynamicOptions.js
  server/lib/external-integration/externalIntegration.runAction.js
  server/lib/external-integration/externalIntegration.saveConfigFromFront.js
  server/lib/external-integration/externalIntegration.setIntegrationConfig.js
  server/lib/external-integration/externalIntegration.validateConfigValue.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/externalIntegration.validateWidgetSettings.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.config.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.widgets.test.js
Due: server, front

fix(external-integration): keep POST /config from probing the houses
  docs/specs/external-integrations/contracts/host-api-endpoints.md
  docs/specs/external-integrations/contracts/manifest.md
  docs/specs/external-integrations/core/tests.md
  front/src/components/integration/dynamicOptions.js
  server/lib/external-integration/externalIntegration.setIntegrationConfig.js
  server/test/lib/external-integration/externalIntegration.config.test.js
Due: server, front

fix(external-integrations): bound widget action values and field texts
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  front/cypress/e2e/routes/dashboard/DashboardExternalWidgetBox.cy.js
  front/src/components/boxs/external-widget/ExternalWidgetBox.jsx
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.normalizeWidgetContent.js
  server/lib/external-integration/externalIntegration.runWidgetAction.js
  server/test/controllers/externalIntegration/externalIntegration.widget.controller.test.js
  server/test/lib/external-integration/externalIntegration.normalizeWidgetContent.test.js
  server/test/lib/external-integration/externalIntegration.widgetAction.test.js
Due: server, front

fix(external-integration): never trust a stored value as a house choice
  docs/specs/external-integrations/contracts/host-api-endpoints.md
  docs/specs/external-integrations/contracts/manifest.md
  docs/specs/external-integrations/core/tests.md
  server/lib/external-integration/externalIntegration.setIntegrationConfig.js
  server/test/lib/external-integration/externalIntegration.config.test.js
Due: server

fix(external-integrations): bound string defaults of widget action fields
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  server/lib/external-integration/externalIntegration.normalizeWidgetContent.js
  server/test/lib/external-integration/externalIntegration.normalizeWidgetContent.test.js
Due: server

fix(energy): harden the migration and the delegated pricing from the code review
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  server/lib/energy-contract/calendar.publish.js
  server/lib/energy-contract/contract.price.js
  server/lib/energy-contract/contract.update.js
  server/lib/energy-contract/contract.validate.js
  server/lib/energy-contract/legacy/convertPriceRows.js
  server/lib/energy-contract/migration.fromEnergyPrice.js
  server/lib/external-integration/externalIntegration.validateEnergyContracts.js
  server/services/energy-monitoring/lib/energy-monitoring.delegatedCatchUp.js
  server/services/energy-monitoring/lib/index.js
  server/test/lib/energy-contract/manager/contract.crud.test.js
  server/test/lib/energy-contract/manager/contract.price.test.js
  server/test/lib/energy-contract/manager/legacy.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.energyContracts.test.js
  server/test/services/energy-monitoring/energy-monitoring.jobs.test.js
Due: server

fix(dashboard): polish the external widget action form
  docs/specs/external-integrations/capabilities/dashboard-widgets.md
  front/cypress/e2e/routes/dashboard/DashboardExternalWidgetBox.cy.js
  front/src/components/boxs/external-widget/WidgetComponents.jsx
  front/src/components/boxs/external-widget/style.css
  front/src/components/boxs/external-widget/widgetContentUtils.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
Due: front

fix(energy): price a daily consumption state on its own local date
  docs/specs/energy-contracts.md
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

perf(energy): cache the timezone conversions, carry tier accumulations, cache the current price
  docs/specs/energy-contracts.md
  server/lib/energy-contract/calendar.publish.js
  server/lib/energy-contract/contract.fixedCharges.js
  server/lib/energy-contract/contract.getCurrent.js
  server/lib/energy-contract/index.js
  server/lib/energy-contract/tariff.time.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/energy-contract/contract.fixedCharges.test.js
  server/test/lib/energy-contract/manager/contract.preview.test.js
  server/test/lib/energy-contract/tariff.time.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

fix(device): let admins disable the low battery warning
  server/lib/device/device.checkBatteries.js
  server/lib/gateway/gateway.scheduleWeeklyDigest.js
  server/lib/gateway/gateway.sendWeeklyDigest.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/gateway/gateway.sendWeeklyDigest.test.js
  server/test/utils/systemVariable.test.js
  server/utils/systemVariable.js
Due: server

fix(message): await the battery and backup failure messages sent to admins
  server/lib/device/device.checkBatteries.js
  server/lib/gateway/gateway.backup.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/gateway/gateway.backup.test.js
Due: server

fix(message): store battery and backup failure messages as notifications
  server/lib/device/device.checkBatteries.js
  server/lib/gateway/gateway.backup.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/gateway/gateway.backup.test.js
Due: server

test(device): give the disabled battery check tests their own user stub
  server/test/lib/device/device.checkBatteries.test.js
Due: server

fix(caldav): refresh recurring events monthly so their occurrences keep being generated
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/index.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

fix(caldav): keep saved occurrences when a new occurrence cannot be saved
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

fix: honour supported_options in vacuum cleaner clean-mode and run-mode controls (#3156)
  front/src/components/boxs/device-in-room/device-features/VacuumCleanerCleanModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/VacuumCleanerModeDeviceFeature.jsx
Due: front

Fix review
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Keep the 2000 most recent jobs in the nightly t_job purge
  server/lib/job/job.purge.js
  server/test/lib/job/job.test.js
Due: server

fix: only display the image feature string states in the camera widget
  docs/specs/camera-enable-disable.md
  front/src/components/boxs/camera/Camera.jsx
Due: front

fix: require the image feature once the current camera device is loaded
  docs/specs/camera-enable-disable.md
  front/src/components/boxs/camera/Camera.jsx
Due: front

chore(security): bump patch/minor deps to clear high/critical npm advisories
  front/package-lock.json
  package-lock.json
  server/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/broadlink/package-lock.json
  server/services/edf-tempo/package-lock.json
  server/services/energy-monitoring/package-lock.json
  server/services/free-mobile/package-lock.json
  server/services/mcp/package-lock.json
  server/services/melcloud/package-lock.json
  server/services/netatmo/package-lock.json
  server/services/nextcloud-talk/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
Due: server, front

Only send the Gladys Plus version check from official release images
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
  AGENTS.md
  docker/Dockerfile.buildx
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/gateway/gateway.init.js
  server/lib/system/index.js
  server/lib/system/system.checkIfGladysUpgraded.js
  server/lib/system/system.isOfficialReleaseImage.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/lib/gateway/gateway.getLatestGladysVersion.test.js
  server/test/lib/gateway/gateway.init.test.js
  server/test/lib/system/system.checkIfGladysUpgraded.test.js
  server/test/lib/system/system.isOfficialReleaseImage.test.js
Due: server

fix(mcp): keep @modelcontextprotocol/sdk at 1.25.3
  server/services/mcp/package-lock.json
Due: server

Only send the Gladys Plus version check from official release images (#3175)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
  AGENTS.md
  docker/Dockerfile.buildx
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/gateway/gateway.init.js
  server/lib/system/index.js
  server/lib/system/system.checkIfGladysUpgraded.js
  server/lib/system/system.isOfficialReleaseImage.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/lib/gateway/gateway.getLatestGladysVersion.test.js
  server/test/lib/gateway/gateway.init.test.js
  server/test/lib/system/system.checkIfGladysUpgraded.test.js
  server/test/lib/system/system.isOfficialReleaseImage.test.js
Due: server

chore(security): bump patch/minor deps to clear high/critical npm advisories (#3174)
  front/package-lock.json
  package-lock.json
  server/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/broadlink/package-lock.json
  server/services/edf-tempo/package-lock.json
  server/services/energy-monitoring/package-lock.json
  server/services/free-mobile/package-lock.json
  server/services/mcp/package-lock.json
  server/services/melcloud/package-lock.json
  server/services/netatmo/package-lock.json
  server/services/nextcloud-talk/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
Due: server, front

fix(calendar): address the third review pass of the calendar type
  docs/specs/external-integrations/capabilities/calendar-type.md
  front/cypress/e2e/routes/integration/caldav/CaldavShare.cy.js
  front/cypress/e2e/routes/integration/external-integration/ExternalIntegrationCalendarAccount.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/share-page/actions.js
  front/src/routes/integration/all/external-integration/config-page/CalendarAccountCard.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/supervision-page/SupervisionCard.jsx
  server/lib/calendar/calendar.assertWritable.js
  server/lib/calendar/calendar.createEvent.js
  server/lib/calendar/calendar.destroy.js
  server/lib/calendar/calendar.destroyEvent.js
  server/lib/calendar/calendar.update.js
  server/lib/calendar/calendar.updateEvent.js
  server/lib/calendar/calendar.upsertCalendars.js
  server/lib/calendar/calendar.upsertEvents.js
  server/lib/external-integration/externalIntegration.publishCalendarEvents.js
  server/lib/external-integration/externalIntegration.publishCalendars.js
  server/lib/scene/index.js
  server/test/controllers/calendar/calendar.ownership.test.js
  server/test/lib/calendar/calendar.ownership.test.js
  server/test/lib/calendar/calendar.upsertCalendars.test.js
  server/test/lib/calendar/calendar.upsertEvents.test.js
  server/test/lib/external-integration/externalIntegration.calendar.test.js
  server/utils/constants.js
Due: server, front

test(system): stub the background host power detection in installUpgrade tests
  server/test/lib/system/system.installUpgrade.test.js
Due: server

Revert "test(system): stub the background host power detection in installUpgrade tests"
  server/test/lib/system/system.installUpgrade.test.js
Due: server

chore(security): bump handlebars to 4.7.10 to clear critical npm advisories
  package-lock.json
  server/package-lock.json
  server/package.json
Due: server
