Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Add Gateway Owntracks messages (#574)
  front/src/actions/gatewayLinkUser.js
  front/src/actions/login/loginGateway.js
  front/src/components/app.jsx
  front/src/components/gateway/GatewayLoginForm.jsx
  front/src/config/i18n/en.json
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-gateway-open-api/OpenApi.js
  front/src/routes/settings/settings-gateway-open-api/OpenApiKey.js
  front/src/routes/settings/settings-gateway-open-api/index.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/index.js
  server/lib/location/index.js
  server/lib/location/location.handleNewGatewayOwntracksLocation.js
  server/test/lib/gateway/gateway.test.js
  server/test/lib/location/location.test.js
  server/utils/constants.js
Due: server, front

Sonoff: fix typos
  front/src/config/i18n/en.json
Due: front

Sonoff: fix message handler
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  server/services/sonoff/lib/handleMqttMessage.js
  server/test/services/sonoff/lib/handleMqttMessage.test.js
Due: server, front

Sonoff: fix message handler (#583)
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  server/services/sonoff/lib/handleMqttMessage.js
  server/test/services/sonoff/lib/handleMqttMessage.test.js
Due: server, front

Fix #562: Make login work on FireFox
  front/src/actions/gateway.js
  front/src/actions/login/loginGateway.js
Due: front

Fallback to EN language in integration tab when language is not found
  front/src/actions/integration.js
  server/utils/constants.js
Due: server, front

Fix #571 : When creating a room with name which already exist, display custom message
  front/src/actions/house.js
  front/src/components/house/EditHouse.jsx
  front/src/config/i18n/en.json
  front/src/utils/consts.js
Due: front

Fix #580 : Update class name of Philips Hue integration
  front/src/routes/integration/all/philips-hue/device-page/Device.jsx
  front/src/routes/integration/all/philips-hue/device-page/DeviceForm.jsx
Due: front

Upgrade dependencies
  front/package-lock.json
  server/package-lock.json
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/services/zwave/package-lock.json
  server/services/zwave/package.json
Due: server, front

Upgrade docker image to node 12 lts
  docker/Dockerfile
Due: none

Remove unnecessary logs
  server/api/middlewares/authMiddleware.js
  server/api/websockets/index.js
  server/lib/service/service.start.js
  server/services/telegram/index.js
Due: server

Run prettier
  server/services/philips-hue/lib/light/light.poll.js
  server/services/philips-hue/lib/models/color.js
  server/services/philips-hue/lib/models/colorWithTemperature.js
  server/services/philips-hue/lib/models/white.js
  server/services/philips-hue/lib/models/whiteWithTemperature.js
  server/services/sonoff/lib/handleMqttMessage.js
  server/services/zwave/lib/events/zwave.controllerCommand.js
Due: server

Change circleCI test image to node 12
  .circleci/config.yml
Due: none

Fix linting
  server/api/middlewares/authMiddleware.js
Due: server

Add node version in key cache
  .circleci/config.yml
Due: none

Upgrading to Preact X
  front/package-lock.json
  front/package.json
  front/preact.config.js
  front/src/components/user/profile.jsx
  front/src/routes/calendar/index.js
Due: front

Fix #542 : Filter Xiaomi discovered devices
  front/src/config/i18n/en.json
  front/src/routes/integration/all/xiaomi/DevicePanel.jsx
  front/src/routes/integration/all/xiaomi/actions.js
  front/src/routes/integration/all/xiaomi/index.js
Due: front

Fix #547 : Add gateway IP address in Xiaomi UI
  front/src/config/i18n/en.json
  front/src/routes/integration/all/xiaomi/Device.jsx
Due: front

Rate limit Philips Hue commands
  server/services/philips-hue/lib/light/index.js
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
Due: server

Fix link to darksky integration
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

Fix #589 : Backup page is more explicit when user is not connected to Gladys Plus
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayNotConfigured.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
