Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

feat(thermostat): add the Spanish translation
  front/src/config/i18n/es.json
Due: front

fix(thermostat): make the schedule pages usable on a real installation
  docs/specs/thermostat.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/device-page/actions.js
  front/src/routes/integration/all/thermostat/edit-page/actions.js
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  front/src/routes/integration/all/thermostat/schedule-page/actions.js
  front/src/routes/integration/all/thermostat/schedule-page/index.js
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/thermostat.updateSchedule.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
Due: server, front

fix(thermostat): make Off stop the heating, and the schedule resume it
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.state.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.state.test.js
Due: server, front

feat(thermostat): edit a schedule as ranges, store it as points
  front/src/routes/integration/all/thermostat/schedule-page/ScheduleEditor.jsx
  front/src/routes/integration/all/thermostat/schedule-page/style.css
  server/test/utils/thermostatRanges.test.js
  server/utils/thermostatRanges.js
Due: server, front

fix(thermostat): make a user's preset, a hold and Off survive the loop
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.createDevice.js
  server/test/services/thermostat/lib/thermostat.applySchedules.test.js
  server/test/services/thermostat/lib/thermostat.devices.test.js
  server/test/services/thermostat/lib/thermostat.external.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
Due: server, front

docs(thermostat): document the preset type, and stop the enums carrying units
  docs/specs/dashboard-flexible-layout-and-widgets.md
  docs/specs/device-feature-categories.md
  docs/specs/thermostat.md
  server/utils/constants.js
Due: server

fix(external-integration): make registerProxyService idempotent (#3127)
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/test/lib/external-integration/externalIntegration.registerProxyService.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
Due: server

5.1.1 (#3128)
  package-lock.json
  package.json
Due: none

Add the Buy Me a Coffee cover image
  .github/images/bmc-cover/README.md
  .github/images/bmc-cover/bmc-cover.html
  .github/images/bmc-cover/capture-demo.mjs
  .github/images/bmc-cover/generate.mjs
  .github/images/gladys-bmc-cover-fr.png
  .github/images/gladys-bmc-cover.png
  .github/images/gladys-demo-dashboard-fr.webp
  .github/images/gladys-demo-dashboard.webp
Due: none

fix(energy): address review findings on the tariff engine and spec
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  docs/specs/external-integrations/capabilities/provider-type.md
  server/lib/energy-contract/tariff.constants.js
  server/lib/energy-contract/tariff.currentPrice.js
  server/lib/energy-contract/tariff.demand.js
  server/lib/energy-contract/tariff.priceIntervals.js
  server/lib/energy-contract/tariff.schema.json
  server/package-lock.json
  server/package.json
  server/test/lib/energy-contract/tariff.currentPrice.test.js
  server/test/lib/energy-contract/tariff.demand.test.js
  server/test/lib/energy-contract/tariff.priceIntervals.test.js
  server/test/lib/energy-contract/tariff.schema.test.js
  server/test/lib/energy-contract/tariff.validate.test.js
Due: server

fix(energy): second review round on the tariff engine and spec
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  docs/specs/external-integrations/capabilities/provider-type.md
  server/lib/energy-contract/tariff.constants.js
  server/lib/energy-contract/tariff.currentPrice.js
  server/lib/energy-contract/tariff.schema.json
  server/lib/energy-contract/tariff.validate.js
  server/test/lib/energy-contract/tariff.currentPrice.test.js
  server/test/lib/energy-contract/tariff.schema.test.js
  server/test/lib/energy-contract/tariff.validate.test.js
Due: server

feat(energy): scene condition and dashboard box constants for the energy price
  server/utils/constants.js
Due: server

feat(energy): contracts tab, wizard, calendars, price widget and scene trigger on the front
  AGENTS.md
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  front/cypress/e2e/routes/integration/energy-monitoring/Contracts.cy.js
  front/src/components/app.jsx
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/energy-price/EditEnergyPrice.jsx
  front/src/components/boxs/energy-price/EnergyPrice.jsx
  front/src/components/boxs/energy-price/style.css
  front/src/config/demo/dashboards.js
  front/src/config/demo/integrations.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/DashboardSkeleton.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
  front/src/routes/integration/all/energy-monitoring/contracts/Calendars.jsx
  front/src/routes/integration/all/energy-monitoring/contracts/ContractWizard.jsx
  front/src/routes/integration/all/energy-monitoring/contracts/Contracts.jsx
  front/src/routes/integration/all/energy-monitoring/contracts/HourSlotGrid.jsx
  front/src/routes/integration/all/energy-monitoring/contracts/contractUtils.js
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/actions/EnergyCurrentPriceCondition.jsx
  front/src/routes/scene/edit-scene/summary.js
  front/src/routes/scene/edit-scene/triggers/EnergyPriceChangedTrigger.jsx
  front/src/routes/scene/edit-scene/typesCatalog.js
  server/test/services/energy-monitoring/lib/energy-monitoring.getContracts.test.js
Due: server, front

feat(energy): price-changed scene trigger, current-price condition and recalculation endpoint
  server/api/controllers/energy-contract.controller.js
  server/api/routes.js
  server/lib/energy-contract/contract.checkPriceChanges.js
  server/lib/energy-contract/contract.recalculate.js
  server/lib/energy-contract/index.js
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.triggers.js
  server/models/dashboard.js
  server/models/scene.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/controllers/energy-contract/energy-contract.controller.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/lib/energy-contract/manager/contract.checkPriceChanges.test.js
  server/test/lib/energy-contract/manager/contract.crud.test.js
  server/test/lib/scene/actions/scene.action.energyCurrentPriceCondition.test.js
  server/test/lib/scene/triggers/scene.trigger.energyPriceChanged.test.js
  server/test/models/scene.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/energy-monitoring.jobs.test.js
  server/test/services/energy-monitoring/index.test.js
Due: server

fix(thermostat): stop writing a setpoint back to the device that reported it
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/test/services/thermostat/lib/thermostat.external.test.js
Due: server

fix(thermostat): write a preset in the unit of the feature it lands on
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
Due: server

docs(thermostat): describe the device the code actually persists
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/ThermostatBox.jsx
Due: front

fix(energy): address review findings on migration, cost job, specs and install screen
  docs/specs/dashboard-flexible-layout-and-widgets.md
  docs/specs/device-migration.md
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  docs/specs/external-integrations/capabilities/provider-type.md
  front/cypress/e2e/routes/integration/energy-monitoring/Contracts.cy.js
  front/src/config/demo/integrations.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/EnergyContractsSummary.jsx
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/lib/device/device.migrate.js
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/lib/energy-contract/contract.getCurrent.js
  server/lib/energy-contract/index.js
  server/lib/energy-contract/meter.intervals.js
  server/lib/energy-contract/migration.fromEnergyPrice.js
  server/lib/energy-contract/tariff.compile.js
  server/lib/energy-contract/template.catalogue.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/lib/device/device.migrate.test.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
  server/test/lib/energy-contract/manager/contract.checkPriceChanges.test.js
  server/test/lib/energy-contract/manager/contract.preview.test.js
  server/test/lib/energy-contract/manager/helpers.js
  server/test/lib/energy-contract/manager/legacy.test.js
  server/test/lib/energy-contract/tariff.compile.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Due: server, front

test(energy): cover the power peaks of an unknown meter
  server/test/lib/energy-contract/manager/contract.preview.test.js
Due: server

test(cypress): log in again before reloading the contracts page
  front/cypress/e2e/routes/integration/energy-monitoring/Contracts.cy.js
Due: front

fix(energy): refuse overlapping contracts before any migration write, retry the pending recalculation, accept delegated contracts without tariff
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/contracts/ContractWizard.jsx
  server/lib/device/device.migrate.js
  server/lib/energy-contract/calendar.publish.js
  server/lib/energy-contract/contract.getCurrent.js
  server/lib/energy-contract/contract.validate.js
  server/lib/energy-contract/index.js
  server/lib/energy-contract/meter.intervals.js
  server/lib/energy-contract/migration.fromEnergyPrice.js
  server/lib/energy-contract/tariff.schema.json
  server/lib/energy-contract/tariff.validate.js
  server/lib/external-integration/externalIntegration.energyCalendar.js
  server/lib/external-integration/externalIntegration.validateEnergyContracts.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/lib/device/device.migrate.test.js
  server/test/lib/energy-contract/manager/calendar.test.js
  server/test/lib/energy-contract/manager/contract.crud.test.js
  server/test/lib/energy-contract/manager/contract.preview.test.js
  server/test/lib/energy-contract/manager/helpers.js
  server/test/lib/energy-contract/manager/legacy.test.js
  server/test/lib/energy-contract/tariff.schema.test.js
  server/test/lib/external-integration/externalIntegration.energyContracts.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Due: server, front

fix(energy): price before replacing the costs, bound delegated prices per currency, aggregate power peaks in DuckDB
  docs/specs/device-migration.md
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  server/lib/energy-contract/calendar.publish.js
  server/lib/energy-contract/meter.intervals.js
  server/lib/energy-contract/migration.fromEnergyPrice.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.normalizeEnergyCosts.js
  server/lib/external-integration/externalIntegration.priceEnergyContract.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/energy-contract/manager/calendar.test.js
  server/test/lib/energy-contract/manager/legacy.test.js
  server/test/lib/external-integration/externalIntegration.energyContracts.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

fix(energy): keep the pending recalculation until every device saved its costs, unlock the JSON editor for delegated templates
  docs/specs/energy-contracts.md
  front/src/routes/integration/all/energy-monitoring/contracts/ContractWizard.jsx
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/energy-monitoring.recalculateForContracts.js
  server/services/energy-monitoring/utils/queueWrapper.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
Due: server, front

fix(energy): replace the cost history in one DuckDB transaction
  docs/specs/energy-contracts.md
  front/src/routes/integration/all/energy-monitoring/contracts/ContractWizard.jsx
  server/lib/device/device.replaceHistoricalStatesFrom.js
  server/lib/device/index.js
  server/models/index.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/device/device.replaceHistoricalStatesFrom.test.js
  server/test/models/duckdb-replace-states.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server, front

fix(energy): run the cost replacement transaction on the queued write connection
  server/models/index.js
Due: server

fix(energy): keep the subscription out of the stored costs, add it at display time
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/lib/energy-contract/contract.fixedCharges.js
  server/lib/energy-contract/contract.price.js
  server/lib/energy-contract/contract.validate.js
  server/lib/energy-contract/index.js
  server/lib/energy-contract/migration.fromEnergyPrice.js
  server/lib/energy-contract/tariff.priceIntervals.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
  server/test/lib/energy-contract/contract.fixedCharges.test.js
  server/test/lib/energy-contract/manager/contract.price.test.js
  server/test/lib/energy-contract/manager/legacy.test.js
  server/test/lib/energy-contract/tariff.priceIntervals.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Due: server, front

fix(energy): address the end-to-end test findings on delegated contracts and the UI
  docs/specs/energy-contracts.md
  docs/specs/external-integrations/capabilities/energy-contracts.md
  front/src/components/boxs/energy-price/EnergyPrice.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/contracts/Calendars.jsx
  front/src/routes/integration/all/energy-monitoring/contracts/contractUtils.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  front/src/routes/integration/all/external-integration/supervision-page/SupervisionCard.jsx
  server/lib/energy-contract/calendar.get.js
  server/lib/energy-contract/contract.preview.js
  server/lib/energy-contract/contract.price.js
  server/lib/energy-contract/contract.recalculate.js
  server/lib/energy-contract/index.js
  server/lib/energy-contract/meter.intervals.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/energy-contract/manager/calendar.test.js
  server/test/lib/energy-contract/manager/contract.crud.test.js
  server/test/lib/energy-contract/manager/contract.preview.test.js
  server/test/lib/energy-contract/manager/contract.price.test.js
  server/test/lib/energy-contract/manager/legacy.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server, front

ci: pin the third-party actions to commit SHAs
  .github/workflows/build-apidoc-documentation.yml
  .github/workflows/build-demo-website.yml
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-arm64-build.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

ci: give the remaining jobs an explicit token scope
  .github/workflows/build-apidoc-documentation.yml
  .github/workflows/build-demo-website.yml
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  .github/workflows/publish-gladys-plus-production.yml
Due: none

ci: stop persisting the checkout token where nothing pushes
  .github/workflows/build-apidoc-documentation.yml
  .github/workflows/build-demo-website.yml
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-arm64-build.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Report the real Docker error when the Gladys upgrade cannot download the image
  docs/specs/external-integrations/core/supervisor.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  server/lib/system/system.installUpgrade.js
  server/lib/system/system.pull.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.pull.test.js
  server/utils/constants.js
Due: server, front

Abort a stalled Gladys image download and let Watchtower reuse the pulled image
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  server/lib/system/system.installUpgrade.js
  server/lib/system/system.pull.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.pull.test.js
  server/utils/constants.js
Due: server, front

Report the real Docker error when the Gladys upgrade cannot download the image (#3131)
  docs/specs/external-integrations/core/supervisor.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  server/lib/system/system.installUpgrade.js
  server/lib/system/system.pull.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.pull.test.js
  server/utils/constants.js
Due: server, front

Add maintainer governance: CODEOWNERS, MAINTAINERS.md and split release workflows
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/MAINTAINERS.md
  .github/workflows/create-release-tag.yml
  .github/workflows/prepare-release-minor-major.yml
  .github/workflows/prepare-release-patch.yml
  .github/workflows/prepare-release.yml
Due: none

Make CODEOWNERS an allowlist: maintainers by default, core scope opened explicitly
  .github/CODEOWNERS
  .github/MAINTAINERS.md
  .github/workflows/create-release-tag.yml
  .github/workflows/prepare-release-minor-major.yml
  .github/workflows/prepare-release-patch.yml
  .github/workflows/prepare-release.yml
Due: none

Auto-approve the maintainer's pull requests and close the remaining CODEOWNERS holes
  .github/CODEOWNERS
  .github/MAINTAINERS.md
  .github/workflows/auto-approve-maintainer-prs.yml
Due: none

Harden auto-approve: approve on the maintainer's push only, check the live head
  .github/CODEOWNERS
  .github/MAINTAINERS.md
  .github/workflows/auto-approve-maintainer-prs.yml
Due: none

Open integration dependencies to core, close the route table, document who merges
  .github/CODEOWNERS
  .github/MAINTAINERS.md
Due: none

Path conditions:
  server: any of: server
  front: any of: front
