Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

server: add the ability to only execute trigger at threshold
  server/lib/device/device.saveState.js
  server/lib/scene/scene.triggers.js
  server/test/lib/device/device.saveState.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
Due: server

Add threshold only button in the scene UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/models/scene.js
Due: server, front

Add the ability to only execute device.new-state trigger at threshold (#983)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/lib/device/device.saveState.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/test/lib/device/device.saveState.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
Due: server, front

MQTT: generate a password with only lowercase, uppercase and number characters
  server/services/mqtt/lib/installContainer.js
Due: server

MQTT: generate a password with only lowercase, uppercase and number characters (#984)
  server/services/mqtt/lib/installContainer.js
Due: server

modif fichier chat fr
  server/config/brain/chat/answers.fr.json
  server/config/brain/chat/questions.fr.json
Due: server

modif chat fr
  server/config/brain/chat/questions.fr.json
Due: server

add downsample
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getFeatureStates.js
  server/lib/device/index.js
  server/package-lock.json
  server/package.json
  server/seeders/20190227081710-device-feature-state.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getFeatureStates.test.js
Due: server

fix prettier
  front/src/config/demo.json
Due: front

fix review comment
  front/package-lock.json
  front/package.json
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/health/EditHealthBox.jsx
  front/src/config/i18n/fr.json
  package-lock.json
  package.json
  server/api/controllers/health.controller.js
  server/package-lock.json
  server/package.json
Due: server, front

fix dependancy mistake
  server/package-lock.json
  server/package.json
Due: server

fix pr review comment
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

brain V2 suite
  server/config/brain/chat/answers.en.json
  server/config/brain/chat/answers.fr.json
  server/config/brain/chat/questions.en.json
  server/config/brain/taxi/question.fr.json
  server/config/brain/taxi/questions.en.json
Due: server

correctif
  server/config/brain/chat/questions.en.json
Due: server

correctif
  server/config/brain/chat/questions.en.json
  server/config/brain/taxi/questions.en.json
Due: server

correctif
  server/config/brain/taxi/questions.fr.json
Due: server

Add prefer-template rule
  front/.eslintrc.json
  front/src/components/boxs/device-in-room/RoomCard.jsx
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/header/index.jsx
  front/src/routes/dashboard/EditAddBoxButton.jsx
  front/src/routes/gateway-confirm-email/ConfirmEmail.js
  front/src/routes/gateway-reset-password/ResetPasswordForm.js
  front/src/routes/integration/all/bluetooth/device-page/actions.js
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheral.jsx
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
  front/src/routes/integration/all/philips-hue/device-page/actions.js
  front/src/routes/integration/all/philips-hue/setup-page/actions.js
  front/src/routes/integration/all/xiaomi/actions.js
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/routes/settings/settings-gateway-open-api/OpenApi.js
  front/src/routes/settings/settings-gateway-users/UserRow.js
  front/src/routes/signup-gateway/SignupForm.js
  front/src/routes/signup-gateway/SignupGeneratingKeys.js
  front/src/routes/signup/1-welcome/WelcomeTab.jsx
  front/src/routes/signup/5-success/SuccessTab.jsx
  front/src/utils/bytesFormat.js
  server/.eslintrc.json
Due: server, front

Fix #932: fix bug preventing to start scene from scene list
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/index.js
Due: front

fix styl multi feature
  front/src/actions/dashboard/boxes/chart-box-config/chartStyle.js
  front/src/actions/dashboard/boxes/chart.js
  front/src/components/boxs/chart-featue/ChartMultiFeaturesBox.jsx
  server/api/controllers/device.controller.js
Due: server, front

Fix #932: fix bug preventing starting a scene from the scene list (#993)
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/index.js
Due: front

v4.0.2
  package-lock.json
  package.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

adding sentences
  server/config/brain/camera/answers.fr.json
  server/config/brain/camera/questions.fr.json
  server/config/brain/light/questions.fr.json
  server/config/brain/temperature-sensor/answers.fr.json
  server/config/brain/temperature-sensor/questions.fr.json
  server/config/brain/weather/questions.fr.json
Due: server

front: Add prefer-template eslint rule (#990)
  front/.eslintrc.json
  front/src/components/boxs/device-in-room/RoomCard.jsx
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/header/index.jsx
  front/src/routes/dashboard/EditAddBoxButton.jsx
  front/src/routes/gateway-confirm-email/ConfirmEmail.js
  front/src/routes/gateway-reset-password/ResetPasswordForm.js
  front/src/routes/integration/all/bluetooth/device-page/actions.js
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheral.jsx
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
  front/src/routes/integration/all/philips-hue/device-page/actions.js
  front/src/routes/integration/all/philips-hue/setup-page/actions.js
  front/src/routes/integration/all/xiaomi/actions.js
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/routes/settings/settings-gateway-open-api/OpenApi.js
  front/src/routes/settings/settings-gateway-users/UserRow.js
  front/src/routes/signup-gateway/SignupForm.js
  front/src/routes/signup-gateway/SignupGeneratingKeys.js
  front/src/routes/signup/1-welcome/WelcomeTab.jsx
  front/src/routes/signup/5-success/SuccessTab.jsx
  front/src/utils/bytesFormat.js
  server/.eslintrc.json
Due: server, front

improve chart
  front/src/actions/dashboard/boxes/chart-box-config/chartConfig.js
  front/src/actions/dashboard/boxes/chart-box-config/chartStyle.js
  front/src/actions/dashboard/boxes/chart.js
  front/src/actions/dashboard/boxes/commons.js
  front/src/actions/dashboard/edit-boxes/editChartFeatures.js
  front/src/components/boxs/chart-featue/ChartMultiFeaturesBox.jsx
  front/src/components/boxs/chart-featue/ChartOneFeaturesBox.jsx
  front/src/components/boxs/chart-feature/ChartMultiFeaturesBox.jsx
  front/src/components/boxs/chart-feature/ChartOneFeaturesBox.jsx
  front/src/components/boxs/chart-feature/ChartPeriodDropDown.jsx
  front/src/components/boxs/chart-feature/ChartPeriodSelector.jsx
  front/src/components/boxs/chart-feature/ChartTypeSelector.jsx
  front/src/components/boxs/chart-feature/EditChartMultiFeatures.jsx
  front/src/components/boxs/chart-feature/EditChartOneFeatures.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  server/api/controllers/device.controller.js
  server/lib/device/device.getFeatureStates.js
  server/package-lock.json
  server/package.json
Due: server, front

fix eslint & prettier
  front/src/actions/dashboard/boxes/chart-box-config/chartConfig.js
  front/src/actions/dashboard/boxes/chart-box-config/chartStyle.js
  front/src/actions/dashboard/boxes/chart.js
  front/src/actions/dashboard/boxes/commons.js
  front/src/components/boxs/chart-feature/ChartMultiFeaturesBox.jsx
  front/src/components/boxs/chart-feature/ChartOneFeaturesBox.jsx
  front/src/components/boxs/chart-feature/ChartPeriodDropDown.jsx
  front/src/components/boxs/chart-feature/EditChartMultiFeatures.jsx
  front/src/components/boxs/chart-feature/EditChartOneFeatures.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  server/api/controllers/device.controller.js
  server/lib/device/device.getFeatureStates.js
  server/test/controllers/device/device.controller.test.js
Due: server, front

Bluettoth device creation/deletion
  server/services/bluetooth/lib/commands/bluetooth.connectDevices.js
  server/services/bluetooth/lib/commands/bluetooth.poll.js
  server/services/bluetooth/lib/commands/bluetooth.postCreate.js
  server/services/bluetooth/lib/commands/bluetooth.postDelete.js
  server/services/bluetooth/lib/commands/bluetooth.subscribeDevice.js
  server/services/bluetooth/lib/commands/bluetooth.unsubscribeDevice.js
  server/services/bluetooth/lib/index.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.read.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.unsubscribe.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.write.js
  server/services/bluetooth/lib/utils/peripheral/bluetooth.connect.js
  server/services/bluetooth/lib/utils/peripheral/bluetooth.discoverServices.js
  server/services/bluetooth/lib/utils/service/bluetooth.discoverCharacteristics.js
  server/test/services/bluetooth/lib/commands/bluetooth.poll.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.postCreate.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.postDelete.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/utils/bluetooth.unsubscribe.test.js
Due: server

Fix read and logs + add getCharacteristics
  server/services/bluetooth/lib/commands/bluetooth.connectDevices.js
  server/services/bluetooth/lib/commands/bluetooth.getCharacteristic.js
  server/services/bluetooth/lib/commands/bluetooth.poll.js
  server/services/bluetooth/lib/commands/bluetooth.readDevice.js
  server/services/bluetooth/lib/commands/bluetooth.scanDevice.js
  server/services/bluetooth/lib/commands/bluetooth.subscribeDevice.js
  server/services/bluetooth/lib/commands/bluetooth.subscribePeripheral.js
  server/services/bluetooth/lib/commands/bluetooth.writeDevice.js
  server/services/bluetooth/lib/index.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.read.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.write.js
  server/services/bluetooth/lib/utils/peripheral/bluetooth.discoverServices.js
  server/services/bluetooth/lib/utils/service/bluetooth.discoverCharacteristics.js
  server/test/services/bluetooth/lib/commands/bluetooth.readDevice.test.js
  server/test/services/bluetooth/lib/utils/bluetooth.discoverCharacteristics.test.js
  server/test/services/bluetooth/lib/utils/bluetooth.discoverServices.test.js
Due: server

Fix BLE load devices
  server/services/bluetooth/lib/commands/bluetooth.connectDevices.js
Due: server

Zigbee2mqtt : Front integration
  front/src/assets/integrations/cover/zigbee2mqtt.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zigbee2mqtt/Zigbee2mqttPage.js
  front/src/routes/integration/all/zigbee2mqtt/commons/CheckStatus.js
  front/src/routes/integration/all/zigbee2mqtt/commons/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/EmptyState.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/EmptyState.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/edit-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
Due: front

Project config modifications for Gladys dev outside docker container
  server/nodemon.json
  server/package.json
Due: server

Update Zigbee2mqtt messages in EN and FR
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front
