Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Rename cinema service to tmdb
  front/src/assets/integrations/cover/tmdb.jpg
  front/src/components/app.jsx
  front/src/components/boxs/cinema/CinemaBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/weathers.json
  front/src/routes/integration/all/cinema/index.js
  front/src/routes/integration/all/tmdb/Tmdb.jsx
  front/src/routes/integration/all/tmdb/actions.js
  front/src/routes/integration/all/tmdb/index.js
  server/services/index.js
  server/services/tmdb/controllers/tmdb.controller.js
  server/services/tmdb/index.js
  server/services/tmdb/lib/formatUpcomingMovies.js
  server/services/tmdb/lib/isAssignedRegion.js
  server/services/tmdb/lib/mapWithConcurrency.js
  server/services/tmdb/lib/resolveRegionalReleaseDate.js
  server/services/tmdb/lib/resolveTrailerUrl.js
  server/services/tmdb/package-lock.json
  server/services/tmdb/package.json
  server/test/services/tmdb/expected-result.json
  server/test/services/tmdb/index.test.js
  server/test/services/tmdb/lib/formatUpcomingMovies.test.js
  server/test/services/tmdb/lib/isAssignedRegion.test.js
  server/test/services/tmdb/lib/mapWithConcurrency.test.js
  server/test/services/tmdb/lib/resolveRegionalReleaseDate.test.js
  server/test/services/tmdb/lib/resolveTrailerUrl.test.js
  server/test/services/tmdb/tmdb-upcoming-response.json
  server/test/services/tmdb/tmdb.controller.test.js
Due: server, front

Decouple the cinema widget from the tmdb service
  front/src/components/boxs/cinema/CinemaBox.jsx
  front/src/components/boxs/cinema/EditCinemaBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/cinema.controller.js
  server/api/routes.js
  server/lib/cinema/cinema.getProviders.js
  server/lib/cinema/cinema.getUpcoming.js
  server/lib/cinema/index.js
  server/lib/index.js
  server/services/tmdb/controllers/tmdb.controller.js
  server/services/tmdb/index.js
  server/test/api/controllers/cinema.controller.test.js
  server/test/lib/cinema/cinema.getUpcoming.test.js
  server/test/services/tmdb/index.test.js
  server/test/services/tmdb/tmdb.controller.test.js
Due: server, front

Cover the Promise.reduce short-circuit branch in cinema.getUpcoming
  server/test/lib/cinema/cinema.getUpcoming.test.js
Due: server

Map an external movie integration's transport failure to REQUEST_TO_THIRD_PARTY_FAILED
  server/lib/cinema/cinema.getUpcoming.js
  server/test/lib/cinema/cinema.getUpcoming.test.js
Due: server

Rename the cinema box type to premieres
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/premieres/EditPremieresBox.jsx
  front/src/components/boxs/premieres/PremieresBox.jsx
  front/src/components/boxs/premieres/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/api/controllers/premieres.controller.js
  server/api/routes.js
  server/lib/cinema/index.js
  server/lib/index.js
  server/lib/premieres/index.js
  server/lib/premieres/premieres.getProviders.js
  server/lib/premieres/premieres.getUpcoming.js
  server/models/dashboard.js
  server/services/tmdb/lib/resolveRegionalReleaseDate.js
  server/test/api/controllers/premieres.controller.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/lib/premieres/premieres.getUpcoming.test.js
  server/utils/constants.js
Due: server, front

Genericize the premieres widget's description and provider label
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix(dashboard): compact the shutter buttons into icons in narrow cards
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/components/device/ShutterButtons.css
  front/src/components/device/ShutterButtons.jsx
  front/src/routes/dashboard/style.css
Due: front

Add a "movies" external-integration type (B.19)
  docs/specs/external-integrations.md
  front/src/components/boxs/premieres/PremieresBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.normalizeMovies.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/services/tmdb/index.js
  server/test/lib/external-integration/externalIntegration.movies.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/services/tmdb/index.test.js
  server/utils/constants.js
Due: server, front

fix(dashboard): compact the shutter buttons into icons in narrow cards (#3062)
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/components/device/ShutterButtons.css
  front/src/components/device/ShutterButtons.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): round displayed sensor values without losing small-value meaning
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/DistanceSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/PressureSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/RawDeviceValue.jsx
  server/test/utils/units.test.js
  server/utils/units.js
Due: server, front

Close the movies external-integration type's remaining gaps
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/ExternalIntegrationPage.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  front/src/routes/integration/index.js
  server/lib/external-integration/externalIntegration.normalizeMovies.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.movies.test.js
Due: server, front

Hide movies-type integrations from non-admins, matching weather
  docs/specs/integration-catalog-categories.md
  front/src/routes/integration/index.js
Due: front

Catalog TMDB under its own "movies" type, not "weather"
  front/src/components/app.jsx
  front/src/config/integrations/index.js
  front/src/config/integrations/movies.json
  front/src/config/integrations/weathers.json
Due: front

Add cursor: pointer to all switch-idicators
  front/src/style/index.css
Due: front

Feedbacks fixes
  front/src/style/index.css
Due: front

feat: hide the premieres widget's period/country fields for providers that don't use them
  docs/specs/external-integrations.md
  front/src/components/boxs/premieres/EditPremieresBox.jsx
  server/api/controllers/premieres.controller.js
  server/services/tmdb/index.js
  server/test/api/controllers/premieres.controller.test.js
  server/test/services/tmdb/index.test.js
Due: server, front

feat: add an optional movie.showtimes field to the movies pivot (B.19)
  docs/specs/external-integrations.md
  front/src/components/boxs/premieres/PremieresBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.normalizeMovies.js
  server/test/lib/external-integration/externalIntegration.movies.test.js
Due: server, front

fix(dashboard): round displayed sensor values without losing small-value meaning (#3063)
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/DistanceSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/PressureSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/RawDeviceValue.jsx
  server/test/utils/units.test.js
  server/utils/units.js
Due: server, front

5.0.3 (#3065)
  package-lock.json
  package.json
Due: none

fix: address PR #3061 review feedback
  docs/specs/external-integrations.md
  docs/specs/integration-catalog-categories.md
  front/src/components/boxs/premieres/EditPremieresBox.jsx
Due: front

fix: close the race where a stale provider list skips the config clear
  docs/specs/external-integrations.md
  front/src/components/boxs/premieres/EditPremieresBox.jsx
Due: front

Add the romm name in devices selector on dashboard
  front/src/components/boxs/device-in-room/EditDevices.jsx
Due: front

Add movies.new-release scene trigger
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/summary.js
  front/src/routes/scene/edit-scene/triggers/MoviesNewRelease.jsx
  front/src/routes/scene/edit-scene/typesCatalog.js
  server/config/scheduler-jobs.js
  server/lib/index.js
  server/lib/premieres/index.js
  server/lib/premieres/premieres.checkNewReleases.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/test/lib/premieres/premieres.checkNewReleases.test.js
  server/test/lib/premieres/premieres.getUpcoming.test.js
  server/test/lib/scene/triggers/scene.trigger.moviesNewRelease.test.js
  server/utils/constants.js
Due: server, front

Cover the empty-providers-after-filter branch in checkNewReleases
  server/test/lib/premieres/premieres.checkNewReleases.test.js
Due: server

Address movies.new-release review feedback: language forwarding, missing-title crash, coverage
  docs/specs/external-integrations.md
  server/lib/premieres/premieres.checkNewReleases.js
  server/lib/scene/scene.triggers.js
  server/test/lib/premieres/premieres.checkNewReleases.test.js
  server/test/lib/scene/triggers/scene.trigger.moviesNewRelease.test.js
Due: server

Fix Prettier formatting on the missing-title test
  server/test/lib/scene/triggers/scene.trigger.moviesNewRelease.test.js
Due: server

Fix inaccurate comment: only language is forwarded, not region
  server/lib/premieres/premieres.checkNewReleases.js
Due: server

Add movies_supports_region_and_period manifest opt-in flag
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.movies.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Due: server

Make the movies.new-release baseline cumulative, not last-poll-only
  server/lib/premieres/premieres.checkNewReleases.js
  server/test/lib/premieres/premieres.checkNewReleases.test.js
Due: server

Add movies.new-release to the MCP scene-creation schema
  server/services/mcp/lib/sceneSchemas.js
  server/test/services/mcp/lib/sceneSchemas.test.js
Due: server

Fix spec/JSDoc drift after the cumulative-baseline and manifest-flag commits
  docs/specs/external-integrations.md
  server/lib/premieres/premieres.checkNewReleases.js
Due: server

Replace TMDB's generic clapperboard cover with a branded one
  front/src/assets/integrations/cover/tmdb.jpg
Due: front

Uppercase region before validation; fill two spec gaps
  docs/specs/external-integrations.md
  server/services/tmdb/index.js
  server/test/services/tmdb/index.test.js
Due: server

fix(zigbee2mqtt): support the ConBee III and its 115200 baudrate
  front/src/config/demo/integrations.js
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/test/services/zigbee2mqtt/lib/config/z2m_adapter-deconz-conbee3_config.yaml
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
Due: server, front

fix(dashboard): align sensor device names
  front/src/routes/dashboard/style.css
Due: front

chore(security): bump @toon-format/toon to clear a new high-severity prototype pollution advisory
  server/services/mcp/package-lock.json
Due: server

fix(zigbee2mqtt): support the ConBee III and its 115200 baudrate (#3067)
  front/src/config/demo/integrations.js
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/test/services/zigbee2mqtt/lib/config/z2m_adapter-deconz-conbee3_config.yaml
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
Due: server, front

Add cursor: pointer to all switch-indicators (#3064)
  front/src/style/index.css
Due: front

fix(dashboard): align sensor device names by dropping the legacy icon margin
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/routes/dashboard/style.css
  front/src/routes/integration/all/mqtt/device-page/setup/SensorRowFeaturePreview.jsx
Due: front

fix(dashboard): wrap long text values instead of overflowing the card
  front/src/components/boxs/device-in-room/device-features/sensor-value/TextDeviceValue.jsx
  front/src/routes/dashboard/style.css
Due: front

Path conditions:
  server: any of: server
  front: any of: front
