Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Run prettier
  front/src/routes/integration/all/matter/MatterDevices.jsx
Due: front

feat(energy-monitoring): add date-range recalculation (backend)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.destroyStatesFrom.js
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexRange.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostRange.js
  server/services/energy-monitoring/lib/index.js
  server/test/lib/device/device.destroyStatesFrom.test.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexRange.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostRange.test.js
  server/utils/constants.js
Due: server, front

Netatmo: Trigger reconnect cycle on auth errors from business API calls
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/netatmo/discover-page/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.handleApiAuthError.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.handleApiAuthError.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingValues.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Due: server, front

Display the full error content
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDeviceSaveErrorAlert.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/utils/formatErrors.js
Due: front

Netatmo: Trigger reconnect cycle on auth errors from business API calls (#2562)
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/netatmo/discover-page/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.handleApiAuthError.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.handleApiAuthError.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingValues.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Due: server, front

Tuya: Add GitHub issue assistant for unsupported and partially supported devices - PR4 (#2467)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/localPoll.js
  front/src/routes/integration/all/tuya/discover-page/TuyaGithubIssueSection.jsx
  front/src/routes/integration/all/tuya/discover-page/githubIssue.js
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/utils/tuya.deviceParams.js
  server/services/tuya/lib/utils/tuya.report.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Due: server, front

Add ensureNodeConnected function
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.refreshDevices.js
  server/services/matter/utils/constants.js
  server/services/matter/utils/ensureNodeConnected.js
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
  server/test/services/matter/utils/ensureNodeConnected.test.js
Due: server

Add more logs to Matter integration
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.refreshDevices.js
  server/services/matter/utils/ensureNodeConnected.js
  server/services/matter/utils/temperatureMatterHelper.js
  server/test/services/matter/utils/ensureNodeConnected.test.js
  server/test/services/matter/utils/temperatureMatterHelper.test.js
Due: server

Fix review feedback
  server/services/matter/utils/ensureNodeConnected.js
  server/test/services/matter/utils/ensureNodeConnected.test.js
Due: server

Zigbee2mqtt: add IEEE address and link to open Z2M (#2488)
  front/src/assets/integrations/logos/logo_zigbee2mqtt.png
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteOptions.jsx
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getSetup.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/payloads/CCT5015.json
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
Due: server, front

Add DeviceFeature supported options
  server/lib/device/camera/camera.get.js
  server/lib/device/device.create.js
  server/lib/device/device.destroyParam.js
  server/lib/device/device.get.js
  server/lib/device/device.init.js
  server/lib/device/device.syncFeatureSupportedOptions.js
  server/lib/device/device.updateFeature.js
  server/lib/device/light/light.getLightsInRoom.js
  server/lib/device/light/light.init.js
  server/lib/room/room.get.js
  server/lib/room/room.getBySelector.js
  server/migrations/20260619120000-create-device-feature-supported-option.js
  server/models/device_feature.js
  server/models/device_feature_supported_option.js
  server/models/index.js
  server/test/lib/device/device.create.test.js
  server/test/utils/deviceQueryIncludes.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/deviceQueryIncludes.js
  server/utils/normalizeSupportedOptions.js
Due: server

Fix eslint
  server/test/lib/device/device.create.test.js
Due: server

Fix feedbacks
  server/lib/device/device.create.js
  server/migrations/20260619120000-create-device-feature-supported-option.js
  server/models/device_feature_supported_option.js
  server/test/lib/device/device.create.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Due: server

Fix crash on undefined options
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Due: server

Add AI download debug JSON button
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiChatDebugDownload.jsx
  front/src/routes/integration/all/openai/index.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/lib/gateway/index.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Due: server, front

Add AI download debug JSON button (#2568)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiChatDebugDownload.jsx
  front/src/routes/integration/all/openai/index.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/lib/gateway/index.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Due: server, front

AI: Add sensor.set-state tool
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Fix feature
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/createServer.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/createServer.test.js
Due: server

Add coverage
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Fix feedbacks
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

feat(tuya): add degraded-local backoff with UI badge and reset endpoints
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.degraded.js
  server/test/services/tuya/lib/controllers/tuya.controller.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/test/services/tuya/lib/utils/tuya.degraded.test.js
Due: server, front

fix(front/tuya): preserve transient tuya_mapping after device save
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
Due: front

test(tuya): close coverage gaps on config/report/controller/degraded
  server/test/services/tuya/lib/controllers/tuya.controller.test.js
  server/test/services/tuya/lib/utils/tuya.config.test.js
  server/test/services/tuya/lib/utils/tuya.degraded.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Due: server

test(tuya): trim smart-meter fixture of unread fields and dead duplicate
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/input-device.json
Due: server

Matter : Fix max values for Fans
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/fanMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/utils/fanMatterMapping.test.js
Due: server

Limit set state to MQTT sensors
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Fix feedbacks
  front/src/utils/formatErrors.js
Due: front

Matter: add local temperature + improve connect process + add more logs (#2564)
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.refreshDevices.js
  server/services/matter/utils/constants.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/ensureNodeConnected.js
  server/services/matter/utils/temperatureMatterHelper.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
  server/test/services/matter/utils/ensureNodeConnected.test.js
  server/test/services/matter/utils/temperatureMatterHelper.test.js
Due: server

Fix grammar in debug context error message
  front/src/config/i18n/fr.json
Due: front

Fix rockwind setting, fix unstable selector, read initial device state when starting
  server/lib/device/device.create.js
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/fanMatterMapping.js
  server/test/lib/device/device.create.test.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/utils/fanMatterMapping.test.js
Due: server

Harmonize code
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/temperatureMatterHelper.js
  server/test/services/matter/utils/temperatureMatterHelper.test.js
Due: server

Display update button when device already exist but needs an update
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDevices.jsx
Due: front

Fix prettier front
  front/src/routes/integration/all/matter/MatterDevices.jsx
Due: front

AI Weekly digest should be displayed as background job + add random wait time to prevent server saturation
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/gateway/gateway.scheduleWeeklyDigest.js
  server/lib/gateway/index.js
  server/test/lib/gateway/gateway.scheduleWeeklyDigest.test.js
  server/utils/constants.js
Due: server, front

Fix tests
  server/test/lib/device/device.create.test.js
  server/test/services/matter/lib/matter.init.test.js
Due: server

AI Weekly digest should be displayed as background job + add random wait time to prevent server saturation (#2572)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/gateway/gateway.scheduleWeeklyDigest.js
  server/lib/gateway/index.js
  server/test/lib/gateway/gateway.scheduleWeeklyDigest.test.js
  server/utils/constants.js
Due: server, front

Fix AI feedbacks
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
Due: server

AI: Add sensor.set-state tool (#2569)
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/createServer.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/createServer.test.js
Due: server

Matter : Fan fixes + make selector stable + read initial device feature value on start (#2570)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDevices.jsx
  server/lib/device/device.create.js
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/fanMatterMapping.js
  server/services/matter/utils/temperatureMatterHelper.js
  server/test/lib/device/device.create.test.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/utils/fanMatterMapping.test.js
  server/test/services/matter/utils/temperatureMatterHelper.test.js
Due: server, front

Matter : Display save error in UI (#2565)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDeviceSaveErrorAlert.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/utils/formatErrors.js
Due: front

Path conditions:
  server: any of: server
  front: any of: front
