Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Modification of prettier
  front/src/routes/integration/all/rflink/device-page/Device.jsx
  front/src/routes/integration/all/rflink/settings-page/SettingsTab.jsx
Due: front

Add createArea function
  front/src/routes/map/NewArea.jsx
Due: front

Fix #1200: calling a scene from a scene should duplicate the scope object to avoid context pollution
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Display areas on the map
  front/src/routes/map/Map.jsx
Due: front

Fix tests
  server/test/lib/scene/scene.execute.test.js
Due: server

Add GET area by selector with tests
  server/api/controllers/area.controller.js
  server/api/routes.js
  server/lib/area/area.getBySelector.js
  server/lib/area/index.js
  server/test/controllers/area/area.controller.test.js
  server/test/lib/area/area.test.js
Due: server

Add the ability to edit an existing zone
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewArea.jsx
Due: front

Add loader
  front/src/routes/map/NewArea.jsx
Due: front

Should check if user entered/left area on new location
  server/lib/area/area.checkNewLocation.js
  server/lib/area/area.create.js
  server/lib/area/area.destroy.js
  server/lib/area/area.init.js
  server/lib/area/area.update.js
  server/lib/area/index.js
  server/lib/index.js
  server/lib/location/location.create.js
  server/test/lib/area/area.checkNewLocation.test.js
  server/test/lib/area/area.test.js
  server/test/utils/coordinates.test.js
  server/utils/constants.js
  server/utils/coordinates.js
Due: server

Fix #1200: calling a scene from a scene should duplicate the scope object to avoid context pollution (#1205)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Add more tests to area lib
  server/test/lib/area/area.test.js
Due: server

Emit trigger check event
  server/lib/area/area.checkNewLocation.js
  server/test/lib/area/area.checkNewLocation.test.js
Due: server

Add new scene trigger
  server/lib/scene/scene.triggers.js
  server/models/scene.js
Due: server

Add trigger in UI
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
Due: front

Add delete zone button & fr translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/map/NewArea.jsx
Due: front

Zoom on the zone in edit mode
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/NewAreaMap.jsx
Due: front

Add missing tests
  server/test/lib/area/area.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
Due: server

Increase default Cypress timeout
  front/cypress/cypress.json
Due: front

Add Cypress test on area creation
  front/cypress/integration/routes/maps/Maps.js
Due: front

Translate colors + test react-select
  front/cypress/integration/routes/maps/Maps.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/map/ColorPicker.jsx
Due: front

Add data to demo mode
  front/src/config/demo.json
Due: front

Make map height dynamic
  front/src/routes/map/Map.jsx
Due: front

Add the ability to create a zone in the map + create scene based on zone change (#1208)
  front/cypress/cypress.json
  front/cypress/integration/routes/maps/Maps.js
  front/src/components/app.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/map/ColorPicker.jsx
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/NewAreaMap.jsx
  front/src/routes/map/style.css
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
  server/api/controllers/area.controller.js
  server/api/routes.js
  server/lib/area/area.checkNewLocation.js
  server/lib/area/area.create.js
  server/lib/area/area.getBySelector.js
  server/lib/area/area.init.js
  server/lib/area/area.update.js
  server/lib/area/index.js
  server/lib/index.js
  server/lib/location/location.create.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/test/controllers/area/area.controller.test.js
  server/test/lib/area/area.checkNewLocation.test.js
  server/test/lib/area/area.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/utils/coordinates.test.js
  server/utils/constants.js
  server/utils/coordinates.js
Due: server, front

Minor changes after eslint
  server/services/rflink/lib/commands/rflink.connect.js
  server/services/rflink/lib/commands/rflink.getNewDevice.js
Due: server

remove remaining sonoff
  front/src/routes/integration/all/sonoff/device-page/SonoffBox.jsx
Due: front

Upgrade serialport version from 9.0.0 to 9.1.0 and serialport/parser-readline from 9.0.0 to 9.0.7
  server/services/rflink/package.json
Due: server

Use debug logger
  server/services/rflink/lib/commands/rflink.listen.js
  server/services/rflink/lib/events/rflink.message.js
  server/services/rflink/lib/events/rflink.newValue.js
Due: server

Area distance calculation should be in meter
  server/test/utils/coordinates.test.js
  server/utils/coordinates.js
Due: server

Upgrade leaflet to latest version
  front/package-lock.json
  front/package.json
Due: front

Add new websocket event + improve zone creation UX
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/index.jsx
  server/lib/location/location.create.js
  server/utils/constants.js
Due: server, front

Fix executeActions tests
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Increase Cypress timeout
  front/cypress/cypress.json
Due: front

Execute tests on storage, not in memory due to differences in SQlite memory DB
  server/config/config.js
Due: server

Remove console.log in front
  front/src/routes/map/Map.jsx
Due: front

Multiple fixes on zone creation flow + map view (#1210)
  front/cypress/cypress.json
  front/package-lock.json
  front/package.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/index.jsx
  server/config/config.js
  server/lib/location/location.create.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/utils/coordinates.test.js
  server/utils/constants.js
  server/utils/coordinates.js
Due: server, front

Add frontend condition: if house is empty / not empty
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  server/utils/constants.js
Due: server, front

Add house.getUsersAtHome and house.isEmpty function
  server/lib/house/house.getUsersAtHome.js
  server/lib/house/house.isEmpty.js
  server/lib/house/index.js
  server/lib/scene/scene.actions.js
  server/models/house.js
  server/test/lib/house/house.test.js
Due: server

Add house empty / not empty scene condition
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Add Cypress tests on scene
  front/cypress/integration/routes/scene/Scene.js
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
Due: front

Add house empty/not empty condition in scene (#1212)
  front/cypress/integration/routes/scene/Scene.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  server/lib/house/house.getUsersAtHome.js
  server/lib/house/house.isEmpty.js
  server/lib/house/index.js
  server/lib/scene/scene.actions.js
  server/models/house.js
  server/test/lib/house/house.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/utils/constants.js
Due: server, front
