Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

test receive on save
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Test
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

Test
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  server/services/arduino/arduino-code/arduino-code.ino
Due: server, front

Test
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Test
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front

Update icon
  front/src/components/boxs/device-in-room/device-features/ButtonDeviceFeature.jsx
Due: front

Test recv on device 433
  front/src/routes/integration/all/arduino/device-page/actions.js
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/arduino-code/arduino-code.ino
  server/services/arduino/lib/recv.js
Due: server, front

Correction data pin
  front/src/routes/integration/all/arduino/device-page/actions.js
Due: front

recv : test update param
  server/services/arduino/lib/recv.js
Due: server

Correction
  server/services/arduino/lib/recv.js
Due: server

test
  server/services/arduino/lib/recv.js
  server/services/arduino/lib/setParam.js
Due: server

correction
  server/services/arduino/lib/recv.js
Due: server

Correction + doc
  server/services/arduino/lib/recv.js
  server/services/arduino/lib/setParam.js
Due: server

Correction
  server/services/arduino/lib/setParam.js
Due: server

Correction
  server/services/arduino/lib/index.js
Due: server

Test
  server/services/arduino/lib/recv.js
Due: server

Correction code
  server/services/arduino/lib/index.js
  server/services/arduino/lib/recv.js
  server/services/arduino/lib/setParam.js
Due: server

Update Arduino code
  server/services/arduino/arduino-code/arduino-code.ino
  server/services/arduino/arduino-code/mega/arduino-code.ino.hex
  server/services/arduino/arduino-code/mega/arduino-code.ino.with_bootloader.hex
  server/services/arduino/arduino-code/nano/arduino-code.ino.hex
  server/services/arduino/arduino-code/nano/arduino-code.ino.with_bootloader.hex
  server/services/arduino/arduino-code/uno/arduino-code.ino.hex
  server/services/arduino/arduino-code/uno/arduino-code.ino.with_bootloader.hex
  server/services/arduino/arduino-code/yun/arduino-code.ino.hex
  server/services/arduino/arduino-code/yun/arduino-code.ino.with_bootloader.hex
Due: server

Update USB API : add serial number
  server/services/usb/api/usb.controller.js
Due: server

Update USB API : add IDs
  server/services/usb/api/usb.controller.js
Due: server

Add Arduino properties in DB
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

Correction actions.js
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

Correction
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
Due: front

Update
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
Due: front

Add flashing message + usb by serial number
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
  front/src/routes/integration/all/arduino/setup-page/index.js
Due: front

Correction uploading code
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
Due: front

Test
  front/src/routes/integration/all/arduino/setup-page/SetupDevice.jsx
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
Due: front

Test
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

Flashing : new exception
  server/services/arduino/lib/setup.js
Due: server

Test
  server/services/arduino/lib/setup.js
Due: server

Update features view
  front/src/routes/integration/all/arduino/device-page/Device.jsx
Due: front
