Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Dashboard: Update PM2.5 sensor threshold values (#2355)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Due: front

Matter: Add PM10 sensors (#2354)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/utils/constants.js
Due: server, front

4.62.0
  package-lock.json
  package.json
Due: none

Get live tempo data
  server/lib/gateway/gateway.getEdfTempoHistorical.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.js
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/data/tempo/2019.json
  server/services/energy-monitoring/data/tempo/2020.json
  server/services/energy-monitoring/data/tempo/2021.json
  server/services/energy-monitoring/data/tempo/2022.json
  server/services/energy-monitoring/data/tempo/2023.json
  server/services/energy-monitoring/data/tempo/2024.json
  server/services/energy-monitoring/data/tempo/2025.json
  server/services/energy-monitoring/data/tempo/index.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/data/tempo_mock.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Due: server

Add new energy consumption widget
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/lib/device/device.getDeviceFeaturesAggregatesMulti.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/utils/constants.js
Due: server, front

Added constants concerning concentration measurements
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Due: server, front

Add missing en translations
  front/src/config/i18n/en.json
Due: front

Add function to insert multiple historical states at once
  server/lib/device/device.saveMultipleHistoricalStates.js
  server/lib/device/index.js
Due: server

Use device.saveMultipleHistoricalStates in energy monitoring service
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
Due: server

In tests, add function to import base prices from Github
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Due: server

4.63.0
  package-lock.json
  package.json
Due: none

Fix device.saveMultipleHistoricalStates
  server/lib/device/device.saveMultipleHistoricalStates.js
Due: server

Fix energypricesfordate check
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
Due: server

Add missing days from tempo_mock
  server/test/services/energy-monitoring/data/tempo_mock.js
Due: server

Use a logo with a complete black background
  front/src/assets/integrations/cover/nuki.png
Due: front

Matter : add conversion measurementUnit attribute for PM10 and PM2.5
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.init.test.js
Due: server

Wrong comment
  server/services/nuki/lib/device/nuki.postDelete.js
Due: server

Do not use uppercase for service integration title
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add tests convertMeasurementUnitToDeviceFeatureUnits
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.init.test.js
Due: server

prettier check
  server/test/services/matter/lib/matter.init.test.js
Due: server

Update mcp lib & use session
  server/services/mcp/api/mcp.controller.js
  server/services/mcp/lib/getAllTools.js
  server/services/mcp/lib/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Due: server

use of constants of ConcentrationMeasurement
  server/services/matter/utils/convertToGladysDevice.js
Due: server

Matter: Add VOC sensor
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
Due: server, front

run prettier server
  server/test/services/matter/lib/matter.init.test.js
Due: server

Add VOC_INDEX_COLOR
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  server/services/matter/utils/convertToGladysDevice.js
Due: server, front

run prettier front
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Due: front

Modify test
  server/test/services/matter/lib/matter.init.test.js
Due: server

Matter: Add Formaldehyde sensors (#2357)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.init.test.js
  server/utils/constants.js
Due: server, front

Fix Analog Clock in dark-mode
  front/src/style/dark-mode.css
Due: front

Dark mode: Fix bg-warning yellow badges to make it less bright
  front/src/style/dark-mode.css
Due: front

Dark mode: Secondary button like rolling shutters button should be different when active
  front/src/style/dark-mode.css
Due: front

Fix Analog Clock in dark-mode (#2359)
  front/src/style/dark-mode.css
Due: front

Dark mode: Fix bg-warning yellow badges to make it less bright (#2360)
  front/src/style/dark-mode.css
Due: front

Dark mode: Secondary button like rolling shutters button should be different when active (#2361)
  front/src/style/dark-mode.css
Due: front

Add page to import price
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.getContracts.js
  server/services/energy-monitoring/lib/index.js
Due: server, front

Add all day_type
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

Add missing blue day type
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Create device feature categorie VOC_MATTER_INDEX_SENSOR
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.init.test.js
  server/utils/constants.js
Due: server, front

energy price should be ordered desc
  server/lib/energy-price/price.get.js
Due: server
