Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

refactor(front/tuya): split device box sections and simplify helpers
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/localPoll.js
  front/src/routes/integration/all/tuya/discover-page/TuyaGithubIssueSection.jsx
  front/src/routes/integration/all/tuya/discover-page/githubIssue.js
Due: front

fix prettier
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
Due: server

tuya: fix smart meter detection and rebuild features after local poll
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Due: server

fix(tuya): harden local poll for protocol 3.4
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/package-lock.json
  server/services/tuya/package.json
  server/test/services/tuya/lib/tuya.localPoll.test.js
Due: server

Bluetooth Presence : Make integration more clear for new users
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDeviceTab.jsx
Due: front

Matter: Make pairing process more clear
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDiscoverPage.jsx
Due: front

Fix bluetooth tests
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
Due: front

Nuki 1.0.1 : Check that service is configured, subscribe only to necessary devices & UI improvements (#2427)
  front/src/routes/integration/all/nuki/discover-http/DiscoverTab.jsx
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
  server/services/nuki/README.md
  server/services/nuki/api/nuki.controller.js
  server/services/nuki/lib/commands/nuki.start.js
  server/services/nuki/lib/http/nuki.http.connect.js
  server/services/nuki/lib/http/nuki.http.scan.js
  server/services/nuki/lib/mqtt/index.js
  server/services/nuki/lib/mqtt/nuki.mqtt.connect.js
  server/services/nuki/lib/mqtt/nuki.mqtt.scan.js
  server/services/nuki/package.json
  server/test/services/checks.test.js
  server/test/services/nuki/api/nuki.controller.test.js
  server/test/services/nuki/lib/commands/nuki.getStatus.test.js
  server/test/services/nuki/lib/commands/nuki.start.test.js
  server/test/services/nuki/lib/config/nuki.getConfiguration.test.js
  server/test/services/nuki/lib/config/nuki.saveConfiguration.test.js
  server/test/services/nuki/lib/device/nuki.postDelete.test.js
  server/test/services/nuki/lib/device/nuki.setValue.test.js
  server/test/services/nuki/lib/http/nuki.http.connect.test.js
  server/test/services/nuki/lib/http/nuki.http.convertToDevice.test.js
  server/test/services/nuki/lib/http/nuki.http.getDiscoveredDevices.test.js
  server/test/services/nuki/lib/http/nuki.http.scan.test.js
  server/test/services/nuki/lib/http/nuki.http.setValue.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-battery.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-state.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.connect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.disconnect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.deviceCreation.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.setValue.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.subscribeDeviceTopic.test.js
  server/test/services/nuki/lib/nuki.getDiscoveredDevices.test.js
  server/test/services/nuki/mocks/mqtt.mock.test.js
  server/test/services/nuki/mocks/nuki.mock.test.js
Due: server, front

feat(tuya): fix smart meter scaling and add export index type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/smart-meter.js
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/utils/constants.js
Due: server, front

test(tuya): cover convertDevice and report/cloudStrategy branches
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/utils/tuya.cloudStrategy.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Due: server

fix(front): add missing icons for energy production sensor
  front/src/utils/consts.js
Due: front

fix scale
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Due: server

Bluetooth Presence : Make integration more clear for new users (#2490)
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDeviceTab.jsx
Due: front

Matter: Make pairing process more clear (#2491)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDiscoverPage.jsx
Due: front

Fix missing icons for ENERGY_PRODUCTION_SENSOR features (#2492)
  front/src/utils/consts.js
Due: front

Matter : Add Boolean & Switch clusters
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
Due: server

fix(tuya): avoid empty feature payload on local update
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
Due: front

fix(energy-monitoring): make selected-features description period-agnostic in en i18n (CodeRabbit #1)
  front/src/config/i18n/en.json
Due: front

fix(energy-monitoring): make selected-features description period-agnostic in fr i18n (CodeRabbit #2)
  front/src/config/i18n/fr.json
Due: front

fix(energy-monitoring): aggregate all descendant selectors for selected roots (CodeRabbit #3)
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

fix(energy-monitoring): validate feature_selectors payload in recalculation endpoints (CodeRabbit #5)
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
Due: server

fix(energy-monitoring): restore last processed cursor on failed full-history windows (CodeRabbit #6)
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

fix(energy-monitoring): restore range cursor when windows fail (CodeRabbit #7)
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexRange.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexRange.test.js
Due: server

test(energy-monitoring): rename duplicated from-beginning test title (CodeRabbit #8)
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

fix prettier
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
Due: server, front

Change typo in weather.js to camelCase
  front/src/actions/dashboard/boxes/weather.js
Due: front

Add try catch around attribute.get in handleNode
  server/services/matter/lib/matter.handleNode.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
