Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Add new Free Mobile SMS integration (#2157)
  front/src/assets/integrations/cover/free-mobile.jpg
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/free-mobile/FreeMobile.jsx
  front/src/routes/integration/all/free-mobile/actions.js
  front/src/routes/integration/all/free-mobile/index.js
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendSms.jsx
  server/lib/scene/scene.actions.js
  server/services/free-mobile/index.js
  server/services/free-mobile/package.json
  server/services/index.js
  server/test/lib/scene/actions/scene.action.sendSms.test.js
  server/test/services/free-mobile/index.test.js
  server/utils/constants.js
Due: server, front

4.50.0
  package-lock.json
  package.json
Due: none

Free mobile: Fix wrong path
  front/src/components/app.jsx
Due: front

Free mobile: Fix wrong path (#2175)
  front/src/components/app.jsx
Due: front

4.50.1
  package-lock.json
  package.json
Due: none

Improve mobile view on scene list
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneCards.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
Due: front

Disabled scene should be grey
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/style.css
Due: front

Add zWaveJS Central Scene devices
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
Due: server

Tests and Prettier
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Due: server

Improve mobile view on scene list (#2176)
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneCards.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
Due: front

migration selector et external_id
  server/migrations/20241111211825-update-lixee-tic-selector_externalId.js
Due: server

Add volume setting to play notification
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/lib/device/device.setValue.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/airplay/lib/airplay.setValue.js
  server/services/google-cast/lib/google_cast.setValue.js
  server/services/sonos/lib/sonos.setValue.js
  server/test/services/airplay/lib/airplay.setValue.test.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
Due: server, front

Fix log
  server/services/google-cast/lib/google_cast.setValue.js
Due: server

Fix local Zigbee2mqtt version to 1.42.0
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

Fix local Zigbee2mqtt version to 1.42.0 (#2180)
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

4.50.2
  package-lock.json
  package.json
Due: none

Controller scene might not send endpoint. Lets assume it is 0.
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
Due: server

fix prettier
  server/migrations/20241111211825-update-lixee-tic-selector_externalId.js
Due: server

Promisify setVolume
  server/services/airplay/lib/airplay.setValue.js
  server/services/google-cast/lib/google_cast.setValue.js
  server/services/sonos/lib/sonos.setValue.js
  server/test/services/airplay/lib/airplay.setValue.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
Due: server

Upgrade axios to fix request chunked response
  server/package-lock.json
  server/package.json
Due: server

ZwaveJS: Add support to the Central Scene command class (#2178)
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
Due: server

Upgrade axios to fix request chunked response (#2182)
  server/package-lock.json
  server/package.json
Due: server

add new enum pressed to click button
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

Zigbee2mqtt: Add smart doorbell HEIMAN HS2DB (#2184)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

Zigbee2mqtt : Lixee TIC, migrate selector & external_id (#2181)
  server/migrations/20241111211825-update-lixee-tic-selector_externalId.js
Due: server

Rolmback volume for Google cast after notification finished
  server/services/google-cast/lib/google_cast.setValue.js
Due: server

Fix tests
  server/services/google-cast/lib/google_cast.setValue.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
Due: server

feat(scenes): Add does not contain for Calendar action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  server/lib/calendar/calendar.findCurrentlyRunningEvent.js
  server/models/scene.js
  server/test/lib/calendar/calendar.event.test.js
Due: server, front

Update gateway.downloadBackup.js
  server/lib/gateway/gateway.downloadBackup.js
Due: server

add new enum for button status
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

Fix builds: Stop re-installing npm
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Fix builds: Stop re-installing npm (#2195)
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

fix(2191): Migrate from ezsp to ember driver for Z2M
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/lib/constants.js
  server/test/services/zigbee2mqtt/lib/config/z2m_adapter-emberznet_config.yaml
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
Due: server

fix prettier
  server/utils/constants.js
Due: server

Zigbee2mqtt: Add Aqara WXKG15LM (#2192)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

Fix MQTT reconnect logic and add reconnect flag
  server/services/mqtt/lib/connect.js
  server/services/mqtt/lib/index.js
Due: server

Fix MQTT connection error handling
  server/services/mqtt/lib/connect.js
Due: server

Fix MQTT topic subscription when mqttClient is available
  server/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.js
Due: server

Fix MQTT auto-reconnect with custom topic issues + update mqtt library (#2197)
  server/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
Due: server

Path conditions:
  server: any of: server
  front: any of: front
