Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Delete docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Prettier
  front/src/actions/dashboard/boxes/weather.js
Due: front

fix for review
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/cypress/plugins/index.js
  front/src/components/app.jsx
  front/src/components/oauth2/actions.js
  front/src/config/integrations/devices.json
  front/src/config/integrations/index.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  front/src/routes/integration/all/withings/settings-page/index.js
  server/api/controllers/oauth2.controller.js
  server/lib/oauth2-client/index.js
  server/lib/oauth2-client/oauth2.executeQuery.js
  server/lib/oauth2-client/oauth2.getAccessToken.js
  server/services/withings/lib/index.js
  server/services/withings/lib/utils/withings.getDevices.js
  server/services/withings/lib/utils/withings.getMeasures.js
  server/test/lib/oauth2-client/oauth2manager.test.js
  server/test/services/withings/index.test.js
  server/utils/coreErrors.js
Due: server, front

Replace icon in tests and seeders
  server/seeders/20190227043234-scene.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.get.test.js
Due: server

Add more tests to scene
  server/test/lib/scene/actions/scene.action.getValue.test.js
  server/test/lib/scene/actions/scene.action.httpRequest.test.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Upgrade dependencies (#1501)
  front/package-lock.json
  front/package.json
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
  server/test/lib/scene/actions/scene.action.getValue.test.js
  server/test/lib/scene/actions/scene.action.httpRequest.test.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server, front

Reduced number of states in tests
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Due: server

fix merge error
  server/package-lock.json
Due: server

fix package-lock
  server/package-lock.json
Due: server

Add test new scene with groupsView icon select
  front/cypress/integration/routes/scene/Scene.js
  front/src/routes/scene/new-scene/NewScenePage.jsx
Due: front

Add test new scene with groupsView icon select
  front/cypress/integration/routes/scene/Scene.js
Due: front

Adding CODECOV_TOKEN secret
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Revert "Zigbee2mqtt : Handle custom device mappings (#1383)"
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/compositeType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/lib/findMatchingExpose.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/readValue.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/exposes/binaryType.test.js
  server/test/services/zigbee2mqtt/exposes/compositeType.test.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/lib/payloads/single_mqtt_device.json
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Due: server

Fix click button compat
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
Due: server

fix for review
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.initDevices.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.initDevices.test.js
Due: server, front

fix for review
  front/cypress/plugins/index.js
Due: front

Add scene box on dashboard
  .gitignore
  front/src/actions/dashboard/boxes/scene.js
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  server/models/dashboard.js
  server/utils/constants.js
Due: server, front

firx for review
  server/lib/oauth2-client/oauth2.buildAuthorizationUri.js
Due: server

Conversation token config
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/nextcloud-talk/actions.js
  front/src/routes/integration/all/nextcloud-talk/index.js
  server/lib/user/user.getById.js
  server/lib/user/user.getByNextcloudTalkToken.js
Due: server, front

Add Nextcloud Talk service
  front/src/assets/integrations/cover/nextcloud-talk.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/nextcloud-talk/actions.js
  front/src/routes/integration/all/nextcloud-talk/index.js
  front/src/utils/consts.js
  server/lib/user/index.js
  server/lib/user/user.getByNextcloudTalkToken.js
  server/lib/user/user.getBySelector.js
  server/lib/user/user.getNextcloudTalkTokens.js
  server/lib/user/user.updateBySelector.js
  server/migrations/20211030192718-add-nextcloud-talk.js
  server/models/user.js
  server/services/index.js
  server/services/nextcloud-talk/index.js
  server/services/nextcloud-talk/lib/index.js
  server/services/nextcloud-talk/lib/message.bot.js
  server/services/nextcloud-talk/lib/message.connect.js
  server/services/nextcloud-talk/lib/message.disconnect.js
  server/services/nextcloud-talk/lib/message.new.js
  server/services/nextcloud-talk/lib/message.send.js
  server/services/nextcloud-talk/package-lock.json
  server/services/nextcloud-talk/package.json
Due: server, front

Improve code coverage
  server/services/nextcloud-talk/index.js
  server/test/lib/user/user.getByNextcloudTalkToken.test.js
  server/test/lib/user/user.getNextcloudTalkTokens.test.js
  server/test/services/nextcloud-talk/index.test.js
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server

Add tests
  server/lib/user/user.getNextcloudTalkTokens.js
  server/migrations/20210129155044-multi-user.js
  server/seeders/20190205071039-demo-user.js
  server/services/nextcloud-talk/index.js
  server/services/nextcloud-talk/lib/message.connect.js
  server/test/controllers/user/user.getMySelf.test.js
  server/test/lib/user/user.getById.test.js
  server/test/services/nextcloud-talk/index.test.js
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server

Fix reviews
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/nextcloud-talk/actions.js
  front/src/utils/consts.js
  server/lib/message/message.sendToUser.js
  server/test/lib/message/message.sendToUser.test.js
Due: server, front

Improve code coverage
  server/test/services/nextcloud-talk/index.test.js
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server

Improve code coverage
  server/lib/variable/variable.getVariables.js
  server/test/lib/variable/variable.getVariables.test.js
  server/test/services/nextcloud-talk/index.test.js
Due: server

Move token in variables
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/nextcloud-talk/actions.js
  front/src/routes/integration/all/nextcloud-talk/index.js
  server/lib/index.js
  server/lib/message/index.js
  server/lib/message/message.sendToUser.js
  server/lib/user/index.js
  server/lib/user/user.getById.js
  server/lib/user/user.getByNextcloudTalkToken.js
  server/lib/user/user.getBySelector.js
  server/lib/user/user.getNextcloudTalkTokens.js
  server/lib/user/user.updateBySelector.js
  server/lib/variable/index.js
  server/lib/variable/variable.getVariables.js
  server/migrations/20210129155044-multi-user.js
  server/migrations/20211030192718-add-nextcloud-talk.js
  server/models/user.js
  server/seeders/20190205071039-demo-user.js
  server/services/nextcloud-talk/index.js
  server/services/nextcloud-talk/lib/index.js
  server/services/nextcloud-talk/lib/message/message.bot.js
  server/services/nextcloud-talk/lib/message/message.connect.js
  server/services/nextcloud-talk/lib/message/message.disconnect.js
  server/services/nextcloud-talk/lib/message/message.new.js
  server/services/nextcloud-talk/lib/message/message.send.js
  server/test/controllers/user/user.getMySelf.test.js
  server/test/lib/message/message.sendToUser.test.js
  server/test/lib/user/user.getById.test.js
  server/test/lib/user/user.getByNextcloudTalkToken.test.js
  server/test/lib/user/user.getNextcloudTalkTokens.test.js
  server/test/services/nextcloud-talk/index.test.js
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server, front

Fix test
  server/test/services/nextcloud-talk/index.test.js
Due: server

Fix await getValue
  server/lib/message/message.sendToUser.js
Due: server

Add test on bot poll
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server

fix bug redirect uri
  server/lib/oauth2-client/index.js
  server/lib/oauth2-client/oauth2.buildAuthorizationUri.js
  server/lib/oauth2-client/oauth2.buildRedirectUri.js
  server/lib/oauth2-client/oauth2.getAccessToken.js
  server/test/lib/oauth2-client/oauth2manager.test.js
Due: server

Fix typo in Gladys Plus in FR
  front/src/config/i18n/fr.json
Due: front

Add translate server in integrations bluetooth, ewelink, philips-hue and tasmota
  server/api/index.js
  server/config/i18n/en.json
  server/config/i18n/fr.json
  server/lib/user/user.get.js
  server/package-lock.json
  server/package.json
  server/services/bluetooth/lib/device/bluetooth.information.js
  server/services/ewelink/lib/features/binary.js
  server/services/ewelink/lib/features/humidity.js
  server/services/ewelink/lib/features/temperature.js
  server/services/philips-hue/lib/models/color.js
  server/services/philips-hue/lib/models/colorWithTemperature.js
  server/services/philips-hue/lib/models/plugOnOff.js
  server/services/philips-hue/lib/models/white.js
  server/services/philips-hue/lib/models/whiteWithTemperature.js
  server/services/tasmota/lib/features/colorChannel.js
  server/services/tasmota/lib/features/colorScheme.js
  server/services/tasmota/lib/features/colorSpeed.js
  server/services/tasmota/lib/features/colorTemperature.js
  server/services/tasmota/lib/features/counter.js
  server/services/tasmota/lib/features/dimmer.js
  server/services/tasmota/lib/features/distance.js
  server/services/tasmota/lib/features/energy.current.js
  server/services/tasmota/lib/features/energy.power.js
  server/services/tasmota/lib/features/energy.voltage.js
  server/services/tasmota/lib/features/humidity.js
  server/services/tasmota/lib/features/power.js
  server/services/tasmota/lib/features/temperature.js
Due: server

Add some currency
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Due: server, front

Adding time units
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Path conditions:
  server: any of: server
  front: any of: front
