Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix dep
  front/package-lock.json
  front/package.json
Due: front

Fix review
  front/src/config/i18n/en.json
Due: front

Typo correction
  front/src/config/i18n/en.json
Due: front

Use correct const for milight effect mode
  server/services/rflink/lib/commands/rflink.milight.pair.js
Due: server

Remove useless unit translations
  server/utils/constants.js
Due: server

Update demo with rflink
  front/src/config/demo.js
Due: front

Minor change : usefull device name placeholder
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/rflink/device-page/Device.jsx
Due: front

before push
  front/package-lock.json
  front/src/config/demo.json
  server/package-lock.json
Due: server, front

prettier little things
  front/src/config/demo.js
  server/test/services/rflink/controllers/rflink.controller.test.js
Due: server, front

Remove useless TriggerPage (#1387)
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/trigger/TriggerCards.jsx
  front/src/routes/trigger/TriggerPage.jsx
  front/src/routes/trigger/edit-trigger/EditTriggerPage.jsx
  front/src/routes/trigger/edit-trigger/index.js
  front/src/routes/trigger/index.js
  front/src/routes/trigger/style.css
Due: front

Fix vibration sensor in Zigbee2mqtt integration (#1385)
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server

Add CO feature
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Add binary graphic
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

sqlite3 from vscode
  server/package-lock.json
  server/package.json
Due: server

Update set-value to 4.1.0 ( High vuln )
  server/package-lock.json
  server/package.json
Due: server

Update axios to 0.21.4 ( High vuln )
  server/package-lock.json
  server/package.json
Due: server

Update dockerode to 3.3.1 ( High Vuln )
  server/package-lock.json
  server/package.json
Due: server

Add CO sensor feature (#1384)
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Fix typo in device/index.js (#1381)
  server/lib/device/index.js
Due: server

Create zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Due: none

Update zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Due: none

Add icon to vibration binary (#1386)
  front/src/utils/consts.js
Due: front

Add missing units on switch device (#1382)
  server/utils/constants.js
Due: server

Rename component
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
Due: front

Television category/features and box rows
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Rearrange demo dashboard
  front/src/config/demo.js
Due: front

Add new television category/features (#1365)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Add onDiscovery function
  server/services/alexa/index.js
  server/services/alexa/lib/alexa.onDiscovery.js
  server/services/alexa/lib/deviceMappings.js
  server/services/alexa/lib/index.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/services/alexa/package-lock.json
  server/services/alexa/package.json
  server/services/index.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
Due: server

add cypress test
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceList.js
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListNoDevice.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/src/assets/images/withings/Aura_2.jpg
  front/src/assets/images/withings/KidScale.jpeg
  front/src/assets/images/withings/KidScale.jpg
  front/src/assets/images/withings/SmartBabyMonitor.jpg
  front/src/assets/images/withings/body-black-kg.jpg
  front/src/assets/images/withings/body-plus-black-kg.jpg
  front/src/assets/images/withings/body-plus-white-kg.jpg
  front/src/assets/images/withings/go.jpg
  front/src/assets/images/withings/home.jpg
  front/src/assets/images/withings/sleep-analyzer-single.png
  front/src/assets/images/withings/thermo-c.jpg
  front/src/routes/integration/all/withings/device-page/actions.js
  server/services/withings/lib/withings.init.js
Due: server, front

fix merge error
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceList.js
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListNoDevice.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/src/components/oauth2/actions.js
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/lib/withings.init.js
Due: server, front

fix server test
  front/src/components/oauth2/OAuth2Config.jsx
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/withings/device-page/Device.jsx
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/api/controllers/oauth2.controller.js
  server/config/oauth2/providers.json
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/seeders/20190226025931-variable.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/lib/withings.getServiceId.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/services/withings/lib/withings.saveVar.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.getServiceId.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
  server/test/services/withings/lib/withings.saveVar.test.js
Due: server, front

fix translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Due: server, front

fix cypress test
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Due: front

improve server test
  server/test/services/withings/index.test.js
Due: server

improve server test
  server/test/services/withings/lib/withings.poll.test.js
Due: server

fix test
  front/package.json
  server/package.json
  server/seeders/20190226025931-variable.js
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/lib/oauth2/oauth2manager.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Due: server, front

fix test
  front/package-lock.json
  server/package-lock.json
Due: server, front

fix test
  server/test/lib/oauth2/oauth2manager.test.js
  server/test/services/withings/lib/withings.poll.test.js
Due: server

Keep only illuminance_lux
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server
