Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Tide widget: stop retrying a failed station refresh on every poll
  server/lib/house/house.getTideStation.js
Due: server

Tide widget: write times and dates the way the reader does
  front/src/components/boxs/tide/Tide.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Tide widget: keep the curve on the local day across a time change
  server/lib/house/house.getTideState.js
Due: server

Use a per-file sinon sandbox in the house controller tests
  server/test/controllers/house/house.test.js
Due: server

Tide widget: show it on the demo, at the right height in the skeleton
  front/src/config/demo/index.js
  front/src/config/demo/tide.js
  front/src/routes/dashboard/DashboardSkeleton.jsx
Due: front

Tide widget: drop a constant the coefficient never reads
  docs/specs/tide-widget.md
  server/lib/house/house.tideConstants.js
  server/test/controllers/house/house.test.js
Due: server

Tide widget: keep the tide coefficient on the coast it describes
  docs/specs/tide-widget.md
  server/lib/house/house.tideConstants.js
Due: server

Tide widget: stop reading a failed download as a house away from the sea
  front/src/components/boxs/tide/Tide.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/house/house.getTideState.js
  server/lib/house/house.getTideStation.js
  server/lib/house/house.tideConstants.js
  server/test/lib/house/house.getTideState.test.js
Due: server, front

fix(gateway): allow non-admin users to read the Gladys Plus status
  front/src/components/boxs/voice-assistant/VoiceAssistantBox.jsx
  front/src/components/gateway/GladysPlusUpsell.jsx
  front/src/routes/chat/EmptyChat.jsx
  server/api/middlewares/authenticatedOrNotConfigured.js
  server/api/routes.js
  server/api/setupRoutes.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/controllers/gatway.test.js
  server/test/middlewares/authenticatedOrNotConfigured.test.js
Due: server, front

fix(mqtt): subscribe to the custom topics of devices when connecting to the broker (#3051)
  server/services/mqtt/lib/connect.js
  server/test/services/mqtt/lib/connect.test.js
Due: server

fix(gateway): allow non-admin users to read the Gladys Plus status (#3052)
  front/src/components/boxs/voice-assistant/VoiceAssistantBox.jsx
  front/src/components/gateway/GladysPlusUpsell.jsx
  front/src/routes/chat/EmptyChat.jsx
  server/api/middlewares/authenticatedOrNotConfigured.js
  server/api/routes.js
  server/api/setupRoutes.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/controllers/gatway.test.js
  server/test/middlewares/authenticatedOrNotConfigured.test.js
Due: server, front

fix: keep the house longitude within -180/+180 when picking it on the map
  front/src/components/house/Map.jsx
  server/migrations/20260828100000-wrap-house-longitude.js
  server/test/migrations/20260828100000-wrap-house-longitude.test.js
Due: server, front

feat(front): let the left sidebar be undocked into a drawer on desktop
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/components/header/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/style.css
  front/src/style/index.css
  front/src/utils/getDefaultState.js
  front/src/utils/sidebarPreference.js
Due: front

feat(dashboard): move house-view pins by dragging them
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/house-view/EditHouseViewBox.jsx
  front/src/components/boxs/house-view/pinDrag.js
  front/src/components/boxs/house-view/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix(front): tighten the sidebar drawer-mode controls after review
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/components/header/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix(zigbee2mqtt): decide the display name before staging a rename
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
Due: server

fix(dashboard): harden the house-view pin drag gesture
  front/src/components/boxs/house-view/pinDrag.js
Due: front

fix(dashboard): keep stretched camera and house-view images inside their card on desktop
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/house-view/HouseViewBox.jsx
  front/src/components/boxs/house-view/style.css
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): stop truncating long MQTT device names in the devices widget
  front/src/components/boxs/device-in-room/device-features/sensor-value/NoRecentValueBadge.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): lift the tile stretch cap instead of clamping the house-view card
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/house-view/HouseViewBox.jsx
  front/src/components/boxs/house-view/style.css
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): scope the pin drop click suppressor to the editor surface
  front/src/components/boxs/house-view/EditHouseViewBox.jsx
  front/src/components/boxs/house-view/pinDrag.js
Due: front

fix(dashboard): restore the widget's top inset and scope the select width cap
  front/src/components/boxs/device-in-room/device-features/AdaptiveOptionControl.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): fit the stretched house-view via its known image ratio, portable CSS only
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/house-view/HouseViewBox.jsx
  front/src/components/boxs/house-view/gallery.js
  front/src/components/boxs/house-view/style.css
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): stop truncating long MQTT device names in the devices widget (#3057)
  front/src/components/boxs/device-in-room/device-features/AdaptiveOptionControl.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/NoRecentValueBadge.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/routes/dashboard/style.css
Due: front

fix(thermostat): really stop an external thermostat that has a mode
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/CircularGauge.jsx
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/components/boxs/thermostat/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/device-page/ThermostatDeviceBox.jsx
  front/src/routes/integration/all/thermostat/device-page/actions.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/test/services/thermostat/lib/thermostat.external.test.js
Due: server, front

test(thermostat): cover the mode writes, and format the device list
  front/src/routes/integration/all/thermostat/device-page/actions.js
  server/test/services/thermostat/lib/thermostat.external.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
Due: server, front

fix(dashboard): cap a stretched camera card at its snapshot's own ratio height
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/camera/Camera.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): stop stretching camera widgets altogether
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/camera/Camera.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
Due: front

fix(dashboard): keep stretched camera and house-view images inside their card on desktop (#3056)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/house-view/HouseViewBox.jsx
  front/src/components/boxs/house-view/gallery.js
  front/src/components/boxs/house-view/style.css
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
Due: front

fix(dashboard): stretch value tiles only in all-tile columns so viewer and editor agree (forum 10753)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/utils/dashboardSections.js
Due: front

fix(dashboard): stretch value tiles only in all-tile columns so viewer and editor agree (#3059)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/utils/dashboardSections.js
Due: front

feat(front): collapse the rail in place instead of turning it into an overlay drawer
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/components/header/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/style.css
  front/src/style/index.css
  front/src/utils/getDefaultState.js
  front/src/utils/sidebarPreference.js
Due: front

5.0.2 (#3060)
  package-lock.json
  package.json
Due: none

Dashboard: add a "Sorties Cinéma" widget backed by TMDB
  front/src/assets/integrations/cover/cinema.jpg
  front/src/components/app.jsx
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/cinema/CinemaBox.jsx
  front/src/components/boxs/cinema/EditCinemaBox.jsx
  front/src/components/boxs/cinema/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/index.js
  front/src/config/integrations/movies.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/integration/all/cinema/Cinema.jsx
  front/src/routes/integration/all/cinema/actions.js
  front/src/routes/integration/all/cinema/index.js
  server/models/dashboard.js
  server/services/cinema/controllers/cinema.controller.js
  server/services/cinema/index.js
  server/services/cinema/lib/formatUpcomingMovies.js
  server/services/cinema/lib/resolveRegionalReleaseDate.js
  server/services/cinema/lib/resolveTrailerUrl.js
  server/services/cinema/package-lock.json
  server/services/cinema/package.json
  server/services/index.js
  server/test/services/cinema/cinema.controller.test.js
  server/test/services/cinema/expected-result.json
  server/test/services/cinema/index.test.js
  server/test/services/cinema/lib/formatUpcomingMovies.test.js
  server/test/services/cinema/lib/resolveRegionalReleaseDate.test.js
  server/test/services/cinema/lib/resolveTrailerUrl.test.js
  server/test/services/cinema/tmdb-upcoming-response.json
  server/utils/constants.js
Due: server, front

Cinema: address review feedback (region, concurrency, catalog type, i18n dates)
  front/src/components/app.jsx
  front/src/components/boxs/cinema/CinemaBox.jsx
  front/src/components/boxs/cinema/EditCinemaBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/index.js
  front/src/config/integrations/movies.json
  front/src/config/integrations/weathers.json
  server/models/dashboard.js
  server/services/cinema/controllers/cinema.controller.js
  server/services/cinema/index.js
  server/services/cinema/lib/mapWithConcurrency.js
  server/test/services/cinema/index.test.js
  server/test/services/cinema/lib/mapWithConcurrency.test.js
Due: server, front

Cinema: address second review round (race guard, timeouts, region validation)
  front/src/components/boxs/cinema/CinemaBox.jsx
  front/src/components/boxs/cinema/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/cinema/Cinema.jsx
  front/src/routes/integration/all/cinema/index.js
  server/services/cinema/index.js
  server/test/services/cinema/index.test.js
  server/test/services/cinema/lib/formatUpcomingMovies.test.js
  server/test/services/cinema/lib/resolveRegionalReleaseDate.test.js
Due: server, front

Cinema: fix a save-breaking bug in the region field
  front/src/components/boxs/cinema/EditCinemaBox.jsx
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.update.test.js
Due: server, front

Cinema: reject unassigned region codes, clear stale key-load error on save
  front/src/routes/integration/all/cinema/actions.js
  server/services/cinema/index.js
  server/services/cinema/lib/isAssignedRegion.js
  server/test/services/cinema/index.test.js
  server/test/services/cinema/lib/isAssignedRegion.test.js
Due: server, front

Cinema: validate region against TMDB's own country list, not Intl heuristics
  server/services/cinema/lib/isAssignedRegion.js
  server/test/services/cinema/lib/isAssignedRegion.test.js
Due: server

Cinema: documentation link, "TMDB" naming, and a real cover image
  front/src/assets/integrations/cover/cinema.jpg
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/cinema/Cinema.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
