Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

fix for review
  server/lib/device/device.downsamplingStates.js
Due: server

chore(pihole): Fix i18n FR/EN
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

chore(pihole): Set refresh every 30s ( was 120 )
  front/src/components/boxs/pihole/PiholeBox.jsx
Due: front

chore(pihole): Remove ununsed jsx
  front/src/components/boxs/pihole/DataList.jsx
Due: front

chore(pihole): Box update after review
  front/src/components/boxs/pihole/PiholeBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix edit box bug
  front/src/actions/dashboard/boxes/chart.js
  front/src/actions/dashboard/edit-boxes/editChartFeatures.js
  front/src/components/boxs/chart-feature/EditChartMultiFeatures.jsx
Due: front

fix display one feaure box
  front/src/components/boxs/chart-feature/ChartOneFeaturesBox.jsx
Due: front

Allow services to receive websocket events
  server/api/websockets/index.js
  server/test/websockets/index.test.js
  server/utils/constants.js
Due: server

Upgrade preact-i18n to 2.3.1-preactx
  front/package-lock.json
  front/package.json
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/routes/calendar/index.js
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/all/bluetooth/setup-page/setup-peripheral/ConfigurePeripheralForm.jsx
  front/src/routes/integration/all/caldav/index.js
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/utils/withIntlAsProp.js
Due: front

Fix zigbee2mqtt discover screen for Gladys Plus
  front/src/utils/GatewaySession.js
Due: front

Fix zigbee2mqtt discover screen for Gladys Plus (#1145)
  front/src/utils/GatewaySession.js
Due: front

Upgrade gladys-gateway-js
  server/package-lock.json
  server/package.json
Due: server

Upgrade gladys-gateway-js to new version with more logs (#1146)
  server/package-lock.json
  server/package.json
Due: server

4.2.4
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Create cn.json
  front/src/config/i18n/cn.json
Due: front

Update cn.json
  front/src/config/i18n/cn.json
Due: front

Update index.js
  front/src/config/i18n/index.js
Due: front

Update constants.js
  server/utils/constants.js
Due: server

Add ability to use request body response in scene
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
  server/api/controllers/http.controller.js
  server/api/routes.js
  server/lib/http/http.request.js
  server/lib/index.js
  server/test/controllers/http/http.test.js
Due: server, front
