Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix(front): replace CARTO basemaps with OpenFreeMap vector tiles
  front/package-lock.json
  front/package.json
  front/src/actions/signup/signupConfigureHouse.js
  front/src/components/house/Map.jsx
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewAreaMap.jsx
  front/src/utils/mapTileLayer.js
Due: front

fix(front): stop the dashboard cards from opening a horizontal scrollbar
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/routes/dashboard/style.css
Due: front

Gladys Plus: warn when the local instance is behind the hosted front (#3033)
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/InstanceUpdateNotice.jsx
  front/src/components/header/index.jsx
  front/src/components/header/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/instanceVersion.js
  front/vite.config.mjs
Due: front

fix(front): stop a portaled select from closing the menu it just opened
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/components/form/Select.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
Due: front

fix(front): address review feedback on the volume slider
  front/src/routes/scene/edit-scene/actions/PlayNotification.css
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
Due: front

fix(front): address basemap review findings and fix MapLibre worker under Vite
  front/src/style/dark-mode.css
  front/src/utils/mapTileLayer.js
Due: front

fix(zigbee2mqtt): address PR review on the MQTT connection error
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupRemoteGladys.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/utils/getMqttConnectionError.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/utils/getMqttConnectionError.test.js
Due: server, front

fix(front): wrap long scene names in the dashboard scene widget
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/components/boxs/scene/style.css
Due: front

fix(front): cache the WebGL2 probe and wire attribution the way the plugin expects
  front/src/utils/mapTileLayer.js
Due: front

fix(front): stop the dashboard cards from opening a horizontal scrollbar (#3036)
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(front): stop a portaled select from closing the menu it just opened (#3037)
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/components/form/Select.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
Due: front

fix(front): wrap long scene names in the dashboard scene widget (#3040)
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/components/boxs/scene/style.css
Due: front

fix: show an explicit error when Zigbee2mqtt connects to an external MQTT broker with wrong credentials (#3024) (#3039)
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupRemoteGladys.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/utils/getMqttConnectionError.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/utils/getMqttConnectionError.test.js
Due: server, front

fix(front): address review feedback on the "Talk on a speaker" volume slider (#3038)
  front/src/routes/scene/edit-scene/actions/PlayNotification.css
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
Due: front

fix(front): stop a single widget error from freezing the whole app, and keep the editor's actions on screen
  front/src/components/ErrorBoundary.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/layout/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditActions.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

fix: show an explicit error when Zigbee2mqtt connects to an external MQTT broker with wrong credentials (#3024) (#3029)
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupRemoteGladys.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/reset.js
  server/services/zigbee2mqtt/lib/status.js
  server/services/zigbee2mqtt/utils/getMqttConnectionError.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/reset.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
  server/test/services/zigbee2mqtt/utils/getMqttConnectionError.test.js
Due: server, front

fix(front): bound the map's max zoom before the async basemap layer arrives
  front/src/utils/mapTileLayer.js
Due: front

fix: give the "Talk on a speaker" volume a Horizon slider (#3025) (#3030)
  front/src/routes/scene/edit-scene/actions/PlayNotification.css
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
Due: front

fix(front): stop the setpoint stepper from clipping decimal values
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Scenes: propagate variable renumbering when an action is deleted inside a group
  front/src/routes/scene/edit-scene/index.js
Due: front

fix(front): stop a single widget error from freezing the whole app, and keep the editor's actions on screen (#3042)
  front/src/components/ErrorBoundary.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/layout/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditActions.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

feat(zigbee2mqtt): keep devices linked when renamed in Zigbee2mqtt
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/services/zigbee2mqtt/package.json
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/payloads/CCT5015.json
  server/test/services/zigbee2mqtt/utils/payloads/TS0601_garage_door_opener.json
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
Due: server

Scenes: propagate variable renumbering when an action is deleted inside a group (#3044)
  front/src/routes/scene/edit-scene/index.js
Due: front

fix(zigbee2mqtt): stage cyclic renames through a temporary external_id
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
Due: server

fix(zigbee2mqtt): drop rename chains blocked by a non-renamed device
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
Due: server

feat(front): keep every zone visible and clickable at any zoom on the maps view
  front/src/routes/map/Map.jsx
Due: front

fix(front): make the zone-name tooltip permanent on the maps view
  front/src/routes/map/Map.jsx
Due: front

fix(zigbee2mqtt): keep cache entries taken over by another device on a rename
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
Due: server

fix(front): replace CARTO basemaps with OpenFreeMap vector tiles (#3035)
  front/package-lock.json
  front/package.json
  front/src/actions/signup/signupConfigureHouse.js
  front/src/components/house/Map.jsx
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewAreaMap.jsx
  front/src/style/dark-mode.css
  front/src/utils/mapTileLayer.js
Due: front

Dashboard: make the mobile dock's pill bar scroll sideways instead of collapsing behind a menu
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardTabs.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(zigbee2mqtt): reconcile the inventory received during a running sync
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
Due: server

Dashboard: keep a near-miss above the slim dock from switching dashboards
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(zigbee2mqtt): retry once when a rename could not be applied
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
Due: server

fix(front): make the sort select read as a sort control, not a search field
  front/src/components/layout/CardFilter.jsx
  front/src/components/layout/SortSelect.css
  front/src/components/layout/SortSelect.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationPageHeader.jsx
Due: front

fix(zigbee2mqtt): republish discovered devices after a queued reconciliation
  server/services/zigbee2mqtt/lib/syncRenamedDevices.js
  server/test/services/zigbee2mqtt/lib/syncRenamedDevices.test.js
Due: server

Dashboard dock: address review findings on the scrollable pill bar
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardTabs.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(front): give every select of the app its missing dropdown arrow
  front/src/components/layout/SortSelect.css
  front/src/components/layout/SortSelect.jsx
  front/src/routes/devices/style.css
  front/src/routes/history/style.css
  front/src/routes/integration/all/lan-manager/device-page/LANManagerDeviceTab.jsx
  front/src/routes/integration/all/lan-manager/device-page/index.js
  front/src/style/index.css
Due: front

Dashboard dock: shrink the touch halo back to the shadow gutter
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/style.css
Due: front

Dashboard: scrollable pill bar on the mobile dock (forum navigation feedback) (#3046)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/DashboardTabs.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(front): stop the setpoint stepper from clipping decimal values (#3043)
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front
