Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Gladys Plus: Remove local user when remote user is deleted
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/gateway/gateway.getUsersKeys.js
  server/lib/gateway/gateway.init.js
  server/test/lib/gateway/gateway.getUsersKeys.test.js
Due: server, front

Add coverage
  server/test/lib/gateway/gateway.init.test.js
Due: server

Scene: Add back button
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
Due: front

Gladys Plus: Remove local user when remote user is deleted (#2557)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/gateway/gateway.getUsersKeys.js
  server/lib/gateway/gateway.init.js
  server/test/lib/gateway/gateway.getUsersKeys.test.js
  server/test/lib/gateway/gateway.init.test.js
Due: server, front

Scene: Add back button (#2558)
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
Due: front

4.79.0
  package-lock.json
  package.json
Due: none

fix prettier
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
Due: front

fix(zigbee2mqtt): fix coderabbitai comment
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
Due: front

Zigbee2mqtt: Add link to open device in Zigbee2mqtt interface
  front/src/assets/integrations/logos/logo_zigbee2mqtt.png
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteOptions.jsx
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getSetup.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/payloads/CCT5015.json
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
Due: server, front

WIP add IEEE address
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix: Use snake_case for IEEE address property
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
Due: front

fix(zigbee2mqtt): compute z2mUrl for external mode and refresh after save
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
Due: front

fix front prettier
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Due: front

fix error
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Due: front

fix(zigbee2mqtt): fix device list crash
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Due: front

feat(zigbee2mqtt): show info banner when z2m interface URL is not configured
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
Due: front

fix(zigbee2mqtt): add missing ieee_address in test payload for bosch-outdoor-siren
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
Due: server

fix(scene): Fix real cause of sunrise trigger
  server/lib/scene/scene.dailyUpdate.js
  server/test/lib/scene/scene.dailyUpdate.test.js
Due: server

Fix save device bug when energy_parent_id is invalid
  server/lib/device/device.create.js
  server/lib/energy-price/price.getDefaultElectricMeterFeatureId.js
  server/test/lib/device/device.create.test.js
  server/test/lib/energy-price/price.getDefaultElectricMeterFeatureId.test.js
  server/utils/resolveEnergyParentId.js
Due: server

Fix lint
  server/utils/resolveEnergyParentId.js
Due: server

Scene: Fix issue with next sunrise trigger (#2548)
  server/lib/scene/scene.dailyUpdate.js
  server/test/lib/scene/scene.dailyUpdate.test.js
Due: server

test(energy-monitoring): cover featureSelectors whitelist and FromBeginning hardening
  server/test/services/checks.test.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostEveryThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
  server/test/utils/duckdb.js
Due: server

feat(energy-monitoring): add selective recalculation by feature whitelist
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostEveryThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromYesterday.js
  server/services/energy-monitoring/lib/index.js
Due: server

feat(front): add multi-feature selection UI for energy recalculation
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Due: front

i18n(energy-monitoring): add translations for multi-feature selection (de/en/fr)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

chore(test): remove duplicate blank line in calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

refactor(pr2): restore master tests strictly + remove cosmetic prod additions
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostEveryThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/utils/duckdb.js
Due: server

refactor(energy-monitoring): drop calculateCostFrom backward-compat, align legacy test call sites
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Due: server

refactor(energy-monitoring): drop non-runtime-reachable selector fallbacks
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Due: server

chore(energy-monitoring): align with unified job.wrapper API from #2528
  server/services/energy-monitoring/lib/index.js
  server/test/services/checks.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostEveryThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Due: server

chore(pr2): drop dead -range i18n keys and parseDateWithBoundary leftover
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
Due: server, front

refactor(energy-monitoring): drop detached wrapper, mirror master fire-and-forget
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
Due: server, front

Netatmo: Restore OAuth refresh and add resilient auto-reconnect
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/device-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/discover-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/setup-page/StateConnection.jsx
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.saveStatus.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Due: server, front

feat: replace TOON with GCF for MCP tool responses (60% fewer tokens)
  server/services/mcp/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Due: server

Fix save device bug when energy_parent_id is invalid (#2559)
  server/lib/device/device.create.js
  server/lib/energy-price/price.getDefaultElectricMeterFeatureId.js
  server/test/lib/device/device.create.test.js
  server/test/lib/energy-price/price.getDefaultElectricMeterFeatureId.test.js
  server/utils/resolveEnergyParentId.js
Due: server

Tuya : Add mapping core for local/cloud device handling - PR3 (#2466)
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/device-page/DeviceTab.jsx
  front/src/routes/integration/all/tuya/discover-page/DiscoverTab.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/device/tuya.localMapping.js
  server/services/tuya/lib/mappings/cloud/global.js
  server/services/tuya/lib/mappings/cloud/smart-socket.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/global.js
  server/services/tuya/lib/mappings/local/smart-socket.js
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/test/services/tuya/lib/utils/tuya.deviceParams.test.js
Due: server, front

Netatmo: Restore OAuth refresh and add resilient auto-reconnect (#2561)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/device-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/discover-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/setup-page/StateConnection.jsx
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.saveStatus.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Due: server, front

Matter: add local temperature
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/temperatureMatterHelper.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/utils/temperatureMatterHelper.test.js
Due: server

Reverse read order
  server/services/matter/lib/matter.listenToStateChange.js
Due: server

Matter : Display save error in UI
  front/src/routes/integration/all/matter/MatterDevices.jsx
Due: front
