Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Fix eslint server
  server/lib/device/device.getDeviceFeaturesAggregates.js
Due: server

Add tests to job lib
  server/test/lib/job/job.test.js
Due: server

Add more tests to job
  server/lib/job/job.get.js
  server/test/controllers/job/job.test.js
  server/test/lib/job/job.test.js
Due: server

Fix eslint front
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobList.jsx
Due: front

Fix tests
  server/test/lib/device/device.calculateAggregate.test.js
  server/test/lib/device/device.create.test.js
Due: server

Fix tests
  server/lib/device/device.onMonthlyDeviceAggregateEvent.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.init.test.js
Due: server

Fix tests
  server/test/controllers/device/device.controller.test.js
Due: server

REmove change on camera boxes
  front/src/components/boxs/camera/Camera.jsx
Due: front

Add more tests to job wrapper
  server/test/lib/device/device.calculateAggregate.test.js
  server/test/lib/job/job.test.js
Due: server

Revert back to original as battery feature is auto detected
  server/services/zigbee2mqtt/model/Xiaomi.js
Due: server

Add more Zigbee2mqtt devices (#1275)
  server/services/zigbee2mqtt/model/IKEA.js
  server/services/zigbee2mqtt/model/TuYa.js
Due: server

Update
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Due: front

Update
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Due: front

Eslint
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Due: front

Rename
  front/src/routes/integration/all/netatmo/dashboard-box-page/BinaryDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/CameraNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/CommandDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/SensorDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/actions.js
  front/src/routes/integration/all/netatmo/dashboard-box-page/consts.js
Due: front

No new line
  package.json
Due: none

prettier
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
Due: front

Update DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
Due: front

Changeé
  server/index.js
  server/lib/device/camera/camera.get.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveLastStateChanged.js
  server/lib/device/index.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
  server/services/netatmo/lib/commands/netatmo.getStationsData.js
  server/services/netatmo/lib/event/netatmo.newValueCamera.js
  server/services/netatmo/lib/event/netatmo.newValueSmokeDetector.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/package.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/utils/device.test.js
  server/test/utils/format.test.js
  server/utils/constants.js
  server/utils/device.js
Due: server

Adding tests to verify that backup file is valid
  server/lib/gateway/gateway.restoreBackup.js
Due: server

System shutdown should be more resilient
  server/index.js
  server/lib/system/system.shutdown.js
Due: server

Fix UI when restoring a backup and Gladys is restarting
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayRestoreInProgress.jsx
  front/src/routes/settings/settings-backup/index.js
Due: front

Fix eslint server
  server/index.js
Due: server

Refresh device in room box data when dashboard changes
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
Due: front

Fix camera box refresh problem
  front/src/components/boxs/camera/Camera.jsx
Due: front

Fix humidity in room box
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
Due: front

Fix temperature in room box
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Due: front

Fix user presence box
  front/src/components/boxs/user-presence/UserPresence.jsx
Due: front

Fix cannot remove user presence box bug
  front/src/components/boxs/user-presence/EditUserPresenceBox.jsx
Due: front

Fix weather box
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

Test restoring broken DBs
  server/lib/gateway/gateway.restoreBackup.js
  server/test/lib/gateway/gateway.test.js
Due: server

Fix tests
  server/test/lib/gateway/gateway.test.js
  server/test/lib/gateway/this_db_has_no_users.dbfile
  server/test/lib/gateway/this_file_has_no_user_table.dbfile
  server/test/lib/gateway/this_file_is_not_a_valid_db.dbfile
Due: server

Fix #1280: When switching dashboard, similar box should be refreshed (#1283)
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/user-presence/EditUserPresenceBox.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

Debounce input range change + try new design
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceList.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/RoomCard.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Add tests to system.shutdown
  server/test/lib/system/system.shutdown.test.js
Due: server

Fix #1279: Fix Gladys Plus backup restore process (#1282)
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayRestoreInProgress.jsx
  front/src/routes/settings/settings-backup/index.js
  server/index.js
  server/lib/gateway/gateway.restoreBackup.js
  server/lib/system/system.shutdown.js
  server/test/lib/gateway/gateway.test.js
  server/test/lib/gateway/this_db_has_no_users.dbfile
  server/test/lib/gateway/this_file_has_no_user_table.dbfile
  server/test/lib/gateway/this_file_is_not_a_valid_db.dbfile
  server/test/lib/system/system.shutdown.test.js
Due: server, front

Fix tabler issue
  front/package-lock.json
  front/package.json
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Clean code
  front/src/actions/dashboard/boxes/devicesInRoom.js
Due: front

Fix eslint
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
Due: front
