Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

add volume enum type test
  server/test/services/zigbee2mqtt/exposes/volumeEnumType.test.js
Due: server

fix prettier
  server/test/services/zigbee2mqtt/exposes/volumeEnumType.test.js
Due: server

add melody enum type test
  server/test/services/zigbee2mqtt/exposes/melodyEnumType.test.js
  server/test/services/zigbee2mqtt/exposes/volumeEnumType.test.js
Due: server

fix prettier
  server/test/services/zigbee2mqtt/exposes/melodyEnumType.test.js
Due: server

add log in build features
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
Due: server

fix error
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
Due: server

test action enum
  server/services/zigbee2mqtt/exposes/enumType.js
Due: server

modify expose and remove log
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
  server/utils/constants.js
Due: server, front

fix prettier
  server/utils/constants.js
Due: server

modify enum expose
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

add battery level feature in device box
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Due: front

add missing import
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Due: front

fix prettier
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Due: front

Zigbee2mqtt: Add ikea somrig button (#2035)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
  server/utils/constants.js
Due: server, front

ZwaveJS-UI: Add support for multilevel switch
  server/services/zwavejs-ui/lib/constants.js
Due: server

Fix coverage
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Due: server

Fix prettier
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Due: server

consider area & house markers for initial bounding
  front/src/routes/map/Map.jsx
Due: front

Add "colors" prop to Box schema
  server/models/dashboard.js
Due: server

use colors prop from box schema in charts
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Due: front

allow color edition in chart settings
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

merge custom colors with default ones to prevent issues
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/utils/mergeArray.js
Due: front

run eslint & prettier
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

change chartColors typo
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

improve labels of color select
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

remove min/max values from melody feature
  server/services/zigbee2mqtt/exposes/enumType.js
Due: server

OpenWeather: Display next 8 slots of 3 hours instead of offsetting by 1
  server/services/openweather/lib/formatResults.js
  server/test/services/openweather/expected-result.json
Due: server

OpenWeather: Display next 8 slots of 3 hours instead of offsetting by 1 (#2043)
  server/services/openweather/lib/formatResults.js
  server/test/services/openweather/expected-result.json
Due: server

Map: Fix initial map bounding (#2042)
  front/src/routes/map/Map.jsx
Due: front

Zigbee2mqtt: Add battery icon in device box (#2036)
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Due: front

Upgrade HLS.js to 1.5.7 for iOS streaming support
  front/package-lock.json
  front/package.json
Due: front

Update browser not supported error message
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Upgrade HLS.js to 1.5.7 for iOS camera streaming support (#2044)
  front/package-lock.json
  front/package.json
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

use react-select
  front/src/components/boxs/chart/EditChart.jsx
  front/src/utils/mergeArray.js
Due: front

add color palette
  front/src/components/boxs/chart/ApexChartComponent.jsx
Due: front

add de translations
  front/src/config/i18n/de.json
Due: front

rename siren volume to lmh_volume
  front/src/components/boxs/device-in-room/device-features/LMHVolumeDeviceFeature.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

fix
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  server/test/services/zigbee2mqtt/exposes/volumeEnumType.test.js
Due: server, front

MQTT: Fix setup page of Firefox
  front/src/routes/integration/all/mqtt/setup-page/index.js
Due: front

MQTT: Fix setup page on Firefox (#2046)
  front/src/routes/integration/all/mqtt/setup-page/index.js
Due: front
