Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Fix refresh bug when changing dashboard with same boxs (#1622)
  front/src/routes/dashboard/BoxColumns.jsx
Due: front

Improve thermostat control responsive
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Configure usage points
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/enedis-gateway/consts.js
  front/src/utils/device.js
Due: front

Remove install server from postinstall root
  package.json
Due: none

Fix cypress tests
  .github/workflows/docker-pr-build.yml
Due: none

Add max-width on device name
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Improve server tests speed
  server/test/helpers/db.test.js
Due: server

Add Cloudflare Pages for automatic frontend PR preview (#1626)
  .github/workflows/docker-pr-build.yml
  package.json
Due: none

Increase beforeEach performance to reduce server tests execution time (#1627)
  server/test/helpers/db.test.js
Due: server

Add Cloudflare automatic build of demo website
  .github/workflows/build-demo-website.yml
Due: none

Build demo website only on tag push
  .github/workflows/build-demo-website.yml
Due: none

Add deploy button to publish gladys plus to production
  .github/workflows/publish-gladys-plus-production.yml
Due: none

Add Cloudflare automatic build of demo website (#1628)
  .github/workflows/build-demo-website.yml
Due: none

Add deploy button to publish Gladys Plus front to production (#1629)
  .github/workflows/publish-gladys-plus-production.yml
Due: none

Sensors name should be limited too
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Due: front

Add feature mode
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/overkiz/OverkizDeviceBox.jsx
  front/src/routes/integration/all/overkiz/OverkizPage.jsx
  front/src/routes/integration/all/overkiz/device-page/DeviceTab.jsx
  front/src/routes/integration/all/overkiz/device-page/EmptyState.jsx
  front/src/routes/integration/all/overkiz/discover-page/DiscoverTab.jsx
  front/src/utils/consts.js
  server/lib/device/device.setupPoll.js
  server/services/overkiz/README.md
  server/services/overkiz/index.js
  server/services/overkiz/lib/commands/overkiz.connect.js
  server/services/overkiz/lib/commands/overkiz.disconnect.js
  server/services/overkiz/lib/commands/overkiz.getDevicesStates.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
  server/services/overkiz/lib/commands/overkiz.sendCommand.js
  server/services/overkiz/lib/commands/overkiz.syncOverkizDevices.js
  server/services/overkiz/lib/index.js
  server/services/overkiz/lib/overkiz.util.js
  server/services/overkiz/package-lock.json
  server/services/overkiz/package.json
  server/utils/constants.js
Due: server, front

Add test on docker condition
  server/test/services/homekit/index.test.js
Due: server

Remove feature type when feature name is displayed
  front/src/utils/device.js
Due: front

Chart with new complex device name
  front/src/components/boxs/chart/Chart.jsx
Due: front

Keep feature name on charts
  front/src/components/boxs/chart/Chart.jsx
Due: front

Device/feature display name
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/utils.js
  front/src/config/demo.js
  front/src/utils/device.js
Due: front

Fix new device box
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
Due: front

Override name in select box
  front/src/utils/device.js
Due: front

Use type to check single feature, not category
  front/src/utils/device.js
Due: front

Use feature name in charts
  front/src/components/boxs/chart/Chart.jsx
Due: front

Mode feature
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatModeDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/overkiz/lib/commands/overkiz.getDevicesStates.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
  server/utils/constants.js
Due: server, front

ECO temperature
  server/services/overkiz/lib/commands/overkiz.syncOverkizDevices.js
  server/services/overkiz/lib/utils/overkiz.constants.js
Due: server

Improve FR wording for slow delete of states in background
  front/src/config/i18n/fr.json
Due: front

Improve FR wording for slow delete of states in background (#1632)
  front/src/config/i18n/fr.json
Due: front

Add HomeKit service (#1591)
  .gitignore
  front/src/assets/integrations/cover/homekit.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/homekit/actions.js
  front/src/routes/integration/all/homekit/index.js
  server/package.json
  server/services/homekit/api/homekit.controller.js
  server/services/homekit/index.js
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/index.js
  server/services/homekit/lib/newPinCode.js
  server/services/homekit/lib/newUsername.js
  server/services/homekit/lib/utils.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/services/index.js
  server/test/services/homekit/controllers/homekit.controller.test.js
  server/test/services/homekit/index.test.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/createBridge.test.js
  server/test/services/homekit/lib/utils.test.js
Due: server, front

Dashboard: Improve device feature display name on complex devices & charts (#1604)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/utils.js
  front/src/config/demo.js
  front/src/utils/device.js
Due: front

Use min-width on thermostat device instead of max-width on name
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Improve thermostat control responsive (#1625)
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Thermostat: Fix responsive of vertical controller
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Thermostat: Fix responsive of vertical controller (#1633)
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Zigbee2mqtt: Add Lixee TIC support (#1492)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
  server/test/services/zigbee2mqtt/utils/feature/mapUnit.test.js
  server/utils/constants.js
Due: server, front

Delete docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Test cases
  server/services/zwave-js-ui/lib/constants.js
  server/test/services/zwave-js-ui/README.md
  server/test/services/zwave-js-ui/lib/zwaveManager-features.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
