Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Cypress basics
  .github/workflows/docker-pr-build.yml
  front/.eslintrc.json
  front/cypress/cypress.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/peripherals.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_scanning.json
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/integration/routes/integration/bluetooth/BluetoothDisabled.js
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceEdit.js
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceList.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothDiscover.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothDiscovered.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothStateChange.js
  front/cypress/integration/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.js
  front/cypress/integration/routes/integration/bluetooth/discover/create/BluetoothNoDevice.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothScanner.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
  front/cypress/integration/routes/login/Login.js
  front/cypress/plugins/index.js
  front/cypress/support/commands.js
  front/cypress/support/index.js
  front/package-lock.json
  front/package.json
  package.json
  server/package.json
Due: server, front

Refactor dashboard devices-in-room box (#1138)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/BrightnessDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/config/demo.json
Due: front

Add switch dimmer to supported feature types in dashboard box
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
Due: front

Fix scene trigger render issue
  front/package-lock.json
  front/package.json
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/index.js
Due: front

Fix #1162: correct date format in french scheduled trigger
  front/src/config/i18n/fr.json
Due: front

Fix #1161: correct french typo
  front/src/config/i18n/fr.json
Due: front

Fix #1147: make signup process more responsive
  front/src/routes/signup/2-create-account-local/CreateAccountLocalTab.jsx
Due: front

Fix url in signup process
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

feat(zigbee2mqtt): Add Adeo devices
  server/services/zigbee2mqtt/model/Adeo.js
  server/services/zigbee2mqtt/model/index.js
Due: server

feat(zigbee2mqtt): Add Philips Hue mode 8718699673147l
  server/services/zigbee2mqtt/model/Philips.js
Due: server

4.3.0
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

merge & fix referer/context change
  front/src/components/boxs/health/EditHealthBox.jsx
  server/api/controllers/oauth2.controller.js
  server/config/oauth2/providers.json
Due: server, front

Display camera error message in UI when testing
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Due: front

Fix #1171: Display camera error message in UI when testing connection (#1173)
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Due: front

Update cn.json
  front/src/config/i18n/cn.json
Due: front

Replace moment by dayjs in caldav service
  server/package.json
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/index.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Continuation of server retakes
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveLastStateChanged.js
  server/lib/device/index.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
  server/services/netatmo/lib/constants.js
  server/services/netatmo/lib/utils/constants.js
  server/utils/constants.js
Due: server

Improve test coverage
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/test/services/caldav/lib/calendar/formaters.test.js
Due: server

Continuation of server retakes
  server/services/netatmo/lib/commands/netatmo.disconnect.js
Due: server

Allows a scene to trigger another scene
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/models/scene.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server, front

Add media player
  server/api/controllers/media-player.controller.js
  server/api/routes.js
  server/lib/device/index.js
  server/lib/device/media-player/index.js
  server/lib/device/media-player/media-player.buildMediaPlayerObject.js
  server/lib/device/media-player/media-player.command.js
  server/lib/device/media-player/media-player.getDevice.js
  server/lib/device/media-player/media-player.init.js
  server/lib/device/media-player/media-player.turnOff.js
  server/lib/device/media-player/media-player.turnOn.js
  server/utils/constants.js
Due: server

End server with add Utils
  server/utils/device.js
Due: server

Add brain E2E test to check if response of node-nlp change
  server/test/lib/brain/brain.e2e.test.js
Due: server

Fix get temperature in room chat command
  server/lib/device/temperature-sensor/temperature-sensor.command.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
Due: server

Fix get humidity in room in chat
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Due: server

Improve code coverage
  server/test/services/caldav/lib/calendar/formaters.test.js
Due: server

Run prettier
  server/test/services/caldav/lib/calendar/formaters.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
