Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

feat(homekit): expose fans as Fanv2
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

fix(homekit): send fan speed commands to a writable feature
  server/services/homekit/lib/buildService.js
  server/test/services/homekit/lib/buildService.test.js
Due: server

fix(homekit): remember the fan speed when it is switched off
  server/services/homekit/lib/buildService.js
  server/test/services/homekit/lib/buildService.test.js
Due: server

feat(homekit): expose device batteries
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

test(homekit): cover the battery threshold boundary and level clamping
  server/test/services/homekit/lib/sendState.test.js
Due: server

feat(homekit): expose thermostats and air conditioners
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/buildThermostatService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

test(homekit): cover the thermostat service merge
  server/test/services/homekit/lib/buildAccessory.test.js
Due: server

fix(homekit): deliver every alarm when the mapping asks for no debounce
  server/services/homekit/lib/notifyChange.js
  server/test/services/homekit/lib/notifyChange.test.js
Due: server

fix(homekit): deliver every press, on the button that was actually pressed
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

fix(homekit): let a lock that reports its own state stay authoritative
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

fix(homekit): keep the fan percentage authoritative on the push path
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

fix(sun): compute sun times in the instance timezone and handle polar day/night
  front/src/components/boxs/sun/Sun.jsx
  server/api/controllers/house.controller.js
  server/lib/house/house.getSunState.js
  server/lib/house/index.js
  server/lib/index.js
  server/test/lib/house/house.getSunState.test.js
Due: server, front

fix(homekit): notify HomeKit when a battery crosses the low threshold
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

fix(homekit): report a thermostat as idle between its two setpoints
  server/services/homekit/lib/buildThermostatService.js
  server/test/services/homekit/lib/buildService.test.js
Due: server

fix(external-integration): ignore unsolicited SRV/TXT records in mDNS discovery scan
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanMdns.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Due: server

docs(specs): address review feedback on the B.19 calendar type
  docs/specs/external-integrations.md
Due: none

test(homekit): pin the battery push to the battery service
  server/test/services/homekit/lib/sendState.test.js
Due: server

test(homekit): cover a battery rising back above the low threshold
  server/test/services/homekit/lib/sendState.test.js
Due: server

fix(sun): compute sun times in the instance timezone and handle DST and polar days
  front/src/components/boxs/sun/Sun.jsx
  server/lib/house/house.getSunState.js
  server/test/lib/house/house.getSunState.test.js
Due: server, front

perf(cypress): remove Bluetooth and Broadlink e2e specs
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscovered.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothNoDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkDeviceList.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditDevice.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.cy.js
  front/cypress/fixtures/integration/routes/integration/bluetooth/peripherals.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_scanning.json
  front/cypress/fixtures/integration/routes/integration/broadlink/peripherals.json
Due: front

fix(cypress): make the signup spec run first explicitly
  front/cypress/cypress.config.js
Due: front

perf(cypress): build the front without minification and sourcemaps
  front/package.json
Due: front

ci(cypress): cache node_modules and the Cypress binary
  .github/workflows/docker-pr-build.yml
Due: none

ci(cypress): cache the per-service node_modules too
  .github/workflows/docker-pr-build.yml
Due: none

feat(dashboard): redesign the weather widget
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/style/dark-mode.css
  front/src/utils/consts.js
Due: front

fix(homekit): forward the long press of a Xiaomi wireless switch
  server/services/homekit/lib/deviceMappings.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

test(homekit): restore the siren and particulate coverage dropped in a rebase
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

feat(dashboard): add a display toggle for weather alerts
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
Due: front

fix(dashboard): address review comments on the weather widget
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

Use existing categories & types
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/SirenForAutomationOnlyDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/device/SelectSirenForAutomationOnly.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

fix(dashboard): address review comments on the weather widget
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix(dashboard): label binary buttons with the action they apply
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix eslint
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
Due: front

fix(i18n): correct inverted lock action labels in fr/de translations
  front/src/config/i18n/de.json
  front/src/config/i18n/fr.json
Due: front

Fix unused
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
Due: front

Move test in siren
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

Add comment
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  server/utils/constants.js
Due: server, front

Speed up the Cypress CI job: drop Bluetooth/Broadlink specs, cache dependencies, lighter e2e build (#2813)
  .github/workflows/docker-pr-build.yml
  front/cypress/cypress.config.js
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscovered.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothNoDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkDeviceList.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditDevice.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.cy.js
  front/cypress/fixtures/integration/routes/integration/bluetooth/peripherals.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_scanning.json
  front/cypress/fixtures/integration/routes/integration/broadlink/peripherals.json
  front/package.json
Due: front

fix(external-integration): ignore unsolicited SRV/TXT records in mDNS discovery scan (#2809)
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanMdns.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
