Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

feat(dashboard): stretch room temperature/humidity tiles to align columns
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
Due: front

Address review feedback on device.get-battery-levels
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

fix(chat): harden the voice input session and disclose where audio goes
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/ChatPage.js
  front/src/routes/chat/ChatVoiceInputButton.jsx
  front/src/routes/chat/style.css
  front/src/utils/speechRecognition.js
Due: front

fix: address review feedback on the device feature history editor
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/device-history/DeviceHistoryPage.jsx
  front/src/routes/device-history/index.js
  server/lib/device/device.destroyState.js
  server/lib/device/device.refreshFeatureLastValue.js
  server/lib/device/device.updateState.js
  server/test/lib/device/device.destroyState.test.js
Due: server, front

feat(dashboard): house-view widget with live pins and dashboard assets
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/house-view/EditHouseViewBox.jsx
  front/src/components/boxs/house-view/HouseViewBox.jsx
  front/src/components/boxs/house-view/gallery.js
  front/src/components/boxs/house-view/gallery/apartment.svg
  front/src/components/boxs/house-view/gallery/house-family.svg
  front/src/components/boxs/house-view/gallery/house-modern.svg
  front/src/components/boxs/house-view/gallery/house-solar.svg
  front/src/components/boxs/house-view/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/utils/dashboardSections.js
  server/api/controllers/dashboard.controller.js
  server/api/middlewares/jsonBodyMiddleware.js
  server/api/routes.js
  server/api/setupRoutes.js
  server/lib/dashboard/dashboard.createAsset.js
  server/lib/dashboard/dashboard.getAsset.js
  server/lib/dashboard/index.js
  server/migrations/20260816000000-create-dashboard-asset.js
  server/models/dashboard.js
  server/models/dashboard_asset.js
  server/models/index.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.asset.test.js
  server/test/lib/dashboard/dashboard.getPhoto.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/utils/constants.js
Due: server, front

feat(dashboard): adaptive big-tile layout for stretched value tiles
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/roomTile.css
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
Due: front

docs: spec the adaptive big-tile behavior of stretched value tiles
  docs/specs/dashboard-flexible-layout-and-widgets.md
Due: none

feat: expose the responder MAC address in mediated SSDP scan results
  docs/specs/external-integrations.md
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanSsdp.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Due: server

fix(device): only purge feature states when keep_history just turned off
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Due: server

Add a duplicate button on scene action blocks
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
Due: front

feat(dashboard): add random characters to the selector of new dashboards
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  server/lib/dashboard/dashboard.create.js
  server/test/lib/dashboard/dashboard.create.test.js
  server/test/lib/dashboard/dashboard.updateOrder.test.js
Due: server, front

feat(front): allow deleting the first action group of a scene
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
Due: front

feat(matter): support ColorTemperature and XY modes of the ColorControl cluster
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/colorControlMatterMapping.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/utils/colorControlMatterMapping.test.js
  server/test/utils/colors.test.js
  server/utils/colors.js
Due: server

feat(device): export a device feature history as CSV from the chart widget
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.exportStatesToCsv.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.exportStatesToCsv.test.js
Due: server, front

feat(dashboard): display the date of the last state change of binary sensors
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/DisplayLastStateChangeOption.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getLastStateChanges.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getLastStateChanges.test.js
Due: server, front

feat(front): add an "Installed" catalog view showing what runs on this instance
  docs/specs/external-integrations.md
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/InstalledIntegrationsSummary.jsx
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/all/external-integration/utils.js
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
Due: front

Add the ability to duplicate a dashboard
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/duplicate-dashboard/DuplicateDashboardPage.jsx
  front/src/routes/dashboard/duplicate-dashboard/index.js
  front/src/routes/dashboard/duplicate-dashboard/style.css
  front/src/routes/dashboard/edit-dashboard/EditActions.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  server/api/controllers/dashboard.controller.js
  server/api/routes.js
  server/lib/dashboard/dashboard.duplicate.js
  server/lib/dashboard/index.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.duplicate.test.js
Due: server, front

feat(energy): allow the energy consumption widget to follow the billing period
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
  server/test/utils/energyPeriod.test.js
  server/utils/energyPeriod.js
Due: server, front

feat(scene): add a dedicated weather scene trigger
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/WeatherTrigger.jsx
  server/config/scheduler-jobs.js
  server/lib/external-integration/externalIntegration.handleWeatherRefresh.js
  server/lib/scene/scene.triggers.js
  server/lib/weather/index.js
  server/lib/weather/weather.checkTriggers.js
  server/models/scene.js
  server/test/lib/external-integration/externalIntegration.weatherRefresh.test.js
  server/test/lib/scene/triggers/scene.trigger.weather.test.js
  server/test/lib/weather/weather.checkTriggers.test.js
  server/utils/constants.js
Due: server, front

fix: reject value, threshold_only and for_duration on a "changed" trigger
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/models/scene.js
  server/test/lib/scene/scene.create.test.js
Due: server, front

Use a per-file sinon sandbox in the TTS tests and shelve tts on assistants
  docs/specs/external-integrations.md
  docs/specs/integration-catalog-categories.md
  front/src/components/app.jsx
  server/test/controllers/tts/tts.controller.test.js
  server/test/lib/external-integration/externalIntegration.ttsProvider.test.js
  server/test/lib/tts/testUtils.test.js
  server/test/lib/tts/tts.getLocalApiBaseUrl.test.js
  server/test/lib/tts/tts.getSpeechUrl.test.js
Due: server, front

Zigbee2mqtt: accept socket:// and mdns:// coordinator URLs
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/utils/validateSetup.js
  server/test/services/zigbee2mqtt/utils/validateSetup.test.js
Due: server, front

fix: localize history timestamps and cover refreshFeatureLastValue
  front/src/routes/device-history/DeviceHistoryPage.jsx
  server/test/lib/device/device.refreshFeatureLastValue.test.js
Due: server, front

fix: require a complete ARP entry before exposing source_mac
  docs/specs/external-integrations.md
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanSsdp.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Due: server

fix(chat): disclose voice input before use and keep dictation usable on Safari
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/ChatPage.js
  front/src/routes/chat/ChatVoiceInputButton.jsx
  front/src/routes/chat/style.css
Due: front

fix(front): do not lose a scene variable when an action group is inserted
  front/src/routes/scene/edit-scene/index.js
Due: front

fix(matter): guard the ColorControl state listeners and the color setValue path
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.setValue.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.setValue.test.js
Due: server

Fix variable path rewriting on scene action duplication
  front/src/routes/scene/edit-scene/index.js
Due: front

fix(device): address review feedback on the CSV export
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
  server/api/controllers/device.controller.js
  server/lib/device/device.exportStatesToCsv.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.exportStatesToCsv.test.js
Due: server, front

feat(mqtt): support wildcard state topics in Home Assistant discovery
  server/services/mqtt/lib/handleNewMessage.js
  server/services/mqtt/lib/homeAssistant/constants.js
  server/services/mqtt/lib/homeAssistant/handleHomeAssistantStateMessage.js
  server/services/mqtt/lib/homeAssistant/listenToHomeAssistantDevice.js
  server/services/mqtt/lib/mqttTopicMatches.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/test/services/mqtt/lib/homeAssistant/handleHomeAssistantStateMessage.test.js
  server/test/services/mqtt/lib/homeAssistant/listenToHomeAssistantDevice.test.js
  server/test/services/mqtt/lib/mqttTopicMatches.test.js
Due: server

feat(dashboard): 'Horizon' glass theme and scene pill rows
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/chips/style.css
  front/src/components/boxs/clock/style.css
  front/src/components/boxs/house-view/style.css
  front/src/components/boxs/roomTile.css
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/components/boxs/scene/style.css
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): address PR review blockers
  AGENTS.md
  docs/specs/dashboard-flexible-layout-and-widgets.md
  docs/specs/device-migration.md
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/chips/ChipsBox.jsx
  front/src/components/boxs/clock/style.css
  front/src/components/boxs/house-view/EditHouseViewBox.jsx
  front/src/components/device/DeviceFeatureValueText.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
  server/api/routes.js
  server/lib/dashboard/dashboard.createAsset.js
  server/lib/dashboard/dashboard.destroy.js
  server/lib/device/device.migrate.js
  server/models/dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.asset.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/lib/device/device.migrate.test.js
Due: server, front

fix(front): never claim an empty instance when the inventory says otherwise
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Due: front

test(dashboard): assert the full generated selector format
  server/test/lib/dashboard/dashboard.create.test.js
Due: server

fix(dashboard): address review feedback on the last state change date
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/DisplayLastStateChangeOption.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  server/lib/device/device.getLastStateChanges.js
  server/test/api/routes.test.js
  server/test/lib/device/device.getLastStateChanges.test.js
Due: server, front

fix(energy): allow period_start_day in the dashboard schema and clarify the period label
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.update.test.js
Due: server, front

Zigbee2mqtt: restore the USB serial port from any coordinator URL
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/reset.test.js
Due: server

test: mirror the scene model trigger validation under test/models
  server/test/models/scene.test.js
Due: server

fix(chat): keep the composer locked while the dictation is stopping
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/ChatVoiceInputButton.jsx
  front/src/routes/chat/style.css
Due: front

fix(front): keep the chart dropdown open while the CSV export runs
  front/src/components/boxs/chart/Chart.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
