Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Add missing languages
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add new message when websocket connection is lost
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Due: front

Add en and de langs
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Due: front

Add tests
  server/lib/system/system.installUpgrade.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.installUpgrade.test.js
Due: server

Fix linting
  server/test/lib/system/DockerodeMock.test.js
Due: server

Fix tests
  server/lib/system/system.getInfos.js
  server/test/lib/system/system.downloadUpgrade.test.js
Due: server

Add tests
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/DockerodeMock.test.js
Due: server

Should add a button to refresh last Gladys version
  front/src/actions/system.js
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  front/src/routes/settings/settings-system/style.css
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/test/controllers/gateway/gateway.controller.test.js
Due: server, front

Remove useless old code
  front/src/actions/system.js
Due: front

Fix linting
  front/src/actions/system.js
Due: front

Use existing case for position
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

Run prettier
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

Fix front & test
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/models/scene.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
Due: server, front

Add message if Gladys is not connected to Docker
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
Due: front

Mock refresh gladys latest version api call
  server/test/controllers/gateway/gateway.controller.test.js
Due: server

Fix isDocker
  server/lib/system/system.isDocker.js
  server/test/lib/system/system.isDocker.test.js
Due: server

Add upgrade Gladys button (#2267)
  front/src/actions/system.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  front/src/routes/settings/settings-system/style.css
  server/.eslintrc.json
  server/api/controllers/gateway.controller.js
  server/api/controllers/system.controller.js
  server/api/routes.js
  server/lib/system/index.js
  server/lib/system/system.downloadUpgrade.js
  server/lib/system/system.installUpgrade.js
  server/lib/system/system.isDocker.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.downloadUpgrade.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.isDocker.test.js
  server/utils/constants.js
Due: server, front

Display matter nodes with informations, add Matter enabled setting, handle occupancy & illuminance sensor
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  server/package.json
  server/services/matter/api/matter.controller.js
  server/services/matter/index.js
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.getNodes.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.stop.js
  server/services/matter/utils/constants.js
  server/services/matter/utils/convertToGladysDevice.js
Due: server, front

Add button to download node JSONs
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
Due: front

Handle child_endpoints
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  server/services/matter/lib/matter.getNodes.js
Due: server, front

Homekit: Add shutter/curtain (#2266)
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

Handle child endpoints
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.pairDevice.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.setValue.test.js
Due: server

Fix linter
  server/services/matter/lib/matter.pairDevice.js
Due: server

Temporary fix for eslint import bug with esm modules
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.pairDevice.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
Due: server

Fix bind bug
  server/services/matter/lib/matter.handleNode.js
Due: server

Fix tests
  server/package-lock.json
  server/package.json
  server/services/matter/api/matter.controller.js
  server/test/services/matter/index.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.getNodes.test.js
Due: server

Add tests to illuminance & occupancy
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.setValue.test.js
Due: server

Fix state feedback for nested child endpoints
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/test/services/matter/lib/listenToStateChange.test.js
Due: server

Handle BridgedDeviceBasicInformation for bridge devices
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.pairDevice.test.js
Due: server

fix(scene): Optimize mobile display
  front/src/config/demo.js
  front/src/routes/scene/edit-scene/EditScenePage.jsx
Due: front

Fix homekit live update for dynamic numeric value types
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

Run prettier
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

Scene: Should fix variable bug after deleting an action
  front/src/routes/scene/edit-scene/index.js
Due: front

Fix prettier
  front/src/routes/scene/edit-scene/index.js
Due: front

Dashboard: Fix flicker when coming back on a tab after a long time
  front/src/utils/HttpClient.js
  front/src/utils/Session.js
  server/api/websockets/index.js
  server/utils/constants.js
Due: server, front

Scene: Should fix variable bug after deleting an action (#2273)
  front/src/routes/scene/edit-scene/index.js
Due: front

Remove console.log
  front/src/utils/Session.js
Due: front

Dashboard: Fix flicker when coming back on a tab after a long time (#2275)
  front/src/utils/HttpClient.js
  front/src/utils/Session.js
  server/api/websockets/index.js
  server/utils/constants.js
Due: server, front

Dashboard: Widget "Devices in room" is now deprecated
  front/src/components/boxs/SelectBoxType.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Dashboard: Widget "Devices in room" is now deprecated (#2276)
  front/src/components/boxs/SelectBoxType.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Path conditions:
  server: any of: server
  front: any of: front
