Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Format energy buckets in the configured timezone, not the process one
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Show manifest validation errors in the install-from-GitHub modal
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/install-from-github/InstallFromGithubCard.jsx
  front/src/routes/integration/all/external-integration/install-from-github/style.css
Due: front

fix: drop the 7 icons that duplicate a glyph already offered
  front/cli/check_translations.js
  front/src/config/i18n/icon-keywords/de.json
  front/src/config/i18n/icon-keywords/en.json
  front/src/config/i18n/icon-keywords/fr.json
  server/config/icons.json
Due: server, front

feat(device-feature): introduce a dedicated CHARGING_STATION category for connector status
  front/src/components/boxs/device-in-room/device-features/sensor-value/EvChargeConnectorStatusDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

feat: offer the 217 new home-automation icons in the scene picker (theme 2.1.0) (#2763)
  front/cli/check_translations.js
  front/package-lock.json
  front/package.json
  front/src/config/i18n/icon-keywords/de.json
  front/src/config/i18n/icon-keywords/en.json
  front/src/config/i18n/icon-keywords/fr.json
  server/config/icons.json
Due: server, front

Apply review feedback on the manifest error details
  docs/specs/external-integrations.md
  front/src/routes/integration/all/external-integration/install-from-github/InstallFromGithubCard.jsx
  front/src/routes/integration/all/external-integration/install-from-github/style.css
Due: front

docs: formalize design and review criteria for device feature categories
  .github/CONTRIBUTING.md
  AGENTS.md
  docs/specs/device-feature-categories.md
Due: none

feat(device-feature): split charge point status into connector status + charging state
  front/src/components/boxs/device-in-room/device-features/sensor-value/EvChargeChargingStateDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

fix(dashboard): render television command features as push buttons
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/PushDeviceFeature.jsx
  front/src/utils/consts.js
Due: front

docs: make Matter a default reference, not a veto, in category criteria
  AGENTS.md
  docs/specs/device-feature-categories.md
Due: none

docs: limit reference standards to Matter and Zigbee
  docs/specs/device-feature-categories.md
Due: none

refactor(dashboard): share the push button feature helper with the MQTT catalog
  front/src/components/boxs/device-in-room/device-features/PushDeviceFeature.jsx
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
Due: front

docs: document supported_options in the device categories spec
  docs/specs/device-feature-categories.md
Due: none

docs: address review feedback on plumbing list and markdown lint
  .github/CONTRIBUTING.md
  docs/specs/device-feature-categories.md
Due: none

docs(dashboard): explain why MUSIC.PLAY_NOTIFICATION stays a push button
  front/src/utils/consts.js
Due: front

docs: fold recurring maintainer review feedback into the categories spec
  docs/specs/device-feature-categories.md
Due: none

Add television push button feature support (#2765)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/PushDeviceFeature.jsx
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
Due: front

docs: describe the real legacy fallback for missing supported_options
  docs/specs/device-feature-categories.md
Due: none

docs: soften no-standard checklist wording, name front allowlists
  docs/specs/device-feature-categories.md
Due: none

Make the release workflow work with the master branch protection (#2761)
  .github/workflows/create-release-tag.yml
  .github/workflows/prepare-release.yml
Due: none

Gate the TTS provider card behind the admin role
  front/src/routes/integration/all/openai/index.js
  server/lib/tts/tts.getProviderConfiguration.js
Due: server, front

Keep hourly energy labels unique across a DST fall-back
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Show detailed validation errors when installing external integrations (#2764)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/install-from-github/InstallFromGithubCard.jsx
  front/src/routes/integration/all/external-integration/install-from-github/style.css
Due: front

Derive the hourly UTC offset instead of reading Intl's zone name
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Harden the NanoCpus fix for hosts where docker info misreports CPU CFS support
  server/lib/external-integration/externalIntegration.startSubContainer.js
  server/lib/system/system.createContainer.js
  server/lib/system/system.hasCpuCfsSupport.js
  server/test/lib/external-integration/externalIntegration.subContainers.test.js
  server/test/lib/system/system.createContainer.test.js
  server/test/lib/system/system.hasCpuCfsSupport.test.js
Due: server

Add device feature categories design & review criteria spec (#2766)
  .github/CONTRIBUTING.md
  AGENTS.md
  docs/specs/device-feature-categories.md
Due: none

Address PR feedback: cover isNanoCpusError branches, cache CFS rejection on sub-container recreate
  server/lib/external-integration/externalIntegration.startSubContainer.js
  server/test/lib/external-integration/externalIntegration.subContainers.test.js
  server/test/lib/system/system.createContainer.test.js
Due: server

Fix AI energy tool labelling every month one month early (#2760)
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Fix the CPU CFS detection: the /info API keys are CpuCfsQuota/CpuCfsPeriod
  docs/specs/external-integrations.md
  server/lib/system/system.hasCpuCfsSupport.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.hasCpuCfsSupport.test.js
Due: server

Document the start-time NanoCpus recovery path in the living spec
  docs/specs/external-integrations.md
Due: none

Fix the CPU CFS detection (wrong /info JSON keys) and harden the NanoCpus handling (#2767)
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.startSubContainer.js
  server/lib/system/system.createContainer.js
  server/lib/system/system.hasCpuCfsSupport.js
  server/test/lib/external-integration/externalIntegration.subContainers.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.createContainer.test.js
  server/test/lib/system/system.hasCpuCfsSupport.test.js
Due: server

4.84.3 (#2768)
  package-lock.json
  package.json
Due: none

Route external integration OAuth2 through an HTTPS redirect page
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/oauth-callback-page/index.js
  front/src/utils/oauth.js
Due: front

Address the review on the OAuth2 redirect page
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/oauth-callback-page/index.js
  front/src/utils/oauth.js
Due: front

Make the "check for updates" action explicit in system settings
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  front/src/routes/settings/settings-system/style.css
Due: front

Improve system update check UX with dedicated status (#2770)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  front/src/routes/settings/settings-system/style.css
Due: front

Copy the redirect URI without the clipboard API, and cover the flow
  front/cypress/e2e/routes/integration/external-integration/ExternalIntegrationOAuth.cy.js
  front/cypress/e2e/utils/OAuthUtils.cy.js
  front/src/config/i18n/de.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/utils/oauth.js
Due: front

Route external integration OAuth2 through an HTTPS redirect page (#2769)
  docs/specs/external-integrations.md
  front/cypress/e2e/routes/integration/external-integration/ExternalIntegrationOAuth.cy.js
  front/cypress/e2e/utils/OAuthUtils.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/oauth-callback-page/index.js
  front/src/utils/oauth.js
Due: front

Implement camera PTZ control (move feature, presets, dashboard overlay)
  docs/specs/camera-ptz-control.md
  docs/specs/external-integrations.md
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/CameraPtzControls.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/components/boxs/camera/style.css
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/CameraMoveDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CameraPresetDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeaturePreview.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/cameraMove.js
  front/src/utils/consts.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.test.js
  server/utils/constants.js
Due: server, front

Make device and feature selectors unique by construction
  docs/specs/external-integrations.md
  server/lib/device/device.addFeature.js
  server/lib/device/device.create.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/test/lib/device/device.addFeature.test.js
  server/test/lib/device/device.create.test.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/utils/addSelector.test.js
  server/utils/addSelector.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
