Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Add test to listen and RFtoObject
  server/test/services/rflink/controllers/rflink.parse.RFtoObject.test.js
  server/test/services/rflink/lib/listen.test.js
Due: server

More test on unpair milight
  server/test/services/rflink/lib/unpair.milight.test.js
Due: server

More test on newValue
  server/test/services/rflink/lib/newValue.test.js
Due: server

More test on newValue
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/rflinkManager.test.js
Due: server

test: correct humdity values
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Due: server

Improved test on RflinkService and Rflinkmanager
  server/services/rflink/index.js
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/rflinkManager.test.js
  server/test/services/rflink/rflink.test.js
Due: server

Access to raw peripheral
  server/services/bluetooth/lib/commands/bluetooth.getPeripheral.js
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.start.js
  server/services/bluetooth/lib/index.js
  server/test/services/bluetooth/BluetoothMock.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.start.test.js
Due: server

Noble reset
  server/package-lock.json
  server/package.json
  server/services/bluetooth/lib/commands/bluetooth.applyOnPeripheral.js
  server/test/services/bluetooth/BluetoothMock.test.js
Due: server

Improving message tests
  server/services/rflink/lib/events/rflink.message.js
  server/test/services/rflink/lib/message.test.js
Due: server

fix: Remove darksky service in demo
  front/src/config/demo.json
Due: front

fix: Remove darksky service in demo (#1090)
  front/src/config/demo.json
Due: front

Bluetooth service: Access to raw peripheral (#1089)
  server/services/bluetooth/lib/commands/bluetooth.getPeripheral.js
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.start.js
  server/services/bluetooth/lib/index.js
  server/test/services/bluetooth/BluetoothMock.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.start.test.js
Due: server

Remove moment package in front
  front/package-lock.json
  front/package.json
  front/src/routes/calendar/index.js
Due: front

Fix server humidity command
  server/lib/device/humidity-sensor/humidity-sensor.command.js
Due: server

Fix test
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Due: server

Prettier
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Due: server

Fix after review
  front/src/config/i18n/en.json
Due: front

Fix after review
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
Due: front

Fix Gladys Plus backup in high write scenario
  server/lib/gateway/gateway.backup.js
  server/package-lock.json
  server/package.json
Due: server

Gracefully exit when quitting the server process
  server/api/index.js
  server/index.js
Due: server

Add more tests to test progress bar
  server/test/lib/gateway/gateway.test.js
Due: server

Fix tests
  server/test/bootstrap.test.js
Due: server

Fix Gladys Plus backups in high write scenario (#1095)
  server/api/index.js
  server/index.js
  server/lib/gateway/gateway.backup.js
  server/package-lock.json
  server/package.json
  server/test/bootstrap.test.js
  server/test/lib/gateway/gateway.test.js
Due: server

4.1.1
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Upgrade philips-hue dependency to 4.0.9 & improve bridge search (#1080)
  server/services/philips-hue/lib/light/light.getBridges.js
  server/services/philips-hue/lib/models/colorWithTemperature.js
  server/services/philips-hue/lib/models/whiteWithTemperature.js
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
  server/test/services/philips-hue/lights.json
  server/test/services/philips-hue/mocks.test.js
Due: server

fix(conversation): Spread chat messages to same user open tabs (#1051)
  front/src/actions/message.js
  front/src/routes/chat/index.js
  server/api/controllers/message.controller.js
  server/lib/message/message.create.js
  server/lib/message/message.handleEvent.js
  server/services/telegram/lib/message.new.js
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
  server/test/lib/message/message.create.test.js
  server/test/lib/message/message.handleMessage.test.js
  server/utils/constants.js
Due: server, front

Final test
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Due: server

Fix after review
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/lib/device/humidity-sensor/humidity-sensor.getHumidityInRoom.js
Due: server

Fix after review
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  server/lib/scene/scene.addScene.js
  server/test/lib/scene/scene.addScene.test.js
Due: server, front

Fix after review
  server/lib/scene/scene.execute.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/scene.execute.test.js
Due: server

Fix test
  server/test/controllers/scene/scene.test.js
Due: server

Fix after review
  server/lib/scene/scene.addScene.js
  server/migrations/202102212184604-add-active-scene.js
  server/models/scene.js
Due: server

Design disable scene
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.addScene.js
  server/models/scene.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.get.test.js
Due: server, front

eslint :(
  front/src/routes/scene/SceneCard.jsx
Due: front

Add disable scene logic
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.get.js
  server/migrations/202102212184604-add-active-scene.js
  server/models/scene.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.get.test.js
Due: server, front

prettier !!!
  server/test/controllers/scene/scene.test.js
Due: server

Front Pihole
  front/src/actions/dashboard/boxes/piHole.js
  front/src/components/boxs/pihole/DataList.jsx
  front/src/components/boxs/pihole/PiholeBox.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
