Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Keep the settings-tabs pill grammar wrapping: the scroller is opt-in
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/style.css
Due: front

security: reserve service and global variables to admin users
  front/src/routes/integration/all/telegram/actions.js
  server/api/controllers/variable.controller.js
  server/api/routes.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/nuki/api/nuki.controller.js
  server/services/tuya/api/tuya.controller.js
  server/services/zwavejs-ui/api/zwaveJSUI.controller.js
  server/test/controllers/serviceSecretRoutes.test.js
  server/test/controllers/variable/variable.test.js
Due: server, front

security: remove the shell from the backup and restore chain
  server/api/routes.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.downloadBackup.js
  server/lib/gateway/gateway.restoreBackup.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/malicious-backup-shell-metacharacters.tar.gz.enc
  server/test/utils/backupSafety.test.js
  server/utils/backupSafety.js
  server/utils/childProcess.js
Due: server

test: cover the failure paths of spawnToFile
  server/test/utils/childProcess.test.js
Due: server

fix(scene): restore a fixed volume when leaving the computed mode
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
Due: front

Free Mobile: flag the built-in integration as soon deprecated
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/free-mobile/FreeMobile.jsx
Due: front

Free Mobile: describe the real migration path and flag the SMS action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TypePicker.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendSms.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/typesCatalog.js
Due: front

fix(dashboard): correct the next lunar node direction in the moon widget
  front/src/components/boxs/moon/style.css
  server/lib/house/house.getMoonState.js
  server/test/lib/house/house.getMoonState.test.js
Due: server, front

feat(dashboard): add moon phase widget
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/moon/CREDITS.md
  front/src/components/boxs/moon/EditMoon.jsx
  front/src/components/boxs/moon/Moon.jsx
  front/src/components/boxs/moon/moon.png
  front/src/components/boxs/moon/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/api/controllers/house.controller.js
  server/api/routes.js
  server/lib/house/house.getMoonState.js
  server/lib/house/index.js
  server/models/dashboard.js
  server/test/controllers/house/house.test.js
  server/test/lib/house/house.getMoonState.test.js
  server/utils/constants.js
Due: server, front

fix(dashboard): give the moon widget a hierarchy and fix its day countdowns
  front/src/components/boxs/moon/Moon.jsx
  front/src/components/boxs/moon/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/house.controller.js
  server/lib/house/house.getMoonState.js
  server/test/lib/house/house.getMoonState.test.js
Due: server, front

security: reserve the Zigbee2mqtt setup routes to admins
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/test/controllers/serviceSecretRoutes.test.js
  server/utils/childProcess.js
Due: server

Zigbee2mqtt: support enum presence sensors
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/excelluxPresenceEnumType.test.js
Due: server

Scene editor: dropdown menus no longer paint under the next step
  front/src/components/device/SelectDeviceFeatureValue.jsx
  front/src/components/device/SelectFanFeatureValue.jsx
  front/src/components/device/SelectFanMode.jsx
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/components/device/SelectWaterHeaterMode.jsx
  front/src/components/form/Select.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/CheckTime.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/SetAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
  front/src/routes/scene/edit-scene/triggers/UserPresenceTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanLabeledDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelMatterSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterHeaterModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterValveDeviceState.jsx
Due: front

Zigbee2mqtt: clarify legacy presence mapping
  server/services/zigbee2mqtt/exposes/enumType.js
Due: server

Energy monitoring: only recalculate costs for devices impacted by an Enedis sync
  server/services/enedis/lib/enedis.sync.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromDate.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndex.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Due: server

Energy monitoring: only recalculate costs for devices impacted by an Enedis sync (#3009)
  server/services/enedis/lib/enedis.sync.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromDate.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndex.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Due: server

Scene editor: dropdown menus no longer paint under the next step (#3008)
  front/src/components/device/SelectDeviceFeatureValue.jsx
  front/src/components/device/SelectFanFeatureValue.jsx
  front/src/components/device/SelectFanMode.jsx
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/components/device/SelectWaterHeaterMode.jsx
  front/src/components/form/Select.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/CheckTime.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/SetAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
  front/src/routes/scene/edit-scene/triggers/UserPresenceTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanLabeledDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelMatterSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterHeaterModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterValveDeviceState.jsx
Due: front

Scenes: don't force a space after a variable inserted in a text (#3003)
  front/src/components/scene/TextWithVariablesInjected.jsx
Due: front

Settings: horizontally scrollable menu with overflow arrows on mobile (#3000)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/chips-scroll/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/GroupChipsScroll.jsx
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/style.css
Due: front

Cypress: stop a late window.open from failing the whole OAuth run
  front/cypress/e2e/routes/integration/external-integration/ExternalIntegrationOAuth.cy.js
  front/cypress/support/e2e.js
Due: front

Cypress: stop a late window.open from failing the whole OAuth run (#3010)
  front/cypress/e2e/routes/integration/external-integration/ExternalIntegrationOAuth.cy.js
  front/cypress/support/e2e.js
Due: front

Free Mobile: point users to the right screen for their credentials
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Also use "native Integration" in the German strings, matching the wording already used elsewhere in de.json.
  front/src/config/i18n/de.json
Due: front

fix(front): keep the Telegram and Free Mobile pages working for their audience
  front/src/routes/integration/all/telegram/actions.js
  front/src/routes/integration/index.js
Due: front

fix(front): hide the admin-only settings tabs from non-admin users
  front/src/routes/settings/SettingsLayout.jsx
Due: front

chore(security): bump transitive deps to clear high/critical npm advisories
  server/services/google-cast/package-lock.json
  server/services/mcp/package-lock.json
Due: server

Integrations: drop the card headers that repeated the page title
  front/src/routes/integration/all/alexa-gateway/welcome.jsx
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/free-mobile/FreeMobile.jsx
  front/src/routes/integration/all/google-home-gateway/welcome.jsx
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/mcp/mcp.jsx
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/openweather/OpenWeather.jsx
  front/src/routes/integration/all/owntracks/welcome.jsx
  front/src/routes/integration/all/telegram/Telegram.jsx
Due: front

Demo: rebalance the dashboards and speak French in the chat
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/index.js
  front/src/config/demo/scenes.js
Due: front

Integrations: recenter the active tab on URL change and update spec G
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/integration/IntegrationSubPageLayout.jsx
Due: front

Demo: keep the Home layout as it was, fix the camera in place
  front/src/config/demo/dashboards.js
Due: front

Demo: show the real community integration store, live
  front/src/config/demo/README.md
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
  front/src/config/demo/store.js
Due: front

Demo: don't install the same store integration twice
  front/src/config/demo/index.js
  front/src/config/demo/scenes.js
Due: front

Demo: a failed store refresh no longer empties the catalog
  front/src/config/demo/README.md
  front/src/config/demo/index.js
  front/src/config/demo/store.js
Due: front

Demo: speak French everywhere, show the tool calls, redesign the Energy dashboard
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/home.js
  front/src/config/demo/i18n.js
  front/src/config/demo/index.js
  front/src/config/demo/scenes.js
Due: front

Upgrade Zigbee2mqtt to 2.13.0
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

Demo: two languages everywhere, live integration store, tool calls in the chat, rebalanced dashboards (#3013)
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/home.js
  front/src/config/demo/i18n.js
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
  front/src/config/demo/scenes.js
  front/src/config/demo/store.js
Due: front

Upgrade Zigbee2mqtt to 2.13.0 (#3014)
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

Use a nicer garden snapshot for the demo camera
  front/src/config/demo/assets.js
Due: front

Path conditions:
  server: any of: server
  front: any of: front
