Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Make app work in french too
  front/src/components/app.jsx
Due: front

Fix some translations in FR
  front/src/config/i18n/fr.json
Due: front

Add default language from browser at signup
  front/src/actions/signup/signupCreateLocalAccount.js
Due: front

Multiple translation fixes
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add calendar translations
  front/src/config/i18n/fr.json
  front/src/routes/calendar/index.js
Due: front

Add messages in FR for the brain
  server/config/brain/calendar/answers.fr.json
  server/config/brain/calendar/questions.fr.json
  server/config/brain/camera/answers.fr.json
  server/config/brain/camera/questions.fr.json
  server/config/brain/chat/answers.fr.json
  server/config/brain/chat/questions.fr.json
  server/config/brain/light/answers.fr.json
  server/config/brain/light/questions.fr.json
  server/config/brain/temperature-sensor/answers.fr.json
  server/config/brain/temperature-sensor/questions.fr.json
  server/config/brain/weather/answers.fr.json
  server/config/brain/weather/questions.fr.json
Due: server

Improve translations
  front/src/config/i18n/fr.json
Due: front

Fix gateway translations
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway-open-api/OpenApi.js
  front/src/routes/settings/settings-gateway-open-api/OpenApiKey.js
  front/src/routes/settings/settings-gateway-open-api/index.js
Due: front

Make integration page work in FR
  front/src/config/integrations/calendar.en.json
  front/src/config/integrations/calendar.fr.json
  front/src/config/integrations/device.fr.json
  front/src/config/integrations/index.js
  front/src/config/integrations/weather.fr.json
  server/utils/constants.js
Due: server, front

Fix french translations
  front/src/config/i18n/fr.json
Due: front

Fix translations
  front/package.json
  front/src/config/i18n/en.json
Due: front

Fix session translation
  front/src/config/i18n/fr.json
Due: front

Load language from local storage, then navigator if not in localstorage
  front/src/utils/getDefaultState.js
Due: front

API premises
  server/api/routes.js
Due: server

Go for API
  server/api/controllers/stockexchange.controller.js
Due: server

Revert forcing alpine version as now OZW is manually compiled
  docker/Dockerfile
Due: none

Fix gateway login
  front/src/actions/login/loginGateway.js
Due: front

Fix disconnect errors
  front/src/actions/gatewayLinkUser.js
  front/src/actions/main.js
Due: front

Gladys Plus: improve process when user is changing password
  server/lib/gateway/gateway.getUsersKeys.js
  server/package-lock.json
  server/package.json
Due: server

Add tests to gateway.getUsersKeys
  server/lib/gateway/gateway.getUsersKeys.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.test.js
Due: server

Fix reset password Gladys Plus (#776)
  front/src/actions/gatewayLinkUser.js
  front/src/actions/login/loginGateway.js
  front/src/actions/main.js
  server/lib/gateway/gateway.getUsersKeys.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.test.js
Due: server, front

initial commit - Add LOM002 files lights in test and light.getLight
  server/services/philips-hue/lib/light/light.getLights.js
  server/test/services/philips-hue/lights.json
Due: server

bug fixes
  front/src/routes/integration/all/rflink/device-page/actions.js
  front/src/routes/integration/all/rflink/device-page/setup/Feature.jsx
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/lib/commands/rflink.addNewDevice.js
  server/services/rflink/lib/events/rflink.addDevice.js
  server/services/rflink/lib/events/rflink.message.js
  server/services/rflink/lib/events/rflink.newValue.js
  server/services/rflink/lib/index.js
  server/utils/constants.js
Due: server, front

Update rflink.controller.js
  server/services/rflink/api/rflink.controller.js
Due: server

prettier fix
  front/src/routes/integration/all/rflink/device-page/actions.js
Due: front

moving devices filtering from server to front
  front/src/routes/integration/all/rflink/device-page/actions.js
  server/services/rflink/api/rflink.controller.js
Due: server, front

setup, discover and devices pages working
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/heatzy/device-page/Device.jsx
  front/src/routes/integration/all/heatzy/discover-page/actions.js
  front/src/routes/integration/all/heatzy/discover-page/index.js
  front/src/routes/integration/all/heatzy/setup-page/actions.js
  front/src/routes/integration/all/heatzy/setup-page/index.js
  server/services/heatzy/api/heatzy.controller.js
  server/services/heatzy/index.js
  server/services/heatzy/lib/connect.js
  server/services/heatzy/lib/discoverDevices.js
  server/services/heatzy/lib/index.js
Due: server, front

Rewrite stockexchange service using the right way to do it in Gladys. API route is now OK.
  server/api/routes.js
  server/package-lock.json
  server/services/stock-exchange/api/stockexchange.controller.js
  server/services/stock-exchange/index.js
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/services/stock-exchange/lib/index.js
  server/test/services/stock-exchange/index.test.js
Due: server

Add a fonctionnal basic exchange box
  front/src/actions/dashboard/boxes/stockExchange.js
  front/src/components/boxs/stockexchange/EditStockExchangeBox.jsx
  front/src/components/boxs/stockexchange/StockExchangeBox.jsx
  front/src/config/i18n/en.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Store useragent from req to DB
  server/api/controllers/user.controller.js
  server/lib/session/session.create.js
  server/lib/session/session.get.js
  server/lib/user/user.forgotPassword.js
  server/migrations/20200513195013-session-with-useragent.js
  server/models/session.js
  server/test/lib/session/session.test.js
Due: server

Create Dockerfile.buildx
  docker/Dockerfile.buildx
Due: none

Create pr-docker-image.yml
  .github/pr-docker-image.yml
Due: none

Move yaml in the correct folder
  .github/workflows/pr-docker-image.yml
Due: none

Allows to display several quote
  front/src/actions/dashboard/boxes/stockExchange.js
  front/src/components/boxs/stockexchange/DataList.jsx
  front/src/components/boxs/stockexchange/StockData.jsx
  front/src/components/boxs/stockexchange/StockExchangeBox.jsx
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
Due: server, front

1st rewrite step
  front/src/components/boxs/stockexchange/EditStockExchangeBox.jsx
  front/src/components/boxs/stockexchange/StockExchangeBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/all/stock-exchange/StockExchange.jsx
  server/services/stock-exchange/api/stockexchange.controller.js
  server/services/stock-exchange/index.js
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/services/stock-exchange/lib/index.js
  server/test/services/stock-exchange/index.test.js
Due: server, front

Add the possibility to configure what ticker should be dispayed in stockexchange box. TODO : fix the getter and the setter of the form
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/stock-exchange/StockExchange.jsx
  front/src/routes/integration/all/stock-exchange/actions.js
  front/src/routes/integration/all/stock-exchange/index.js
  front/src/utils/consts.js
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
Due: server, front

Path conditions:
  server: any of: server
  front: any of: front
