Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Update tests
  server/test/services/arduino/SerialPortMock.test.js
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/arduinoManager.test.js
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
  server/test/services/arduino/lib/init.test.js
  server/test/services/arduino/lib/listen.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

Prettier
  server/test/services/arduino/arduino.test.js
Due: server

Fix events
  server/services/arduino/index.js
  server/services/arduino/lib/index.js
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/arduinoManager.test.js
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
  server/test/services/arduino/lib/init.test.js
  server/test/services/arduino/lib/listen.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

Fix tests
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/init.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

Update tests
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/device.setValue.js
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

Update tests
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/arduinoManager.test.js
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
Due: server

Update tests
  server/test/services/arduino/AvrgirlMock.test.js
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/arduinoManager.test.js
  server/test/services/arduino/lib/data/deviceEmit433Data.json
  server/test/services/arduino/lib/data/deviceIRData.json
  server/test/services/arduino/lib/data/deviceRecv433Data.json
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
  server/test/services/arduino/lib/init.test.js
  server/test/services/arduino/lib/listen.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

Update test
  server/test/services/arduino/lib/device.setValue.test.js
Due: server

[Fix] => New tests
  server/services/arduino/lib/send.js
  server/test/services/arduino/AvrgirlMock.test.js
  server/test/services/arduino/SerialPortMock.test.js
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/arduinoManager.test.js
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
  server/test/services/arduino/lib/init.test.js
  server/test/services/arduino/lib/listen.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

[Fix] => Require in Manager + Tests
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/index.js
  server/services/arduino/lib/init.js
  server/services/arduino/lib/listen.js
  server/services/arduino/lib/send.js
  server/services/arduino/lib/setup.js
  server/test/services/arduino/AvrgirlMock.test.js
  server/test/services/arduino/ReadLineMock.test.js
  server/test/services/arduino/SerialPortMock.test.js
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/arduinoManager.test.js
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
  server/test/services/arduino/lib/init.test.js
  server/test/services/arduino/lib/listen.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

[Fix] => Remove only from tests
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/arduino.test.js
  server/test/services/arduino/lib/arduinoManager.test.js
  server/test/services/arduino/lib/device.configure.test.js
  server/test/services/arduino/lib/device.setValue.test.js
  server/test/services/arduino/lib/init.test.js
  server/test/services/arduino/lib/listen.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

[Fix] => isJsonString function in separated script
  server/services/arduino/lib/init.js
  server/services/arduino/lib/isJsonString.js
  server/services/arduino/lib/listen.js
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/lib/isJsonString.test.js
Due: server

[Correction] => Prettier
  server/services/arduino/lib/isJsonString.js
  server/test/services/arduino/api/arduino.controller.test.js
  server/test/services/arduino/lib/isJsonString.test.js
Due: server

[Fix] => onPortOpen/onPortData tests
  server/test/services/arduino/lib/onPortData.test.js
  server/test/services/arduino/lib/onPortOpen.test.js
Due: server

[Fix] => onPortOpen/onPortData functions + tests
  server/services/arduino/lib/init.js
  server/services/arduino/lib/listen.js
  server/services/arduino/lib/onPortData.js
  server/services/arduino/lib/onPortOpen.js
  server/services/arduino/lib/send.js
  server/test/services/arduino/AvrgirlMock.test.js
Due: server

[Fix] => Prettier
  server/test/services/arduino/lib/onPortData.test.js
  server/test/services/arduino/lib/onPortOpen.test.js
Due: server

[Fix] => Update tests
  server/test/services/arduino/lib/data/dhtHumidityData.json
  server/test/services/arduino/lib/onPortData.test.js
Due: server

[Fix] => setup tests
  server/test/services/arduino/AvrgirlMock.test.js
  server/test/services/arduino/lib/setup.test.js
Due: server

[Update] => Clean code
  front/src/routes/integration/all/arduino/arduino-code.ino
  server/services/arduino/lib/index.js
  server/services/arduino/lib/init.js
  server/services/arduino/lib/listen.js
  server/services/arduino/lib/onPortOpen.js
  server/services/arduino/lib/send.js
  server/services/arduino/lib/setup.js
Due: server, front

[Fix] => Correction code
  front/src/routes/integration/all/arduino/setup-page/actions.js
  server/services/arduino/api/arduino.controller.js
  server/services/arduino/lib/device.configure.js
  server/services/arduino/lib/device.setValue.js
  server/services/arduino/lib/init.js
  server/services/arduino/lib/listen.js
  server/services/arduino/lib/onPortData.js
  server/services/arduino/lib/setup.js
Due: server, front

[Fix] => Prettier on front
  front/src/routes/integration/all/arduino/setup-page/actions.js
Due: front

[Fix] => Setup tests
  server/services/arduino/lib/setup.js
Due: server

Front Eslint
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/actions.js
Due: front

Change generate pw parameters to avoid special characters
  server/services/zigbee2mqtt/lib/init.js
Due: server

Add restart MQTT container after user/pw generation
  server/services/zigbee2mqtt/lib/installMqttContainer.js
Due: server

Change MQTT client ID for Gladys instance
  server/services/zigbee2mqtt/lib/connect.js
Due: server

Update brain questions/answers FR& EN
  server/config/brain/calendar/answers.en.json
  server/config/brain/calendar/answers.fr.json
  server/config/brain/calendar/questions.en.json
  server/config/brain/calendar/questions.fr.json
  server/config/brain/camera/answers.en.json
  server/config/brain/chat/questions.en.json
  server/config/brain/temperature-sensor/answers.en.json
  server/config/brain/temperature-sensor/questions.en.json
  server/config/brain/weather/questions.en.json
  server/config/brain/weather/questions.fr.json
Due: server

Update brain questions/answers FR& EN bis
  server/config/brain/calendar/questions.en.json
  server/config/brain/calendar/questions.fr.json
  server/config/brain/camera/answers.en.json
  server/config/brain/temperature-sensor/answers.en.json
  server/config/brain/weather/questions.en.json
Due: server

Update config.yml
  .circleci/config.yml
Due: none

Fix #997: Connect to MQTT broker with a more unique clientId
  server/services/mqtt/lib/connect.js
Due: server

Fix #997: Connect to MQTT broker with a more unique clientId (#998)
  server/services/mqtt/lib/connect.js
Due: server

Bluetooth fixes & improvements (#921)
  server/services/bluetooth/lib/commands/bluetooth.connectDevices.js
  server/services/bluetooth/lib/commands/bluetooth.getCharacteristic.js
  server/services/bluetooth/lib/commands/bluetooth.poll.js
  server/services/bluetooth/lib/commands/bluetooth.postCreate.js
  server/services/bluetooth/lib/commands/bluetooth.postDelete.js
  server/services/bluetooth/lib/commands/bluetooth.readDevice.js
  server/services/bluetooth/lib/commands/bluetooth.scanDevice.js
  server/services/bluetooth/lib/commands/bluetooth.subscribeDevice.js
  server/services/bluetooth/lib/commands/bluetooth.subscribePeripheral.js
  server/services/bluetooth/lib/commands/bluetooth.unsubscribeDevice.js
  server/services/bluetooth/lib/commands/bluetooth.writeDevice.js
  server/services/bluetooth/lib/index.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.read.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.unsubscribe.js
  server/services/bluetooth/lib/utils/characteristic/bluetooth.write.js
  server/services/bluetooth/lib/utils/peripheral/bluetooth.connect.js
  server/services/bluetooth/lib/utils/peripheral/bluetooth.discoverServices.js
  server/services/bluetooth/lib/utils/service/bluetooth.discoverCharacteristics.js
  server/test/services/bluetooth/lib/commands/bluetooth.poll.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.postCreate.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.postDelete.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.readDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/utils/bluetooth.discoverCharacteristics.test.js
  server/test/services/bluetooth/lib/utils/bluetooth.discoverServices.test.js
  server/test/services/bluetooth/lib/utils/bluetooth.unsubscribe.test.js
Due: server

English joke edit
  server/config/brain/chat/questions.en.json
Due: server

backend: user presence
  server/lib/house/house.userLeft.js
  server/lib/house/index.js
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/test/lib/house/house.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/utils/constants.js
Due: server

Allow the house key in action model
  server/models/scene.js
Due: server

First frontend version of the user presence action box in scene
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
Due: front

Add english translation
  front/src/config/i18n/en.json
Due: front

Add more tests
  server/test/lib/house/house.test.js
Due: server

Add message in UI in dashboard box about setting user presence
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add user presence action in scene (#999)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  server/lib/house/house.userLeft.js
  server/lib/house/index.js
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/house/house.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/utils/constants.js
Due: server, front
