Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Ugrade mcp deps
  server/services/mcp/index.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Due: server

Fix history & update tests
  server/services/mcp/index.js
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatValue.test.js
Due: server

Improve code coverage
  server/test/services/mcp/lib/buildSchemas.test.js
Due: server

Add enedis progress in background jobs
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/enedis/lib/enedis.sync.js
  server/services/enedis/lib/index.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/enedis/index.test.js
  server/utils/constants.js
Due: server, front

MCP Integration: Add get-history as MCP tool (#2377)
  server/services/mcp/index.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatValue.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatValue.test.js
Due: server

Fix tests
  front/src/config/i18n/de.json
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
Due: server, front

Better calculation of progress in enedis job
  server/services/enedis/lib/enedis.sync.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
Due: server

Redirect to job page after starting enedis sync
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  server/services/enedis/api/enedis.controller.js
Due: server, front

Enedis should have only 1 sync at the same time
  server/services/enedis/lib/enedis.sync.js
  server/services/enedis/lib/index.js
  server/services/enedis/package-lock.json
  server/services/enedis/package.json
  server/services/enedis/utils/queueWrapper.js
Due: server

Fix scheduled job
  server/services/enedis/lib/enedis.init.js
Due: server

Upgrade hap-nodejs to last stable version
  server/services/homekit/index.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
Due: server

Every day at 9 AM, re-calculate cost from yesterday (useful for enedis, or other integration that reports consumption daily)
  server/services/energy-monitoring/index.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/package-lock.json
  server/services/energy-monitoring/package.json
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Due: server

Encapsulate the task in a daily job
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromYesterday.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/utils/constants.js
Due: server, front

UI should let the user select peak/off-peak time in import price wizard
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Due: front

Upgrade Zigbee2mqtt to 2.7.0
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

Switch to 11 AM
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
Due: server

Update to 2.7.1
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

Switch to 11:10
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
Due: server

Fix tests
  server/test/services/energy-monitoring/index.test.js
Due: server

Make dashboard larger on large screens
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/style.css
Due: front

Make scene larger on larger screens
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/style.css
Due: front

Upgrade Zigbee2mqtt to 2.7.1 (#2380)
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

4.66.0
  package-lock.json
  package.json
Due: none

Upgrade Watchtower to use nickfedor/watchtower image
  docker/docker-compose.yml
  server/lib/system/system.installUpgrade.js
  server/test/lib/system/DockerApiMock.test.js
Due: server

Upgrade Watchtower to use nickfedor/watchtower image (#2382)
  docker/docker-compose.yml
  server/lib/system/system.installUpgrade.js
  server/test/lib/system/DockerApiMock.test.js
Due: server

4.66.1
  package-lock.json
  package.json
Due: none

do not use an async function to publish with mqtt
  server/services/nuki/lib/mqtt/nuki.mqtt.setValue.js
Due: server

FIX: Use correct mapping to update the button state in gladys
  server/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.js
  server/services/nuki/lib/utils/nuki.constants.js
Due: server

Do not use async function when calling the setAction from nuki lib
  server/services/nuki/lib/http/nuki.http.setValue.js
Due: server

FIX : Use a mapping to set the right button state
  server/services/nuki/lib/http/nuki.http.getValue.js
Due: server

FIX: modify switch button state only if state value has changed + test
  server/services/nuki/lib/http/nuki.http.getValue.js
  server/test/services/nuki/lib/http/nuki.http.getValue.test.js
Due: server

Improve translations (more details for user)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Continue displaying warning explanation until some devices are registered
  front/src/routes/integration/all/nuki/device-page/DeviceTab.jsx
Due: front

Disable submit button until api token is changed
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
Due: front

After prettier, a hidden magic is in the air : I see no diff
  server/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.js
Due: server

Add TELEINFORMATION features to Energy monitoring
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/utils/constants.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Due: server, front

Fix tests
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
Due: server

Energy Monitoring : Add UI helper for MQTT integration
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Due: front
