Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Added a separate tab for device discovery + Add edit button + Add checkbox
  front/config.js
  front/src/components/app.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/PhilipsHuePage.jsx
  front/src/routes/integration/all/philips-hue/device-page/Device.jsx
  front/src/routes/integration/all/philips-hue/device-page/PhilipsHueLayout.jsx
  front/src/routes/integration/all/philips-hue/device-page/edit-page/EditPage.jsx
  front/src/routes/integration/all/philips-hue/device-page/edit-page/index.js
  front/src/routes/integration/all/philips-hue/discover-device/FoundDevices.jsx
  front/src/routes/integration/all/philips-hue/discover-device/actions.js
  front/src/routes/integration/all/philips-hue/discover-device/index.js
  front/src/routes/integration/all/philips-hue/discover-device/style.css
Due: front

Update package json
  server/package-lock.json
  server/package.json
Due: server

Remove unsued file
  server/test/services/netatmo/lib/netatmo.mock.js
Due: server

Terminate job with param for value of base category
  front/src/components/app.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
  front/src/routes/integration/all/philips-hue/device-page/edit-page/index.js
  front/src/routes/integration/all/philips-hue/device-page/index.js
  front/src/routes/integration/all/philips-hue/discover-device/index.js
  server/services/philips-hue/lib/models/plugOnOff.js
Due: server, front

Forgot modification of config file co file
  front/config.js
Due: front

WeatherBox => weatherIcon
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

Modifications according to the requests of @hotfix and @atrovato + Bug fix UI discovery page + tests
  front/src/components/app.jsx
  front/src/routes/integration/all/netatmo/device-page/edit-page/index.js
  front/src/routes/integration/all/netatmo/discover-device/FoundDevices.jsx
  server/services/netatmo/lib/commands/netatmo.getHealthyHomeCoachData.js
  server/services/netatmo/lib/commands/netatmo.getHomeData.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
  server/services/netatmo/lib/commands/netatmo.getStationsData.js
  server/services/netatmo/lib/commands/netatmo.getThermostatsData.js
  server/services/netatmo/lib/event/netatmo.newValueCamera.js
  server/services/netatmo/lib/event/netatmo.newValueHomeCoach.js
  server/services/netatmo/lib/event/netatmo.newValueStation.js
  server/services/netatmo/lib/event/netatmo.newValueThermostat.js
  server/services/netatmo/lib/event/netatmo.newValueValve.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
  server/test/services/netatmo/data/getHomeData.json
  server/test/services/netatmo/data/gethomecoachsdata.json
  server/test/services/netatmo/lib/commands/netatmo.getHealthyHomeCoachData.test.js
  server/test/services/netatmo/lib/commands/netatmo.getHomeData.test.js
  server/test/services/netatmo/lib/commands/netatmo.getHomeStatusData.test.js
  server/test/services/netatmo/lib/commands/netatmo.getSensors.test.js
  server/test/services/netatmo/lib/commands/netatmo.getStationsData.test.js
  server/test/services/netatmo/lib/commands/netato.getThermostatsData.test.js
  server/test/services/netatmo/lib/events/netatmo.newValueCamera.test.js
  server/test/utils/format.test.js
  server/utils/format.js
Due: server, front

Fix password update
  server/lib/user/user.update.js
  server/lib/user/user.updateBySelector.js
  server/test/lib/user/user.update.test.js
  server/test/lib/user/user.updateBySelector.test.js
Due: server

make reset password work for admin user
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
  front/src/routes/settings/settings-users/edit-user/ResetPassword.jsx
Due: front

Now possible to edit preferences
  front/src/routes/settings/settings-users/edit-user/EditPreferences.jsx
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
Due: front

Oops forget '.only' in tests
  server/test/services/netatmo/lib/commands/netatmo.getSensors.test.js
  server/test/utils/format.test.js
Due: server

Dashboard are now private
  front/src/actions/dashboard/index.js
  front/src/routes/dashboard/index.js
  server/api/controllers/dashboard.controller.js
  server/lib/dashboard/dashboard.create.js
  server/lib/dashboard/dashboard.destroy.js
  server/lib/dashboard/dashboard.get.js
  server/lib/dashboard/dashboard.getBySelector.js
  server/lib/dashboard/dashboard.update.js
  server/migrations/20210129155044-multi-user.js
  server/models/dashboard.js
Due: server, front

It's now possible to delete a user
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-users/UserCard.jsx
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/index.js
Due: front

user shouldn't be able to delete his own account
  server/api/controllers/user.controller.js
  server/test/controllers/user/user.delete.test.js
Due: server

Get user should be searchable & orderable
  server/lib/user/user.get.js
  server/test/lib/user/user.get.test.js
Due: server

Fix edit user page
  front/src/actions/profile.js
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
  front/src/routes/settings/settings-users/edit-user/index.js
Due: front

change upateDeviceFeature condition line 28
  front/src/components/device/UpdateDeviceFeature.jsx
Due: front

Modification of the error handling for the name of the house on the front side
  front/src/actions/house.js
  front/src/components/house/EditHouse.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
Due: front

Forgot unit
  server/lib/device/humidity-sensor/humidity-sensor.command.js
Due: server

Forget prettier
  front/src/components/device/UpdateDeviceFeature.jsx
Due: front

Add units percent
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/lib/device/humidity-sensor/humidity-sensor.getHumidityInRoom.js
Due: server

Missing unit
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Due: server

Change on netatmo.updateCamera.js to take into account cameras that do not have an associated module following reour @ Tlse-Vins
  server/services/netatmo/lib/update/netatmo.updateCamera.js
Due: server

Remove transaction in location.create and device.saveState
  server/lib/device/device.saveState.js
  server/lib/location/location.create.js
Due: server

Add test to location.create
  server/test/lib/location/location.test.js
Due: server

Add test to test device.saveState performance
  server/test/lib/device/device.saveState.test.js
Due: server

First commit, add starting rhasspy
  server/services/index.js
  server/services/rhasspy/index.js
  server/services/rhasspy/lib/commands/rhasspy.connect.js
  server/services/rhasspy/lib/commands/rhasspy.init.js
  server/services/rhasspy/lib/commands/rhasspy.installRhasspyContainer.js
  server/services/rhasspy/lib/constants.js
  server/services/rhasspy/lib/docker/gladys-rhasspy-container.json
  server/services/rhasspy/lib/docker/gladys-rhasspy-env.sh
  server/services/rhasspy/lib/index.js
  server/services/rhasspy/package.json
  server/utils/constants.js
Due: server

Fix database locked SQLITE busy (#1061)
  server/lib/device/device.saveState.js
  server/lib/location/location.create.js
  server/test/lib/device/device.saveState.test.js
  server/test/lib/location/location.test.js
Due: server

4.0.5
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix tests & add more retrictions on routes (admin)
  front/src/routes/settings/settings-users/index.js
  server/api/middlewares/adminMiddleware.js
  server/api/routes.js
  server/seeders/20190506074218-dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/controllers/user/user.getBySelector.test.js
  server/test/lib/dashboard/dashboard.test.js
Due: server, front

Fix tests
  server/test/lib/dashboard/dashboard.test.js
Due: server

Hide settings for non-admin users
  front/src/components/header/index.jsx
Due: front

Correction bug writing first values
  server/utils/format.js
Due: server

Improve Gladys Plus performance
  front/src/routes/settings/settings-system/index.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/gateway.refreshUserKeys.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/lib/state/index.js
  server/lib/user/user.create.js
  server/lib/user/user.init.js
  server/lib/user/user.update.js
  server/lib/user/user.updatePassword.js
  server/lib/variable/variable.setValue.js
  server/package-lock.json
  server/package.json
  server/test/lib/variable/variable.setValue.test.js
  server/utils/constants.js
Due: server, front

Add docker legacy tags step to Github Workflow
  .github/workflows/docker-release-build.yml
Due: none

New line
  .github/workflows/docker-release-build.yml
Due: none

Add legacy Docker tags step to Github Workflow (#1063)
  .github/workflows/docker-release-build.yml
Due: none

4.0.6
  package-lock.json
  package.json
Due: none

--wip-- [skip ci]
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/withings.deleteDevices.js
  server/services/withings/lib/withings.getServiceId.js
  server/services/withings/lib/withings.poll.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/lib/withings.deleteDevices.test.js
  server/test/services/withings/lib/withings.deleteVar.test.js
  server/test/services/withings/lib/withings.getServiceId.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
  server/test/services/withings/lib/withings.saveVar.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
