Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

fix(front): make the sort selects read as controls, and give every select its missing arrow (#3047)
  front/src/components/layout/CardFilter.jsx
  front/src/components/layout/SortSelect.css
  front/src/components/layout/SortSelect.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/style.css
  front/src/routes/history/style.css
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/all/lan-manager/device-page/LANManagerDeviceTab.jsx
  front/src/routes/integration/all/lan-manager/device-page/index.js
  front/src/style/index.css
Due: front

Free Mobile: flag the built-in integration as soon deprecated (#3048)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/free-mobile/FreeMobile.jsx
  front/src/routes/scene/edit-scene/TypePicker.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendSms.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/typesCatalog.js
Due: front

Scene: allow a calculated volume in the "Talk on a speaker" action (#3004)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.playNotification.test.js
Due: server, front

fix(server): start external integrations on kernels without CFS bandwidth control (#3034)
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.start.js
  server/lib/external-integration/externalIntegration.startSubContainer.js
  server/lib/system/system.createContainer.js
  server/test/lib/external-integration/externalIntegration.start.test.js
  server/test/lib/external-integration/externalIntegration.subContainers.test.js
  server/test/lib/system/system.createContainer.test.js
Due: server

fix(dashboard): weather icons too small and washed out in light mode (rebase of #3016) (#3049)
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/style/index.css
Due: front

5.0.1 (#3050)
  package-lock.json
  package.json
Due: none

feat(thermostat): add the schedule matching and validation helpers
  server/test/utils/thermostatSchedule.test.js
  server/test/utils/thermostatValidateSchedule.test.js
  server/utils/thermostatSchedule.js
  server/utils/thermostatValidateSchedule.js
Due: server

feat(thermostat): declare the dashboard box type
  server/lib/device/device.migrate.js
  server/models/dashboard.js
  server/test/lib/device/device.migrate.test.js
  server/utils/constants.js
Due: server

feat(thermostat): add the weekly schedule tables
  server/migrations/20260823000000-create-thermostat-schedule.js
  server/models/index.js
  server/models/thermostat_schedule.js
  server/models/thermostat_schedule_slot.js
  server/test/models/thermostat_schedule.test.js
  server/utils/thermostatConstants.js
Due: server

feat(thermostat): add the thermostat integration service
  server/services/index.js
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/index.js
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.createDevice.js
  server/services/thermostat/lib/thermostat.createSchedule.js
  server/services/thermostat/lib/thermostat.deleteSchedule.js
  server/services/thermostat/lib/thermostat.deviceConfig.js
  server/services/thermostat/lib/thermostat.getDevices.js
  server/services/thermostat/lib/thermostat.getSchedules.js
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/services/thermostat/lib/thermostat.postDelete.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/services/thermostat/lib/thermostat.setVariable.js
  server/services/thermostat/lib/thermostat.updateSchedule.js
  server/services/thermostat/package.json
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/index.test.js
  server/test/services/thermostat/lib/index.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers2.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.test.js
  server/test/services/thermostat/lib/thermostat.deviceConfig.test.js
  server/test/services/thermostat/lib/thermostat.devices.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Due: server

feat(thermostat): add the English, French and German translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

feat(thermostat): add the integration pages
  front/src/assets/integrations/cover/thermostat.jpg
  front/src/components/app.jsx
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/thermostat/ThermostatPage.jsx
  front/src/routes/integration/all/thermostat/device-page/DeviceTab.jsx
  front/src/routes/integration/all/thermostat/device-page/ThermostatDeviceBox.jsx
  front/src/routes/integration/all/thermostat/device-page/actions.js
  front/src/routes/integration/all/thermostat/device-page/index.js
  front/src/routes/integration/all/thermostat/device-page/style.css
  front/src/routes/integration/all/thermostat/edit-page/EditForm.jsx
  front/src/routes/integration/all/thermostat/edit-page/actions.js
  front/src/routes/integration/all/thermostat/edit-page/index.js
  front/src/routes/integration/all/thermostat/edit-page/style.css
  front/src/routes/integration/all/thermostat/schedule-page/ScheduleEditor.jsx
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  front/src/routes/integration/all/thermostat/schedule-page/actions.js
  front/src/routes/integration/all/thermostat/schedule-page/index.js
  front/src/routes/integration/all/thermostat/schedule-page/style.css
Due: front

feat(thermostat): add the dashboard widget
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/components/boxs/thermostat/CircularGauge.jsx
  front/src/components/boxs/thermostat/EditThermostatBox.jsx
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/components/boxs/thermostat/deviceConfig.js
  front/src/components/boxs/thermostat/gaugeGeometry.js
  front/src/components/boxs/thermostat/scheduleLookup.js
  front/src/components/boxs/thermostat/style.css
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/utils/thermostatPresetColors.js
Due: front

fix(thermostat): harden the regulation loop against out-of-range input
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/routes/integration/all/thermostat/edit-page/actions.js
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  front/src/routes/integration/all/thermostat/schedule-page/actions.js
  server/migrations/20260823000000-create-thermostat-schedule.js
  server/models/thermostat_schedule.js
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.createSchedule.js
  server/services/thermostat/lib/thermostat.updateSchedule.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers2.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
  server/utils/thermostatConstants.js
Due: server, front

fix(thermostat): defer the preset write to the end of the drag
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/api/thermostat.controller.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers2.test.js
Due: server, front

docs(thermostat): add the living specs for the integration
  docs/specs/dashboard-flexible-layout-and-widgets.md
  docs/specs/device-migration.md
  docs/specs/thermostat.md
Due: none

chore(thermostat): drop dead styles and stop the services the tests start
  front/src/components/boxs/thermostat/style.css
  server/test/services/thermostat/index.test.js
Due: server, front

fix(thermostat): make the dial focusable, and restore the back link
  front/src/components/boxs/thermostat/CircularGauge.jsx
  front/src/routes/integration/all/thermostat/ThermostatPage.jsx
Due: front

test(thermostat): cover the remaining defensive branches
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Due: server

fix(thermostat): keep overnight slots when copying a day onto other days
  server/test/utils/thermostatSchedule.test.js
  server/utils/thermostatSchedule.js
Due: server

fix(thermostat): address the review feedback on units, manual holds and cleanup
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.deleteSchedule.js
  server/services/thermostat/lib/thermostat.detachSchedule.js
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/services/thermostat/lib/thermostat.setVariable.js
  server/services/thermostat/package-lock.json
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers.test.js
  server/test/services/thermostat/lib/thermostat.detachSchedule.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Due: server, front

fix(thermostat): stop the return to the schedule from re-arming manual mode
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
Due: server, front

docs(thermostat): correct the stretch claim on the thermostat box spec
  docs/specs/dashboard-flexible-layout-and-widgets.md
Due: none

fix(thermostat): stop the widget starting or faking heating it never asked for
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
Due: server, front

fix(thermostat): expire a permanent manual hold once a schedule is attached
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
Due: server, front

feat(thermostat): drive a real thermostat with the weekly schedules
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/EditThermostatBox.jsx
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/components/boxs/thermostat/deviceConfig.js
  front/src/components/boxs/thermostat/operatingState.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/edit-page/EditForm.jsx
  front/src/routes/integration/all/thermostat/edit-page/actions.js
  front/src/routes/integration/all/thermostat/edit-page/index.js
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.createDevice.js
  server/services/thermostat/lib/thermostat.deviceConfig.js
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/services/thermostat/lib/thermostat.postDelete.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/services/thermostat/lib/thermostat.setVariable.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.test.js
  server/test/services/thermostat/lib/thermostat.devices.test.js
  server/test/services/thermostat/lib/thermostat.external.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
  server/utils/thermostatConstants.js
Due: server, front

perf(thermostat): cache the runtime feature keys behind the ownership check
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.createDevice.js
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/services/thermostat/lib/thermostat.postDelete.js
  server/services/thermostat/lib/thermostat.setVariable.js
  server/test/services/thermostat/lib/thermostat.devices.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Due: server

fix(thermostat): make the widget reachable by touch, keyboard and screen readers
  front/src/components/boxs/thermostat/CircularGauge.jsx
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/components/boxs/thermostat/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix(thermostat): show the widget for a thermostat that was never driven
  front/src/components/boxs/thermostat/ThermostatBox.jsx
Due: front

fix(thermostat): make the schedule editor readable and stop it blocking saves
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/schedule-page/ScheduleEditor.jsx
  front/src/routes/integration/all/thermostat/schedule-page/style.css
Due: front

feat(thermostat): report the suspended state, and summarise the device card
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/CircularGauge.jsx
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/components/boxs/thermostat/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/device-page/ThermostatDeviceBox.jsx
  front/src/routes/integration/all/thermostat/device-page/style.css
Due: front

fix(thermostat): make the schedule editor operable without a pointer
  front/src/routes/integration/all/thermostat/schedule-page/ScheduleEditor.jsx
Due: front

refactor(thermostat): move the integration menu to the Horizon top tabs
  front/src/routes/integration/all/thermostat/ThermostatPage.jsx
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  front/src/routes/integration/all/thermostat/schedule-page/index.js
Due: front

fix(mqtt): re-subscribe to the custom topics of devices on connection
  server/services/mqtt/lib/connect.js
  server/test/services/mqtt/lib/connect.test.js
Due: server

Dashboard: add a tide widget for harbours worldwide
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/tide/EditTide.jsx
  front/src/components/boxs/tide/Tide.jsx
  front/src/components/boxs/tide/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/api/controllers/house.controller.js
  server/api/routes.js
  server/lib/house/house.getTideState.js
  server/lib/house/house.getTideStation.js
  server/lib/house/house.tideConstants.js
  server/lib/house/index.js
  server/models/dashboard.js
  server/package-lock.json
  server/package.json
  server/test/controllers/house/house.test.js
  server/test/lib/house/house.getTideState.test.js
  server/utils/constants.js
Due: server, front

Tide widget: read the clock hand on the scale its own numbers use
  front/src/components/boxs/tide/Tide.jsx
Due: front

Tide widget: document why the ESM predictor dependency is kept
  docs/specs/tide-widget.md
  server/lib/house/house.getTideState.js
Due: server

Tide widget: cover the station refresh paths and the time changes
  server/test/lib/house/house.getTideState.test.js
Due: server

Tide widget: say when the list of houses could not be loaded
  front/src/components/boxs/tide/EditTide.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Tide widget: never predict a tide from the coast the house left
  server/lib/house/house.getTideStation.js
  server/test/lib/house/house.getTideState.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
