Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Fix value check in BadgeNumberDeviceValue component to handle null values
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Due: front

Add DistanceSensorDeviceValue component and refactor BadgeNumberDeviceValue for improved unit handling
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/DistanceSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/RawDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
Due: front

Add distance unit conversion to Chart component for user preferences
  front/src/components/boxs/chart/Chart.jsx
Due: front

Refactor Chart component for improved readability and fix IconBinaryDeviceValue mapping
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
Due: front

Update BinaryDeviceValue and translations for door and window states to use 'opened' terminology
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Add distance unit conversion to GaugeBox component based on user preferences
  front/src/components/boxs/gauge/GaugeBox.jsx
Due: front

Refactor distance unit handling to system units and improve conversion logic
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/DistanceSensorDeviceValue.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  server/test/utils/units.test.js
  server/utils/constants.js
  server/utils/unit-conversions.js
  server/utils/units.js
Due: server, front

Enhance unit conversion logic to handle null values and ensure correct unit format for charts
  server/utils/units.js
Due: server

Refactor unit conversion logic to streamline null value handling for correct unit format in charts
  server/utils/units.js
Due: server

Refactor unit conversion logic to improve handling of null values and ensure correct unit format for charts
  server/utils/units.js
Due: server

Refactor unit conversion logic to improve handling of null values and simplify unit determination
  server/test/utils/units.test.js
  server/utils/unit-conversions.js
  server/utils/units.js
Due: server

Increase Error 500 log level to warn in logs (#2331)
  server/api/middlewares/errorMiddleware.js
Due: server

fix(demo): Fix temperature chart on Home dashboard
  front/src/config/demo.js
Due: front

Zigbee2mqtt: Upgrade to 2.4.0
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Due: server

4.60.0
  package-lock.json
  package.json
Due: none

Add new child_lock
  server/services/zigbee2mqtt/exposes/binaryType.js
Due: server

Add default to zstack
  server/services/zigbee2mqtt/adapters/index.js
Due: server

Fix condition on variable with decimal values
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Due: front

Add zstack as default
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/test/services/zigbee2mqtt/lib/config/z2m_default_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_mqtt-other_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_mqtt_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_port_config.yaml
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
Due: server

Zigbee2mqtt: Upgrade to 2.4.0 (#2334)
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/services/zigbee2mqtt/lib/constants.js
  server/test/services/zigbee2mqtt/lib/config/z2m_default_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_mqtt-other_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_mqtt_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_port_config.yaml
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
Due: server

Fix condition on variable with decimal values (#2335)
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Due: front

Demo frontend: Fix temperature chart on dashboard (#2333)
  front/src/config/demo.js
Due: front

Fix typo weather widget in FR
  front/src/config/i18n/fr.json
Due: front

Refactor unit conversion functions for clarity and consistency
  server/utils/unit-conversions.js
  server/utils/units.js
Due: server

Refactor unit conversion logic for improved readability and consistency
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/DistanceSensorDeviceValue.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  server/utils/units.js
Due: server, front

Refactor unit conversion constants for clarity and consistency
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  server/test/utils/units.test.js
  server/utils/constants.js
  server/utils/unit-conversions.js
Due: server, front

fix deadlink readme page
  README.md
Due: none

fix deadlink
  README.md
Due: none

Refactor Tessie service: remove unused ESLint config, enhance vehicle model handling, and implement scopes configuration
  front/src/assets/integrations/devices/vehicle/tesla/modely/tesla-modely-black.jpg
  front/src/assets/integrations/devices/vehicle/tesla/modely/tesla-modely-blue.jpg
  front/src/assets/integrations/devices/vehicle/tesla/modely/tesla-modely-grey.jpg
  front/src/assets/integrations/devices/vehicle/tesla/modely/tesla-modely-pearlwhite.jpg
  front/src/assets/integrations/devices/vehicle/tesla/modely/tesla-modely-red.jpg
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tessie/TessieDeviceBox.jsx
  front/src/routes/integration/all/tessie/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/tessie/setup-page/index.js
  server/services/tessie/.eslintrc.json
  server/services/tessie/api/tessie.controller.js
  server/services/tessie/lib/index.js
  server/services/tessie/lib/tessie.connect.js
  server/services/tessie/lib/tessie.convertVehicle.js
  server/services/tessie/lib/tessie.init.js
  server/services/tessie/lib/utils/tessie.buildScopesConfig.js
  server/services/tessie/lib/utils/tessie.constants.js
  server/utils/constants.js
Due: server, front

Add pressure sensor support and unit conversions for kPa
  front/src/components/boxs/device-in-room/device-features/sensor-value/LevelSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/PressureSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/test/utils/units.test.js
  server/utils/constants.js
  server/utils/unit-conversions.js
Due: server, front

Update unit conversion documentation to include additional units
  server/utils/units.js
Due: server

Fix sensor value mappings for level sensors in DISPLAY_BY_FEATURE_CATEGORY and DISPLAY_BY_FEATURE_TYPE
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Due: front

On dashboard, convert distance units between US imperial and SI systems (#2323)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/DistanceSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  server/test/utils/units.test.js
  server/utils/constants.js
  server/utils/unit-conversions.js
  server/utils/units.js
Due: server, front

Add internationalization support to device components
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Add outside temperature feature and improve vehicle command handling
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/tessie/lib/device/netatmo.buildFeaturesCommon.js
  server/services/tessie/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/tessie/lib/device/netatmo.buildFeaturesSpecifEnergy.js
  server/services/tessie/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/tessie/lib/device/netatmo.convertDeviceEnergy.js
  server/services/tessie/lib/device/netatmo.convertDeviceWeather.js
  server/services/tessie/lib/device/netatmo.updateNRV.js
  server/services/tessie/lib/device/tessie.buildFeaturesBattery.js
  server/services/tessie/lib/device/tessie.buildFeaturesCharge.js
  server/services/tessie/lib/device/tessie.buildFeaturesClimate.js
  server/services/tessie/lib/device/tessie.buildFeaturesCommand.js
  server/services/tessie/lib/device/tessie.buildFeaturesConsumption.js
  server/services/tessie/lib/device/tessie.buildFeaturesDrive.js
  server/services/tessie/lib/device/tessie.buildFeaturesState.js
  server/services/tessie/lib/device/tessie.convertVehicle.js
  server/services/tessie/lib/index.js
  server/services/tessie/lib/tessie.connect.js
  server/services/tessie/lib/tessie.convertVehicle.js
  server/services/tessie/lib/tessie.discoverDevices.js
  server/services/tessie/lib/tessie.init.js
  server/services/tessie/lib/tessie.loadDeviceDetails.js
  server/services/tessie/lib/tessie.loadVehicles.js
  server/services/tessie/lib/tessie.pollRefreshingValues.js
  server/services/tessie/lib/tessie.saveStatus.js
  server/services/tessie/lib/update/netatmo.updateNAMain.js
  server/services/tessie/lib/utils/tessie.buildScopesConfig.js
  server/services/tessie/lib/utils/tessie.constants.js
  server/utils/constants.js
Due: server, front

Fix formatting issues and improve consistency in JSON and JavaScript files
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/tessie/device-page/index.js
  front/src/routes/integration/all/tessie/discover-page/index.js
  server/services/tessie/lib/device/tessie.buildFeaturesBattery.js
  server/services/tessie/lib/device/tessie.buildFeaturesCharge.js
  server/services/tessie/lib/device/tessie.buildFeaturesClimate.js
  server/services/tessie/lib/device/tessie.buildFeaturesCommand.js
  server/services/tessie/lib/device/tessie.buildFeaturesDrive.js
  server/services/tessie/lib/device/tessie.convertDeviceNotSupported.js
  server/services/tessie/lib/device/tessie.convertVehicle.js
  server/services/tessie/lib/index.js
  server/services/tessie/lib/tessie.connect.js
  server/services/tessie/lib/tessie.discoverDevices.js
  server/services/tessie/lib/tessie.setValue.js
  server/services/tessie/lib/tessie.updateValues.js
  server/services/tessie/lib/update/netatmo.updateNAModule1.js
  server/services/tessie/lib/update/netatmo.updateNAModule2.js
  server/services/tessie/lib/update/netatmo.updateNAModule3.js
  server/services/tessie/lib/update/netatmo.updateNAModule4.js
  server/services/tessie/lib/update/netatmo.updateNAPlug.js
  server/services/tessie/lib/update/netatmo.updateNATherm1.js
  server/services/tessie/lib/update/netatmo.updateNRV.js
  server/services/tessie/lib/update/tessie.updateBattery.js
  server/services/tessie/lib/update/tessie.updateCharge.js
  server/services/tessie/lib/update/tessie.updateClimate.js
  server/services/tessie/lib/utils/tessie.constants.js
  server/services/tessie/package-lock.json
  server/services/tessie/package.json
  server/utils/constants.js
Due: server, front

Electrical Vehicule : Add command control, binary states translations & battery level component (#2324)
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BatteryLevelFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Electric Vehicle: Add tire pressure support with unit conversion (#2338)
  front/src/components/boxs/device-in-room/device-features/sensor-value/PressureSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/test/utils/units.test.js
  server/utils/constants.js
  server/utils/unit-conversions.js
  server/utils/units.js
Due: server, front

Fix deadlinks in README (#2337)
  README.md
Due: none

Fix typo weather widget in FR (#2336)
  front/src/config/i18n/fr.json
Due: front

Path conditions:
  server: any of: server
  front: any of: front
