Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Update cn.json
  front/src/config/i18n/cn.json
Due: front

Remove specific error handling on this part, because for the moment i have no clue on how to correctly test it
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
Due: server

Fix set objectsupport
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.formaters.js
Due: server

feat(zigbee2mqtt): Add Philips Hue mode 8718699673147l (#1170)
  server/services/zigbee2mqtt/model/Philips.js
Due: server

feat(zigbee2mqtt): Add Adeo devices (#1169)
  server/services/zigbee2mqtt/model/Adeo.js
  server/services/zigbee2mqtt/model/index.js
Due: server

Fix get camera image command
  server/lib/device/camera/camera.command.js
  server/test/lib/device/camera/camera.command.test.js
Due: server

Fix light turn on/turn off command
  server/lib/device/light/light.command.js
  server/test/lib/device/light/light.command.test.js
Due: server

Fix chat context issues in camera, temperature, humidity & light commands (#1177)
  server/lib/device/camera/camera.command.js
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/lib/device/light/light.command.js
  server/lib/device/temperature-sensor/temperature-sensor.command.js
  server/test/lib/brain/brain.e2e.test.js
  server/test/lib/device/camera/camera.command.test.js
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
  server/test/lib/device/light/light.command.test.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
Due: server

Replace moment by dayjs in caldav service (#1174)
  server/package.json
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/index.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

Add Enable/disable CalDAV calendar synchronization (#1091)
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/CalDAV.js
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/account-page/actions.js
  front/src/routes/integration/all/caldav/account-page/index.js
  front/src/routes/integration/all/caldav/sync-page/SyncTab.jsx
  front/src/routes/integration/all/caldav/sync-page/actions.js
  front/src/routes/integration/all/caldav/sync-page/index.js
  server/api/controllers/calendar.controller.js
  server/lib/calendar/calendar.destroyEvents.js
  server/lib/calendar/calendar.get.js
  server/lib/calendar/index.js
  server/lib/index.js
  server/services/caldav/api/caldav.controller.js
  server/services/caldav/lib/calendar/calendar.disableCalendar.js
  server/services/caldav/lib/calendar/calendar.enableCalendar.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/index.js
  server/test/lib/calendar/calendar.event.test.js
  server/test/lib/calendar/calendar.test.js
  server/test/services/caldav/controllers/caldav.controller.test.js
  server/test/services/caldav/lib/calendar/disableCalendar.test.js
  server/test/services/caldav/lib/calendar/enableCalendar.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server, front

init oaut2 client feature
  front/src/components/oauth2/OAuth2Config.jsx
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/oauth2.controller.js
  server/config/oauth2/providers.json
  server/lib/oauth2/index.js
  server/lib/oauth2/oauth2.deleteVar.js
  server/lib/oauth2/oauth2.executeQuery.js
  server/lib/oauth2/oauth2.saveVar.js
  server/package.json
  server/seeders/20190226025931-variable.js
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/controllers/oauth2/oauth2.request.test.js
  server/test/lib/oauth2/oauth2manager.test.js
Due: server, front

init oaut2 client feature
  front/src/components/oauth2/OAuth2Config.jsx
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/oauth2.controller.js
  server/api/routes.js
  server/config/oauth2/providers.json
  server/lib/oauth2/index.js
  server/lib/oauth2/oauth2.deleteVar.js
  server/lib/oauth2/oauth2.executeQuery.js
  server/lib/oauth2/oauth2.saveVar.js
  server/package.json
  server/seeders/20190226025931-variable.js
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/controllers/oauth2/oauth2.request.test.js
  server/test/lib/oauth2/oauth2manager.test.js
Due: server, front

Listen 100% tested
  server/test/services/rflink/lib/listen.test.js
Due: server

Check if bluetooth is ready before startScanning
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/test/services/bluetooth/lib/commands/bluetooth.applyOnPeripheral.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
Due: server

Fix weather & device in room houses context issue
  front/src/actions/dashboard/edit-boxes/editWeather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/house/RoomSelector.jsx
Due: front

Upgrade dependencies
  server/package-lock.json
  server/package.json
Due: server

Check only in production dependencies
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Add the ability to send a new device feature state in Gladys Plus Open API
  server/lib/gateway/gateway.handleNewMessage.js
Due: server

Fix #1179: fix weather & device in room houses context issue (#1182)
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  front/src/actions/dashboard/edit-boxes/editWeather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/house/RoomSelector.jsx
  server/package-lock.json
  server/package.json
Due: server, front

Add tests to gateway handleNewMessage open api
  server/test/lib/gateway/gateway.test.js
Due: server

Add the ability to send a new device feature state in Gladys Plus Open API (#1184)
  server/lib/gateway/gateway.handleNewMessage.js
  server/test/lib/gateway/gateway.test.js
Due: server

Increase Philips hue bridge scan timeout to 10s
  server/services/philips-hue/lib/light/light.getBridges.js
Due: server

Increase Philips hue bridge scan timeout to 10s (#1185)
  server/services/philips-hue/lib/light/light.getBridges.js
Due: server

feat(zigbee2mqtt): Add Lidl devices
  server/services/zigbee2mqtt/model/Lidl.js
  server/services/zigbee2mqtt/model/index.js
Due: server

feat(zigbee2mqtt): Fix IKEA TRADFRI motion sensor
  server/services/zigbee2mqtt/model/IKEA.js
Due: server

feat: support hue light brightness
  .gitignore
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  server/lib/device/light/index.js
  server/lib/device/light/light.setBrightness.js
  server/lib/scene/scene.actions.js
  server/services/philips-hue/lib/light/light.setValue.js
  server/services/philips-hue/lib/utils/consts.js
  server/utils/constants.js
Due: server, front

feat: add scene fade in action in front
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/LightFadeInParams.jsx
  server/utils/constants.js
Due: server, front

feat: hue light fade in (to be tested)
  server/lib/scene/scene.actions.js
  server/services/philips-hue/lib/light/index.js
  server/services/philips-hue/lib/light/light.scenario.js
  server/services/philips-hue/lib/light/light.setValue.js
  server/services/philips-hue/lib/utils/transformBrightnessValue.js
  server/utils/constants.js
Due: server

feat: use philips hue built-in duration method
  front/src/routes/scene/edit-scene/actions/LightFadeInParams.jsx
  server/lib/event/index.js
  server/services/philips-hue/lib/light/light.poll.js
  server/services/philips-hue/lib/light/light.scenario.js
  server/services/philips-hue/lib/light/light.setValue.js
Due: server, front

feat: add fade in feature to hue light
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/LightFadeInParams.jsx
  server/lib/device/device.scenario.js
  server/lib/device/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/package-lock.json
  server/services/philips-hue/lib/light/light.scenario.js
  server/services/philips-hue/lib/models/white.js
Due: server, front

feat: use conditional validation for scene parameters
  front/src/actions/device.js
  front/src/index.js
  front/src/routes/scene/edit-scene/actions/DelayActionParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  server/api/controllers/device.controller.js
  server/lib/scene/scene.actions.js
  server/migrations/20210124180223-scene-actions-parameters.js
  server/models/scene.js
Due: server, front

fix: prettier
  front/src/index.js
  front/src/routes/scene/edit-scene/actions/DelayActionParams.jsx
  front/src/routes/scene/edit-scene/actions/LightFadeInParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  server/migrations/20210124180223-scene-actions-parameters.js
  server/models/scene.js
  server/services/philips-hue/lib/light/light.poll.js
  server/services/philips-hue/lib/light/light.scenario.js
  server/services/philips-hue/lib/models/white.js
  server/services/philips-hue/lib/utils/transformBrightnessValue.js
  server/utils/constants.js
Due: server, front

fix: engines + rollback sqlite version
  package.json
Due: none

fix: rollback package-lock.json
  server/package-lock.json
Due: server

fix: prettier
  server/lib/scene/scene.executeActions.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

fix: tests
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.executeActions.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

feat: add tests
  server/services/philips-hue/lib/light/light.scenario.js
  server/test/services/philips-hue/light/light.scenario.test.js
  server/test/services/philips-hue/utils/transformBrighnessValue.test.js
Due: server

tests
  server/test/lib/device/device.scenario.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
