Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 90%
        flags:
          - server

flags:
  server:
    paths:
      - server

Add setValue function
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/publishMessage.js
  server/services/mqtt/lib/setValue.js
  server/test/services/mqtt/lib/setValue.test.js
  server/test/services/mqtt/mocks.test.js
Due: server

Add ability to edit read-only + display MQTT topic + copy to clipboard
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/device-page/DeviceForm.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Due: front

value sent to mqtt topic should be a string
  server/services/mqtt/lib/setValue.js
  server/test/services/mqtt/lib/setValue.test.js
Due: server

Make read-only text more explicit
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Due: front

Resolves #685 : Implement new MQTT API (#686)
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mqtt/device-page/DeviceForm.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/services/mqtt/lib/handleNewMessage.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/publishMessage.js
  server/services/mqtt/lib/setValue.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/test/services/mqtt/lib/setValue.test.js
  server/test/services/mqtt/mocks.test.js
  server/test/services/mqtt/mqttHandler.test.js
Due: server, front

Remove last change
  server/lib/scene/scene.executeSingleAction.js
  server/test/lib/scene/scene.executeSingleAction.test.js
Due: server

Force library update
  .circleci/config.yml
Due: none

Force alpine version to force OZW version
  docker/Dockerfile
Due: none

Install latest OZW version (but fixed on a given commit)
  .circleci/config.yml
  docker/Dockerfile
  server/services/zwave/package-lock.json
Due: server

Install OZW 1.6 in CircleCI & use 1.6.2 OZW Node
  .circleci/config.yml
  server/services/zwave/package.json
Due: server

Improve error handling
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/CalDAV.jsx
  front/src/routes/integration/all/caldav/actions.js
  front/src/routes/integration/all/caldav/index.js
  front/src/utils/consts.js
  server/services/caldav/api/caldav.controller.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/config/index.js
  server/test/services/caldav/controllers/caldav.controller.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
  server/test/services/caldav/lib/config/index.test.js
Due: server, front

Gladys Gateway: When user is not accepted locally, redirect to the link user page, with a message
  front/src/actions/main.js
  front/src/config/i18n/en.json
  front/src/routes/gateway-setup/LinkGatewayUser.jsx
Due: front

Upgrade gladys-gateway-js to the latest version
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Add "started_at" date in Gladys Gateway messages + fix user not accepted locally bug (#735)
  front/package-lock.json
  front/package.json
  front/src/actions/main.js
  front/src/config/i18n/en.json
  front/src/routes/gateway-setup/LinkGatewayUser.jsx
  server/package-lock.json
  server/package.json
Due: server, front

add test on executeactions
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Revert "add test on executeactions"
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Fix already pushed in a previous PR... Error in commit 5242a1a6477ea89ff7e5383f214b142797758603 ?
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
Due: front

Add Settings Tab for Zigbee2mqtt USB dongle configuration
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zigbee2mqtt/Zigbee2mqttPage.js
  front/src/routes/integration/all/zigbee2mqtt/commons/CheckStatus.js
  front/src/routes/integration/all/zigbee2mqtt/commons/actions.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
  package-lock.json
  server/api/controllers/variable.controller.js
  server/api/routes.js
  server/services/usb/api/usb.controller.js
  server/services/usb/index.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/index.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/status.js
  server/services/zigbee2mqtt/package.json
  server/utils/constants.js
Due: server, front

Reorder Docker commands for local dev'
  docker/Dockerfile
Due: none

bug fixes
  front/src/config/i18n/en.json
  front/src/routes/integration/all/rflink/device-page/DevicePage.jsx
  front/src/routes/integration/all/rflink/device-page/FoundDevices.jsx
  front/src/routes/integration/all/rflink/device-page/actions.js
  front/src/routes/integration/all/rflink/device-page/index.js
  front/src/routes/integration/all/rflink/settings-page/index.js
  server/services/rflink/lib/events/rflink.message.js
Due: server, front

bug fixes
  front/src/routes/integration/all/rflink/device-page/actions.js
  server/services/rflink/lib/commands/rflink.addNewDevice.js
  server/services/rflink/lib/events/rflink.message.js
Due: server, front

Manage secret params and variables
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  server/api/middlewares/errorMiddleware.js
  server/lib/device/device.create.js
  server/lib/device/device.getParam.js
  server/lib/device/index.js
  server/lib/variable/variable.getValue.js
  server/lib/variable/variable.setValue.js
  server/migrations/20200404195627-params-with-secret.js
  server/models/device.js
  server/models/device_param.js
  server/models/variable.js
  server/seeders/20190226025931-variable.js
  server/seeders/20190416085240-device-param.js
  server/services/mqtt/lib/connect.js
  server/test/controllers/variable/variable.test.js
  server/test/lib/device/device.create.test.js
  server/test/lib/variable/variable.getValue.test.js
  server/test/lib/variable/variable.setValue.test.js
  server/utils/coreErrors.js
Due: server, front

Fix #732: Fix RoomSelector when getHouse return houses without rooms
  front/src/components/house/RoomSelector.jsx
Due: front

Fix #732: Fix RoomSelector when getHouse return houses without rooms (#738)
  front/src/components/house/RoomSelector.jsx
Due: front

Initialisation branche DSP-W215
  front/src/config/integrations/device.en.json
Due: front

Add a page after gateway was connected with success, asking to backup the backup key
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-gateway/GatewayConnectedSuccess.jsx
  front/src/routes/settings/settings-gateway/GatewayPage.jsx
  front/src/routes/settings/settings-gateway/index.js
Due: front

Add a page after gateway was connected with success, asking to backup the backup key (#740)
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-gateway/GatewayConnectedSuccess.jsx
  front/src/routes/settings/settings-gateway/GatewayPage.jsx
  front/src/routes/settings/settings-gateway/index.js
Due: front

Add gladys plus login to restore backup in new instance
  front/src/actions/gateway.js
  front/src/actions/main.js
  front/src/config/i18n/en.json
  front/src/routes/signup/1-welcome/WelcomeTab.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/CreateAccountGladysGatewayTab.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/index.js
Due: front

Add MQTT topic to create device
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Due: server

Add MQTT topic to create device (#743)
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Due: server

Add UI to restore gladys plus backup at first login
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreBackup.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreBackupRow.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/RestoreInProgress.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/SetRestoreKey.jsx
  front/src/routes/signup/2-create-account-gladys-gateway/index.js
  server/api/controllers/gateway.controller.js
  server/lib/gateway/gateway.restoreBackupEvent.js
Due: server, front

Upgrade gladys-gateway-js to 3.2.5 to fix upload of large backups to Gladys Plus
  server/package-lock.json
  server/package.json
Due: server
