Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Update tests
  server/services/nextcloud-talk/lib/message/message.disconnect.js
  server/test/services/nextcloud-talk/index.test.js
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server

Add tests
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/getConfiguration.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/scanComplete.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Due: server

ESLint
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Unit tests
  server/test/services/zwave-js-ui/lib/commands/installZ2mContainer.test.js
Due: server

Wrong path for mocking
  server/test/services/zwave-js-ui/lib/commands/installZ2mContainer.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/commands/installMqttContainer.js
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
  server/test/services/zwave-js-ui/lib/commands/installMqttContainer.test.js
  server/test/services/zwave-js-ui/lib/commands/installZ2mContainer.test.js
Due: server

Default value
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
Due: server

Tests
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Prettier
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Prettier
  server/lib/scene/scene.actions.js
Due: server

Add VOC fetaure in badge number device
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Due: front

Improve writePoint
  server/services/influxdb/api/influxdb.controller.js
  server/services/influxdb/lib/influxdb.testConnection.js
  server/services/influxdb/lib/influxdb.write.js
  server/services/influxdb/lib/influxdb.writeBinary.js
  server/services/influxdb/lib/influxdb.writeFloat.js
  server/services/influxdb/package-lock.json
  server/services/influxdb/package.json
Due: server

Fix integer check
  server/services/influxdb/lib/influxdb.write.js
Due: server

Get container id from mountinfo when cgroup is empty
  server/lib/system/system.getGladysContainerId.js
  server/test/lib/system/system.getGladysContainerId.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Missing card
  front/src/routes/scene/edit-scene/ActionCard.jsx
Due: front

Tests
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Bug fix
  server/lib/scene/scene.actions.js
Due: server

Prettier
  server/test/lib/scene/scene.executeActions.test.js
Due: server

Update fr.json
  front/src/config/i18n/fr.json
Due: front

Rework infludb write in batch mode
  server/services/influxdb/lib/influxdb.listen.js
  server/services/influxdb/lib/influxdb.write.js
Due: server

Add timestamp ( because of batchmode )
  server/services/influxdb/lib/influxdb.write.js
Due: server

Fix call for DEFAULT_WriteOptions.batchSize
  server/services/influxdb/lib/influxdb.write.js
Due: server

Bottleneck
  server/services/influxdb/lib/influxdb.listen.js
  server/services/influxdb/lib/influxdb.write.js
  server/services/influxdb/package-lock.json
  server/services/influxdb/package.json
Due: server

Using default batch method
  server/services/influxdb/lib/influxdb.listen.js
  server/services/influxdb/lib/influxdb.write.js
Due: server

Fix precision according to Gladys precision (ms)
  server/services/influxdb/lib/influxdb.listen.js
Due: server

Test function
  front/src/routes/integration/all/influxdb/InfluxDBPage.jsx
Due: front

Check existence of mountinfo and cgroup files
  server/lib/system/system.getGladysContainerId.js
  server/test/lib/system/system.getGladysContainerId.test.js
Due: server

Improve homekit
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/index.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/test/services/homekit/index.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/createBridge.test.js
  server/test/services/homekit/lib/notifyChange.test.js
Due: server

Improve coverage
  server/test/services/homekit/lib/notifyChange.test.js
Due: server

Upgrade Gladys Gateway socket-io client to v4
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Upgrade Gladys Gateway socket-io client to v4 (#1651)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Fix typo HomeKit integration in FR (#1649)
  front/src/config/i18n/fr.json
Due: front

Add green/yellow/red badge on VOC sensors (#1646)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Due: front

Demo website should be deployed to production on version
  .github/workflows/build-demo-website.yml
Due: none

Path conditions:
  server: any of: server
  front: any of: front
