Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Remove unused Text import from MultiLevelDeviceFeature component
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
Due: front

Refactor RawDeviceValue and BadgeNumberDeviceValue components to remove unit conversion logic and simplify rendering
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/RawDeviceValue.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  server/utils/constants.js
  server/utils/units.js
Due: server, front

Refactor device feature types to remove electrical vehicle features and add target current support
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Remove CurrentSetpointDeviceFeature component and update related references; simplify i18n entries for target temperature
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/CurrentSetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Due: server, front

Remove unused electrical vehicle feature types and clean up related styles
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/CurrentSetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Remove unused air conditioning unit from device feature constants and add spacing in CSS
  front/src/components/boxs/device-in-room/device-features/style.css
  server/utils/constants.js
Due: server, front

Remove unused imperial units from DEVICE_FEATURE_UNITS_BY_CATEGORY for consistency
  server/utils/constants.js
Due: server

Add unit conversion tests for distance measurements
  server/test/utils/units.test.js
Due: server

Add missing newline in units test file for consistency
  server/test/utils/units.test.js
Due: server

Update distance conversion tests for improved precision
  server/test/utils/units.test.js
Due: server

Add unit tests for distance conversions and implement smart rounding function
  server/test/utils/units.test.js
Due: server

Refactor unit test imports for better readability and add missing newline at end of file
  server/test/utils/units.test.js
Due: server

Update unit conversion tests to reflect preference changes and improve precision
  server/test/utils/units.test.js
Due: server

Update distance conversion tests for improved precision in expected values
  server/test/utils/units.test.js
Due: server

Camera: Increase get camera image timeout to 20 seconds
  server/services/rtsp-camera/lib/getImage.js
Due: server

Camera: Increase get camera image timeout to 20 seconds (#2325)
  server/services/rtsp-camera/lib/getImage.js
Due: server

Zigbee2mqtt: Add Aqara W100 buttons
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

Matter : Display serial number & unique_id in UI (#2321)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/style.css
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.pairDevice.test.js
Due: server, front

Zigbee2mqtt: Add Aqara W100 buttons (#2326)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Due: server, front

4.59.0
  package-lock.json
  package.json
Due: none

Refactor device feature components to replace ThermostatDeviceFeature with SetpointDeviceFeature and update related logic
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Due: front

Refactor distance unit conversions: move to separate module and update imports
  server/utils/constants.js
  server/utils/unit-conversions.js
  server/utils/units.js
Due: server

Fix feature type and translation keys for electrical vehicle states
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Fix missing newline at end of file in translation JSON files
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Matter: Add PM2.5 sensors
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
Due: server

Update supported feature types and add default value for thermostat category
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
Due: front

Chart: Display Http error message in UI
  front/src/components/boxs/chart/Chart.jsx
  front/src/utils/formatErrors.js
  server/test/middlewares/errorMiddleware.test.js
  server/utils/httpErrors.js
Due: server, front

Add new device feature "Current SetPoint" (Target current) (#2322)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Add default values and step settings for electrical vehicle charge feature
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
Due: front

Fix user unit preference not loading on first login
  front/src/actions/login/login.js
Due: front

Fix user unit preference not loading on first login (#2330)
  front/src/actions/login/login.js
Due: front

Chart: Display Http error message in UI (#2329)
  front/src/components/boxs/chart/Chart.jsx
  front/src/utils/formatErrors.js
  server/test/middlewares/errorMiddleware.test.js
  server/utils/httpErrors.js
Due: server, front

Add IconBinaryDeviceValue for electrical vehicle state features
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Due: front

Update energy consumption constant description for electrical vehicle features
  server/utils/constants.js
Due: server

Update localization strings for last charge energy metrics and plugged status
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Fix missing newline at end of file in French localization JSON
  front/src/config/i18n/fr.json
Due: front

Add new device category: electrical vehicule (#2318)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Fix unit conversion references for distance measurements
  server/test/utils/units.test.js
  server/utils/unit-conversions.js
Due: server

Refactor unit conversion formatting for improved readability
  server/utils/unit-conversions.js
Due: server

Increase Error 500 log level to warn in logs
  server/api/middlewares/errorMiddleware.js
Due: server
