Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Fix OpenZwave in Alpine (#613)
  docker/Dockerfile
  server/services/zwave/lib/index.js
Due: server

add warm white
  server/services/magic-devices/lib/commands/magicdevices.poll.js
  server/services/magic-devices/lib/event/magicdevices.scan.js
Due: server

first part
  front/src/config/i18n/en.json
  front/src/routes/integration/all/magic-devices/Device.jsx
  front/src/routes/integration/all/magic-devices/DevicePanel.jsx
  front/src/routes/integration/all/magic-devices/SetupPanel.jsx
  front/src/routes/integration/all/magic-devices/edit-page/EditPage.jsx
  front/src/routes/integration/all/magic-devices/edit-page/index.js
  front/src/routes/integration/all/magic-devices/index.js
  server/services/magic-devices/api/magicdevices.controller.js
  server/services/magic-devices/lib/commands/magicdevices.poll.js
  server/services/magic-devices/lib/commands/magicdevices.setValue.js
  server/services/magic-devices/lib/event/magicdevices.scan.js
Due: server, front

Multiple fixes on Z-Wave device integration, BinaryDeviceFeature component and Gateway (#608)
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  package-lock.json
  server/lib/device/device.setValue.js
  server/lib/gateway/gateway.forwardWebsockets.js
  server/services/zwave/index.js
  server/services/zwave/lib/index.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.test.js
Due: server, front

adding color picker in front
  front/src/config/i18n/en.json
  front/src/routes/integration/all/magic-devices/Device.jsx
  front/src/routes/integration/all/magic-devices/SetupPanel.jsx
  front/src/routes/integration/all/magic-devices/index.js
Due: front

Remove useless error message in device.newStateEvent
  server/lib/device/device.newStateEvent.js
Due: server

handle zwave "node removed" message
  server/services/zwave/lib/events/zwave.nodeRemoved.js
  server/services/zwave/lib/index.js
  server/test/services/zwave/lib/zwaveManager.test.js
  server/utils/constants.js
Due: server

Improve node inclusion/exclusion process
  front/src/actions/integration.js
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zwave/node-operation-page/AddRemoveNode.jsx
  front/src/routes/integration/all/zwave/node-operation-page/index.js
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/routes/integration/all/zwave/setup-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/setup-page/actions.js
  front/src/routes/integration/all/zwave/setup-page/index.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/utils/constants.js
Due: server, front

Add edit device page
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zwave/edit-page/index.js
  front/src/routes/integration/all/zwave/node-page/Device.jsx
Due: front

color in UI (WIP not working, missing warm_white before setting rgb)
  front/package.json
  front/src/routes/integration/all/magic-devices/Device.jsx
  front/src/routes/integration/all/magic-devices/DevicePanel.jsx
  front/src/routes/integration/all/magic-devices/actions.js
  front/src/routes/integration/all/magic-devices/index.js
  server/services/magic-devices/lib/commands/magicdevices.setValue.js
Due: server, front

starting colors
  server/services/magic-devices/api/magicdevices.controller.js
  server/services/magic-devices/lib/commands/magicdevices.setValue.js
  server/services/magic-devices/lib/event/magicdevices.scan.js
Due: server

Zwave format device server-side
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/routes/integration/all/zwave/setup-page/actions.js
  server/services/zwave/lib/commands/zwave.getNodes.js
Due: server, front

Improve unit and display of devices
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  server/lib/device/device.newStateEvent.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/utils/getUnit.js
Due: server, front

Add mocked node data to zwave tests
  server/test/services/zwave/lib/nodesData.json
  server/test/services/zwave/lib/zwaveManager.test.js
Due: server

Sorta working :(
  front/src/routes/integration/all/magic-devices/Device.jsx
  front/src/routes/integration/all/magic-devices/SetupPanel.jsx
  front/src/routes/integration/all/magic-devices/actions.js
  front/src/routes/integration/all/magic-devices/index.js
  server/services/magic-devices/api/magicdevices.controller.js
  server/services/magic-devices/lib/commands/magicdevices.setValue.js
Due: server, front

Import OpenZwave DB from Github
  .circleci/build-image.sh
  docker/Dockerfile
Due: none

need a poll after scan or update this.devices callback
  front/src/routes/integration/all/magic-devices/actions.js
  server/services/magic-devices/lib/commands/magicdevices.poll.js
  server/services/magic-devices/lib/commands/magicdevices.setValue.js
Due: server, front

Switch newStateEvent to debug
  server/lib/device/device.newStateEvent.js
Due: server

Fix demo mode
  front/src/config/demo.json
Due: front

clean code + string state in db
  server/lib/device/device.newStringStateEvent.js
  server/lib/device/device.saveStringState.js
  server/lib/device/index.js
  server/lib/gateway/gateway.forwardWebsockets.js
  server/services/magic-devices/api/magicdevices.controller.js
  server/services/magic-devices/lib/commands/magicdevices.poll.js
  server/services/magic-devices/lib/commands/magicdevices.start.js
  server/services/magic-devices/lib/commands/mapKnownDevicesWithGladys.js
  server/services/magic-devices/lib/event/magicdevices.scan.js
  server/services/magic-devices/lib/index.js
  server/services/magic-devices/lib/utils/device.js
  server/utils/constants.js
Due: server

wtf ca a pas commit
  front/src/routes/integration/all/magic-devices/Device.jsx
  front/src/routes/integration/all/magic-devices/actions.js
Due: front

adding white types
  server/services/magic-devices/lib/commands/magicdevices.poll.js
  server/services/magic-devices/lib/utils/device.js
  server/utils/constants.js
Due: server

grande avance
  front/src/routes/integration/all/magic-devices/Device.jsx
  front/src/routes/integration/all/magic-devices/actions.js
  front/src/routes/integration/all/magic-devices/index.js
  server/services/magic-devices/api/magicdevices.controller.js
  server/services/magic-devices/lib/commands/magicdevices.poll.js
  server/services/magic-devices/lib/commands/magicdevices.setValue.js
Due: server, front

Pass string values from zigbee2mqtt to the dashboard
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Due: server

Get temperature in Celsius from sensors
  server/services/zigbee2mqtt/utils/features.js
Due: server

Management of plug devices
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/setValue.js
Due: server

Get activation state from the plugs with on-off switch
  server/services/zigbee2mqtt/utils/features.js
Due: server

Add pressure SI unit (hPa)
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  server/services/zigbee2mqtt/utils/features.js
  server/utils/constants.js
Due: server, front

npm run prettier corrections and clearer code
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertValue.js
Due: server, front

Zigbee2mqtt: Already created and new devices printed distinctly after a scan
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Due: front

Tests passed and run prettier
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
Due: server

Zigbee2mqtt: In reply to review
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertValue.js
Due: server, front

Update tests
  server/test/services/zigbee2mqtt/utils/convertCategory.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
Due: server

Zigbee2mqtt: Button integration (Xiaomi and IKEA Switch buttons)
  server/services/zigbee2mqtt/model/IKEA.js
  server/services/zigbee2mqtt/model/Xiaomi.js
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/services/zigbee2mqtt/utils/features.js
Due: server

Zigbee2mqtt: Added Leak and opening sensors + Dashboard update
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/convertValue.js
Due: server

Zigbee2mqtt: no feedback for sensor
  server/services/zigbee2mqtt/utils/features.js
Due: server

adding stuff
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  server/lib/device/device.newStringStateEvent.js
Due: server, front

Path conditions:
  server: any of: server
  front: any of: front
