Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Remove outdated insomnia.json
  insomnia.json
Due: none

CI: prepare Docker release tags for Gladys Assistant 5
  .github/workflows/docker-release-build.yml
  .github/workflows/prepare-release.yml
Due: none

Update community health files for the 5.0.0 release
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SUPPORT.md
  README.md
  SECURITY.md
Due: none

Store the demo camera image without the data: prefix
  front/src/config/demo/assets.js
Due: front

Address maintainer feedback on community files
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SUPPORT.md
  README.md
  SECURITY.md
Due: none

Use a nicer garden snapshot for the demo camera (#3017)
  front/src/config/demo/assets.js
Due: front

Update community health files (#3020)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SUPPORT.md
  README.md
  SECURITY.md
Due: none

CI: only feed latest and v4 from stable release tags
  .github/workflows/docker-release-build.yml
Due: none

Remove outdated insomnia.json (#3018)
  insomnia.json
Due: none

CI: prepare Docker release tags for Gladys Assistant 5 (#3019)
  .github/workflows/docker-release-build.yml
  .github/workflows/prepare-release.yml
Due: none

5.0.0
  README.md
  docker/docker-compose.yml
  package-lock.json
  package.json
  server/services/example/README.md
Due: server

Store the README dashboard screenshot in the repository
  .github/images/gladys-dashboard-en.webp
  README.md
Due: none

Pin the running version in the digest-pinned image test
  server/test/lib/system/system.getGladysImage.test.js
Due: server

Fix host reboot/shutdown unavailable on AppArmor hosts
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Due: server

Fix host reboot/shutdown unavailable on AppArmor hosts: run the DBus helper container unconfined (#3022)
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Due: server

Mount the host D-Bus in the Docker install instructions
  README.md
  docker/docker-compose.yml
Due: none

fix(front): center the loader on the Activity page during the first load
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/style.css
Due: front

fix(front): center the loader on the Activity page during the first load (#3023)
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/style.css
Due: front

fix(dashboard): weather icons too small and washed out in light mode
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/style/index.css
Due: front

fix(dashboard): drop the ineffective weather icon crop, keep hourly emphasis
  front/src/components/boxs/weather/WeatherBox.jsx
Due: front

Scenes: add a "time ranges" scheduled trigger
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/InTimeRange.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/TimeRangesTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/style.css
  front/src/routes/scene/edit-scene/typesCatalog.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.init.js
  server/lib/scene/scene.resumeTimeRangeTriggers.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.inTimeRange.test.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.resumeTimeRangeTriggers.test.js
  server/test/lib/scene/triggers/scene.trigger.timeRange.test.js
  server/test/models/scene.test.js
  server/test/utils/timeRanges.test.js
  server/utils/constants.js
  server/utils/timeRanges.js
Due: server, front

Scenes: sort the time ranges, and stop pre-filling new ones
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/TimeRangesTrigger.jsx
Due: front

Scenes: fix the time-range trigger at shared and overlapping boundaries
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/TimeRangesTrigger.jsx
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.resumeTimeRangeTriggers.js
  server/lib/scene/scene.triggers.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.resumeTimeRangeTriggers.test.js
  server/test/lib/scene/triggers/scene.trigger.timeRange.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
  server/test/utils/timeRanges.test.js
  server/utils/timeRanges.js
Due: server, front

Scenes: fix the time-range boundary on partially shared days
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.addScene.js
  server/test/lib/scene/scene.addScene.test.js
Due: server, front

Release Gladys Assistant 5.0.0 (#3021)
  .github/images/gladys-dashboard-en.webp
  README.md
  docker/docker-compose.yml
  package-lock.json
  package.json
  server/services/example/README.md
  server/test/lib/system/system.getGladysImage.test.js
Due: server

Scenes: warn about a time-range trigger which can never fire
  server/lib/scene/scene.addScene.js
  server/test/lib/scene/scene.addScene.test.js
Due: server

Scenes: answer with the whole planning of the scene, not one trigger
  server/lib/scene/scene.resumeTimeRangeTriggers.js
  server/lib/scene/scene.triggers.js
  server/test/lib/scene/triggers/scene.trigger.timeRange.test.js
Due: server

Scenes: fix the formatting of the time-range trigger tests
  server/test/lib/scene/triggers/scene.trigger.timeRange.test.js
Due: server

fix(front): paint the Horizon scene on a fixed layer to stop dashboard scroll lag
  front/src/components/device/migrate/MigrateDeviceModal.jsx
  front/src/routes/chat/style.css
  front/src/routes/dashboard/style.css
  front/src/routes/history/style.css
  front/src/routes/integration/all/external-integration/components/Modal.jsx
Due: front

fix(front): address review — strong surface on the migrate dialog, spec update
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/device/migrate/style.css
Due: front

fix(front): paint the Horizon scene on a fixed layer to stop dashboard scroll lag (#3026)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/device/migrate/MigrateDeviceModal.jsx
  front/src/components/device/migrate/style.css
  front/src/routes/chat/style.css
  front/src/routes/dashboard/style.css
  front/src/routes/history/style.css
  front/src/routes/integration/all/external-integration/components/Modal.jsx
Due: front

fix(zigbee2mqtt): show an explicit error when the MQTT credentials are wrong
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/reset.js
  server/services/zigbee2mqtt/lib/status.js
  server/services/zigbee2mqtt/utils/getMqttConnectionError.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/reset.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
  server/test/services/zigbee2mqtt/utils/getMqttConnectionError.test.js
Due: server, front

fix(front): give the "Talk on a speaker" volume a Horizon slider (#3025)
  front/src/routes/scene/edit-scene/actions/PlayNotification.css
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
Due: front

fix(front): keep the mobile dashboard overflow menu inside the screen
  front/src/routes/dashboard/style.css
Due: front

Gladys Plus: warn when the instance is behind the hosted front
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/InstanceUpdateNotice.jsx
  front/src/components/header/index.jsx
  front/src/components/header/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/instanceVersion.js
  front/vite.config.mjs
Due: front

fix(server): start external integrations on kernels without CFS bandwidth control
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.start.js
  server/lib/external-integration/externalIntegration.startSubContainer.js
  server/lib/system/system.createContainer.js
  server/test/lib/external-integration/externalIntegration.start.test.js
  server/test/lib/external-integration/externalIntegration.subContainers.test.js
  server/test/lib/system/system.createContainer.test.js
Due: server

Echo the instance update notice with a dot on the mobile burger
  front/src/components/header/InstanceUpdateNotice.jsx
  front/src/components/header/index.jsx
  front/src/components/header/style.css
Due: front

fix(front): keep the mobile dashboard overflow menu inside the screen (#3032)
  front/src/routes/dashboard/style.css
Due: front

Stop polling system/info once the instance has caught up
  front/src/actions/main.js
  front/src/utils/instanceVersion.js
Due: front

Cover client-side login and logout races in the instance version check
  front/src/actions/main.js
  front/src/components/header/index.jsx
Due: front

Path conditions:
  server: any of: server
  front: any of: front
