Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Zigbee2mqtt: improve UI
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/EmptyState.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
Due: front

Zigbee2mqtt: code coverage
  server/services/zigbee2mqtt/index.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/discoverDevices.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controler.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/discoverDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
Due: server

add arduino service
  front/package-lock.json
  front/package.json
  front/src/assets/integrations/cover/arduino.jpg
  front/src/assets/integrations/cover/arduino.jpg:Zone.Identifier
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/device.en.json
  front/src/routes/integration/all/arduino/ArduinoPage.js
  front/src/routes/integration/all/arduino/device-page/Device.jsx
  front/src/routes/integration/all/arduino/device-page/DeviceForm.jsx
  front/src/routes/integration/all/arduino/device-page/DeviceTab.jsx
  front/src/routes/integration/all/arduino/device-page/actions.js
  front/src/routes/integration/all/arduino/device-page/index.js
  front/src/routes/integration/all/arduino/device-page/setup/Feature.jsx
  front/src/routes/integration/all/arduino/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/arduino/device-page/setup/index.js
  front/src/routes/integration/all/arduino/device-page/style.css
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
  front/src/routes/integration/all/arduino/setup-page/actions.js
  front/src/routes/integration/all/arduino/setup-page/index.js
  server/package-lock.json
  server/package.json
  server/services/arduino/api/arduino.controller.js
  server/services/arduino/index.js
  server/services/arduino/lib/connect.js
  server/services/arduino/lib/createStateRadio.js
  server/services/arduino/lib/parseData.js
  server/services/arduino/lib/sendCode.js
  server/services/arduino/lib/setup.js
  server/services/arduino/lib/shared.js
  server/services/arduino/package-lock.json
  server/services/arduino/package.json
  server/services/index.js
Due: server, front

add arduino service
  .circleci/build-image.sh
  .circleci/load_env.sh
Due: none

updating arduino service
  front/src/config/i18n/en.json
  front/src/routes/integration/all/arduino/device-page/DeviceTab.jsx
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
  server/services/arduino/lib/setup.js
Due: server, front

update arduino service
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/arduino/device-page/DeviceTab.jsx
  front/src/routes/integration/all/arduino/device-page/actions copy.js
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
Due: front

update arduino service
  front/src/config/i18n/en.json
  front/src/routes/integration/all/arduino/setup-page/SetupTab.jsx
Due: front

initial commit
  front/src/assets/integrations/cover/milight.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/integrations/device.en.json
  front/src/routes/integration/all/mi-light/MiLightPage.jsx
  front/src/routes/integration/all/mi-light/device-page/Device.jsx
  front/src/routes/integration/all/mi-light/device-page/DeviceForm.jsx
  front/src/routes/integration/all/mi-light/device-page/DevicePage.jsx
  front/src/routes/integration/all/mi-light/device-page/FoundDevices.jsx
  front/src/routes/integration/all/mi-light/device-page/actions.js
  front/src/routes/integration/all/mi-light/device-page/index.js
  front/src/routes/integration/all/mi-light/device-page/style.css
  front/src/routes/integration/all/mi-light/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mi-light/setup-page/actions.js
  front/src/routes/integration/all/mi-light/setup-page/index.js
  server/services/mi-light/api/milight.controller.js
  server/services/mi-light/index.js
  server/services/mi-light/lib/light/index.js
  server/services/mi-light/lib/light/light.configureBridge.js
  server/services/mi-light/lib/light/light.getBridges.js
  server/services/mi-light/lib/light/light.getZones.js
  server/services/mi-light/lib/light/light.init.js
  server/services/mi-light/lib/light/light.setValue.js
  server/services/mi-light/lib/utils/consts.js
  server/services/mi-light/lib/utils/parseExternalId.js
  server/services/mi-light/package-lock.json
  server/services/mi-light/package.json
Due: server, front

add mi-light service
  server/services/index.js
Due: server

broadcast address in discover
  server/services/mi-light/lib/light/light.getBridges.js
Due: server

Improve scene view by making it vertical
  front/package-lock.json
  front/package.json
  front/src/actions/scene.js
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionColumn.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/DelayActionParams.jsx
  front/src/routes/scene/edit-scene/actions/GetLastValueSensor.jsx
  front/src/routes/scene/edit-scene/actions/TelegramSendParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnLightParams.jsx
  front/src/routes/scene/index.js
  server/lib/device/device.get.js
  server/lib/room/room.get.js
  server/lib/scene/scene.get.js
  server/lib/user/user.get.js
  server/models/scene.js
Due: server, front

prettier and writting test
  server/services/mi-light/lib/light/index.js
  server/services/mi-light/lib/light/light.configureBridge.js
  server/services/mi-light/lib/light/light.getBridges.js
  server/services/mi-light/lib/light/light.getZones.js
  server/services/mi-light/lib/light/light.init.js
  server/services/mi-light/lib/light/light.setValue.js
  server/services/mi-light/lib/utils/parseExternalId.js
  server/test/services/mi-light/controllers/configureBridge.controller.test.js
  server/test/services/mi-light/controllers/getBridges.controller.test.js
  server/test/services/mi-light/controllers/getLights.controller.test.js
  server/test/services/mi-light/index.test.js
  server/test/services/mi-light/light/light.configureBridge.test.js
  server/test/services/mi-light/light/light.getBridges.test.js
  server/test/services/mi-light/light/light.getZones.test.js
  server/test/services/mi-light/light/light.setValue.test.js
  server/test/services/mi-light/mocks.test.js
  server/test/services/mi-light/utils/parseExternalId.test.js
Due: server

cleanup dependencies for milight
  server/services/mi-light/package-lock.json
  server/services/mi-light/package.json
Due: server

prettier on front
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/mi-light/device-page/Device.jsx
  front/src/routes/integration/all/mi-light/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mi-light/setup-page/actions.js
Due: front

MQTT: setValue publish value / fixes #645
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/publish.js
  server/services/mqtt/lib/publishMessage.js
  server/services/mqtt/lib/setValue.js
  server/test/services/mqtt/lib/setValue.test.js
Due: server

add mi-light test
  server/package.json
  server/services/mi-light/lib/light/light.configureBridge.js
  server/services/mi-light/lib/light/light.setValue.js
  server/services/mi-light/lib/utils/consts.js
  server/services/mi-light/lib/utils/parseExternalId.js
  server/test/services/mi-light/controllers/configureBridge.controller.test.js
  server/test/services/mi-light/controllers/getBridges.controller.test.js
  server/test/services/mi-light/controllers/getZones.controller.test.js
  server/test/services/mi-light/light/light.configureBridge.test.js
  server/test/services/mi-light/light/light.getBridges.test.js
  server/test/services/mi-light/light/light.getZones.test.js
  server/test/services/mi-light/light/light.setValue.test.js
  server/test/services/mi-light/mocks.test.js
  server/test/services/mi-light/utils/parseExternalId.test.js
Due: server

prettier
  server/test/services/mi-light/controllers/getBridges.controller.test.js
  server/test/services/mi-light/light/light.getBridges.test.js
Due: server

setValue test
  server/services/mi-light/lib/light/light.setValue.js
  server/test/services/mi-light/light/light.setValue.test.js
Due: server

Add trigger UI edition
  front/src/actions/scene.js
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Due: front

Improve display of trigger with units
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Due: front

Zigbee2mqtt: fix feature category types
  front/src/config/i18n/en.json
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/features.js
  server/services/zigbee2mqtt/utils/loadFeatures.js
  server/test/services/zigbee2mqtt/utils/convertCategory.test.js
Due: server, front

Update tests
  server/test/services/zigbee2mqtt/utils/convertCategory.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
Due: server

Pass string values from zigbee2mqtt to the dashboard
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Due: server

npm run prettier corrections and clearer code
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertValue.js
Due: server, front

Zigbee2mqtt: In reply to review
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertValue.js
Due: server, front

Zigbee2mqtt: convert value
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Due: server

Zigbee2mqtt: Already created and new devices printed distinctly after a scan
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Due: front

Tests passed and run prettier
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
Due: server

Zigbee2mqtt: Button integration (Xiaomi and IKEA Switch buttons)
  server/services/zigbee2mqtt/model/IKEA.js
  server/services/zigbee2mqtt/model/Xiaomi.js
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/services/zigbee2mqtt/utils/features.js
Due: server

Zigbee2mqtt: Added Leak and opening sensors + Dashboard update
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/convertValue.js
Due: server

Get activation state from the plugs with on-off switch
  server/services/zigbee2mqtt/utils/features.js
Due: server

Get temperature in Celsius from sensors
  server/services/zigbee2mqtt/utils/features.js
Due: server

Management of plug devices
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/setValue.js
Due: server

Add pressure SI unit (hPa)
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  server/services/zigbee2mqtt/utils/features.js
  server/utils/constants.js
Due: server, front

Zigbee2mqtt: In reply to review
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Due: front

npm run prettier corrections and clearer code
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Due: front

Update tests
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
Due: server

Zigbee2mqtt: no feedback for sensor
  server/services/zigbee2mqtt/utils/features.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
