Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Add nightly job to purge old messages (#2119)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  server/config/scheduler-jobs.js
  server/lib/message/index.js
  server/lib/message/message.purge.js
  server/test/lib/message/message.purge.test.js
  server/utils/constants.js
Due: server

Prevent user from updating his own role (#2115)
  server/api/controllers/user.controller.js
Due: server

feat(i18n): Add missing data message for different languages
  front/src/components/boxs/chart/Chart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.getDeviceFeaturesAggregates.js
Due: server, front

Caldav integration: Handle new until date for recurring events (#2107)
  server/lib/calendar/calendar.destroyEvents.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/lib/calendar/calendar.event.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Due: server

4.45.1
  package-lock.json
  package.json
Due: none

feat(chart): Update max_states to 300 in Chart.jsx
  front/src/components/boxs/chart/Chart.jsx
Due: front

refactor(chart): Update date format in Chart.jsx
  front/src/components/boxs/chart/Chart.jsx
Due: front

refactor(chart): Update date format and max_states in Chart.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  server/lib/device/device.getDeviceFeaturesAggregates.js
Due: server, front

refactor(i18n): Remove "missingDataOnInterval" key from language files
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Save last calendar view
  front/src/routes/calendar/index.js
Due: front

refactor(chart): Update max_states parameter in Chart.jsx
  front/src/components/boxs/chart/Chart.jsx
  server/lib/device/device.getDeviceFeaturesAggregates.js
Due: server, front

refactor(device): Simplify getDeviceFeaturesAggregates function
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Due: server

fix: Fix rendering issue in ApexChartComponent
  front/src/components/app.jsx
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/expanded-dashboard/index.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
Due: server, front

User can now have 1, 2 or 3 columns on dashboard (#2097)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

Calendar: Save last range selected (#2121)
  front/src/routes/calendar/index.js
Due: front

fixes review
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Due: server, front

prettier
  front/src/components/boxs/chart/ApexChartComponent.jsx
Due: front

fixes review
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
Due: front

Upgrade socket.io dependencies to improve Gladys Plus client reconnection
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Upgrade socket.io dependencies to improve Gladys Plus client reconnection (#2125)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Dashboard: Add binary charts + allow user to rename chart feature label (#2094)
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Due: server, front

4.46.0
  package-lock.json
  package.json
Due: none

chore: Refactor Chart.jsx to improve readability and maintainability
  front/src/components/boxs/chart/Chart.jsx
Due: front

fix: Update device feature label input placeholder
  front/src/components/boxs/chart/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/device-in-room/DeviceListWithDragAndDrop.jsx
Due: front

chore: Update import path for DeviceListWithDragAndDrop component
  front/src/components/boxs/chart/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/components/drag-and-drop/style.css
Due: front

fix: when multiple devices present, deleting a device replaced the name of the next device
  front/src/components/boxs/chart/EditChart.jsx
Due: front

fix: eslint
  front/src/components/boxs/chart/Chart.jsx
Due: front

Fix: Use custom feature name in non-binary charts (#2126)
  front/src/components/boxs/chart/Chart.jsx
Due: front

Chart: Dynamically adjust height based on number of features (#2117)
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
Due: front

Gladys Plus: Increase ackTimeout to 60s
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Gladys Plus: Increase ackTimeout to 60s (#2128)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

4.46.1
  package-lock.json
  package.json
Due: none

fix: Update device feature label input validation
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/components/drag-and-drop/style.css
Due: front

Ask AI in scene
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/lib/message/message.reply.js
  server/lib/scene/scene.actions.js
  server/utils/constants.js
Due: server, front

fix: Handle empty deviceFeaturesTreshold in Chart.jsx
  front/src/components/boxs/chart/Chart.jsx
Due: front

Fix: Device label in Chart & Device widget can be empty (#2127)
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/components/boxs/device-in-room/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/components/drag-and-drop/style.css
Due: front

chore: Refactor Chart.jsx to improve code readability and remove unused code
  front/src/components/boxs/chart/Chart.jsx
Due: front

Fix: Rollback socket-io to old version to prevent Gladys Plus disconnect
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

Fix: Rollback socket-io to old version to prevent Gladys Plus disconnect (#2130)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Due: server, front

4.46.2
  package-lock.json
  package.json
Due: none
