Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Add "Last 3 days" interval to dashboard chart durations
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/mcp/lib/buildSchemas.js
Due: server, front

Add an on-demand Claude autofix triggered by a /claude PR comment (#2932)
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-on-demand-autofix.yml
  .github/workflows/claude-scheduled-autofix.yml
Due: none

Back-port the routine's "do not watch the PR" rule into the versioned prompt
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
Due: none

feat(dashboard): priority+ overflow for the pill selector
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardTabs.jsx
  front/src/routes/dashboard/style.css
Due: front

fix(dashboard): header spacing and glass overflow menu
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
Due: front

Back-port the routine's "do not watch the PR" rule into the versioned prompt (#2934)
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
Due: none

feat(dashboard): Horizon glass is the one and only style
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/style.css
  server/lib/dashboard/dashboard.getBySelector.js
  server/migrations/20260815000000-add-dashboard-appearance-columns.js
  server/models/dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/utils/constants.js
Due: server, front

Add BLE advertisement streaming spec (Bluetooth sensors)
  AGENTS.md
  docs/specs/bluetooth-ble-sensors.md
  docs/specs/external-integrations.md
Due: none

Address the review: pin the demo to releases, align the integration pages
  .github/workflows/build-demo-website.yml
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/history.js
  front/src/config/demo/home.js
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
  front/src/config/demo/scenes.js
  front/src/config/demo/system.js
  front/src/routes/integration/all/xiaomi/edit-page/index.js
  front/src/utils/DemoHttpClient.js
Due: front

feat(front): export a device history as CSV from the device list
  front/src/components/boxs/chart/Chart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceExportCsvButton.jsx
  front/src/routes/devices/DeviceExportCsvModal.jsx
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/style.css
  front/src/utils/downloadDeviceFeaturesCsv.js
Due: front

feat(dashboard): Horizon editor and searchable widget picker
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/selectBoxType.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

feat(dashboard): editor v2 — in-place editing on the real dashboard
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/DashboardSettingsForm.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/EditPanel.jsx
  front/src/routes/dashboard/edit-dashboard/EditableBoxPreview.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

Modernize scene editor: categorized action/trigger picker with search, When/Then sections
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/TypePicker.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/typesCatalog.js
Due: front

Remove the device usage from the mobile list
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/helpers.jsx
Due: front

Link only the first version number of a changelog sentence
  front/src/routes/integration/all/external-integration/components/VersionLink.jsx
Due: front

fix(dashboard): edit panel margins and leftover glass veil on the form card
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

Scene editor: vertical step flow, collapsible steps with summaries, parallel blocks, unsaved-changes indicator
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/EmptyDropZone.jsx
  front/src/routes/scene/edit-scene/actionSummary.js
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
Due: front

Keep the final 'Add a step' button clear of the sticky footer
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/style.css
Due: front

fix(dashboard): dark mode button contrast, house-view stretch, in-editor dashboard creation
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/EditPanel.jsx
  front/src/routes/dashboard/edit-dashboard/NewDashboardForm.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/new-dashboard/index.js
  front/src/routes/dashboard/new-dashboard/style.css
  front/src/routes/dashboard/style.css
  front/src/style/dark-mode.css
  front/src/utils/dashboardSections.js
Due: front

Render the scene icon with its 'fe fe-' font prefix in the editor header
  front/src/routes/scene/edit-scene/EditScenePage.jsx
Due: front

feat(dashboard): stay in the editor after saving to allow chain editing
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditActions.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Due: front

feat(dashboard): done button, smooth dashboard switching, cleaner mobile header
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditActions.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/index.js
Due: front

Triggers: collapsed by default with summaries, explicit OR separators
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.css
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/summary.js
Due: front

Reword the independent-triggers hint without dashes
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Serialize the last raw dayjs timestamps of the integration fixtures
  front/src/config/demo/integrations.js
Due: front

fix(dashboard): mobile header takes zero extra vertical space
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
Due: front

Defer service startup so the HTTP server is reachable during integration boot
  server/lib/index.js
  server/test/lib/index.test.js
Due: server

Mobile: move the collapsed card summary to its own line below the title
  front/src/routes/scene/edit-scene/style.css
Due: front

fix(dashboard): header actions as bar-height icon pills on one line at every width
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
Due: front

feat(dashboard): reorder sections with one-step arrows in the editor
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

Cover the global startAll failure path at boot
  server/test/lib/index.test.js
Due: server

Redesign collapsed card headers: category-colored icon tile, stacked title and summary
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TypePicker.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/typesCatalog.js
Due: front

fix(dashboard): reliable drag feedback via a custom drag layer
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditableBoxPreview.jsx
  front/src/routes/dashboard/edit-dashboard/EditorDragLayer.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Due: front

Open the scene settings on demand from a header button
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/style.css
Due: front

fix(dashboard): drop captureDraggingState — it made Chrome cancel drags instantly
  front/src/routes/dashboard/edit-dashboard/EditableBoxPreview.jsx
Due: front

Move Duplicate and Delete to the sticky footer
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
Due: front

Show the delete confirmation on the left of the footer, where the button is
  front/src/routes/scene/edit-scene/EditActions.jsx
Due: front

Clean up a step group emptied by a drag and drop
  front/src/routes/scene/edit-scene/index.js
Due: front

refactor(dashboard): rebuild drag & drop on a vanilla pointer-events engine
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/edit-dashboard/BottomDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditableBoxPreview.jsx
  front/src/routes/dashboard/edit-dashboard/EditorDragLayer.jsx
  front/src/routes/dashboard/edit-dashboard/EmptyColumnDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/ReorderDashbordList.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/style/dark-mode.css
  front/src/utils/pointerDrag.js
Due: front

Address review feedback on the BLE advertisement streaming spec
  docs/specs/bluetooth-ble-sensors.md
Due: none

Path conditions:
  server: any of: server
  front: any of: front
