Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Set loaded value
  front/src/config/demo.js
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
Due: front

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/valueNotification.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueNotification.js
  server/services/zwave-js-ui/lib/events/valueRemoved.js
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/events/valueNotification.js
Due: server

Remove split feature
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/utils/splitNode.js
  server/test/services/zwave-js-ui/lib/utils/splitNode.test.js
Due: server

Update tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueNotification.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/events/valueNotification.test.js
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
  server/test/services/zwave-js-ui/lib/utils/bindValue.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueRemoved.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/events/valueRemoved.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/test/services/zwave-js-ui/lib/events/valueRemoved.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/test/services/zwave-js-ui/lib/commands/installZwaveJSUIContainer.test.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

New image
  front/src/assets/integrations/cover/zwave-js-ui.jpg
Due: front

Correct double from merge
  server/utils/constants.js
Due: server

correct english translation
  front/src/config/i18n/en.json
Due: front

Rationalise code using a common method to get VabotObj + add a way to manage easily the registered vacbot through a Map (still in WIP)
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.getVacbotObj.js
  server/services/ecovacs/lib/device/vacbot.setValue.js
  server/services/ecovacs/lib/index.js
Due: server

Load vacbots object into controller when registered in gladys + test
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.getVacbotObj.js
  server/services/ecovacs/lib/index.js
  server/test/services/ecovacs/lib/commands/ecovacs.loadVacbots.test.js
  server/test/services/ecovacs/lib/commands/ecovacs.start.test.js
Due: server

Dependencies install optim
  server/cli/install_service_dependencies.js
Due: server

Documentation link
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/ZwaveJSUIPage.js
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
  front/src/routes/integration/all/zwave-js-ui/edit-page/index.js
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/index.js
  front/src/routes/integration/all/zwave-js-ui/node-page/index.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
Due: front

Update logo
  front/src/assets/integrations/cover/zwave-js-ui.jpg
Due: front

Zwave JS UI version warning
  front/package-lock.json
  front/package.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
  server/services/zwave-js-ui/lib/commands/getConfiguration.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/nodeReady.js
Due: server, front

Update version
  server/services/zwave-js-ui/lib/constants.js
Due: server

Version
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
Due: front

test
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Be able to re-order dashboard boxes with drag and drop (#1704)
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/baseEditBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/BottomDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/EditAddBoxButton.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/EmptyColumnDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/index.js
  front/src/routes/dashboard/style.css
Due: front

Fix CalDAV update during sync (#1703)
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Due: server

Fix NaN dates in tasks list on Safari/Firefox (#1697)
  front/src/routes/settings/settings-background-jobs/index.js
Due: front

Add AQI sensor (#1685)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Due: server, front

Upgrade CHANGELOG
  CHANGELOG.md
Due: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Fix bug on OpenAI screen when chat was never enabled (#1709)
  front/src/routes/integration/all/openai/index.js
Due: front

4.16.1
  package-lock.json
  package.json
Due: none

4.17.0
  package-lock.json
  package.json
Due: none

Zigbee2mqtt: Add limits on Docker containers logs size (#1692)
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/checkForContainerUpdates.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/test/services/zigbee2mqtt/lib/checkForContainerUpdates.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
