Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

Demo website should be deployed to production on version (#1652)
  .github/workflows/build-demo-website.yml
Due: none

4.12.1
  package-lock.json
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix demo charts
  front/src/config/demo.js
Due: front

Tests
  server/services/zwave-js-ui/lib/commands/setConfig.js
  server/services/zwave-js-ui/lib/commands/setValue.js
  server/services/zwave-js-ui/lib/utils/externalId.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Make Gladys work with docker-compose: get container id from mountinfo when cgroup is empty (#1648)
  server/lib/system/system.getGladysContainerId.js
  server/test/lib/system/system.getGladysContainerId.test.js
Due: server

Fix demo website chart (#1653)
  front/src/config/demo.js
Due: front

Add tests
  server/lib/system/system.getContainerDevices.js
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
  server/services/zwave-js-ui/lib/commands/setValue.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.getContainerDevices.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Add tests
  server/services/zwave-js-ui/api/zwavejsui.controller.js
  server/services/zwave-js-ui/index.js
  server/services/zwave-js-ui/lib/commands/connect.js
  server/test/lib/system/system.getContainerDevices.test.js
  server/test/services/zwave-js-ui/api/zwavejs2mqtt.controller.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
  server/test/services/zwave-js-ui/zwave.test.js
Due: server

Plugin version handling vacbot function : clean, pause, stop ... with CoverDeviceFeature
  front/src/components/app.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/ecovacs/lib/device/vacbot.discover.js
  server/services/ecovacs/lib/device/vacbot.setValue.js
  server/test/services/ecovacs/consts.test.js
  server/test/services/ecovacs/lib/device/vacbot.setValue.test.js
  server/test/services/ecovacs/mocks/ecovacs-api.mock.test.js
  server/test/services/ecovacs/mocks/ecovacs.mock.test.js
  server/utils/constants.js
Due: server, front

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Delete docker-image.yml
  .github/workflows/docker-image.yml
Due: none

add new ftuute and label
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/withings/lib/withings.initDevices.js
  server/test/services/withings/lib/withings.serverMock.test.js
  server/utils/constants.js
Due: server, front

add unit trad
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

fix test
  server/test/services/withings/lib/withings.initDevices.test.js
Due: server

Fixes : password handling, save / get configuration method usage, UI improvment and fixes (DeviceBox)
  front/src/routes/integration/all/ecovacs/EcovacsDeviceBox.jsx
  front/src/routes/integration/all/ecovacs/actions.js
  front/src/routes/integration/all/ecovacs/device-page/DeviceTab.jsx
  server/services/ecovacs/api/ecovacs.controller.js
  server/services/ecovacs/lib/commands/ecovacs.connect.js
  server/services/ecovacs/lib/config/ecovacs.getConfiguration.js
  server/services/ecovacs/lib/config/ecovacs.saveConfiguration.js
  server/test/services/ecovacs/api/ecovacs.controller.test.js
Due: server, front

checkout package-lock
  server/package-lock.json
Due: server

4.12.2
  package-lock.json
  package.json
Due: none

Tests
  server/services/zwave-js-ui/lib/commands/connect.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Fix bug split
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/utils/splitNode.js
Due: server

Prettier
  server/services/zwave-js-ui/lib/commands/getNodes.js
Due: server

Add delay on notify
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/index.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendState.test.js
Due: server

Tests
  server/test/lib/system/system.getContainerDevices.test.js
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
  server/test/services/zwave-js-ui/lib/commands/disconnect.test.js
  server/test/services/zwave-js-ui/lib/commands/getConfiguration.test.js
  server/test/services/zwave-js-ui/lib/commands/installZ2mContainer.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Tests
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
  server/test/services/zwave-js-ui/lib/commands/installMqttContainer.test.js
  server/test/services/zwave-js-ui/lib/commands/installZ2mContainer.test.js
Due: server

Prettier
  server/services/zwave-js-ui/lib/commands/installZ2mContainer.js
  server/test/services/zwave-js-ui/lib/commands/installZ2mContainer.test.js
Due: server

Clean up unused
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/metadataUpdate.js
  server/services/zwave-js-ui/lib/events/nodeReady.js
  server/services/zwave-js-ui/lib/events/nodeState.js
  server/services/zwave-js-ui/lib/events/statisticsUpdated.js
  server/services/zwave-js-ui/lib/index.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Prettier
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Due: server

Clean up unused
  server/services/zwave-js-ui/lib/commands/getConfiguration.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/nodeEvent.js
  server/services/zwave-js-ui/lib/events/nodeInterview.js
  server/services/zwave-js-ui/lib/events/nodeReady.js
  server/test/services/zwave-js-ui/lib/commands/getConfiguration.test.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Zigbee2mqtt clean integration code & tests (#1639)
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/isEnabled.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/lib/setPermitJoin.js
  server/services/zigbee2mqtt/lib/status.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/isEnabled.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
  server/test/services/zigbee2mqtt/lib/subscribe.test.js
Due: server

Front: Fix autocomplete on trigger select in scenes (#1643)
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
Due: front

Test
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Adapt UI to deprecate open-zwave
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/ZwavePage.js
  front/src/routes/integration/all/zwave/edit-page/index.js
  front/src/routes/integration/all/zwave/network-page/NetworkTab.jsx
  front/src/routes/integration/all/zwave/network-page/actions.js
  front/src/routes/integration/all/zwave/network-page/index.js
  front/src/routes/integration/all/zwave/node-operation-page/AddRemoveNode.jsx
  front/src/routes/integration/all/zwave/node-operation-page/actions.js
  front/src/routes/integration/all/zwave/node-operation-page/index.js
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/node-page/index.js
  front/src/routes/integration/all/zwave/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave/settings-page/actions.js
  front/src/routes/integration/all/zwave/settings-page/index.js
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/routes/integration/all/zwave/setup-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/setup-page/actions.js
  front/src/routes/integration/all/zwave/setup-page/index.js
  front/src/routes/integration/all/zwave/setup-page/style.css
Due: front

Update to Node 18 + update dependencies + use webcrypto
  server/.eslintrc.json
  server/lib/gateway/gateway.login.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/services/alexa/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/broadlink/package-lock.json
  server/services/caldav/package-lock.json
  server/services/ewelink/package-lock.json
  server/services/example/package-lock.json
  server/services/google-actions/package-lock.json
  server/services/homekit/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/openweather/package-lock.json
  server/services/philips-hue/package-lock.json
  server/services/rtsp-camera/package-lock.json
  server/services/tasmota/package-lock.json
  server/services/telegram/package-lock.json
  server/services/tp-link/package-lock.json
  server/services/usb/package-lock.json
  server/services/xiaomi/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
Due: server

Fix eslint errors
  server/.eslintrc.json
  server/api/controllers/device.controller.js
  server/api/controllers/user.controller.js
  server/api/controllers/weather.controller.js
  server/api/setupGateway.js
  server/cli/install_service_dependencies.js
  server/index.js
  server/lib/device/device.addFeature.js
  server/lib/device/device.addParam.js
  server/lib/device/device.get.js
  server/lib/device/humidity-sensor/humidity-sensor.getHumidityInRoom.js
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/lib/house/house.get.js
  server/lib/job/job.get.js
  server/lib/location/location.create.js
  server/lib/message/message.get.js
  server/lib/room/room.get.js
  server/lib/room/room.getBySelector.js
  server/lib/scene/scene.get.js
  server/lib/service/service.getAll.js
  server/lib/service/service.getByName.js
  server/lib/service/service.getUsage.js
  server/lib/service/service.start.js
  server/lib/service/service.stop.js
  server/lib/session/session.get.js
  server/lib/system/system.pull.js
  server/lib/user/user.get.js
  server/models/user.js
  server/services/bluetooth/lib/commands/bluetooth.applyOnPeripheral.js
  server/services/bluetooth/lib/utils/peripheral/bluetooth.discoverServices.js
  server/services/bluetooth/lib/utils/service/bluetooth.discoverCharacteristics.js
  server/services/mqtt/lib/index.js
  server/services/openweather/index.js
  server/services/rtsp-camera/lib/getImage.js
  server/test/bootstrap.test.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/gateway/gateway.test.js
  server/test/lib/scene/actions/scene.action.checkTime.test.js
  server/test/middlewares/authMiddleware.test.js
  server/test/services/xiaomi/xiaomi.test.js
Due: server

Upgrade front & CI
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/.eslintrc.json
  front/package-lock.json
  front/package.json
Due: front

Run prettier
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/lib/scene/scene.get.js
  server/lib/user/user.get.js
  server/test/middlewares/authMiddleware.test.js
  server/test/services/broadlink/lib/commands/broadlink.buildPeripheral.test.js
  server/test/services/philips-hue/lights.json
  server/test/utils/setDeviceParam.test.js
Due: server

front should use Node.js 16 for now
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  front/package.json
Due: front

Fix tests
  server/test/lib/brain/brain.e2e.test.js
Due: server

Path conditions:
  server: any of: server
  front: any of: front
