Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Prettier
  server/test/services/zwave-js-ui/lib/zwaveManager-features.test.js
Due: server

Temporary fix on npm security audit to unlock PRs
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Temporary fix on npm security audit to unlock PRs (#1635)
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Upgrade gladys-gateway-js + add start-gateway command
  front/package-lock.json
  front/package.json
Due: front

Fix gateway login bug when instance is not found
  front/src/actions/main.js
Due: front

Fix gateway typo
  front/src/config/i18n/fr.json
Due: front

Gladys Plus: Prepare socket.io upgrade + bug-fix on login when instance is not up (#1637)
  front/package-lock.json
  front/package.json
  front/src/actions/main.js
  front/src/config/i18n/fr.json
Due: front

Heal action, tests
  front/src/assets/integrations/cover/zwave-js-ui.jpg
  front/src/assets/integrations/cover/zwavej-s-ui.jpg
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/index.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/actions.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
  server/services/zwave-js-ui/api/zwavejsui.controller.js
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/healNetwork.js
  server/services/zwave-js-ui/lib/events/nodeAdded.js
  server/services/zwave-js-ui/lib/events/nodeRemoved.js
  server/services/zwave-js-ui/lib/index.js
  server/test/services/zwave-js-ui/lib/commands/installMqttContainer.test.js
  server/test/services/zwave-js-ui/lib/commands/installZ2mContainer.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server, front

Prettier
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/index.js
  server/services/zwave-js-ui/lib/commands/healNetwork.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server, front

ESLint
  front/src/routes/integration/all/zwave-js-ui/settings-page/actions.js
Due: front

ESLint
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Due: server

Set device temp icon
  front/src/utils/consts.js
Due: front

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Delete docker-image.yml
  .github/workflows/docker-image.yml
Due: none

change packae-lock
  front/package-lock.json
Due: front

change package-lock
  front/package-lock.json
Due: front

change packag-lock
  server/package-lock.json
Due: server

change package-lock
  server/package-lock.json
Due: server

vacbot translations
  server/utils/constants.js
Due: server

vacbot translations
  front/src/config/i18n/fr.json
Due: front

Use debug logger
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/setPermitJoin.js
Due: server

Cleanup z2m code
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/isEnabled.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/lib/status.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/isEnabled.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
  server/test/services/zigbee2mqtt/lib/subscribe.test.js
Due: server

fix for review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/withings/lib/utils/withings.matchDeviceInDB.js
  server/services/withings/lib/withings.initDevices.js
  server/test/services/withings/lib/withings.initDevices.test.js
Due: server, front

fix prettier
  server/services/withings/lib/utils/withings.matchDeviceInDB.js
  server/services/withings/lib/withings.initDevices.js
  server/test/services/withings/lib/withings.initDevices.test.js
Due: server

Add device temperature icon (#1638)
  front/src/utils/consts.js
Due: front

4.12.0
  package-lock.json
  package.json
Due: none

Rework class
  server/services/nextcloud-talk/lib/bot/bot.poll.js
  server/services/nextcloud-talk/lib/bot/bot.startPolling.js
  server/services/nextcloud-talk/lib/bot/bot.stopPolling.js
  server/services/nextcloud-talk/lib/index.js
  server/services/nextcloud-talk/lib/message/message.bot.js
  server/services/nextcloud-talk/lib/message/message.connect.js
  server/services/nextcloud-talk/lib/message/message.disconnect.js
  server/services/nextcloud-talk/lib/message/message.new.js
  server/services/nextcloud-talk/lib/message/message.send.js
Due: server

Fix tests
  server/services/nextcloud-talk/lib/bot/bot.poll.js
  server/services/nextcloud-talk/lib/bot/bot.stopPolling.js
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server

Fix reviews
  server/lib/message/message.sendToUser.js
  server/services/nextcloud-talk/lib/message/message.disconnect.js
Due: server

Add job in test
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Due: server

Add test button and server route
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/influxdb/InfluxDBPage.jsx
  front/src/routes/integration/all/influxdb/actions.js
  server/services/influxdb/api/influxdb.controller.js
  server/services/influxdb/lib/index.js
  server/services/influxdb/lib/influxdb.testConnection.js
  server/services/influxdb/lib/influxdb.writeBinary.js
  server/services/influxdb/lib/influxdb.writeFloat.js
  server/services/influxdb/package-lock.json
Due: server, front

Fix autocomplete on trigger select
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
Due: front

fix cypres s test
  front/cypress/integration/routes/integration/withings/settings/WithingsSettingsWithoutConfig.js
Due: front

add log
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/services/withings/lib/withings.initDevices.js
Due: server, front

add log
  front/src/routes/integration/all/withings/device-page/Device.jsx
Due: front

Wrong path
  server/test/services/zwave-js-ui/lib/commands/installMqttContainer.test.js
Due: server

Improve config & request
  server/services/nextcloud-talk/index.js
  server/services/nextcloud-talk/lib/bot/bot.poll.js
  server/services/nextcloud-talk/lib/bot/bot.startPolling.js
  server/services/nextcloud-talk/lib/bot/bot.stopPolling.js
  server/services/nextcloud-talk/lib/index.js
  server/services/nextcloud-talk/lib/message/message.connect.js
  server/services/nextcloud-talk/lib/message/message.disconnect.js
  server/services/nextcloud-talk/lib/message/message.new.js
  server/services/nextcloud-talk/lib/message/message.send.js
  server/services/nextcloud-talk/package-lock.json
  server/services/nextcloud-talk/package.json
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Due: server
