Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

docs(tuya): clarify unsupported device onboarding guidance
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/githubIssue.js
Due: front

test(tuya): align smart meter fixtures with issue captures
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/cloud-status.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-cloud-events.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-events.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-local-events.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-local-mapping.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/input-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/local-dps.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/manifest.js
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/lib/device/tuya.convertDevice.fixtures.test.js
  server/test/services/tuya/lib/tuya.poll.fixtures.test.js
Due: server

docs(tuya): improve unsupported device guidance
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/commons/githubIssue.js
Due: front

fix(tuya): refine unsupported cloud code detection
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
Due: front

refactor(tuya): align frontend boolean helper imports
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/githubIssue.js
Due: front

feat(tuya): improve unsupported device issue reports
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/githubIssue.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/utils/tuya.deviceParams.js
  server/services/tuya/lib/utils/tuya.report.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
Due: server, front

Add support for LSC Power Plug FR smart socket
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/smart-socket.js
  server/services/tuya/lib/mappings/local/smart-socket.js
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/cloud-status.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-cloud-events.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-local-events.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-local-mapping.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/input-device.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/local-dps.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/manifest.js
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/poll-device.json
  server/test/services/tuya/fixtures/devices/smart-socket-basic/expected-local-mapping.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/tuya.setValue.fixtures.test.js
Due: server

Fix Tuya loadDeviceDetails null-report test
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
Due: server

Refine Tuya smart socket ignored mappings
  server/services/tuya/lib/mappings/cloud/smart-socket.js
  server/services/tuya/lib/mappings/local/smart-socket.js
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-socket-basic/expected-device.json
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Due: server

test(tuya): harden local scan and cloud loading cases
  server/test/services/tuya/lib/tuya.init.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
Due: server

fix: Fix some AI PR Feedbacks
  front/src/config/i18n/fr.json
  server/lib/scene/scene.dailyUpdate.js
  server/test/lib/scene/scene.dailyUpdate.test.js
Due: server, front

fix: Add missing coverage
  server/test/lib/scene/scene.dailyUpdate.test.js
Due: server

Add AC connected device feature category and type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

feat(tuya): support cloud shadow reads for thing-model devices
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/utils/tuya.cloudStrategy.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/cloud-status.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/fixtures/devices/smart-socket-basic/expected-device.json
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
Due: server

feat(tuya): add support for pilot thermostat devices
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/PilotWireModeDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/migrations/20260303080000-rename-tuya-cloud-strategy-param.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/pilot-thermostat.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/pilot-thermostat.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.cloudStrategy.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/services/tuya/lib/utils/tuya.normalize.js
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/cloud-status.json
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/expected-device.json
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/expected-events.json
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/expected-local-mapping.json
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/input-device.json
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/local-dps.json
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/manifest.js
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/poll-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-socket-basic/expected-device.json
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/utils/constants.js
Due: server, front

test(tuya): align LSC smart socket fixture cloud strategy
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-device.json
Due: server

test(tuya): restore unified cloud strategy fixture on thermostat branch
  server/test/services/tuya/fixtures/devices/smart-socket-b61eihfqeaexn54g/expected-device.json
Due: server

fix(tuya): handle unreachable local devices cleanly
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Due: server

test(tuya): improve thermostat branch coverage
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/test/services/tuya/lib/utils/tuya.cloudStrategy.test.js
  server/test/services/tuya/lib/utils/tuya.normalize.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Due: server

refactor(tuya): simplify poll temperature guards
  server/services/tuya/lib/tuya.poll.js
Due: server

WIP add IEEE address
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

MQTT/Zigbee2mqtt: Improve device page action buttons layout
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/routes/integration/all/mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
Due: front

fix prettier
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Due: front

Mock gladys with getService
  server/services/nuki/lib/mqtt/index.js
  server/test/services/checks.test.js
Due: server

refactor(tuya): remove dead defensive guards
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
Due: server

feat(tuya): add air-conditioner mappings and controls
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningFanSpeedDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningSwingDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/air-conditioner.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/air-conditioner.js
  server/services/tuya/lib/utils/tuya.cloudStrategy.js
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/cloud-status.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-device.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-events.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-local-mapping.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/input-device.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/local-dps.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/manifest.js
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/poll-device.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/test/services/tuya/lib/utils/tuya.cloudStrategy.test.js
  server/utils/constants.js
Due: server, front

Path conditions:
  server: any of: server
  front: any of: front
