Repository GladysAssistant/Gladys: changes, and which Codecov flags are due for each by the changed paths.
All: server, front

.codecov.yml:

coverage:
  status:
    project:
      front:
        target: 90%
        flags: front
      server:
        target: 90%
        flags: server

flags:
  server:
    paths:
      - server
  front:
    paths:
      - front

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      front:
        target: 60%
        flags:
          - front
      server:
        target: 90%
        flags:
          - server

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  front:
    paths:
      - front
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Add EN translation + fix tests
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/test/services/sonos/lib/sonos.init.test.js
Due: server, front

Add tests on sonos
  server/test/services/sonos/lib/sonos.setValue.test.js
Due: server

Fix lint
  server/test/services/sonos/lib/sonos.setValue.test.js
Due: server

Add test on error
  server/test/lib/gateway/gateway.getTTSApiUrl.test.js
Due: server

Fix time of device states purge (4AM)
  server/config/scheduler-jobs.js
Due: server

Alarm: Try to fix disconnect on tablet locked mode
  front/src/routes/locked/index.js
Due: front

Fix time of device states purge (4AM) (#1975)
  server/config/scheduler-jobs.js
Due: server

Zigbee2mqtt: replace access mode by child lock binary device (#1956)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Due: server, front

following first returns fix remarks and errors
  front/src/assets/integrations/devices/netatmo/netatmo-NAPlug.jpg
  front/src/assets/integrations/devices/netatmo/netatmo-NATherm1.jpg
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-page/index.js
  front/src/routes/integration/all/netatmo/edit-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/style.css
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesRf.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesWifi.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.getAccessToken.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.getRefreshToken.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.poll.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/netatmo.setTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
Due: server, front

add logBox component
  front/src/components/log/logBox.jsx
Due: front

add style.css for logBox
  front/src/components/log/logBox.jsx
  front/src/components/log/style.css
Due: front

first logBox
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Due: front

invisible logBox
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Due: front

Event log rework
  server/api/controllers/eventlog.controller.js
  server/lib/event/event.log.add.js
  server/lib/event/event.log.get.js
  server/lib/event/event.log.js
  server/lib/event/index.js
  server/lib/eventlog/index.js
  server/lib/house/house.update.js
  server/lib/index.js
Due: server

correcting bug
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Due: front

First API implementation
  server/api/controllers/eventlog.controller.js
  server/api/routes.js
  server/lib/event/event.log.get.js
Due: server

design box events
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Due: front

Added events for House
  server/api/controllers/eventlog.controller.js
  server/lib/event/event.log.add.js
  server/lib/event/event.log.get.js
  server/lib/house/house.arm.js
  server/lib/house/house.create.js
  server/lib/house/house.destroy.js
  server/lib/house/house.disarm.js
  server/lib/house/house.disarmWithCode.js
  server/lib/house/house.panic.js
  server/lib/house/house.partialArm.js
  server/lib/house/house.update.js
  server/lib/house/house.userLeft.js
  server/lib/house/house.userSeen.js
  server/migrations/20231206092537-create-event-log.js
  server/models/event_log.js
  server/utils/constants.js
Due: server

Remove and centralize device functions
  server/services/bluetooth/lib/commands/bluetooth.scanDevice.js
  server/services/bluetooth/lib/device/bluetooth.information.js
  server/services/bluetooth/lib/device/bluetooth.transformToDevice.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/device/bluetooth.transformToDevice.test.js
  server/test/services/bluetooth/lib/events/bluetooth.discover.test.js
  server/test/utils/device.test.js
  server/test/utils/setDeviceFeature.test.js
  server/test/utils/setDeviceParam.test.js
  server/utils/device.js
  server/utils/setDeviceParam.js
Due: server

Added log event constraints
  server/utils/constants.js
Due: server

add parameter to logBox
  front/src/components/log/logBox.jsx
Due: front

Front event API implementation
  front/src/routes/event-log/EventLogPage.jsx
  server/api/routes.js
  server/utils/constants.js
Due: server, front

date title incon settings for log
  front/src/components/log/logBox.jsx
Due: front

trad message
  front/src/components/log/logBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Due: front

Component implementation
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Due: front

Finished front implementation
  front/src/components/log/logBox.jsx
Due: front

update date and time location
  front/src/components/log/logBox.jsx
Due: front

Centralize device functions (setDeviceParam, setDeviceFeature) (#1978)
  server/services/bluetooth/lib/commands/bluetooth.scanDevice.js
  server/services/bluetooth/lib/device/bluetooth.information.js
  server/services/bluetooth/lib/device/bluetooth.transformToDevice.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/device/bluetooth.transformToDevice.test.js
  server/test/services/bluetooth/lib/events/bluetooth.discover.test.js
  server/test/utils/device.test.js
  server/test/utils/setDeviceFeature.test.js
  server/test/utils/setDeviceParam.test.js
  server/utils/device.js
  server/utils/setDeviceParam.js
Due: server

Zigbee2mqtt: Add illuminance sensor
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server

Zigbee2mqtt: Add illuminance sensor (#1979)
  server/services/zigbee2mqtt/exposes/numericType.js
Due: server

Display error message if unknown error
  front/src/routes/locked/index.js
Due: front

Alarm: Try to fix disconnect on tablet locked mode (#1976)
  front/src/routes/locked/index.js
Due: front

Add "Speak on speaker" TTS action in scenes + in Sonos integration (#1974)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/lib/device/device.setValue.js
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/lib/gateway/index.js
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
  server/services/sonos/lib/sonos.setValue.js
  server/services/sonos/utils/convertToGladysDevice.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getTTSApiUrl.test.js
  server/test/lib/scene/actions/scene.action.playNotification.test.js
  server/test/services/sonos/lib/sonos.init.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
  server/utils/constants.js
Due: server, front

CHANGE CHECKBOXES
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/event-log/EventLogPage.jsx
Due: front

Added total number of events
  front/src/routes/event-log/EventLogPage.jsx
  server/lib/event/event.log.get.js
Due: server, front

page selector
  front/src/routes/event-log/EventLogPage.jsx
Due: front

correctig bug
  front/src/routes/event-log/EventLogPage.jsx
Due: front

active page coloration
  front/src/routes/event-log/EventLogPage.jsx
Due: front

Added api front page implementation
  front/src/routes/event-log/EventLogPage.jsx
  server/api/controllers/eventlog.controller.js
Due: server, front
